<!--<ngx-spinner
bdColor = "rgba(51, 51, 51, 0.8)"
size = "large"
color = "#fff"
type = "ball-clip-rotate"
>
</ngx-spinner> 
-->
<!--Inicio de pagina  --> 
<div class="wrapper"> 
<div class="content-wrapper">
<section class="content"> 
<div class="box2">
	<div class="row">
		<div class="col-md-12 margen">	
			<h2 class="title text-center ">
				Mantenimiento de Cliente
			</h2>
			<br>
			<div class="box">
				<div class="box-header with-border">	
					<div class="row">
						<div class="col-md-4">
							<label class="text-left subtitle">
								Mantenimiento
							</label>
						</div>
					</div>	
				</div>  
				<div class="box-body">
					<div class="row">
						<div class="col-md-12">
							<form class="form-horizontal" role="form">
								<div class="form-group">
									<label for="inputEmail3" class="col-sm-2 control-label">
									 Nombres :
									</label>
									<div class="col-sm-4">
											<input  name="nombre"
											[(ngModel)]="this.cliente.strNombres"
											 type="text"   class="form-control input-sm" id="inputEmail3" placeholder="Nombres" 
										>
									</div> 
									<label for="inputEmail3" class="col-sm-2 control-label">Fecha Nacimiento :</label>
									<div class="col-sm-4">
										<input 
										name="fecha"
										[(ngModel)]="this.cliente.dtFechaNacimiento"
									 type="date"   class="form-control input-sm" id="inputEmail3" placeholder=""
									>
								</div> 
								</div>	


								<div class="form-group">
									<label for="inputEmail3" class="col-sm-2 control-label">
									 Apellido Paterno :
									</label>
									<div class="col-sm-4">
											<input  name="apepa"
											[(ngModel)]="this.cliente.strApellidoPaterno"
											 type="text"   class="form-control input-sm" id="inputEmail3" placeholder="Apellido Paterno" 
										>
									</div> 
									<label for="inputEmail3" class="col-sm-2 control-label">
										Direccion :</label>
									<div class="col-sm-4">
										<input 
										name="dir"
										[(ngModel)]="this.cliente.strDireccion"
									 type="text"   class="form-control input-sm" id="inputEmail3" placeholder="Direccion"
									>
								</div> 
								</div>	 
								<div class="form-group">
									<label for="inputEmail3" class="col-sm-2 control-label">
									 Apellido Materno :
									</label>
									<div class="col-sm-4">
											<input  name="apema"
											[(ngModel)]="this.cliente.strApellidoMaterno"
											 type="text"   class="form-control input-sm" id="inputEmail3" placeholder="Apellido Materno" 
										>
									</div> 
									<label for="inputEmail3" class="col-sm-2 control-label">
										Correo Electronico :</label>
									<div class="col-sm-4">
										<input 
										name="mail"
										[(ngModel)]="this.cliente.strCorreoElectronico"
									 type="text"   class="form-control input-sm" id="inputEmail3" placeholder="Correo"
									>
								</div> 
								</div>	
								<!--<div class="form-group">
										<label for="inputEmail3" class="col-sm-2 control-label">
										 Sexo:
										</label>
										<div class="col-sm-4">
												<input  name="apema"
												[(ngModel)]="this.cliente.strApellidoMaterno"
												 type="text"   class="form-control input-sm" id="inputEmail3" placeholder="Apellido Paterno" 
											>
										</div>  
									</div>
								-->
								<button (click)="this.guardarCliente(this.cliente)" 
										type="button" class="btn btn-default btn-xs"><i class="fa  fa-save"></i> <span> Guardar</span>
									</button>	
									<button (click)="this.updateCliente(this.cliente)" 
										type="button" class="btn btn-default btn-xs"><i class="fa  fa-edit"></i> <span> Actualizar</span>
									</button>
									<button (click)=" this.deleteCliente(this.cliente)" 
										type="button" class="btn btn-default btn-xs"><i class="fa  fa-remove"></i> <span> Eliminar</span>
									</button>
								{{this.responseMessage}}	
							</form>	
						</div>
					</div>
				</div>		
			</div>		 
				<div class="box-body">
					<div class="row">
						<div class="col-md-12">
							<div class="table-responsive">
							<table class="table table-hover table-bordered text-center">
								<thead class="text-center">
									<tr class="active">
										<th>Nombres</th>
										<th>Apellido Paterno</th>
										<th>Aplleido Materno</th>
										<th>Fecha Nacimiento</th>
										<th>Sexo</th>
										<th>Dirección</th>
										<th>Correo</th> 
									</tr>
								</thead>
								<tbody>
									<tr *ngFor="let c of clientes" (click)=selectCliente(c)> 
										<td>{{c.strNombres}}</td>
										<td>{{c.strApellidoPaterno}}</td>
										<td>{{c.strApellidoMaterno}}</td>
										<td>{{c.dtFechaNacimiento | date:"dd/MM/yyyy"}}</td>
										<td>{{c.intSexo }}</td>
										<td>{{c.strDireccion    }}</td>
										<td>{{c.strCorreoElectronico   }}</td> 
									</tr>

								</tbody>
							</table>
							</div>
						</div>
					</div>
				</div>	
			</div>	 
            <!-- Modal Confirmar EiminacionSErvicio -->		 
			</div> 
	</div>
	</section>
	 </div>
	 </div> 