<div class="modal-header">
    <h4 class="modal-title">Confirmacion de Eliminación</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>¿ En realidad desea eliminar el Registro ?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="activeModal.close('Close click')">Si</button>
    <button type="button" class="btn btn-secondary" (click)="activeModal.close('Close click')">No</button>
</div>