<ngx-spinner
bdColor = "rgba(51, 51, 51, 0.8)"
size = "large"
color = "#fff"
type = "ball-clip-rotate"
>
</ngx-spinner> 
<!--Inicio de pagina  -->
<cf-header></cf-header>
<cf-nav></cf-nav>
<div class="wrapper"> 
<div class="content-wrapper">
<section class="content"> 
    <div class="box2">
	<div class="row">
		<div class="col-md-12 margen">	
			<h2 class="title text-center">
				BAJA AL RECURSO
			</h2>
			<br> 
		<!--	Obj Contrato : {{ this.contrato | json }}-->
			<div class="box" [hidden] = isContratoInterno  >
				<div class="box-header with-border">
					<div class="row">
						<div class="col-md-12">
							<label class="text-left subtitle">
								Datos Servicio
							</label>
						</div>
					</div>		
				</div>	
				<div class="box-body" >
					<div class="row">
						<div class="col-md-12">
							<form class="form-horizontal" role="form">
								<div class="form-group">
									<label for="inputtext" class="col-sm-2 control-label">
										Cliente
									</label>
									<div class="col-sm-7">
										<input 
										name ="nombreCliente"
										[(ngModel)]="this.contrato.strNombreCliente"
										type="text" disabled class="form-control input-sm" id="inputtextE" placeholder="Cod. File">
									</div>						
								</div>
								<div class="form-group"> 
									<label for="inputtext3" class="col-sm-2 control-label">
										Servicio
									</label>
									<div class="col-sm-8">
										<input 
										name ="nombreServicio"
										[(ngModel)]="this.contrato.strNombreServicio"
										type="text" disabled class="form-control input-sm" id=":)" placeholder="Cargo Colaborador">
									</div>  						
								</div>
								<div class="form-group"> 
									<label for="inputtext" class="col-sm-2 control-label">
											Perfil
									</label>
									<div class="col-sm-5">
										<input 
										name ="nombrePerfil"
										[(ngModel)]="this.contrato.strNombrePerfil"
										type="text" disabled class="form-control input-sm" id="inputtextE" placeholder="Cod. File">
									</div>
									</div> 
							</form>	
						</div>
					</div>
				</div>
			</div>	 
			<div class="box">
					<div class="box-header with-border">			
						<div class="row">
							<div class="col-md-3">
								<label class="text-left subtitle">
									Contrato Asociado
								</label>
							</div>  
						</div>
					</div>
					<div class="box-body">					
						<div class="row">
							<div class="col-md-12">
								<form class="form-horizontal" role="form form-group">
									<div class="form-group">
												<label for="inputEmail3" class="col-sm-2 control-label">
													Nombre  :
												</label>
												<div class="col-sm-10">
													<input value={{this.contrato.strNombreCompleto}}
													 type="text" disabled class="form-control input-sm" id="inputEmail3" placeholder="Nombre Completo">	
												</div>
											</div>
									<div class="form-group">
										<label for="inputEmail3" class="col-sm-2 control-label">
											Cargo :
										</label>
										<div class="col-sm-10">
											<input value={{this.contrato.strCargo}}
											 type="text" disabled class="form-control input-sm" id="inputEmail3" placeholder="Cargo">	
										</div>
									</div>
									<div class="form-group">
										<label for="inputEmail3" class="col-sm-2 control-label">
											Modalidad :
										</label>
										<div class="col-sm-4">
											<input value={{this.contrato.strModalidad}}
											 type="text" disabled class="form-control input-sm" id="inputEmail3" placeholder="Modalidad">	
										</div>
										<label for="inputEmail3" class="col-sm-2 control-label">
												Empresa :
											</label>
											<div class="col-sm-4">
												<input value={{this.contrato.strEmpresa}}
												 type="text" disabled class="form-control input-sm" id="inputEmail3" placeholder="TOP / PGS">	
											</div>
									</div> 
									<div class="form-group">
										<label for="inputPassword3" class="col-sm-2 control-label">
											Sueldo:
										</label>
										<div class="col-sm-4"> 
												<input
												name="dbSueldo"
												[(ngModel)]="this.strSueldo" [textMask]="{mask: currencyMask}"  type="text" disabled class="form-control input-sm" id="inputEmail3" placeholder="00.00">
										</div>
										<label for="inputPassword3" class="col-sm-2 control-label">
												Estado:
											</label>
											<div class="col-sm-4">
													<input value={{this.contrato.strEstado}} type="text" disabled class="form-control input-sm" id="inputEmail3" placeholder="Estado del Contrato">
											</div>
									</div>
									<div class="form-group">
									<label for="inputPassword3"  class="col-sm-2 control-label">
										Fecha Contratación:
									</label>
									<div class="col-sm-3">
											<input value={{this.contrato.dtFechaContratacion}} type="date" disabled class="form-control input-sm" id="inputEmail3" placeholder="">
									</div>
										<label for="inputPassword3"  class="col-sm-2 control-label">
											Fecha Finalización:
										</label>
										<div class="col-sm-3">
											<input value={{this.contrato.dtFechaFinalizacion}} type="date" disabled class="form-control input-sm" id="inputEmail3" placeholder="">
										</div>						
									</div>   
								</form>
							</div>
						</div>
					</div>
				</div> 
			
			<div class="box"  >
				<div class="box-header with-border">
					<div class="row">  
							<div class="col-md-2">
								<label class="text-left subtitle">
									Datos del Cese
								</label> 
							</div>
							<div class="col-md-10">	
								<button  [disabled]=!this.enabledSave
									(click) = "this.habilitarEdicionBaja(true)"
									type="button" class=" btn btn-default btn-xs">
									<i class="fa fa-edit"></i> Editar
								</button> 
								<button  [disabled]=!this.enabledSave
									(click) = "this.validarGuardado();"
									type="button" class="btn btn-default btn-xs">
									<i class="fa fa-save"></i> Guardar
								</button> 
								<button  [disabled]=this.editBaja
									(click) = "this.redirigirToDocumentacion(this.baja.intId);"
									type="button" class="btn btn-default btn-xs">
									<i class="fa fa-save"></i> Ver Documentación
								</button> 
							</div> 
					</div>		
				</div>
				<!--Id de la baja : {{this.baja.intId | json}} -->
 		  		<!--Baja : {{baja | json}}  -->
				<div class="box-body">	
					<div class="row">
						<div class="col-md-9">
							<form class="form-horizontal" role="form">
									<div class="form-group">
											<label for="inputtextE" class="col-sm-3 control-label">
												Fecha de Inicio : 
											</label>
											<div class="col-sm-5">
												<input  [disabled]= !this.editBaja
												name ="fechaInicio" 
												[(ngModel)]="this.baja.dtFechaInicio"
												type="date" class="form-control input-sm" id="inputtextE" placeholder="">
											</div> 
											<div class="col-sm-4 message-error">
												 {{this.responseOkBoolFecha }}
											</div> 
										</div>

								<div class="form-group">
									<label for="inputtextE" class="col-sm-3 control-label">
										Fecha de Cese : 
									</label>
									<div class="col-sm-5">
										<input  [disabled]= !this.editBaja
										name ="fechaCese" 
										[(ngModel)]="this.baja.dtFechaCese"
										type="date" class="form-control input-sm" id="inputtextE" placeholder="">
									</div> 
									<div class="col-sm-4 message-error">
										 {{this.responseOkBoolFecha }}
									</div> 
								</div>
								<div class="form-group">
									<label for="inputPassword3" class="col-sm-3 control-label">
										Motivo de Cese : 
									</label>
									<div class="col-sm-6"> 
										<select name="motivoCese"  [disabled]= !this.editBaja
											[(ngModel)] = this.baja.intMotivoCese 
											class="form-control input-sm" >
											<option [value]=null selected disabled> - Seleccione - </option>    
											<option *ngFor="let mc of this.motivoCese"
											[value]="mc.intId"> {{mc.strName}}</option> 	
										</select>		 
									</div> 
									<div class="col-sm-3  message-error">
										 {{this.responseOkBoolintMotivoId }}
									</div>
								</div> 
								<div class="form-group">
									<label for="inputPassword3" class="col-sm-3 control-label">
										Comentario : 
									</label>
									<div class="col-sm-8">
										<textarea  [disabled]= !this.editBaja
										name ="strComentario"
										[(ngModel)]="this.baja.strComentarioCese" 
										class="form-control input-sm"  id="TextArea"  rows="3" placeholder="Comentario"></textarea>
									</div>
								</div> 
								<!--
								<div class="form-group">
									<label for="inputPassword3" class="col-sm-3 control-label">
										Documento de Cese: 
									</label>
									<div class="col-sm-8">
										<input 
										[disabled]= !this.editBaja
										type="file" class="form-control input-sm" id="inputtextE" placeholder="">
									</div>
								</div>
								-->
							</form>	
						</div> 
						<div class="col-md-3">
							<form class="form-horizontal" role="form">
								<div class="form-group">
									<label><input type="checkbox" id="CTS"   [disabled]= !this.editBaja
										name ="CTS"
										[(ngModel)]="this.baja.blCTSTruncas">
										 CTS Trunca</label>
								</div>
								<div class="form-group"> 
									<label><input type="checkbox" id="blGratifTruncas"   [disabled]= !this.editBaja
										name ="blGratifTruncas"
										[(ngModel)]="this.baja.blGratifTruncas"
										> Gratificación Trunca </label>
								</div>
								<div class="form-group">	
									<label><input type="checkbox" id="VacTruncas" [disabled]= !this.editBaja
										name="VacTruncas"
										[(ngModel)] = "this.baja.blVacTruncas" 
										> Vacac. Trunca</label>
								</div>
								<!--
								<div class="form-group">	
									<label><input type="checkbox" id="concepto1" 
										name= "concepto1"
										[(ngModel)] = "this.cero" 
									>Otro Concepto 1</label>
								</div>
								<div class="form-group">	
									<label><input type="checkbox" id="concepto2" 
										name = "concepto2"
										[(ngModel)] = "this.one"
									>Otro Concepto 2</label>
								</div> 
								-->
							</form>
						</div>
					</div>
				</div>
 
			</div>
			<div class="row">
					<div class="col-md-2"> 
					</div>
					<div class="col-md-8">
						<div class="col-sm-4"> 
						</div>
						<div class="col-sm-4">
						<!--<button type="button" class="btn form-control input-sm btn-default">
							Cancelar
						</button> -->
						</div>
						<div class="col-sm-4">
								<cf-go-back></cf-go-back>
								</div>
					</div>
							<div class="col-md-2">
					</div>
				</div>
		</div>
			</div>
		</div>  
		</section>
</div>
</div>