
			<div class="box-body">	
				<div class="row">
					<div class="col-md-9">
						<form class="form-horizontal" role="form">

							<div class="form-group">
								<label for="inputEmailE" class="col-sm-3 control-label">
									Nombre :
								</label>
								<div class="col-sm-9">
									<input 
									name="nombreConpleto" 
									[(ngModel)]="this.candidato.strNombreCompleto" type="text"  disabled class="form-control input-sm" id="inputEmailE" placeholder="Nombre ">
								</div>
							</div>
							
							<div class="form-group">
								<label for="inputEmailE" class="col-sm-3 control-label">
									DNI :
								</label>
								<div class="col-sm-6">
									<input name="DNI"
									[(ngModel)]= this.candidato.strDNI
									type="number"  disabled class="form-control input-sm" id="inputEmailE" placeholder="DNI">
								</div>
							</div>
							 
							<div class="form-group">
									<label for="inputEmail3" class="col-sm-3 control-label">
										Currículum :
									</label> 
									<div class="col-sm-8"> 	
											<input 
											name="curriculum"
											[(ngModel)]= this.dirCurriculum
											(change)="this.changeFileCurriculum($event.target.files);"
											type="file" class="form-control input-sm"  placeholder="Curriculum"
											id="file" 
											>
									 </div> 
								</div>

								<!-- grooup para indicar el cv existente -->
								<div class="form-group">
										<label for="inputEmail3" class="col-sm-3 control-label">
											
										</label>  
										 <div class="col-sm-8"  [hidden]=!this.existCV>
												CV Actual :  {{this.candidato.strNameCurriculum}} 
											<button  (click)=this.descargarCurriculum(this.documentoRecurso.strDocAlfrescoId); type="button" class="btn btn-default btn-xs">
												<i class="fa fa-download"></i><span> Descargar </span> </button>
										 
										</div> 
										<div class="col-sm-3"   [hidden]=!cvNotFound > 	
												{{responseCVnotFound  }}
											</div> 
									</div>	
								<div class="form-group">
									<label for="inputEmail3" class="col-sm-3 control-label">
										Observación :
									</label>
									<div class="col-sm-9"> 	
										<input name="observacion"
										[(ngModel)]= this.candidato.strObservacion type="text" class="form-control input-sm" id=":)" placeholder="Observación">
									</div>
								 </div>		
						</form>	
					</div>
					<div class="col-md-1"></div>
					<div class="col-md-2"><br>
						<form class="form-horizontal" role="form">
								<div class="form-group">
										<div class="col-md-12">
												<cf-modal-buscar-persona-natural 
												[titulo] = "this.tittleModalBuscarCandidato"
												iconBoton = ""
												nameBoton = "Buscar"
												classBoton = "btn form-control input-default btn-default"
												(selectPersonaN)="selectCandidato($event)"

													>
												</cf-modal-buscar-persona-natural>

												<!--<button  (click)="openModal(contentBuscarCandidato)" type="button" class="btn form-control input-default btn-default">
													<i class="fa fa-search"></i><span> Buscar</span> </button>  -->
										</div>
									</div>
								<div class="form-group" >
									<div class="col-md-12" >
										<button   id="btnAddCandidato"  [disabled]='this.candidato.strDNI==null'
										(click)="addCandidato();" type="button" class="btn form-control input-default btn-default">
											Agregar 
										</button>  
									</div>
								</div>
								<div class="form-group">
									<div class="col-md-12">
										<button id="btnContactos" (click)="limpiarCandidato();" type="button" class="btn form-control input-default btn-default">
											Limpiar 
										</button>
									</div>		
								</div>
						</form>		
					</div>
				</div>
			</div>
		