<!--Inicio de pagina  -->
<cf-header></cf-header>
<cf-nav></cf-nav>
<div class="wrapper"> 
<div class="content-wrapper">
<section class="content"> 
<div class="box2">
    <div class="row">
        <div class="col-md-12 margen" >
            <h2 class="text-center  title ">
                RENOVACIÓN DE SERVICIO
            </h2>
            <br> 
            <div class="box">
                <div class="box-header with-border">
                    <div class="row">
                        <div class="col-md-2">
                            <label class="text-left subtitle">
                                Datos del Cliente
                            </label>
                        </div>
                        <div class="col-md-10">  
                                <cf-modal-buscar-persona-juridica 
                                [titulo] = "this.tittleModalBuscarPJ"
                                (selectPersonaJ)="selectPersonaJ($event)"                                 >
                                </cf-modal-buscar-persona-juridica> 
                        </div>
                    </div>	
                </div>	
                <div class="box-body">	
                    <div class="row">
                        <div class="col-md-12">
                            <form class="form-horizontal" role="form">
                                        <div class="form-group">
                                            <label for="inputEmail3"  class="col-sm-2 control-label">
                                                Razón Social :
                                            </label>
                                            <div class="col-sm-10">
                                                <input  name="strRazonSocial" disabled
                                                [(ngModel)] = this.personaJuridica.strRazonSocial 		
                                                      type="text" class="form-control input-sm" id="inputEmail3" placeholder="Razón Social">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                                <label for="inputEmail3" class="col-sm-2 control-label">
                                                    RUC :
                                                </label>
                                                <div class="col-sm-5">
                                                    <input  name="RUC"  disabled
                                                        [(ngModel)] = this.personaJuridica.strRUC 									
                                                    type="number" class="form-control input-sm" minlength="11" maxlength="11"  id="inputEmail3" placeholder="Número de RUC">
                                                </div>
                                        </div> 
                            </form>	
                        </div>
                        </div>
                 </div> 
          <!--      Servicios del cliente : {{this.servicios | json }}  -->
            </div>	
            <div class="box">
                <div class="box-header with-border">
                    <div class="row">
                        <div class="col-md-2">
                            <label class="text-right  subtitle">
                                Servicios
                            </label>
                        </div>
                        <div class="col-md-8"> 
                        </div>
                    </div>				
                </div>  
                 <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                            <table class="table table-hover table-bordered text-center">
                                <thead class="text-center">
                                    <tr class="active">
                                        <th>Anexo</th>
                                        <th>Nombre</th>
                                        <th>Descripción</th>
                                        <th>Fecha Inicio</th>
                                        <th>Fecha Fin</th>
                                        <th>Estado</th>
                                        <th>Opciones</th>
                                    </tr>
                                </thead>
                                <tbody >
                                        <tr *ngFor="let servicio of servicios"  > 
                                                <!--<td><a [routerLink]="[operation._id]">{{ operation._id }}</a></td>  
                                                -->
                                                <!--<td>{{ servicios.indexOf(servicio)+1}}</td>-->
                                                <td>{{ servicio.intAnexoId }}</td>
                                                <td>{{ servicio.strNombreServicio}}</td>
                                                <td>{{ servicio.strDescripcion }}</td>
                                                <td>{{ servicio.dtFechaInicio   | date:"dd/MM/yyyy" }}</td>
                                                <td>{{ servicio.dtFechaFin    | date:"dd/MM/yyyy" }}</td>
                                                <td>{{ servicio.strEstado}} </td>
                                                 <td>	
                                                    <a [routerLink]="['../../renovarServicio',servicio.intId]">
                                                        <button type="button" class="btn btn-default btn-xs"><i class="fa  fa-pencil"></i> <span> Renovar Servicio</span></button>
                                                    </a>													
                                                </td>    
                                        </tr>  
                                </tbody> 
                            </table>
                            {{this.responseNotFoundServicios}}    
                            </div>         
                        </div>
                    </div>
                </div>
            </div>

		<!--Modal confirar eliminacion de servicios-->
<!-- Modal content 
      <div class="modal-content">--> 
                    <!-- Modal Confirmar EiminacionSErvicio -->			
                 
                <div class="row">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-4">
                        <div class="col-sm-12">
         
                        </div>
                    <!--    <div class="col-sm-6">
                            <cf-go-back></cf-go-back> 
                        </div>  -->  
                    </div>
                        <div class="col-md-4">
                        </div>
                </div>
        </div>
    </div>
    </div>
</section>
</div>
</div>