	<!--Inicio de pagina  -->
<cf-header></cf-header>
<cf-nav></cf-nav>
<div class="wrapper"> 
<div class="content-wrapper">
<section class="content"> 
		<div class="box2">
	<div class="row ">
		<div class="col-md-12 margen ">	
			<h2 class="title text-center">
				BÚSQUEDA DE RECURSO
			</h2>
			<br>
			<div class="box">
				<div class="box-header with-border">			
					<div class="row">
						<div class="col-md-2">
							<label class="text-left subtitle">
								Buscar Recurso
							</label>
						</div>
						<div class="col-md-6">
								<button (click)="this.buscarRecursoToCandidato(this.conocimientosSelected,inputEstado.value)" type="button" class="btn btn-default btn-xs"><i class="fa  fa-search"></i><span> Buscar </span> </button>
						</div>
					</div>	
				</div>
				<div class="box-body">
					<div class="row">
						<div class="col-md-12">
							<form class="form-horizontal" role="form" >
								<!--
								<div class="form-group">
									<label for="inputEmail3" class="col-sm-3 control-label">
										Perfil :
									</label>
									<div class="col-sm-7"> 
										<select #inputPerfil class="form-control select2 input-sm" style="width: 100%;">
										  <option selected="selected" value=""> Todos</option>
										  <option *ngFor="let perfil of perfiles"
										  [value]="perfil.intId"> {{perfil.strPerfil}}</option>
										</select>	
									</div>									
								</div>
							-->
								<div class="form-group">
									<label for="inputEmail3" class="col-sm-3 control-label">
										Conocimiento :
									</label>
									<div class="col-sm-9">
								   <!-- <select #inputConocimientos class="form-control select2 input-sm" multiple="multiple" data-placeholder="Conocimiento | Nivel" style="width: 100%;" >
										<option *ngFor="let conocimiento of conocimientos"
										[value]="conocimiento.intId">
										 {{conocimiento.strNombreConocimiento }} </option> 
										</select>				
									<ng-multiselect-dropdown
										name="conocimientos"
										[placeholder]="'-Seleccione-'"
										[data]="this.conocimientos"
										[(ngModel)]="this.conocimientosSelected"
										[settings]="dropdownSettings"
										>
										</ng-multiselect-dropdown>-->		 
										<!-- 
										(onSelect)="onItemSelect($event)"
										(onSelectAll)="onSelectAll($event)"-->
									</div>							
								</div>
								<!--<ng-multiselect-dropdown
									[placeholder]="'custom placeholder'"
									[data]="dropdownList"
									[(ngModel)]="selectedItems"
									[settings]="dropdownSettings"
									(onSelect)="onItemSelect($event)"
									(onSelectAll)="onSelectAll($event)"
									>
									</ng-multiselect-dropdown>
								-->
							<!--	estado Candidato : {{this.estadosCandidato | json }}-->
								<div class="form-group">
									<label for="inputEmail3" class="col-sm-3 control-label">
										Situación Actual :
									</label>
									<div class="col-sm-4">	
										<select  #inputEstado name="account" class="form-control input-sm" >
												<option  value="" >Todos</option>
												<option *ngFor="let ec of this.estadosCandidato"
												[value]= ec.intId										
												> {{ec.strName}}</option> 
										</select>
									</div>
								</div>						
							</form>
						</div>
					</div>
				</div>
			</div>
			<div class="box">
				<div class="box-header with-border">				
					<div class="row">
						<div class="col-md-12">
							<label class="text-left subtitle">
								Resultados :
							</label>
						</div>
					</div>	
				</div>
				<div class="box-body">
				  <!-- Los recursos encontrados son : 	{{recursos | json}} -->
					<div class="row">
						<div class="col-md-12">
							<div class="table-responsive">
							<table class="table table-hover table-bordered text-center">
								<thead>
									<tr class="active">
										<th>#</th>
										<th>DNI</th>
										<th>Nombre de Recurso</th>
										<th>Perfil </th>
										<th>Situación Actual </th>
										<th>Termino de Contrato </th>
										<th>Opciones</th>
									</tr>
								</thead>
								<tbody>
										<tr *ngFor="let recurso of recursos" >
												<td>{{recursos.indexOf(recurso)+1}}</td>
												<td>{{recurso.strDNI}}</td>
												<td>{{recurso.strNombreCompleto}}</td>
												<td>{{recurso.strPerfil}}</td>
												<td>{{recurso.intEstado}}</td>
												<td>{{recurso.strTerminoContrato}}</td>
												<td>
														<a [routerLink]="['verRecurso', recurso.intId]">
															<button type="button" class="btn btn-default btn-xs"><i class="fa  fa-eye"></i><span> Ver Recurso</span> </button>
														</a>
													</td>
											</tr>
								</tbody>
							</table>
							</div>
						</div>
					</div>
				</div>
			</div>		
			<div class="row">
						<div class="col-md-3">
						</div>
						<div class="col-md-6">
							<div class="col-sm-6">
							<button type="button" class="btn form-control input-sm btn-default">
								Imprimir 
							</button> 
							</div>
							<div class="col-sm-6">
											<cf-go-back></cf-go-back>
							</div>
						</div>
						<div class="col-md-3">
						</div>
			</div>			
		</div>

	</div>
</div>
</section>
</div>
</div>
 