 <!--Inicio de pagina  -->
<cf-header></cf-header>
<cf-nav></cf-nav>
<div class="wrapper"> 
<div class="content-wrapper">
<section class="content"> 
    <div class="box2">
	<div class="row">
		<div class="col-md-12 margen ">
			<h2 class="title text-center">
				 CONOCIMIENTO
			</h2>
			<br>
			<div class="box">
				<div class="box-header with-border">
					<div class="row">
						<div class="col-md-12">
							<label class="text-left subtitle">
								Datos Generales
							</label>
						</div>
					</div>
				</div>	
				<div class="box-body">
					<div class="row">
						<div class="col-md-9">
							<form class="form-horizontal" role="form">
								<div class="form-group">
									<label for="inputEmail3" class="col-sm-2 control-label">
										Nombre :
									</label>
									<div class="col-sm-3">
										<input   #inputNombre
										[value]="conocimiento.strNombreConocimiento" 
										(change)="conocimiento.strNombreConocimiento=inputNombre.value"
										type="text" class="form-control input-sm" id="inputEmail3" placeholder="Ingrese RUC">
									</div>
								</div>
								<div class="form-group">
									<label for="inputEmail3" class="col-sm-2 control-label">
										Descripcion :
									</label>
									<div class="col-sm-10">
										<input    #inputDescripcion
										[value]="conocimiento.strDescripcion" 
										(change)="conocimiento.strDescripcion=inputDescripcion.value"
										type="text" class="form-control input-sm" id="inputEmail3" placeholder="Ingrese Razón Social">
									</div>
								</div>
								<div class="form-group">
									<label for="inputEmail3" class="col-sm-2 control-label">
										Categoria :
									</label>
									<div class="col-sm-10">
										<input  #inputCategoria
										[value]="conocimiento.intTipoConocimiento" 
										(change)="conocimiento.intTipoConocimiento=inputCategoria.value"
										  type="text" class="form-control input-sm"a id="inputEmail3" placeholder="Teléfono">
									</div>
								</div>
							</form>
						</div>

					</div>
				</div>
			</div>
			<div class="box">
				<div class="box-header with-border">
					<div class="row">
						<div class="col-md-2">
							<label class="text-right  subtitle">
								Conocimientos
							</label>
						</div>
					</div>				
				</div>
				<!-- json generado  1 :  {{ conocimientos | json}} -->
				<div class="box-body">
					<div class="row">
						<div class="col-md-12">
							<div classs="table-responsive">
								<table class="table table-hover table-bordered text-center">
									<thead class="text-center">
										<tr class="active">
											<th>#</th>
											<th>Nombre</th>
											<th>Descripción</th>
											<th>Categoria</th>
										</tr>
									</thead>
									<tbody >
											<tr *ngFor="let conocimiento of conocimientos"  > 
													<!--<td><a [routerLink]="[operation._id]">{{ operation._id }}</a></td>  
													-->
													<td>{{ conocimientos.indexOf(conocimiento)+1}}</td>
													<td>{{ conocimiento.strNombreConocimiento}}</td>
													<td>{{ conocimiento.strDescripcion }}</td>
													<td>{{ conocimiento.intTipoConocimiento }}</td>
													<td>																				
															<button type="button" class="btn btn-default  btn-sm"><i class="fa fa-user"></i></button>
															<button type="button" class="btn btn-default btn-sm"><i class="fa  fa-eye"></i></button>

															<button type="button" class="btn btn-default btn-sm"><i class="fa  fa-close"></i></button>
															<button type="button"  class="btn btn-default  btn-sm"><i class="fa fa-check"></i></button>
														</td>
												</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!---Conocimientoa guardar : {{ conocimiento  | json }} -->
			<div class="row">
				<div class="col-md-3">
				</div>
				<div class="col-md-6">
					<div class="col-sm-6">
					<button (click)="guardarConocimiento()" type="button" class="btn form-control input-sm btn-default">
						Registrar Persona
					</button> 
					</div>
					<div class="col-sm-6">
					<button type="button" class="btn form-control input-sm btn-default">
						Cancelar 
					</button>
					</div>
				</div>
						<div class="col-md-3">
				</div>
			</div>	
		</div>
	</div> 
</div>
</section>
</div>
</div>	 