 <!--Inicio de pagina  -->
<cf-header></cf-header>
<cf-nav></cf-nav>
<div class="wrapper"> 
<div class="content-wrapper">
<section class="content"> 
    <div class="box2">
	<div class="row">
		<div class="col-md-12 margen">	
			<h2 class="title text-center">
				VISITAS PENDIENTES
			</h2>
			<br>
			<div class="box">
				<div class="box-header with-border">			
					<div class="row">
						<div class="col-md-3">
							<label class="text-left subtitle">
								Rango de Fechas
							</label>
						</div>
					</div>
				</div>
				<div class="box-body">					
					<div class="row">
						<div class="col-md-12">
							<form class="form-horizontal" role="form">
								<div class="form-group"> 
									<label for="inputEmail3" class="col-sm-2 control-label">
										Fecha Inicial
									</label>
									<div class="col-sm-3">
										<input 
										name="fechaInicial"
										[(ngModel)] = this.fechaInicial
										type="date" class="form-control input-sm" id="inputEmail3" placeholder="">
									</div>
									
									<label for="inputEmail3" class="col-sm-2 control-label">
										Fecha Final
									</label>
									<div class="col-sm-3">
										<input 
										name="fechaFinal"
										[(ngModel)] = this.fechaFinal
										type="date" class="form-control input-sm" id="inputEmail3" placeholder="">
									</div>
									<div class="col-sm-2">
										<button 
											(click)="this.buscarVisitas();" 
											type="button" class="btn btn-default btn-xs"><i class="fa  fa-search"></i><span> Consultar</span>
										</button>			
									</div>
								</div>							
							</form>	
						</div>
						<div class="col-md-6">
						</div>
					</div>
				</div>
			</div>

		<!-- 	visitas : {{ visitas | json }}-->
			<div class="box">
				<div class="box-header with-border">
					<div class="row">
						<div class="col-md-12">
							<label class="text-left subtitle">
								Visitas 
							</label>
						</div>

					</div>
				</div>	
				<div class="box-body">	
					<div class="row">
						<div class="col-md-12">
							<div class="table-responsive">
							<table class="table table-hover table-bordered text-center">
								<thead>
									<tr class="active">
										<th>#</th> 
										<th>Nombre</th>
										<th>Cliente </th>
										<th>Servicio </th>
										<th>Fecha de Visita</th>
										<th>Hora de Visita</th>
									</tr>
								</thead>
								<tbody>
									<tr *ngFor="let v of visitas">
										<td>{{v.intId}}</td> 
										<td>{{v.strNombreCompleto}}</td>
										<td>{{v.strNombreCliente}}</td>
										<td>{{v.strNombreServicio}}</td>
										<td>{{v.dtFechaVisita   | date:"dd/MM/yyyy" }}</td>
										<td>{{v.tmHoraVisita}}</td>										
									</tr>
								</tbody>
							</table>
							<div class="message-error">
									{{messageVisitasNotFound}}
							</div>
						</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
				</div>
				<div class="col-md-6">
					<div class="col-sm-6">
						<!--	<button (click)="this.exportVisitasToExcel();" type="button"  class="btn form-control input-sm  btn-default"><i class="fa fa-file-excel-o"></i> Exportar a Excel</button>-->
					</div>
					<div class="col-sm-6">
							<cf-go-back></cf-go-back>
					</div>
				</div>
						<div class="col-md-3">
				</div>
			</div>					
			
		</div>
	</div>
	</div>
</section>
</div>
</div>