<cf-header></cf-header>
<cf-nav></cf-nav>
<div class="wrapper"> 
<div class="content-wrapper">
<section class="content"> 
    <div class="box2">
	<div class="row">
		<div class="col-md-12 margen">	
			<h2 class="title text-center">
				CONTRATOS DEL RECURSO
			</h2>
			<br> 
			<div class="box">
				<div class="box-header with-border">
					<div class="row">
						<div class="col-md-2">
							<label class="text-left subtitle">
								Datos Personal
							</label>
						</div>
						<div class="col-sm-10">
								<cf-modal-buscar-persona-natural 
								[titulo] = "this.tittleModalBuscarPN"
								(selectPersonaN)="selectPersonaN($event)"
								nameBoton = "Buscar Persona"
								iconBoton = "fa fa-search"
								classBoton = "btn btn-default btn-xs"	
									>
								</cf-modal-buscar-persona-natural> 
						</div> 
					</div>
				</div>	
		<!-- 		Persona : {{this.persona | json }} --> 
				<div class="box-body">
					<div class="row">
						<div class="col-md-12">
							<form class="form-horizontal" role="form">
								<div class="form-group">
										<label for="inputtext3" class="col-sm-2 control-label">
											Nombre
										</label>
									<div class="col-sm-8">
										<input 
										name ="nombrePersona"
										[(ngModel)]="this.persona.strNombreCompleto"
										type="text" disabled  class="form-control input-sm" id="inputtext3" placeholder="Nombre ">
									</div>	
								</div>
								<div class="form-group">
											<label for="inputtext3" class="col-sm-2 control-label">
											DNI
										</label>
									<div class="col-sm-4">
										<input 
										name ="DNIPersona"
										[(ngModel)]="this.persona.strDNI"
										type="text" disabled  class="form-control input-sm" id="inputtext3" placeholder="DNI">
									</div>

								</div>
							 		
								</form>
						</div>
					</div>
				</div>
			</div>
	<!--	 Contratos : {{this.contratos | json }}     -->
		<!--OBSERVACION  : Falta las modifcaciones de los servicios cuando se registra una baja , cambiar estados  -->
			<div [hidden]=this.hiddenContratos class="box">
					<div class="box-header with-border">					
						<div class="row">
							<div class="col-md-2">
								<label class="text-left  subtitle">
									Contratos 
								</label>
							</div>
							<div class="col-md-10">
								<a [routerLink]="['contrato']">
									<button type="button" class="btn btn-default btn-xs"><i class="fa  fa-plus"></i> <span>Nuevo Contrato</span></button>
								</a>	
							</div>
						</div>
					</div>	
					<div class="box-body">
						<div class="row">
							<div class="col-md-12">
								<div class="table-responsive">
								<table class="table table-hover table-bordered text-center">
									<thead>
										<tr class="active">
											<th>#</th>
											<th>Empresa</th>
											<th>Modalidad</th>
											<th>Fecha Inicio</th>
											<th>Fecha Fin</th>
											<th>Estado</th>
											<th> Opciones</th>
										</tr>
									</thead>
									<tbody>
										<tr *ngFor="let c of contratos"  > 
											<td>{{ contratos.indexOf(c)+1}}</td>
											<td>{{ c.strEmpresa}}</td>
											<td>{{ c.strModalidad }}</td>
											<td>{{ c.dtFechaContratacion   | date:"dd/MM/yyyy"}}</td>
											<td>{{ c.dtFechaFinalizacion    | date:"dd/MM/yyyy" }}</td>
											<td>{{ c.strEstado}}</td>
											<td>  
												<a [routerLink]="['contrato',c.intId]">
													<button type="button" class="btn btn-default btn-xs"><i class="fa  fa-edit"></i> <span>Editar Contrato</span></button>
												</a>
											<button  (click) = "this.selectContrato(c);this.openModal(contentDeleteContrato);"  
												type="button" class="btn btn-default btn-xs"><i class="fa  fa-remove"></i><span> Eliminar Contrato</span> 
											</button> 
											</td>
										  </tr>
	
									</tbody>
								</table>
							</div>
							</div>
						</div>
					</div>
				</div>	 

				<ng-template #contentDeleteContrato let-c="close" let-d="dismiss"> 
						<div class="modal-header" style="padding:20px 20px;">		  
								<div class="row">
									<div class="col-md-12">
										<b><span class="fa  fa-exclamation-triangle"> </span> Eliminación del Contrato</b>
									</div>
								</div>
						</div>
						<div class="modal-body" style="padding:10px 30px;">
							<br>
								<div class="row">
										<div class="col-md-1">
										</div>
									<div class="col-md-10">
										<form class="form-horizontal" role="form">
												<div class="form-group">
														<label for="inputEmail3" class="col-sm-12 control-label text-left">	
															Atención : <br> 
															1.- Se eliminará el contrato seleccionado.<br>
															2.- Se dejará de facturar el contrato para el siguiente mes.<br> 	
														</label>    
												</div> 
										</form>
									</div>
								</div>
						</div>
						<div class="modal-footer"> 
							<button (click)="this.eliminarContrato(this.contrato );this.modalRef.close();"  class="btn   btn-success" data-dismiss="modal" >Aceptar</button>
							<button (click)="this.modalRef.close();" type="submit" class="btn  btn-danger" data-dismiss="modal" >Cancelar</button>
						</div> 
					</ng-template> 
			<div class="row">
					<div class="col-md-2"> 
					</div>
					<div class="col-md-8">
						<div class="col-sm-4"> 
						</div>
						<div class="col-sm-4">
						<!--<button type="button" class="btn form-control input-sm btn-default">
							Cancelar
						</button> -->
						</div>
						<div class="col-sm-4">
								<cf-go-back></cf-go-back>
								</div>
					</div>
							<div class="col-md-2">
					</div>
				</div>
		</div>
			</div>
		</div>
</section>
</div>
</div>