<ngx-spinner
bdColor = "rgba(51, 51, 51, 0.8)"
size = "large"
color = "#fff"
type = "ball-clip-rotate"
>
</ngx-spinner> 
<!--Inicio de pagina  -->
<cf-header></cf-header>
<cf-nav></cf-nav>
<div class="wrapper"> 
<div class="content-wrapper">
<section class="content"> 
 <div class="box2">
	<div class="row">
	<br>
		<div class="col-md-12 margen">	
			<h2 class="title text-center">
				DOCUMENTACIÓN COLABORADOR 
			</h2>
			<br> 
	 	<!--  	ContratoPersona :  {{this.contratoPersona |json}}    -->
			<div class="box">
				<div class="box-header with-border">			
					<div class="row">
						<div class="col-md-3">
							<label class="text-left subtitle">
								Datos Contrato
							</label>
						</div> 
						<div class="col-md-9"> 
							<button  (click)="this.habilitarEdicionContrato(true);"
							type="button"  class="btn btn-default  btn-xs"><i class="fa fa-edit"> </i><span> Editar</span></button> 
							
							<button  (click)="this.guardarContrato(this.contratoPersona);"
									type="button"  class="btn btn-default  btn-xs"><i class="fa fa-save"> </i><span> Guardar </span></button> 
						 </div>
					</div>
				</div>
				<div class="box-body">					
					<div class="row">
						<div class="col-md-12">
							<form class="form-horizontal" role="form form-group">
								<div class="form-group">
									<label for="inputEmail3" class="col-sm-2 control-label">
										Colaborador :
									</label>
									<div class="col-sm-6">
										<input name="nombrePersona"
										[(ngModel)]= this.contratoPersona.strNombreCompleto
										 type="text" disabled class="form-control input-sm" id="inputEmail3" placeholder="Nombre Colaborador">	
									</div> 
									<!--
									<label for="inputEmail3" class="col-sm-2 control-label">
										DNI :
									</label>
									<div class="col-sm-3">
										<input value={{candidato.strDNI}}
										 type="text" disabled class="form-control input-sm" id="inputEmail3" placeholder="DNI Colaborador">	
									</div>
									-->
								</div>  

								<div class="form-group">
										<label for="inputEmail3" class="col-sm-2 control-label">
											Modalidad :
										</label>
										<div class="col-sm-4"> 
											<input name = "modalidad" disabled
											[(ngModel)]= this.contratoPersona.strModalidad
											type="text" class="form-control input-sm" id="inputEmail3" >
										</div> 
								</div>
									 
								<div class="form-group">
										<label for="inputPassword3" class="col-sm-2 control-label">
												Sueldo :
											</label>
										<div class="col-sm-3"> 
												<input  disabled type="text"
													class="form-control input-sm text-left"  id="dbMonto"
													name ="dbMonto" currencyMask [(ngModel)]="this.contratoPersona.dbSueldo" 
													placeholder="00.00"
													[options]="{ prefix: '', thousands: ',', decimal: '.' ,precision:2}" >  
										</div>
										<label for="inputEmail3" class="col-sm-2 control-label">
												Moneda :
										</label>
										<div class="col-sm-2">	 
												<input name = "moneda" disabled
												[(ngModel)]= this.contratoPersona.strMoneda
												type="text" class="form-control input-sm" id="inputEmail3" >
										</div>

									</div>
									<div class="form-group">
											<label for="inputPassword3"  class="col-sm-2 control-label">
												Fecha Inicio :
											</label>
											<div class="col-sm-3">
													<input  name="fechaInicio" [disabled]= !this.editar 
													[(ngModel)]=contratoPersona.dtFechaContratacion  type="date"   class="form-control input-sm" id="inputEmail3" placeholder="">
											</div>
												<label for="inputPassword3"  class="col-sm-2 control-label">
													Fecha Fin :
												</label>
												<div class="col-sm-3">
													<input name = "fechaFin" [disabled]= !this.editar
													[(ngModel)]=contratoPersona.dtFechaFinalizacion   type="date"   class="form-control input-sm" id="inputEmail3" placeholder="">
												</div>						
									 </div> 
									<div class="form-group">
										 <label for="inputPassword3" class="col-sm-2 control-label">
													Empresa :
										 </label>
										<div class="col-sm-3">
											<select name="Empresa" 
													
												[(ngModel)] = this.contratoPersona.intEmpresaId  [disabled]= !this.editar
												class="form-control input-sm" >
												<option [value]=null selected disabled> - Seleccione - </option>    
												<option *ngFor="let td of this.tipoEmpresa"
												[value]="td.intId"> {{td.strName}}</option> 	
											</select>		
										</div>
									 <label for="inputPassword3" class="col-sm-2 control-label">
												Motivo :
									 </label>
									<div class="col-sm-5">
										<select name="motivosContrato" [disabled]= !this.editar
											[(ngModel)] = this.contratoPersona.intMotivoContrato 
											class="form-control input-sm" >
											<option [value]=null selected disabled> - Seleccione - </option>    
											<option *ngFor="let mc of this.motivosContrato"
											[value]="mc.intId"> {{mc.strName}}</option> 	
										</select>		
									</div>
								</div>
								<div class="form-group"  >
									<label for="inputPassword3" class="col-sm-2 control-label">
										Cargo :
									</label>
									<div class="col-sm-5">
											<input  name="cargo" [disabled]= !this.editar
											[(ngModel)]=this.contratoPersona.strCargo type="text" class="form-control input-sm" id="inputEmail3" placeholder="Cargo Colaborador">
									</div> 
								</div>	
							</form>
						</div>
					</div>
				</div>
			</div> 
  

<!-- impresion de documentos -->
 
<div class="box">
		<div class="box-header with-border">			
			<div class="row">
				<div class="col-md-12">
					<label class="text-left subtitle">
						Impresión de Documentos
					</label> 
				</div>
			</div>
		</div>	   
<!-- 	<div>	Todos los tipos de Docum. : {{ this.tipoDocumentoPersona | json}} </div> -->
 <!--	<div>	Documentos para imprimir  : {{ this.documentoRecursoToPrint | json}} </div>   -->
 
		<div class="box-body">
				<div class="row">
					<div class="col-md-8">
						<div class="table-responsive">
						<table class="table table-hover table-bordered text-center">
							<thead class="text-center">
								<tr class="active">
									<th>#</th>
									<th>Documento</th>
								<!-- <th>Descripción</th>  -->
									<th>Opciones</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let et of this.documentoRecursoToPrint">
									<td>{{this.documentoRecursoToPrint.indexOf(et)+1}}</td>
									<!--<td>{{et.intId}}</td> -->
									<td>{{et.strName}}</td>
								<!--	<td>{{lst.strDescripcion}}</td> -->
									<td>	 
										<button (click)="this.generarDocumento(et)" type="button" class="btn btn-default btn-xs"><i class="fa  fa-file-text"></i><span> Generar Documento</span></button>
									</td>
								</tr>
							</tbody>
						</table> 
						</div>
					</div>
					<div class="col-md-4 message-error" [hidden]=this.hiddenMessage >
							Mensaje : <br>
							<ngx-spinner
									bdColor = "rgba(51, 51, 51, 0.8)"
									size = "large"
									color = "#fff"
									type = "ball-clip-rotate"
									>
							</ngx-spinner> 
						<div > {{this.messageErrorPDFCreate}}  </div> 
						<div>{{this.responseNoExistContrato}} </div>
					</div> 
				</div>
			</div> 
		</div> 
		
		<div class="box">
				<div class="box-header with-border">		
					<div class="row">
						<div class="col-md-2">
							<label class="text-left subtitle">
								Documentos
							</label>
						</div>
						<div class="col-md-8">
								<cf-modal-documento-recurso
								[strNombreCompleto] = this.candidato.strNombreCompleto
								[DNI]= this.candidato.strDNI
								[intEmpresaId]= this.contratoPersona.intEmpresaId
								[strEmpresa]= this.contratoPersona.strEmpresa
								nameBoton= "Agregar Documento"
								iconBoton="fa fa-plus"
								[tipoEvento] = 1  
								titulo = "Agregar Documento"
								classBoton="btn btn-default btn-xs"
								(newDocumentoRecurso)="this.recibirNewDocumentoRecurso($event)"
								(newFileToUpload)="this.recibirNewFile($event)"
								>
							</cf-modal-documento-recurso> 
								<button (click)="this.refreshDocumentos(this.contratoPersona.intPersonaId, this.contratoPersona.intCandidatoId , this.contratoPersona.intEmpresaId);"
								 type="button" class="btn btn-default btn-xs"><i class="fa  fa-refresh"></i><span>  Refrescar </span> </button>
								{{responseNotSave}}	
						 </div> 
					</div>
				</div>	
	<!--Documentos Obtenidos : {{ this.documentosRecurso | json }} -->
				<div class="box-body">
					<div class="row">
						<div class="col-md-12">
							<div class="table-responsive">
								<table class="table table-hover table-bordered text-center">
									<thead class="text-center">
										<tr class="active">
											<th>#</th>
											<th>Empresa</th>
											<th>Tipo Documento</th>
											<th>Documento</th>
											<th>Observación</th> 
											<th>Opciones</th>
										</tr>
									</thead>
									<tbody>
										<tr *ngFor="let documento of this.documentosRecurso">
											<td>{{this.documentosRecurso.indexOf(documento)+1}}</td>
											<td>{{documento.strNombreEmpresa}}</td>
											<td>{{documento.strTipoDocumento}}</td>
											<td>
													{{documento.strNombreDocumento}}  
												<!--	<cf-modal-ver-documento
													[strAlfrescoId] =documento.strDocAlfrescoId
													nameBoton = "Descargar"
													iconBoton = "fa fa-download"
													classBoton = "btn btn-default btn-xs"	
													>
														</cf-modal-ver-documento>-->
												<!--	<button (click)="this.verDocumentoRecurso(documento.strDocAlfrescoId)" type="button" class="btn btn-default btn-xs"><i class="fa  fa-eye"></i><span> Ver </span> </button>
												-->
											</td>
											<td>{{documento.strObservacion}}</td>
											<td>	
												<!--
													<cf-modal-documento-recurso
													[strNombreCompleto] = this.candidato.strNombreCompleto
													[DNI]= this.candidato.strDNI
													nameBoton= " Editar"
													iconBoton="fa fa-edit"
													[tipoEvento] = 2 
													titulo = "Editar Documento"
													[oldDocumentoRecurso]= documento
													classBoton="btn btn-default btn-xs"
											c		(updateDocumentoRecurso)="this.recibirUpdateDocumentoRecurso($event)"
													(updateFileToUpload)="this.recibirUpdateFile($event)"
													></cf-modal-documento-recurso>
												-->
												<button (click)= "this.vistaPreviaDocumento(documento.strDocAlfrescoId)" type="button" class="btn btn-default btn-xs"><i class="fa  fa-eye"></i><span> Vista Previa </span> </button>
												<button (click)= "this.descargarDocumento(documento.strDocAlfrescoId)" type="button" class="btn btn-default btn-xs"><i class="fa  fa-download"></i><span> Descargar </span> </button>
											   	<button (click)="this.deleteDocumento(documento.strDocAlfrescoId)" type="button" class="btn btn-default btn-xs"><i class="fa  fa-remove"></i><span> Eliminar</span></button>
												<!--
												<div class="message-error">Problemas con Spring Security x símbolo ';'</div>
												-->
											</td>
										</tr>
									</tbody>
								</table>
								<div class="message-error">
										{{this.responseNoFoundDocumentos}}
								</div> 
							</div>
						</div>
					</div>
				</div>
			</div>		
			<ng-template #errorSistema let-c="close" let-d="dismiss"> 
				<div class="modal-header" style="padding:20px 20px;">		  
						<div class="row">
							<div class="col-md-12">
								<b><span class="fa  fa-exclamation-triangle"> </span> Problema Encontrado</b> 
							</div>
						</div>
				</div>
				<div class="modal-body" style="padding:10px 30px;">
					<br>
						<div class="row">
								<div class="col-md-1">
								</div>
							<div class="col-md-10">
								<form class="form-horizontal" role="form">
										<div class="form-group">
											<label for="inputEmail3" class="col-sm-12 control-label text-left">	
												Atención : <br> 
												1.- {{this.messageErrorSistema}}.<br>
											</label>    
										</div> 
								</form>
							</div>
						</div>
				</div>
				<div class="modal-footer"> 
					 <button (click)="this.modalRef.close();" type="submit" class="btn  btn-success" data-dismiss="modal" >Aceptar</button>
				</div> 
			</ng-template>  
			<div class="row">
					<div class="col-md-2"> 
					</div>
					<div class="col-md-8">
						<div class="col-sm-4"> 
						</div>
						<div class="col-sm-4">

						</div>
						<div class="col-sm-4">
								<cf-go-back></cf-go-back>
								</div>
					</div>
							<div class="col-md-2">
					</div>
				</div>		
			
		</div>
	</div>
	</div>
      <!-- /.content-wrapper -->



</section>
</div>
</div>