<ngx-spinner
bdColor = "rgba(51, 51, 51, 0.8)"
size = "large"
color = "#fff"
type = "ball-clip-rotate"
>
</ngx-spinner> 
<!--Inicio de pagina  -->
<cf-header></cf-header>
<cf-nav></cf-nav>
<div class="wrapper"> 
<div class="content-wrapper">
<section class="content"> 
 <div class="box2">
	<div class="row">
	<br>
		<div class="col-md-12 margen">	
			<h2 class="title text-center">
				DOCUMENTACIÓN BAJA  
			</h2>
			<br> 
	 	<!--  	ContratoPersona :  {{this.contratoPersona |json}}    -->
			<div class="box">
				<div class="box-header with-border">			
					<div class="row">
						<div class="col-md-12">
							<label class="text-left subtitle">
								Datos del Contrato
							</label>
						</div>  
					</div>
				</div>
				<div class="box-body">					
					<div class="row">
						<div class="col-md-12">
							<form class="form-horizontal" role="form form-group">
								<div class="form-group">
									<label for="inputEmail3" class="col-sm-2 control-label">
										Recurso :
									</label>
									<div class="col-sm-6">
										<input value={{contratoPersona.strNombreCompleto}}
										 type="text" disabled class="form-control input-sm" id="inputEmail3" placeholder="Nombre Colaborador">	
									</div>  
								</div>     
								<div class="form-group">
										<label for="inputPassword3" class="col-sm-2 control-label">
												Sueldo :
											</label>
										<div class="col-sm-4"> 
												<input  disabled type="text"
													class="form-control input-sm text-left"  id="dbMonto"
													name ="dbMonto" currencyMask [(ngModel)]="this.contratoPersona.dbSueldo" 
													placeholder="00.00"
													[options]="{ prefix: '', thousands: ',', decimal: '.' ,precision:2}" >  
										</div>  
									</div>
									<div class="form-group">
											<label for="inputPassword3"  class="col-sm-2 control-label">
												Fecha Inicio :
											</label>
											<div class="col-sm-3">
													<input  name="fechaInicio" disabled
													[(ngModel)]=contratoPersona.dtFechaContratacion  type="date"   class="form-control input-sm" id="inputEmail3" placeholder="">
											</div>
											<label for="inputPassword3"  class="col-sm-2 control-label">
												Fecha Cese :
											</label>
											<div class="col-sm-3">
												<input name = "fechaFin" disabled
												[(ngModel)]=contratoPersona.dtFechaFinalizacion   type="date"   class="form-control input-sm" id="inputEmail3" placeholder="">
											</div>						
									 </div> 
									 <div class="form-group"  >
										<label for="inputPassword3" class="col-sm-2 control-label">
											Cargo :
										</label>
										<div class="col-sm-5">
												<input  name="cargo" disabled
												[(ngModel)]=this.contratoPersona.strCargo type="text" class="form-control input-sm"
												 id="inputEmail3" placeholder="Empresa">
										</div>  
										 <label for="inputPassword3" class="col-sm-2 control-label">
											Empleador :
										 </label>
										<div class="col-sm-3">
												<input  name="strEmpresa" disabled
												[(ngModel)]=this.contratoPersona.strEmpresa type="text" class="form-control input-sm" 
												id="inputEmail3" placeholder="Empleador"> 
										</div> 
								</div> 
							</form>
						</div>
					</div>
				</div>
			</div> 
  

<!-- impresion de documentos -->
 
<div class="box">
		<div class="box-header with-border">			
			<div class="row">
				<div class="col-md-12">
					<label class="text-left subtitle">
						Documentos Disponibles
					</label> 
				</div>
			</div>
		</div>	

<!-- 	<div>	Todos los tipos de Docum. : {{ this.tipoDocumentoPersona | json}} </div> -->
 <!--	<div>	Documentos para imprimir  : {{ this.documentoRecursoToPrint | json}} </div>   -->
 
		<div class="box-body">
				<div class="row">
					<div class="col-md-8">
						<div class="table-responsive">
						<table class="table table-hover table-bordered text-center">
							<thead class="text-center">
								<tr class="active">
									<th>#</th>
									<th>Documento</th>
								<!-- <th>Descripción</th>  -->
									<th>Opciones</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let et of this.documentoBajaToPrint">
									<td>{{this.documentoBajaToPrint.indexOf(et)+1}}</td>
									<!--<td>{{et.intId}}</td> -->
									<td>{{et.strName}}</td>
								<!--	<td>{{lst.strDescripcion}}</td> -->
									<td>	 
										<button (click)="this.generarDocumento(et)" type="button" class="btn btn-default btn-xs"><i class="fa  fa-file-text"></i><span> Generar Documento</span></button>
									</td>
								</tr>
							</tbody>
						</table> 
						</div>
					</div>
					<div class="col-md-4 message-error" [hidden]=this.hiddenMessage >
							Mensaje : <br>
							<ngx-spinner
									bdColor = "rgba(51, 51, 51, 0.8)"
									size = "large"
									color = "#fff"
									type = "ball-clip-rotate"
									>
							</ngx-spinner> 
						<div > {{this.messageErrorPDFCreate}}  </div> 
						<div>{{this.responseNoExistContrato}} </div>
					</div> 
				</div>
			</div> 
		</div> 
		 
			
			<ng-template #errorSistema let-c="close" let-d="dismiss"> 
				<div class="modal-header" style="padding:20px 20px;">		  
						<div class="row">
							<div class="col-md-12">
								<b><span class="fa  fa-exclamation-triangle"> </span> Problema Encontrado</b> 
							</div>
						</div>
				</div>
				<div class="modal-body" style="padding:10px 30px;">
					<br>
						<div class="row">
								<div class="col-md-1">
								</div>
							<div class="col-md-10">
								<form class="form-horizontal" role="form">
										<div class="form-group">
											<label for="inputEmail3" class="col-sm-12 control-label text-left">	
												Atención : <br> 
												1.- {{this.messageErrorSistema}}.<br>
											</label>    
										</div> 
								</form>
							</div>
						</div>
				</div>
				<div class="modal-footer"> 
					 <button (click)="this.modalRef.close();" type="submit" class="btn  btn-success" data-dismiss="modal" >Aceptar</button>
				</div> 
			</ng-template>  
			<div class="row">
					<div class="col-md-2"> 
					</div>
					<div class="col-md-8">
						<div class="col-sm-4"> 
						</div>
						<div class="col-sm-4">

						</div>
						<div class="col-sm-4">
								<cf-go-back></cf-go-back>
								</div>
					</div>
							<div class="col-md-2">
					</div>
				</div>		
			
		</div>
	</div>
	</div>
      <!-- /.content-wrapper -->



</section>
</div>
</div>