<ngx-spinner
bdColor = "rgba(51, 51, 51, 0.8)"
size = "large"
color = "#fff"
type = "ball-clip-rotate"
>
</ngx-spinner> 
<!--Inicio de pagina  -->
<cf-header></cf-header>
<cf-nav></cf-nav>
<div class="wrapper"> 
<div class="content-wrapper">
<section class="content"> 
    <div class="box2">
	<div class="row">
		<div class="col-md-12 margen">	
			<h2 class="title text-center ">
				ELEGIR CANDIDATOS 
			</h2>
			<br>
			<div class="box">
				<div class="box-header with-border">
					<div class="row">
						<div class="col-md-12">
							<label class="text-lef subtitle">
								Datos del Servicio
							</label>
						</div>

					</div>	
				</div>
				<div class="box-body">
					<div class="row">
						<div class="col-md-12">
							<form class="form-horizontal" role="form">
								<div class="form-group">
									 
									<label for="inputEmail3" class="col-sm-2 control-label">
										Cliente :
									</label>
									<div class="col-sm-10">
									<input type="text" disabled class="form-control input-sm" id="inputEmail3" placeholder="Nombre de la razon Social"
									value = {{servicio.strNombreCliente}}
									>
									</div>
								</div>
								<div class="form-group">
									 
									<label for="inputPassword3" class="col-sm-2 control-label">
										Servicio :
									</label>
									<div class="col-sm-10">
										<input type="text" disabled  class="form-control input-sm" id="inputEmail3" placeholder="Nombre del servicio"
										value = {{servicio.strNombreServicio}}
										>
									</div>					
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		<!--	Servicio Encontrado : {{ this.servicio | json }}-->
			<div class="box">
				<div class="box-header with-border">
					<div class="row">
						<div class="col-md-2">
							<label class="text-left subtitle">
								Perfiles
							</label>
						</div>
					</div>		
				</div>
		<!--	 	Servicio Encontrado : {{ this.perfilServicio | json }}  -->
				<div class="box-body">
				<div class="row">
					<div class="col-md-12">
						<div class="table-responsive">
							<table class="table table-hover table-bordered text-center">
								<thead class="text-center">
									<tr class="active">
										<th>#</th>
										<th>Perfil</th>
										<th>Inicio </th>
										<th>Fin</th>
										<th>Cantidad Requerida</th>
										<th>Cantidad Registrada</th>
										<th>Opciones</th>  
									</tr>
								</thead>
								<tbody >
										<tr *ngFor="let ps of perfilesServicio"  > 
												<td>{{ ps.intId }}</td>
												<td>{{ ps.strPerfil }}</td>
												<td>{{ ps.dtFechaInicio   | date:"dd/MM/yyyy"  }}</td>
												<td>{{ ps.dtFechaFin   | date:"dd/MM/yyyy"  }}</td>
												<td>{{ ps.intCantidad }}</td>
												<td>{{ ps.intCantidadRegistrada }}</td>
												<td>
													<button (click)="this.mostrarBoxCandidato(ps) ; this.selectPerfilServicio(ps);" type="button" class="btn btn-default btn-xs"><i class="fa fa-user-plus"></i><span> Agregar</span></button>
													<button (click)="this.verCandidatos(ps); this.selectPerfilServicio(ps);" type="button" class="btn btn-default btn-xs"><i class="fa  fa-eye"></i><span> Ver Candidatos </span></button>
												</td>    
										</tr>
								</tbody>
							</table> 
						</div>
					</div>
				</div>
			</div>
		</div>
				<!-- Aparecera cuando se quiera ingresar un nuevo candidato -->
			<!--	<div>candidato  a agergar : {{this.candidato |json }}</div>
				<div>documento a agergar : {{this.documentoRecurso |json }}</div> -->
		<div class="box" [hidden]="!myVar">
			<div class="box-header with-border">
				<div class="row">
					<div class="col-md-2">
						<label class="text-left subtitle">
							Datos Candidato
						</label> 
					</div>
					<div class="col-md-10">
						<button (click)="this.ocultarDiv();" type="button" class="btn btn-default btn-xs"><i class="fa fa-plus"></i><span> Ocultar </span> </button>
						&nbsp;&nbsp; 
							<a routerLink="../../nuevaPersona">
							<button type="button" class="btn btn-default btn-xs"><i class="fa fa-plus"></i><span>  Mantenimiento de Personas</span> </button>
						</a>
					</div>
				</div>		
			</div>
			<div class="box-body">	
				<div class="row">
					<div class="col-md-9">
						<form class="form-horizontal" role="form">

							<div class="form-group">
								<label for="inputEmailE" class="col-sm-3 control-label">
									Nombre :
								</label>
								<div class="col-sm-9">
									<input 
									name="nombreConpleto" 
									[(ngModel)]="this.candidato.strNombreCompleto" type="text"  disabled class="form-control input-sm" id="inputEmailE" placeholder="Nombre ">
								</div>
							</div>
							
							<div class="form-group">
								<label for="inputEmailE" class="col-sm-3 control-label">
									DNI :
								</label>
								<div class="col-sm-6">
									<input name="DNI"
									[(ngModel)]= this.candidato.strDNI
									type="number"  disabled class="form-control input-sm" id="inputEmailE" placeholder="DNI">
								</div>
							</div>
							 
							<div class="form-group">
									<label for="inputEmail3" class="col-sm-3 control-label">
										Currículum :
									</label> 
									<div class="col-sm-8"> 	
											<input 
											name="curriculum"
											[(ngModel)]= this.dirCurriculum
											(change)="this.changeFileCurriculum($event.target.files);"
											type="file" class="form-control input-sm"  placeholder="Curriculum"
											id="file" 
											>
									 </div> 
								</div>

								<!-- grooup para indicar el cv existente -->
								<div class="form-group">
										<label for="inputEmail3" class="col-sm-3 control-label">
											
										</label>  
										 <div class="col-sm-8"  [hidden]=!this.existCV>
												CV Actual :  {{this.candidato.strNameCurriculum}} 
											<button  (click)=this.descargarCurriculum(this.documentoRecurso.strDocAlfrescoId); type="button" class="btn btn-default btn-xs">
												<i class="fa fa-download"></i><span> Descargar </span> </button>
										 
										</div> 
										<div class="col-sm-3"   [hidden]=!cvNotFound > 	
												{{responseCVnotFound  }}
											</div> 
								</div>	
								<div class="form-group">
									<label for="inputEmail3" class="col-sm-3 control-label">
										Observación :
									</label>
									<div class="col-sm-9"> 	
										<input name="observacion"
										[(ngModel)]= this.candidato.strObservacion type="text" class="form-control input-sm" id=":)" placeholder="Observación">
									</div>
								 </div>		
						</form>	
					</div>
					<div class="col-md-1"></div>
					<div class="col-md-2"><br>
						<form class="form-horizontal" role="form">
								<div class="form-group">
										<div class="col-md-12">
												<cf-modal-buscar-persona-natural 
												[titulo] = "this.tittleModalBuscarCandidato"
												iconBoton = ""
												nameBoton = "Buscar"
												classBoton = "btn form-control input-default btn-default"
												(selectPersonaN)="selectCandidato($event)"

													>
												</cf-modal-buscar-persona-natural>

												<!--<button  (click)="openModal(contentBuscarCandidato)" type="button" class="btn form-control input-default btn-default">
													<i class="fa fa-search"></i><span> Buscar</span> </button>  -->
										</div>
									</div>
								<div class="form-group" >
									<div class="col-md-12" >
										<button   id="btnAddCandidato"  [disabled]='this.candidato.strDNI==null'
										(click)="addCandidato();" type="button" class="btn form-control input-default btn-default">
											Agregar 
										</button>  
									</div>
								</div>
								<div class="form-group">
									<div class="col-md-12">
										<button id="btnContactos" (click)="limpiarCandidato();" type="button" class="btn form-control input-default btn-default">
											Limpiar 
										</button>
									</div>		
								</div>
						</form>		
					</div>
				</div>
			</div>
		</div>
	 <!--   candidatos obtenidos  :  {{ candidatos | json}}   -->
			<div class="box" [hidden]=!this.isSelectPS>
					<div class="box-header with-border">
						<div class="row">
							<div class="col-md-12">
								<label class="text-right  subtitle">
									Candidatos del Perfil {{this.perfilServicio.strPerfil}} &nbsp;&nbsp;
								</label> 
									<button (click)="this.saveRegistros(this.candidatos);"   
									[disabled]=!this.isSelectPS
									 type="button" class="btn btn-default btn-xs"><i class="fa fa-save"></i><span> Guardar Candidatos </span> </button>
								</div>
 						</div>				
					</div>
 
					 <div></div>
				<!-- candidatosTemp obtenidos  :  {{ this.candidatos | json}} -->
					<div class="box-body">
						<div class="row">
							<div class="col-md-12">
								<div class="table-responsive">
								<table class="table table-hover table-bordered text-center">
									<thead class="text-center">
										<tr class="active">
											<th>#</th>
											<th>Nombre Completo</th>
											<th>DNI</th>
											<th>Curriculum</th>
											<th>Observacion</th>
											<th>Gestion</th> 
											<th>Propuesta</th>
										</tr>
									</thead>
									<tbody >
											<tr *ngFor="let c of candidatos"  > 
													<!--<td>{{ candidatos.indexOf(c)+1}}</td>-->
													<td>{{ c.intId}}</td>
													<td>{{ c.strNombreCompleto}}</td>
													<td>{{ c.strDNI}}</td>
													<td>
															{{ c.strNameCurriculum }}
																<button [hidden]=!c.boolGetDocAlfresco
																 (click)=this.descargarCurriculum(c.objDocumentoRecursoBean.strDocAlfrescoId); type="button" class="btn btn-default btn-xs">
																		<i class="fa fa-download"></i><span> Descargar </span> </button>
														 </td> 
													<td>{{ c.strObservacion }}</td>
													<td>
														<button (click)="this.seleccionarCandidato(c);openModal(edicionCandidato);" type="button" class="btn btn-default btn-xs"><i class="fa  fa-edit"></i><span> Editar</span></button>
														<button (click)="this.seleccionarCandidato(c);openModal(confirmarEliminarCandidato);" type="button" class="btn btn-default btn-xs"><i class="fa  fa-close"></i><span> Eliminar</span></button>
												   </td>  
													<td><input #check
														[checked] = c.boolPreelegido  (change)= "c.boolPreelegido = !c.boolPreelegido; this.cambiarEstado(c);"
														type="checkbox" name="modalidad" > 
														
														<cf-modal-detalle-pago
														[candidato] = c 
														[checkSelect] = c.boolPreelegido
														[viewAgregar] = true
														tituloModal ="Propuesta Económica"
														nameBotton = "Propuesta"
														iconBotton="fa fa-dollar"
														(Respuesta)="this.recibirRespuesta($event)"		
														></cf-modal-detalle-pago>
															</td>    
												  </tr>
									</tbody>
								</table>
									<div class="message-error" >
											{{messageNotFoundCandidatos}}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
		<!--Modal registro exitoso servicios-->
 
<!-- Modal content  -->
			<ng-template #contentRegistroExitoso let-c="close" let-d="dismiss"> 
				<div class="modal-header" style="padding:20px 20px;">		  
						<div class="row">
							<div class="col-md-12">
								<b>	<span class="fa  fa-check-circle fa-x2"> </span>  Mensaje de Información </b>
							</div>
						</div>
						<br>
					</div>
					<div class="modal-body" style="padding:10px 30px;">
							<div class="row">
									<div class="col-md-1">
									</div>
								<div class="col-md-10">
									<form class="form-horizontal" role="form">
											<div class="form-group">
													<label for="inputEmail3" class="col-sm-12 control-label text-left">	
														Atención : <br>
															1.- {{this.messageResponseRegistrarPropuesta}}<br>
															2.- {{this.messageResponseRegistrarPropuesta2}}<br>
													</label>    
											</div> 
									</form>
								</div>
							</div>
					</div>
					<div class="modal-footer">
							<div class="col-md-3"></div>
							<div class="col-md-6"></div>	 
						<div class="col-md-3"> 
							<button (click)="this.modalRef.close();this.redireccionar();" type="submit" class="btn btn-success" data-dismiss="modal" >Aceptar</button>
						 </div>
						 
					</div>
			
				</ng-template>
				<ng-template #errorSistema let-c="close" let-d="dismiss"> 
					<div class="modal-header" style="padding:20px 20px;">		  
							<div class="row">
								<div class="col-md-12">
									<b><span class="fa  fa-exclamation-triangle"> </span> Problema Encontrado</b> 
								</div>
							</div>
					</div>
					<div class="modal-body" style="padding:10px 30px;">
						<br>
							<div class="row">
									<div class="col-md-1">
									</div>
								<div class="col-md-10">
									<form class="form-horizontal" role="form">
											<div class="form-group">
												<label for="inputEmail3" class="col-sm-12 control-label text-left">	
													Atención : <br> 
													1.- {{this.messageErrorSistema}}.<br>
												</label>    
											</div> 
									</form>
								</div>
							</div>
					</div>
					<div class="modal-footer"> 
						 <button (click)="this.modalRef.close();" type="submit" class="btn  btn-success" data-dismiss="modal" >Aceptar</button>
					</div> 
				</ng-template>  

		 <!-- Modal Registro Exitoso -->	 
<!-- Modal content 
		 <div class="modal-content">-->
			<ng-template #edicionCandidato let-c="close" let-d="dismiss">  
				<div class="modal-header" style="padding:20px 20px;">		  
						<div class="row">
							<div class="col-md-12">
								<b><span class="fa fa-check-circle "></span> Editar Candidato  </b>
							</div>
						</div>
					</div>  	
					<div class="modal-body" style="padding:10px 40px;">
							<div class="row"> 
								<div class="col-md-12">
									<form class="form-horizontal" role="form">
										<div class="form-group">
											<label for="inputEmailE" class="col-sm-3  control-label">
												Nombre :
											</label>
											<div class="col-sm-8">
												<input 
												name="nombreConpleto" 
												[(ngModel)]="this.candidatoSelect.strNombreCompleto"
													type="text"  disabled class="form-control input-sm" id="inputEmailE" placeholder="">
											</div>
										</div> 
										<div class="form-group">
											<label for="inputEmailE" class="col-sm-3 control-label">
												DNI :
											</label>
											<div class="col-sm-6">
												<input name="DNI"
												[(ngModel)]= this.candidatoSelect.strDNI
												type="number"  disabled class="form-control input-sm" id="inputEmailE" placeholder="">
											</div>
										</div>  
									<!--
											<div class="form-group">
												<label for="inputEmaila" class="col-sm-3 control-label">
												Nuevo Currículum :
												</label> 
												<div class="col-sm-8"> 	
														<input 
														name="curriculum2" 
														type="file" class="form-control input-sm"  placeholder=""
														id="file2" 
														>
												</div> 
													<div class="col-sm-8"> 	
														<input 
														name="curriculum2"
														[(ngModel)]= this.dirCurriculum
														(change)="this.changeFileCurriculum($event.target.files);"
														type="file" class="form-control input-sm"  placeholder=""
														id="file2" 
														>
														
													</div> 
												 
										</div> 
									-->
											<!-- grooup para indicar el cv existente -->
											<!--
											<div class="form-group">
													<label for="inputEmail3" class="col-sm-3 control-label">  
													</label>  
														<div class="col-sm-8"  [hidden]=!this.existCV>
															CV Actual :  {{this.candidatoSelect.strNameCurriculum}} 
														<button  (click)=this.descargarCurriculum(this.documentoRecurso.strDocAlfrescoId); type="button" class="btn btn-default btn-xs">
															<i class="fa fa-download"></i><span> Descargar </span> </button>
													 </div> 
													<div class="col-sm-3"   [hidden]=!cvNotFound > 	
															{{ responseCVnotFound  }}
													</div> 
											</div>	
											-->
											<div class="form-group">
												<label for="inputEmail3" class="col-sm-3 control-label">
													Observación :
												</label>
												<div class="col-sm-9"> 	
														<textarea name="observacion"
														[(ngModel)]=this.candidatoSelect.strObservacion class=" form-control input-sm" 
														  id="TextArea"  rows="2" placeholder="Observación sobre el candidato.">
														  </textarea>
												 </div>
											</div>	
										</form>
								</div>
							</div>
						</div>
					<div class="modal-footer">  
							<div class="col-md-3"></div>
							<div class="col-md-3">
									<button (click)="this.editarCandidato(this.candidatoSelect);this.modalRef.close();" type="submit" class="btn form-control input-sm btn-success" data-dismiss="modal" >Aceptar</button>
							</div>
							<div class="col-md-3">
									<button (click)="this.modalRef.close()" type="submit" class="btn form-control input-sm btn-danger" data-dismiss="modal" >Cancelar</button>
							</div>
							<div class="col-md-3"></div> 
					 </div>
			
				</ng-template>
		 <!-- Modal Registro Exitoso -->	

<!-- Modal content 
		 <div class="modal-content">-->

			<ng-template #confirmarEliminarCandidato let-c="close" let-d="dismiss"> 
					<div class="modal-header" style="padding:20px 20px;">		  
						<div class="row">
							<div class="col-md-12">
									<b><span class="fa  fa-check-circle "> </span> Mensaje de Información </b>
							</div>
						</div>
					</div>
					<div class="modal-body" style="padding:10px 30px;">
							<div class="row">
									<div class="col-md-1">
									</div>
								<div class="col-md-10">
									<form class="form-horizontal" role="form">
											<div class="form-group">
													<label for="inputEmail3" class="col-sm-12 control-label text-left">	
														Atención : <br>
														1.- Se Eliminará al Candidato del Servicio. <br>
														2.- Se Eliminará las propuestas económicas del Candidato.
													</label>    
											</div> 
									</form>
								</div>
							</div>
						</div>
					<div class="modal-footer"> 
						<div class="col-md-3"></div>
						<div class="col-md-3">
							<button (click)="this.deleteCandidato(this.candidatoSelect);this.modalRef.close();" type="submit" class="btn form-control input-sm btn-success" data-dismiss="modal" >Aceptar</button>
						</div>
						<div class="col-md-3">
							<button (click)="this.modalRef.close()" type="submit" class="btn form-control input-sm btn-danger" data-dismiss="modal" >Cancelar</button>
						</div>
						<div class="col-md-3"></div>
					 </div>
			
				</ng-template>
		 <!-- Modal Registro Exitoso -->	

	<!--	Antes de enviar el servicio al usuario 2 se validaran las fechas finales del servicio .-->
		<div class="col-md-1">
		</div>
		<div class="col-md-10">
			<div class="col-sm-4"> 
					<button (click)="this.exportarResumenCostos();"
					[disabled]=!this.isRegComplet
					 type="button" class="btn form-control input-sm btn-default">
						<i class="fa fa-file-excel-o"></i><span></span> Exportar Resumen de Costos
		 			</button>
			</div>
			<div   class="col-sm-4"> 
				<button  
					(click)="this.registrarPropuesta();"
					[disabled]=!this.isRegComplet
					type="button" class="btn form-control input-sm btn-default">
					Registrar Propuesta
				</button> 
				 
			</div>
			<div class="col-sm-4">
					<cf-go-back></cf-go-back> 
			</div>
		</div>
		<div class="col-md-1">
		</div>
		</div>
	</div>
</div> 
</section>
</div>
</div>