<!--Inicio de pagina  -->
<ngx-spinner
bdColor = "rgba(51, 51, 51, 0.8)"
size = "large"
color = "#fff"
type = "ball-clip-rotate"
>
</ngx-spinner> 
<cf-header></cf-header>
<cf-nav></cf-nav>
<div class="wrapper"> 
<div class="content-wrapper">
<section class="content"> 
    <div class="box2">
	<div class="row"> 
		<div class="col-md-12 margen">	
			<h2 class="title text-center">
				FACTURACIÓN 
			</h2>
			<br>
			<div class="box">
				<div class="box-header with-border"> 
					<div class="row">
						<div class="col-md-12">
							<label class="text-left subtitle">
								Datos de Facturación
							</label>
						</div>
					</div>
				</div>	
				<div class="box-body">					
					<div class="row">
						<div class="col-md-12">
							<form class="form-horizontal" role="form">
								<div class="form-group">
									<label for="inputtext3" class="col-sm-2 control-label">
										Cliente
									</label>
								 	<div class="col-sm-10">
										<input
										name ="strNombreCliente" 
										 [(ngModel)]=this.facturacion.strNombreCliente 
										 type="text" disabled class="form-control input-sm" id="inputtext3" placeholder="Razón Social">
									</div> 
								</div>
								<div class="form-group">
									<label for="inputPassword3" class="col-sm-2 control-label">
										Concepto
									</label>
								 	<div class="col-sm-10">
										<input 
										name="strNombreServicio"
										[(ngModel)]=this.facturacion.strNombreServicio
										type="text" disabled class="form-control input-sm" id="inputtext3" placeholder="Nombre Servicio">
									</div>	 
								</div> 
								<div class="form-group">
										<label for="strNroFactura" class="col-sm-2 control-label">
												Nro. Factura
										</label>
										<div class="col-sm-5">
												<input 
												name=this.facturacion.strNroFactura 
												[(ngModel)]=this.facturacion.strNroFactura 
												type="text" disabled class="form-control input-sm" id="strNroFactura" placeholder="0000-000000">
										</div> 
										<label for="inputPassword3" class="col-sm-2 control-label">
												Moneda
											</label>
											<div class="col-sm-3">
												<input
												name="strMoneda"
												[(ngModel)]=this.facturacion.strMoneda
												type="text" disabled class="form-control input-sm" id="inputtext3" placeholder="moneda">
											</div>
								</div> 
								<div class="form-group">
										<label for="inputPassword3" class="col-sm-2 control-label">
												Fecha Emisión
										</label>
										<div class="col-sm-4">
												<input
												name="dtFechaEmision"
												[(ngModel)]=this.facturacion.dtFechaEmision
												type="date" disabled class="form-control input-sm" id="inputtext3" placeholder="Fecha Emisión">
										</div>
										<label for="inputPassword3" class="col-sm-2 control-label">
												Fecha Pago  
										</label>
										<div class="col-sm-4">
												<input 
												name="dtFechaPago"
												[(ngModel)]=this.facturacion.dtFechaPago 
 												type="date" disabled class="form-control input-sm" id="inputtext3" placeholder="Fecha Pago">
										</div>
									</div> 
									<div class="form-group"> 
											<label for="inputPassword3" class="col-sm-2 control-label">
												SubTotal
											</label>
											<div class="col-sm-4"> 
												<input
												name="dbSubTotal"
												 [(ngModel)]=this.facturacion.dbSubTotal
												type="text"  
												currencyMask [options]="{align:'left' , prefix: '', thousands: ',', decimal: '.' ,precision:2}"
												 disabled class="form-control input-sm" id="inputtext3" placeholder="00.00">
												  
											</div>	  
											<label for="inputPassword3" class="col-sm-2 control-label">
												IGV
											</label>
											<div class="col-sm-4">
												<input 
												name="dbIGV"
												 [(ngModel)]=this.facturacion.dbIGV
												currencyMask [options]="{align:'left' , prefix: '', thousands: ',', decimal: '.' ,precision:2}"
												type="text" disabled class="form-control input-sm" id="inputtext3" placeholder="00.00">
											</div>	 
									</div> 
									<div class="form-group"> 
										<label for="inputPassword3" class="col-sm-2 control-label">
											Total
										</label>
										<div class="col-sm-4">
											<input  
											name="dbTotal"
											[(ngModel)]=this.facturacion.dbTotal  
											currencyMask [options]="{align:'left' , prefix: '', thousands: ',', decimal: '.' ,precision:2}"
											type="text" disabled class="form-control input-sm" id="inputtext3" placeholder="00.00">
										</div>	  
									</div> 
									<div class="form-group">  
										<label for="inputPassword3" class="col-sm-2 control-label">
											Detracción
										</label>
										<div class="col-sm-4">
											<input
											name="dbDetraccion" [(ngModel)]=this.facturacion.dbDetraccion
											currencyMask [options]="{align:'left' , prefix: '', thousands: ',', decimal: '.' ,precision:2}"
											type="text" disabled class="form-control input-sm" id="inputtext3" placeholder="00.00">
										</div>	  
										<label for="inputPassword3" class="col-sm-2 control-label">
											Abono con Detracción 
										</label>
										<div class="col-sm-4">
											<input 
											name="dbAbonoDetraccion"
											[(ngModel)]=this.facturacion.dbAbonoDetraccion
											currencyMask [options]="{align:'left' , prefix: '', thousands: ',', decimal: '.' ,precision:2}"
											type="text" disabled class="form-control input-sm" id="inputtext3" placeholder="00.00">
										</div>	 
									</div> 
									<div class="form-group"> 
											<label for="inputPassword3" class="col-sm-2 control-label">
												Estado 
											</label>
											<div class="col-sm-4">
												<input
												name="strEstado" 
												[(ngModel)]=this.facturacion.strEstado
												type="text" disabled class="form-control input-sm" id="inputtext3" placeholder="Estado">
											</div>	   
										</div> 
							</form>
						</div> 
					</div>
					</div>
				</div>
			<div class="box" [hidden]=!blIsServicioDestaque>
				<div class="box-header with-border">					
					<div class="row">
						<div class="col-md-12">
							<label class="text-left subtitle">
								 Recursos a Facturar
							</label>
						 </div>
					</div>	
				</div>	 
		 		<div class="box-body">
						<div class="row">
							<div class="col-md-12">
								<div class="table-responsive">
								<table class="table table-hover table-bordered text-center">
									<thead>
										<tr class="active">
											<th>#</th>
											<th>Nombre</th>
											<th>Perfil</th> 
											<th>Modalidad : Sueldo Base </th>   
										</tr>
									</thead>
									<tbody>
										<tr *ngFor="let fd of this.facturacionesDetalle">
										 	<td>{{ this.facturacionesDetalle.indexOf(fd)+1 }}</td> 
											<td>{{ fd.strNombreCompleto }}</td>
											<td>{{ fd.strPerfil }}</td> 
											<td>{{ fd.strModalidadSueldo }}</td>  
										</tr>	
									</tbody>
								</table>
								<div class="message-error">
									{{this.messageNotFoundFacturacionDetalle}}
								</div>
								</div>
							</div>
						</div>
					</div>
			</div>	 


			<div class="box" [hidden]=blIsServicioDestaque>
				<div class="box-header with-border">					
					<div class="row">
						<div class="col-md-12">
							<label class="text-left subtitle">
								 Entregables Facturados
							</label>
						 </div>
					</div>	
				</div>	 
		 		<div class="box-body">
						<div class="row">
							<div class="col-md-12">
								<div class="table-responsive">
								<table class="table table-hover table-bordered text-center">
									<thead>
										<tr class="active">
											<th>#</th>
											<th>Entregable</th>
											<th>Descripcion Entregable</th> 
											<th>Monto</th>   
										</tr>
									</thead>
									<tbody>
										<tr *ngFor="let fd of this.facturacionesDetalle">
										 	<td>{{ this.facturacionesDetalle.indexOf(fd)+1 }}</td> 
											<td>{{ fd.strPerfil }}</td>
											<td>{{ fd.strDescripcion }}</td> 
											<td>{{ fd.dbMonto }}</td>  
										</tr>	
									</tbody>
								</table>
								<div class="message-error">
									{{this.messageNotFoundFacturacionDetalle}}
								</div>
								</div>
							</div>
						</div>
					</div>
			</div>	 


			<div class="row">
				<div class="col-md-3">  </div>
				<div class="col-md-3">
				<!-- 		
					<button  
						 type="button" class="btn form-control btn-xs input-sm btn-default "><i class="fa  fa-refresh"></i><span> Marcar como Facturado</span>
					</button>
				-->
				</div>
				<div class="col-md-3">
					<cf-go-back></cf-go-back>
				</div>
				<div class="col-md-3">  
				</div> 
			</div>
				 
			 <!-- Modal Registro Exitoso -->	
		</div>
	</div>
</div>
</section>
</div>
</div>