<!--Inicio de pagina  -->
<ngx-spinner
bdColor = "rgba(51, 51, 51, 0.8)"
size = "large"
color = "#fff"
type = "ball-clip-rotate"
>
</ngx-spinner> 
<cf-header></cf-header>
<cf-nav></cf-nav>
<div class="wrapper"> 
<div class="content-wrapper">
<section class="content"> 
    <div class="box2">
	<div class="row"> 
		<div class="col-md-12 margen">	
			<h2 class="title text-center">
				SERVICIO A FACTURAR
			</h2>
			<br>
			<div class="box">
				<div class="box-header with-border"> 
					<div class="row">
						<div class="col-md-12">
							<label class="text-left subtitle">
								Datos del Servicio
							</label>
						</div>
					</div>
				</div>	
				<div class="box-body">					
					<div class="row">
						<div class="col-md-12">
							<form class="form-horizontal" role="form">
								<div class="form-group">
									<label for="inputtext3" class="col-sm-2 control-label">
										Ciente :
									</label>
								 	<div class="col-sm-10">
										<input value={{this.servicioFacturacion.strNombreCliente}} 
										 type="text" disabled class="form-control input-sm" id="inputtext3" placeholder="Razón Social">
									</div> 
								</div>
								<div class="form-group" >
										<label for="inputPassword3" class="col-sm-2 control-label">
											RUC :
										</label>
										 <div class="col-sm-10">
											<input value={{this.servicioFacturacion.strRUC}}
											type="text" disabled class="form-control input-sm" id="inputtext3" placeholder="Nombre Servicio">
										</div>	 
									</div> 

								<div class="form-group" >
									<label for="inputPassword3" class="col-sm-2 control-label">
										Servicio
									</label>
								 	<div class="col-sm-10">
										<input value={{this.servicioFacturacion.strNombreServicio}}
										type="text" disabled class="form-control input-sm" id="inputtext3" placeholder="Nombre Servicio">
									</div>	 
								</div> 
							</form>
						</div> 
					</div>
					</div>
				</div>
			<div class="box" [hidden]=!this.blIsServicioDestaque>
				<div class="box-header with-border">					
					<div class="row">
						<div class="col-md-12">
							<label class="text-left subtitle">
								Recursos del Servicio
							</label>  &nbsp; &nbsp; &nbsp; 
							<cf-modal-registrar-facturacion 
							[strNombreCliente] = this.servicioFacturacion.strNombreCliente
							[strNombreServicio] = this.servicioFacturacion.strNombreServicio
							[facturacionesDetalle] = this.facturacionesDetalle
							[blIsServicio]=this.blIsServicioDestaque
							(returnFacturacion)= "this.recibirFacturacion($event)" 
							></cf-modal-registrar-facturacion> 
							 <div class="message-success">{{this.responseMessageSaveFacturacion}}</div>
						</div>
					</div>	
				</div>	 
			 <!-- <div> detalles a facturar : {{ this.facturacionesDetalle | json }}	</div> -->
		 		<!-- <div> detalles seleccionados : {{ this.detallesSeleccionados | json }}	 </div> -->
				<div class="box-body">
						<div class="row">
							<div class="col-md-12">
								<div class="table-responsive">
								<table class="table table-hover table-bordered text-center">
									<thead>
										<tr class="active">
											<th>#</th>
											<th>Nombre</th>
											<th>Perfil</th>
											<th>Estado</th>
											<th>Modalidad : Sueldo Base </th>   
										</tr>
									</thead>
									<tbody>
										<tr *ngFor="let fd of this.facturacionesDetalle">
											<td>
													<input 
													[disabled] = fd.isDisabled
													type="checkbox" id="CTS"    
													name ="select"
													[(ngModel)]= fd.blSeleccionado >
											</td>
											<td>{{fd.strNombreCompleto}}</td>
											<td>{{fd.strPerfil}}</td>
											<td>{{fd.strCancelado}}</td> 
											<td>  {{fd.strModalidadSueldo}} 
											</td>  
										</tr>	
									</tbody>
								</table>
								<div class="message-error">
									{{this.messageNotFoundFacturacionDetalle}}
								</div>
								</div>
							</div>
						</div>
					</div>
			</div>	
			<div class="box" [hidden]=this.blIsServicioDestaque>
					<div class="box-header with-border">					
						<div class="row">
							<div class="col-md-2">
								<label class="text-left subtitle">
									Entregables
								</label>
							</div>
							<div class="col-md-10">
								<cf-modal-registrar-facturacion 
								[strNombreCliente] = this.servicioFacturacion.strNombreCliente
								[strNombreServicio] = this.servicioFacturacion.strNombreServicio
								[blIsServicio]=this.blIsServicioDestaque
								[facturacionesDetalle] = this.facturacionesDetalle
								(returnFacturacion)= "this.recibirFacturacion($event)" 
								></cf-modal-registrar-facturacion> 
								 <div class="message-success">{{this.responseMessageSaveFacturacion}}</div>
							</div>
						</div>	
					</div>	 
				 	<div class="box-body">
							<div class="row">
								<div class="col-md-12">
									<div class="table-responsive">
									<table class="table table-hover table-bordered text-center">
										<thead>
											<tr class="active">
												<th>#</th>
												<th>Entregable</th> 
												<th>Descripción</th> 
												<th>Estado</th>
												<th>Monto</th>
											</tr>
										</thead>
										<tbody>
											<tr *ngFor="let fd of this.facturacionesDetalle">
												<td>
														<input 
														[disabled] = fd.isDisabled
														type="checkbox" id="CTS"    
														name ="select"
														[(ngModel)]= fd.blSeleccionado >
												</td>
												<td>{{fd.strPerfil}}</td> 
												<td>{{fd.strDescripcion}}</td> 
												<td>{{fd.strCancelado}}</td>  
												<td>{{fd.dbMonto  | number:'3.2-2'}}</td>  
											</tr>	
										</tbody>
									</table>
									<div class="message-error">
										{{this.messageNotFoundFacturacionDetalle}}
									</div>
									</div>
								</div>
							</div>
						</div>
				</div>
			<div class="box" >
					<div class="box-header with-border">			
						<div class="row">
							<div class="col-md-2">
								<label class="text-left subtitle">
									Documentos
								</label> 
							</div>
							<!--
							<div class="col-md-8">
								<cf-modal-documento-servicio
								[servicio] = this.servicio.strNombreServicio
								[razonSocial]= this.servicio.strNombreCliente
								nameBoton= " Agregar Documento"
								 iconBoton="fa fa-plus"
								 [tipoEvento] = 1 
								 titulo = "Agregar Documento"
								classBoton="btn btn-default btn-xs"
								(newDocumentoServicio)="this.recibirNewDocumentoServicio($event)"
								(newFileToUpload)="this.recibirNewFile($event)"
								></cf-modal-documento-servicio>
								{{this.responseNotSave}}
							</div> 
							---->
						</div>
					</div>
				<!--  	 <div>Documentos Servicio Alfresco : {{documentosServicio | json }} </div>-->
				<!--	 <div>Documento Servicio  		: {{documentoServicio | json }} </div>
				-->
				
					 <div class="box-body">	
						<div class="row">
							<div class="col-md-12">
								<div class="table-responsive">
								<table class="table table-hover table-bordered text-center">
									<thead class="text-center">
										<tr class="active">
											<th>#</th>
											<th> Tipo Documento</th>
											<th>Archivo</th>
											<th>Observacion</th> 
											<th>Opciones</th>
										</tr>
									</thead>
									<tbody> 
										<tr *ngFor="let documento of documentosServicio">
											<td>{{documentosServicio.indexOf(documento)+1}}</td>
											<td>{{documento.strTipoDocumento}}</td>
											<td>
												{{documento.strNombreDocumento}} 
												<!-- Se quito la funcion ver documento pues falta implementarlo adecuadamente--> 
												<!--<button (click)="this.verDocumentoServicio(documento.strDocAlfrescoId)" type="button" class="btn btn-default btn-xs"><i class="fa  fa-eye"></i><span> Ver </span> </button>-->
											</td>
									 		<td>{{documento.strObservacion}}</td>
											<td>		 
													<button (click)= "this.vistaPreviaDocumento(documento.strDocAlfrescoId)" type="button" class="btn btn-default btn-xs"><i class="fa  fa-eye"></i><span> Vista Previa </span> </button>
												<button (click)= "this.descargarDocumento(documento.strDocAlfrescoId)" type="button" class="btn btn-default btn-xs"><i class="fa  fa-download"></i><span> Descargar </span> </button>
											  <!--	<button (click)= "this.deleteDocumento(documento)" type="button" class="btn btn-default btn-xs"><i class="fa  fa-remove"></i><span> Eliminar</span></button>-->
											</td>
										</tr> 
									</tbody> 
								</table>
								{{this.responseNotFoundDocumentos }}
								</div>
							</div>
						</div>
					</div>
				</div>

			<div class="row">
				<div class="col-md-3">  </div>
				<div class="col-md-3">
						<button (click)= "this.openModal(contentConfirmacionUpdate);" 
						 type="button" class="btn form-control btn-xs input-sm btn-default "><i class="fa  fa-refresh"></i><span> Marcar como Facturado</span> </button>
					</div>
				<div class="col-md-3">
					<cf-go-back></cf-go-back>
				</div>
				<div class="col-md-3"> 
					
				</div>

				</div>
				<ng-template #contentConfirmacionUpdate let-c="close" let-d="dismiss"> 
						<div class="modal-header" style="padding:20px 20px;">		  
							<div class="row">
								<div class="col-md-12">
										<b><span class="fa  fa-check-circle "> </span> Mensaje de Información </b>
								</div>
							</div>
						</div>
						<div class="modal-body" style="padding:10px 30px;">
								<div class="row">
										<div class="col-md-1">
										</div>
									<div class="col-md-10">
										<form class="form-horizontal" role="form">
												<div class="form-group">
														<label for="inputEmail3" class="col-sm-12 control-label text-left">	
															Atención : <br>
															1.- Se registrará el servicio como Facturado. <br> 
														</label>    
												</div> 
										</form>
									</div>
								</div>
							</div>
						<div class="modal-footer"> 
							<div class="col-md-3"></div>
							<div class="col-md-3">
								<button (click)="this.marcarComoFacturado(this.servicioFacturacion);this.modalRef.close();" type="submit" class="btn form-control input-sm btn-success" data-dismiss="modal" >Aceptar</button>
							</div>
							<div class="col-md-3">
								<button (click)="this.modalRef.close()" type="submit" class="btn form-control input-sm btn-danger" data-dismiss="modal" >Cancelar</button>
							</div>
							<div class="col-md-3"></div>
						 </div>
				
					</ng-template>
			 <!-- Modal Registro Exitoso -->	
		</div>
	</div>
</div>
</section>
</div>
</div>