 <!--Inicio de pagina  -->
<cf-header></cf-header>
<cf-nav></cf-nav>
<div class="wrapper"> 
<div class="content-wrapper">
<section class="content"> 
    <div class="box2">
	<div class="row">
		<div class="col-md-12 margen" >
			<h2 class="text-center title ">
				GESTIÓN COLABORADOR
			</h2>
			<div class="box">
				<div class="box-header with-border">
					<div class="row">
						<div class="col-md-2">
							<label class="text-left subtitle">
								Datos Colaborador
							</label>
						</div>
						<div class="col-md-4">
							<button (click)="openModal(contentBusquedaPersona)" type="button" class="btn btn-default btn-xs"><i class="fa  fa-search"></i><span> Buscar Colaborador</span>
							</button>
						</div>
					</div>	
				</div>	

				Datos del colaborador Obtenido : {{ colaborador  | json}}
				<div class="box-body">	
					<div class="row">
						<div class="col-md-12">
							<form class="form-horizontal" role="form">
								<div class="form-group">
										<label  for="inputEmail3" class="col-sm-4 control-label">
												Nombre Completo: 
											</label>
											<div class="col-sm-8"> 
													<input 
													name="nombreConpleto" 
													[(ngModel)]="this.colaborador.strNombreCompleto" type="text"  disabled class="form-control input-sm" id="inputEmailE" placeholder="Nombre ">
										
											</div>
								</div>
								<div class="form-group">
										<label  for="inputEmail3" class="col-sm-4 control-label">
													DNI
										</label>
											<div class="col-sm-8"> 
												<input name="DNI"
												[(ngModel)]="this.colaborador.strDNI"
													type="text" class="form-control input-sm" id="inputEmail3"
														>
											</div>
								</div>			
								<div class="form-group">
										<label  for="inputEmail3" class="col-sm-4 control-label">
												Correo: 
											</label>
											<div class="col-sm-8"> 
												<input name="correo"
												[(ngModel)]="this.colaborador.strCorreo"
													type="text" class="form-control input-sm" id="inputEmail3"
														>
											</div>
								</div>
								<div class="form-group">
										<label  for="inputEmail3" class="col-sm-4 control-label">
												Teléfono: 
											</label>
											<div class="col-sm-8"> 
												<input name="telefonos"
												[(ngModel)]="this.colaborador.strTelefono"
													type="text" class="form-control input-sm" id="inputEmail3"
														>
											</div>
								</div>					
							</form>	
						</div>
						</div>
			     </div>
			</div>
	<!--Modal Busqueda de Personas-->
   
      <!-- Modal content-->
			<ng-template #contentBusquedaPersona let-c="close" let-d="dismiss">
					<div class="modal-header" style="padding:20px 20px;">		  
				<div class="row">
					<div class="col-md-12">
						<b><span class="glyphicon glyphicon-lock"></span> Buscar Personas  </b>
					</div>
				</div>
					<div></div>
					</div><br>
					<div class="modal-body" style="padding:10px 20px;">
				<div class="row">
					<div class="col-md-9">
						<form class="form-horizontal" role="form">
							<div class="form-group">
								<label  for="inputEmail3" class="col-sm-4 control-label">
									Nombres: 
								</label>
								<div class="col-sm-8"> 
									<input name="nombre"
									#inputNombre type="text" class="form-control input-sm" id="inputEmail3"
								 >
								</div>
							</div>	
							<div class="form-group">
								<label for="inputPassword3" class="col-sm-4 control-label">
										Ape. Paterno:
									</label>
								<div class="col-sm-8">
										<input name="apePaterno"
										#inputApePaterno type="text" class="form-control input-sm" id="inputEmail3" 

										>
								</div>
							</div>
							<div class="form-group">
								<label for="inputPassword3" class="col-sm-4 control-label">
									Ape. Materno:
								</label>
									
								<div class="col-sm-8">
									<input name="apeMaterno"
									#inputApeMaterno type="text" class="form-control input-sm" id="inputEmail3"
									
									>
								</div>
							</div>
	
						</form>
					</div>
					<div class="col-md-3">
						<div class="row">
							<div class="col-md-12">
								<button  (click)="buscarPersonas(inputNombre.value,inputApePaterno.value,inputApeMaterno.value)"  id="btnBuscar" 
								 type="button" class="btn form-control input-lg btn-default">
									Buscar
								</button> 
							</div>
							<div class="col-md-12">
									<br>
								<button (click)="limpiarBusquedaPersonas();" id="btnLimpiar" type="button" class="btn form-control input-lg btn-default">
									Limpiar 
								</button>
							</div>		
						</div>
					</div>
				</div>
	
				<div class="row">
					<div class="col-md-12">
						<div class="table-responsive">
						<table class="table table-hover table-bordered text-center">
							<thead>
								<tr class="active" >
									<th>#</th>
									<th>Nombre Completo</th>
									<th>DNI</th>
									<th>Teléfono</th>
									<th>Correo</th>
									<th>Opciones</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let persona of personas"> 	
									<td>{{personas.indexOf(persona)+1}}</td>
									<td>{{persona.strNombreCompleto}}</td>
									<td>{{persona.strDNI}}</td>
									<td>{{persona.strTelefono}}</td>
									<td>{{persona.strCorreo}}</td>
									<td>
										<button (click)="this.selectColaborador(persona.intId); this.modalRef.close();limpiarBusquedaPersonas()" type="button" class="btn btn-default btn-sm"><i class="fa  fa-edit"></i>Asociar Contacto</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					</div>
				</div>
				</div>
					<div class="modal-footer">
						<div class="col-md-8"></div>
						<div class="col-md-3">									
							<button  (click)="this.modalRef.close();limpiarBusquedaPersonas()" type="submit" class="btn btn-danger form-control  input-sm " data-dismiss="modal"><span class="fa fa-remove"></span> SALIR</button>
						</div>
					</div>
					</ng-template>
	
	<!-- Fin modal BuscarPersonas -->


			<div class="box">
				<div class="box-header with-border">
					<div class="row">
						<div class="col-md-2">
							<label class="text-right  subtitle">
								Resultados 
							</label>
						</div>
					</div>				
				</div>
				<div class="box-body">
					<div class="row">
						<div class="col-md-12">
							<div class="table-responsive">
							<table class="table table-hover table-bordered text-center">
								<thead class="text-center">
									<tr class="active">
										<th>ID Servicio</th>
										<th>Servicio</th>
										<th>Nombre Cliente</th>
										<th>Fecha Inicio</th>
										<th>Fecha Fin</th>
										<th>Opciones</th>
									</tr>
								</thead>
								<tbody>
									<tr  *ngfor servicio of servicios>
										<td>{{servicio.intAnexoId}}</td>
										<td>{{servicio.strNombreServicio}}</td>
										<td>{{servicio.strNombreCliente}}</td>
										<td>{{servicio.dtFechaInicioEsperada   | date:"dd/MM/yyyy"}}</td>
										<td>{{servicio.dtFechaFinEsperada   | date:"dd/MM/yyyy"}}</td>
										<td><a [routerLink]="['verServicio',servicio.intId]">
											<button type="button" class="btn btn-default btn-sm"><i class="fa  fa-eye"></i></button>
											</a>
										</td>
									</tr>

								</tbody>
							</table>
						</div>
						</div>
					</div>
				</div>
			</div>
				<div class="row">
					<div class="col-md-3">
			
					</div>
					<div class="col-md-6">
						<div class="col-sm-6">
						<button type="button" class="btn form-control input-sm btn-default">
							Aceptar
						</button> 
						</div>
						<div class="col-sm-6">
						<button type="button" class="btn form-control input-sm btn-default">
							Salir
						</button>
						</div>
					</div>
							<div class="col-md-3">
					</div>
				</div>
		</div>
	</div>

	</div>
 </section>
 </div>
 </div>
