 
 <ngx-spinner
 bdColor = "rgba(51, 51, 51, 0.8)"
 size = "large"
 color = "#fff"
 type = "ball-clip-rotate"
 ></ngx-spinner>
 <!--Inicio de pagina  -->
<cf-header></cf-header>
<cf-nav></cf-nav>
<div class="wrapper"> 
<div class="content-wrapper">
<section class="content">  
	<div class="box2">
	<div class="row">
		<div class="col-md-12 margen ">	
			<h2 class="title text-center ">
				 LIQUIDACIÓN DE RECURSO 
			</h2> 
			<br>
			<div class="box">
				<div class="box-header with-border">			
					<div class="row">
						<div class="col-md-12"> 
							<label class="text-left subtitle">
									Buscar de Recurso 
							</label>  
							&nbsp;&nbsp;&nbsp;
							<cf-modal-buscar-persona-natural 
							[titulo] = "this.tittleModalBuscarPN"
							(selectPersonaN)="selectPersonaN($event)"
							nameBoton = "Buscar Persona"
							iconBoton = "fa fa-search"
							classBoton = "btn btn-default btn-xs"	
								>
							</cf-modal-buscar-persona-natural>	 
						</div>	
					</div>	
				</div>	
				 <!--persona : {{ this.persona | json}} -->
				 <div class="box-body">
						<div class="row">
							<div class="col-md-12">
								<form class="form-horizontal" role="form">
									<div class="form-group">
											<label for="inputtext3" class="col-sm-2 control-label">
												Nombre :
											</label>
										<div class="col-sm-8">
											<input 
											name ="nombrePersona"
											[(ngModel)]="this.persona.strNombreCompleto"
											type="text" disabled  class="form-control input-sm" id="inputtext3" placeholder="Nombre ">
										</div>	
									</div>
									<div class="form-group">
												<label for="inputtext3" class="col-sm-2 control-label">
												DNI :
											</label>
										<div class="col-sm-4">
											<input 
											name ="DNIPersona"
											[(ngModel)]="this.persona.strDNI"
											type="text" disabled  class="form-control input-sm" id="inputtext3" placeholder="DNI">
										</div>
	
									</div>
										 
									</form>
							</div>
						</div>
					</div> 
				</div> 
			 <!-- 	 Lista de Bajas : {{this.bajas | json }}    -->
				 <div class="box">
						<div class="box-header with-border">					
							<div class="row">
								<div class="col-md-12">
									<label class="text-left  subtitle">
										Bajas del Recurso :
									</label>
								</div>
							</div>
						</div>	
						<div class="box-body">
							<div class="row">
								<div class="col-md-12">
									<div class="table-responsive">
									<table class="table table-hover table-bordered text-center">
										<thead>
											<tr class="active">
												<th>#</th> 
												<th>Empresa</th>
												<th>Modalidad</th>
												<th>Fecha de Cese</th>
												<th>Motivo</th>
												<th>Sueldo Base</th>	
												<th>Ver</th>
											</tr>
										</thead>
										<tbody>
											<tr *ngFor="let b of bajas"  > 
												<td>{{ bajas.indexOf(b)+1}}</td>
												<td>{{ b.strEmpresa}}</td>
												<td>{{ b.strModalidad }}</td>
												<td>{{ b.dtFechaCese  | date:"dd/MM/yyyy" }}</td>
												<td>{{ b.strMotivoCese }}</td> 
												<td>{{ b.dbSueldo | number:'3.2-2' }}</td>
												<td> 
													<button  (click) = "this.selectBaja(b);"  
													type="button" class="btn btn-default btn-xs"><i class="fa  fa-eye"></i><span> Pagos Comprometidos</span> </button>
	 											</td>
											  </tr>
		
										</tbody>
									</table>
									<div class="message-error">
										{{this.responseNotFoundBajas}}
									</div>
								</div>
								</div>
							</div>
						</div>
					</div>	
				<!--	Pagos : {{ this.pagos | json}} -->
					<!-- Pago : {{ this.pago | json}}-->
				<div class="box" [hidden]=this.hiddenDetallesBeneficios >
						<div class="box-header with-border">			
							<div class="row">
								<div class="col-md-12">
									<label class="text-left subtitle">
										Beneficios Obtenidos
									</label> 
								</div>	
							</div>	
						</div>	 
						<div class="box-body">
							<div class="row">
								<div class="col-md-12">
									<div class="table-responsive">
									<table class="table table-hover table-bordered text-center">
										<thead class="text-center">
											<tr class="active">
												<th># </th>
												<th>Concepto </th>
												<th>Monto</th>
												<th>Estado</th> 
												<th>Opciones</th>
											</tr>
										</thead> 
										<tbody>
											<tr *ngFor="let pg of pagos">  
												<td>{{pg.intId}}</td>
												<td>{{pg.strTipoPago}}</td>
												<td> 
													<div>
														<div class="col-md-8">  
															<input   [disabled]=pg.blCancelado [textMask]="{mask: currencyMask}"
																type="text"  class="form-control input-sm text-right" id=":)"
																name ="strMonto" placeholder="00.00"  [(ngModel)]="pg.strMonto" 
															> 
														</div>
														<div class="col-md-4"><button (click)="this.calcularMonto(pg);" [disabled]=pg.blCancelado type="button" class="btn btn-default  btn-xs "> <span>  <i class="fa  fa-search"></i> </span>Calcular  </button>
														</div>
													</div>
													<div class="message-error col-md-12">{{pg.strMessageMonto}}</div> 
												</td>
												<td> {{pg.strBlCancelado}} 
												</td> 
												<td>	 
													<button [disabled]=pg.blCancelado (click)="this.actualizarDetalleBaja(pg);" type="button" class="btn btn-default btn-xs"><i class="fa  fa-save"></i><span> Guardar </span> </button>
													<button (click)="this.emitirBoleta(pg);" type="button" class="btn btn-default btn-xs "><i class="fa  fa-print"></i><span> Emitir Boleta</span> </button>
												</td>
											</tr>
										</tbody>
									</table>
									<div class="message-error">
										{{this.responseNotFoundPagosComprometidos}}
									</div>
									</div>
								</div>
							</div>
						</div>
					</div>	
 
					<div class="row">
						<div class="col-md-2">
				
						</div>
						<div class="col-md-8">
							<div class="col-sm-4">
	
							</div>
							<div class="col-sm-4">
	
							</div>
							<div class="col-sm-4">
									<cf-go-back></cf-go-back>
									</div>
						</div>
								<div class="col-md-2">
						</div>
					</div>	 
		</div>
	</div>
</div> 
</section>
</div>
</div>