<!--<section class="content"> -->  
    <div class="login-box ">
      <div class="login-logo">
	  <!--<a href="pages/ts/Menu.html"><b>TOPStrategic</b><IMG SRC="dist/img/Logo TOPStrategic90x45.jpg"></a>  -->	
      </div><!-- /.login-logo -->
      <div class="login-box-body">
		<div>  
        <a routerLink="/">
          <IMG SRC="../../assets/img/logo_top_transparente.gif" class="img-responsive"  width=100% height=100%>
        </a>
    </div>
        <p class="login-box-msg"></p>
        <form action="pages/ts/Menu.html" method="post">	
  	<div class="form-group has-feedback">
        <input 
          name="strUsuario" 	 
          [(ngModel)]=  this.loginUser.username
        type="email" class="form-control" placeholder="UserName">
				<span class="glyphicon glyphicon-user form-control-feedback"></span>
			</div>
			<div class="form-group has-feedback">
        <input 
        name="strPassword" 	 
        [(ngModel)]=  this.loginUser.password
        type="password" class="form-control" placeholder="Password">
				<span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback message-error">
        {{this.messageError }}
      </div> 
      <div class="form-group has-feedback message-error">
        {{this.responseValidacion }}
      </div>  
          <div class="row"> 
            <div class="col-xs-8">
<!--              <div class="checkbox icheck">
                <label>
                  <input type="checkbox"> Remember Me
                </label>
              </div>
			  -->
            </div><!-- /.col -->
            <div class="col-xs-4"> 
                  <button (click)="this.validarAcceso();"   class="btn btn-primary btn-block form-control"> Ingresar</button> 
             </div><!-- /.col -->
          </div>
        </form>
<!--
        <div class="social-auth-links text-center">
          <p>- OR -</p>
          <a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Sign in using Facebook</a>
          <a href="#" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google-plus"></i> Sign in using Google+</a>
        </div>-->
        <!-- /.social-auth-links -->
       <!--
        <div> Datos loginUser : {{ this.loginUser | json }}</div>
        -->
     <!--  <div  class="col-md-12"> Token generado : {{ this.token | json }}</div>-->
        <!--
        <a href="#">I forgot my password</a><br>
		<a href="#" class="text-center">Register a new membership</a>--> 
        <!--
		<a href="register.html" class="text-center">Register a new membership</a>
-->
      </div><!-- /.login-box-body -->
    </div><!-- /.login-box -->
<!--</section>-->
    <!-- jQuery 2.1.4 -->