      <header class="main-header">

        <!-- Logo -->
        <div class="logo"></div>
       <!-- <a href="Menu.html" class="logo"> -->
          <!-- mini logo for sidebar mini 50x50 pixels -->
          <!--<span class="logo-mini "><b><img src="../../dist/img/logo_img.jpg"  width="48px" height="45px" ></b></span>-->
          <!-- logo for regular state and mobile devices
          <span class="logo-lg"><b><img src="../../dist/img/logo_top_transparente.gif" width="230px" height="45px"></b> </span> -->
       <!-- </a>-->
	
        <!-- Header Navbar -->
        <nav class="navbar navbar-static-top" role="navigation">
          <!-- Sidebar toggle button-->
          <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span> 
          </a>  
		 <div style="text-align:center"><span class="logo-lg "><b><img align:center class="img-responsive" src="assets/img/logo_top_transparente4.png" width="390px" height="80px"  ></b> </span> </div>
		</nav>
      </header>



