      <!-- Left side column. contains the logo and sidebar -->
      <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar"> 
          <!-- Sidebar user panel (optional) -->
          <div class="user-panel">
            <div class="pull-left image">
              <img src="assets/img/avatar5.png" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
              <p>{{this.usuario.strNombre}} {{this.usuario.strApellido}}</p>
              <!-- Status -->
              <!--<a routerLink="#">-->
                <i class="fa fa-circle text-success"></i> Estado (Online / Off)
              <!--</a>--> 
            </div> 
          </div> 
          <div class="user-panel sidebar-menu">  
            <li>
                 <a routerLink='/updatePassword'>   
                  <i class="fa  fa-unlock-alt"></i> <span>Cambiar Contraseña</span> </a></li>   
          </div> 
          <!-- search form (Optional) -->
  <!--        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
              <input type="text" name="q" class="form-control input-sm" placeholder="Search...">
              <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
              </span>
            </div>
          </form> -->
          <!-- /.search form -->
          <!-- Sidebar Menu -->
          <ul class="sidebar-menu">
              <li class="header text-center" >MENÚ PRINCIPAL</li>
              <!-- Optionally, you can add icons to the links --> 
            <div class="sidebar-menu" [hidden]= !this.ventas> 
              <li><a  routerLink="/registrarPropuesta"><i class="fa  fa-file-o"></i> <span>GESTIÓN DE SOLICITUDES</span></a></li>
              <!--  <li><a  routerLink="/busquedaCandidato"><i class="fa fa-search"></i><span>BUSCAR CANDIDATO</span></a></li>-->
              <li><a  routerLink="/buscarServicio"><i class="fa fa-file-text-o"></i> <span>RENOVACIÓN DE SERVICIO</span></a></li>
              <li>
                 <a  routerLink="/serviciosxTerminar"  (click)="this.disabledViewServiciosxTerminar();"  > 
                <i class="fa fa fa-calendar"></i> <span>SERVICIOS x TERMINAR</span>
                  &nbsp;&nbsp;&nbsp;<span [hidden]=!this.viewServiciosxTerminar  class="text-center label label-warning">{{this.nrServiciosxTerminar}}</span> 
                 </a>  
                </li>  
              <li><a  routerLink="/personaJuridica"><i class="fa fa-industry"></i> <span>REGISTRO DE CLIENTES</span></a></li>
              <li><a  routerLink="/personaNatural"><i class="fa fa-user"></i> <span>REGISTRO DE PERSONAS</span></a></li> 
              <li><a  routerLink="/clientes"><i class="fa fa-industry"></i> <span>CLIENTES</span></a></li>
              <li><a  routerLink="/servicios"
                (click)="this.disabledViewServiciosToCurso();"><i class="fa fa-bars"></i> <span>SERVICIOS</span>
                &nbsp;&nbsp;&nbsp;<span  [hidden]=!this.viewServiciosToEnCurso class="text-center label label-warning">{{this.nrServiciosToEnCurso}}</span> 
              </a></li> 
              <li><a  routerLink="/serviciosConsultoria"><i class="fa fa-paperclip"></i> <span>SERVICIOS DE CONSULTORÍA</span></a></li>
            </div>
 
            <div class="sidebar-menu" [hidden]= !this.rrhh> 
              <li><a  routerLink="/personaNatural"><i class="fa fa-user"></i> <span>REGISTRO DE PERSONAS</span></a></li>
              <li><a  routerLink="/registrarRecursos"><i class="fa fa-check"></i> <span>REGISTRO DE RECURSOS</span></a></li>	
              <li><a  routerLink="/registrarBaja"><i class="fa fa-user-times"></i> <span>REGISTRAR BAJAS</span></a></li>
              <li><a  routerLink="/contratoRecurso"><i class="fa fa-user"></i> <span>CONTRATOS</span></a></li>
            </div>  
            <div class="sidebar-menu" [hidden]= !this.rrhh>
              <li class="header"> <span>CONSULTAS</span></li>
              <!--
              <li class="treeview">
                <a  routerLink="/reporteBajas" ><i class="fa fa-area-chart"></i> <span>CONSULTAS</span><i class="fa fa-angle-left pull-right"></i></a>
                <ul class="treeview-menu">			  -->
                  <!--   <li><a  routerLink="/gestionColaborador"><i class="fa fa-circle-o"></i><span>Gestion Colaborador</span></a></li> -->
                  <li><a  routerLink="/reporteAltas"><i class="fa fa-level-up"></i><span>ALTAS</span></a></li>
                  <li><a  routerLink="/reporteBajas"><i class="fa fa-level-down"></i><span>BAJAS</span></a></li>
                  <li><a  routerLink="/reporteColaborador"  ><i class="fa fa-users"></i><span>RECURSOS</span></a></li>	   <!--Mostrara una lista de colaboradores filtros (razon social, ruc), (Perfiles)-->  
                  <!--<li><a  routerLink="/reporteProveedores"  ><i class="fa fa-user-md"></i><span>PROVEEDORES</span></a></li>	   -->
                  <li><a  routerLink="/consultaVisitasPendientes" 
                    (click)="this.disabledViewVisitasPendientes();" ><i class="fa fa-calendar"></i><span>VISITAS PENDIENTES</span>
                    &nbsp;&nbsp;&nbsp;<span [hidden]=!this.viewVisitasPendientes   class="text-center label label-warning">{{this.nrVisitasPendientes}}</span> 
                  </a></li>	 <!--filtro. por fechas   -->  
                  <li><a  routerLink="/consultaTerminoContrato" 
                    (click)="this.disabledViewContratosxTerminar();" ><i class="fa fa-calendar-times-o"></i><span>TÉRMINO DE CONTRATO</span>
                    &nbsp;&nbsp;&nbsp;<span [hidden]=!this.viewContratosxTerminar   class="text-center label label-warning">{{this.nrContratosxTerminar}}</span> 
                  </a></li>	<!--filtro. por fechas   -->  
               <!-- </ul>
              </li>-->
            </div>   
      <div class="sidebar-menu" [hidden]= !this.administracion> 
            <li><a  routerLink="/servicioFacturacion"><i class="fa fa-money"></i><span>FACTURACIÓN</span></a></li>
            <li><a  routerLink="/servicioSendToFacturacion"><i class="fa fa-search"></i><span>SERVICIOS DE CONSULTORÍA</span></a></li>
            <!-- <li><a  routerLink="/planillas"><i class="fa fa-newspaper-o"></i><span>PLANILLAS</span></a></li>-->
            <!--<li><a  routerLink="/planillasVerificacionPlame"><i class="fa fa-file-excel-o"></i><span>VERIFICACIÓN PLAME</span></a></li>-->
            <!--<li><a  routerLink="/boletasPago"><i class="fa fa-file-code-o"></i><span>BOLETAS</span></a></li>  -->
            <li><a  routerLink="/pagosPendientes"><i class="fa fa-book"></i><span>PAGO PENDIENTES</span></a></li>
            <!--<li><a  routerLink="/liquidacion"><i class="fa fa-book"></i><span>PAGO DE LIQUIDACIONES</span></a></li>-->
            <li><a  routerLink="/reporteFacturacion"><i class="fa fa-bars"></i><span>REPORTE FACTURACIONES</span></a></li>
            <li><a  routerLink="/reportePagos"><i class="fa fa-bars"></i><span>REPORTE PAGOS</span></a></li>
       </div>
      <div class="sidebar-menu" [hidden]= !this.admin> 
            <!--  <li class="treeview"> 
                  <a  routerLink="/TMPerfiles" ><i class="fa fa-cog"></i> <span>TABLAS MAESTRAS</span><i class="fa fa-angle-left pull-right"></i></a>
                    <ul class="treeview-menu">		 -->
                        <li class="header"> <span>TABLAS MAESTRAS</span></li>
                      <li><a  routerLink="/TMPerfiles"><i class="fa  fa-th "></i><span>PERFILES</span></a></li>
                      <li><a  routerLink="/TMConocimientos"><i class="fa fa-book"></i><span>CONOCIMIENTOS</span></a></li>
                      <li><a  routerLink="/TMDocumentos"><i class="fa fa-file-text"></i><span>DOCUMENTOS</span></a></li>
                      <li><a  routerLink="/TMPlantillas"><i class="fa fa-file-code-o"></i><span>PLANTILLAS  </span></a></li>
                      <li><a  routerLink="/TMDistritos"><i class="fa fa-car"></i><span>DISTRITOS</span></a></li>
                      <li><a  routerLink="/TMPensiones"><i class="fa fa-money"></i><span>PENSIONES & COMISIONES </span></a></li>
                      <li><a  routerLink="/TMPorcentajes"><i class="fa  fa-paperclip"></i><span>% PLANILLAS </span></a></li>
                      <li><a  routerLink="/TMConstantes"><i class="fa  fa-paperclip"></i><span>CONSTANTES </span></a></li>
            <!--       </ul>
              </li> -->
            <!--  <li class="treeview">
                  <a  routerLink="/USUsuarios" ><i class="fa fa-user-secret"></i> <span>USUARIOS</span><i class="fa fa-angle-left pull-right"></i></a>
                    <ul class="treeview-menu">		 --> 
                        <li class="header"> <span>USUARIOS</span></li>
                      <li><a  routerLink="/USRoles"><i class="fa fa-user-secret"></i><span>ROLES</span></a></li>
                      <li><a  routerLink="/USUsuarios"><i class="fa fa-users"></i><span>USUARIOS</span></a></li>
                <!--     </ul>
                 </li> -->
        </div>       
        <li class="header"> <span> </span></li>
    		<li><a  routerLink="/" ><i class="fa   fa-power-off"></i> <span>SALIR</span></a></li>
            
          </ul><!-- /.sidebar-menu -->
        </section>
        <!-- /.sidebar -->
      </aside>