<button (click)="this.cargarValoresIniciales();  openModal(contentAgregarDocumento); " type="button" class={{this.classBoton}}><i class= {{this.iconBoton}}></i><span> {{this.nameBoton}}</span></button>		
	<!--   ngteamplte para agergar documentos -->
<ng-template #contentAgregarDocumento let-c="close" let-d="dismiss">
		<div class="modal-header" style="padding:20px 20px;">		
				<div class="row">
						<div class="col-md-12">
							<span class="glyphicon glyphicon-lock"></span> Agregar Documento
						</div>
					</div>
			</div><br>
			<div class="modal-body" style="padding:10px 20px;">				
					<div class="row">
						<div class="col-md-12">
							<form class="form-horizontal" role="form">
								<div class="form-group">
										<label for="inputEmail3" class="col-sm-3 control-label">
											Nombre :
										</label>
										<div class="col-sm-9">
											<input 
											value={{this.strNombreCompleto}} type="text" disabled class="form-control input-sm" id="inputEmail3" placeholder="Razón Social">
										</div>
								</div>	
								<div class="form-group">
									<label for="inputEmail3" class="col-sm-3 control-label">
										DNI :
									</label>
									<div class="col-sm-9">
										<input
										value={{this.DNI}} type="text" disabled class="form-control input-sm" id="inputEmail3" placeholder="Servicio">
									</div>
								</div>
							</form>
						</div>
					</div>
					<hr>
					 <br> 
			 	<!-- Documento a agregar    : {{ documentoRecurso | json }}		   -->
				<div class="row">
					<div class="col-md-12">
						<form class="form-horizontal" role="form">
							<div class="form-group">
									<label for="inputEmail3" class="col-sm-3 control-label">
										Empresa :
									</label>
									<div class="col-sm-7">
											<input name="strEmpresa" 
											[disabled] = true 
											[(ngModel)] = this.strEmpresa
											type="text" class="form-control input-sm" id="strEmpresa" 
											 >

											<!--<select name="Empresa" 
											[disabled]=this.disabledEmpresa()
											[(ngModel)] = this.tipoEmpresa 
											(change)="this.asignarValoresEmpresa(this.tipoEmpresa);"
											class="form-control input-sm" >
											<option [ngValue]=null selected disabled>- Seleccione -</option>  
											<option *ngFor="let te of this.tipoEmpresas"
											[ngValue]="te"> {{te.strName}}</option>	
											</select>
										-->
									</div>  
							</div>
							<div class="form-group">
								<label for="inputEmail3" class="col-sm-3 control-label">
									Tipo Documento:
								</label>

								<div class="col-sm-7">
										<select name="tipoDocumento" 
										[(ngModel)] = this.tipoDocumento 
										(change)="this.asignarValoresTipoDocumento(this.tipoDocumento);"
										class="form-control input-sm" >
										<option [ngValue]=null selected disabled>- Seleccione -</option>  
										<option *ngFor="let tdp of this.tipoDocumentoPersona"
										[ngValue]="tdp"> {{tdp.strName}}</option>	
										</select>		
								</div> 
							</div>  
							<div class="form-group">
									<label for="inputPassword3" class="col-sm-3 control-label">
											Documento:
										</label>
									<div class="col-sm-9">
											<input name="documento" 
											[(ngModel)] = this.documentoRecurso.flDocumento 
											type="file" class="form-control input-sm" id="inputEmail3" 
											(change)="handleFileInput($event.target.files)">
									</div>
								<!--	<div class="col-sm-2"> 	
											<button   id="cragarFile" 
											(click)="cargarDocRecursoBean()" type="button" class="btn form-control input-default btn-sm">
												Cargar File
											</button> 
									</div>  -->
							</div>
							<div class="form-group">
								<label for="inputPassword3" class="col-sm-3 control-label">
										Observación:
									</label>
								<div class="col-sm-9">
										<input name = "observacion"
										[(ngModel)]= this.documentoRecurso.strObservacion
										type="text" class="form-control input-sm" id="inputEmail3" >
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="modal-footer">
					<button (click) = "enviarData(this.documentoRecurso, this.fileToUpload);this.modalRef.close();limpiarDocumento(); "  type="submit" class="btn btn-success input-sm" data-dismiss="modal"><span class="fa  fa-check"></span> Aceptar</button>
					<button (click) = "this.modalRef.close();limpiarDocumento();" type="submit" class="btn btn-danger input-sm" data-dismiss="modal"><span class="fa fa-remove"></span> Cancelar</button>
				</div>
		</ng-template>
<!--   fin  ngteamplte para agergar documentos -->