<button (click)="cargarValoresIniciales(); openModal(contentDocumentoPlanilla); " type="button" class={{this.classBoton}}><i class= {{this.iconBoton}}></i><span> {{this.nameBoton}}</span></button>		
						<!-- MODAL PARA AGREGAR DOCUMENTOS -->
						<ng-template #contentDocumentoPlanilla let-c="close" let-d="dismiss">
								<div class="modal-header" style="padding:20px 20px;">		
										<div class="row">
												<div class="col-md-12">
													<span class="glyphicon glyphicon-lock"></span> {{titulo}}
												</div>
											</div>
									</div><br>
									<!--
	Data Plantilla : {{ this.documentoPlantilla | json }}
									--> 
									<div class="modal-body" style="padding:10px 20px;">				
											<div class="row">
												<div class="col-md-12">
													<form class="form-horizontal" role="form">
														<div class="form-group">
																<label for="inputEmail3" class="col-sm-3 control-label">
																	Nombre :
																</label>
																<div class="col-sm-9">
																	<input
																	 name="nombre" disabled
																	[(ngModel)] = this.documentoPlantilla.strName 
																	type="text"   class="form-control input-sm" id="inputEmail3" placeholder="Nombre Documento">
																</div>
														</div>	
														<div class="form-group">
															<label for="inputEmail3" class="col-sm-3 control-label">
																Descripcion :
															</label>
															<div class="col-sm-9">
																<input
																name="descripcion"  disabled
																[(ngModel)] = this.documentoPlantilla.strDescripcion 
																type="text" class="form-control input-sm" id="inputEmail3" placeholder="Descripcion ">
															</div>
														</div>
														<div class="form-group">
																<label for="inputEmail3" class="col-sm-3 control-label">
																	Generado :
																</label>
																<div class="col-sm-9">
																	<input
																	name="generado"  disabled
																	[(ngModel)] = this.documentoPlantilla.strPrinteable 
																	 type="text" class="form-control input-sm" id="inputEmail3" placeholder="strValor ">
																</div>
															</div>
															<div class="form-group">
																	<label for="inputEmail3" class="col-sm-3 control-label">
																		Estado :
																	</label>
																	<div class="col-sm-9">
																		<input
																		name="estado"  disabled
																		[(ngModel)] = this.documentoPlantilla.strEstado  
																		type="text" class="form-control input-sm" id="inputEmail3" placeholder="strEstado ">
																	</div>
															</div>
														<div class="form-group">
																<label for="inputPassword3" class="col-sm-3 control-label">
																		Documento :
																	</label>
																<div class="col-sm-9">
																		<input name="documento" 
																		[(ngModel)] = this.documentoPlantilla.strCode
																		type="file" class="form-control input-sm" id="inputEmail3" 
																		(change)="changeFilePlantilla($event.target.files)"
																		>
																</div> 
														</div>

													</form>
												</div>
											</div> 
 
									</div>
									<div class="modal-footer">

											<button  (click) = "this.enviarData(this.documentoPlantilla,this.fileToUpload); this.closeModal();"  type="submit" class="btn btn-success input-sm" data-dismiss="modal"><span class="fa  fa-check"></span> Aceptar</button>
											<button   (click)=" this.closeModal();" type="submit" class="btn btn-danger input-sm" data-dismiss="modal"><span class="fa fa-remove"></span> Cancelar</button>
										</div>
								</ng-template>