
<button (click)="this.cargarValoresIniciales();this.openModal(contentPagoOtros); " type="button" class={{this.classBoton}}><i class= {{this.iconBoton}}></i><span> {{this.nameBoton}}</span></button>		
	<!--MODALES PERFIL -->
					<!-- Modal content -->
					<ng-template #contentPagoOtros let-c="close" let-d="dismiss">
							<div class="modal-header" style="padding:20px 20px;">		
								<div class="row">
										<div class="col-md-12">
											<b><span class="glyphicon glyphicon-lock"></span>  {{this.titulo}}  </b>
										</div> 
									</div>
							</div> 
							<div class="modal-body" style="padding:10px 20px;">		  
									<hr>  
						 <!--	 <div> Distrito : {{this.distrito	  | json }} </div>  -->
									<div class="row">
										<div class="col-md-12">
											<form class="form-horizontal" role="form">
												<div class="form-group">
														<label for="inputEmail3" class="col-sm-3 control-label">
															Tipo Pago :
														</label>
														<div class="col-sm-7" >
															<select name="intTipoPago"
															(change)="this.cargarConceptos(this.pagoOtros.intTipoPagoId);"   
																[(ngModel)] = this.pagoOtros.intTipoPagoId
																class="form-control input-sm" style="width: 100%">
																 <option selected   disabled [value]=0 > - SELECCIONE - </option>
																 <option   [value]=280> INGRESOS  </option>
																 <option   [value]=281> DESCUENTO </option>
															</select>	
														</div>
												</div>
										<!--		Perfil Sleccionado del combo  {{this.perfil | json }}-->
		
												<div class="form-group">
														<label for="descripcion" class="col-sm-3 control-label">
															Concepto  :
														</label>
														<div  class="col-sm-9">
																<select name="dbMonto"   
																[(ngModel)] = this.pagoOtros.intConceptoId
																class="form-control input-sm" style="width: 100%">
																<option selected [value]=0 disabled> - SELECCIONE -</option>    
																<option *ngFor="let pc of this.pagoConceptos" 
																[value]="pc.intId"	>{{pc.strConcepto}}</option>
															   </select>
														 	</div>
												</div>	 
												<div class="form-group" >
													<label for="inputEmail3" class="col-sm-3 control-label">
														Monto :
													</label>
													<div class="col-sm-4">
															<input 
															class="form-control input-sm text-right"  id="dbMonto"
															name ="dbMonto" currencyMask [(ngModel)]=" this.pagoOtros.dbMonto" 
															placeholder="00.00"
															[options]="{ prefix: 'S/ ', thousands: ',', decimal: '.' ,precision:2}" >  

														 
														</div> 
														
												</div>    
											</form>	
					 <!-- 	<div> ConocimientoPerfil  : {{ this.conocimientosPerfil | json}}  </div> -->
 
										</div>
									</div>
								</div>
								<div class="modal-footer">
								<div class="col-md-12">
									<button  (click)="this.enviarPagoOtros(this.pagoOtros); closeModalPagoOtros();" type="button" class="btn btn-default"> <i class="fa  fa-save"></i><span> Aceptar</span>
									</button>
									<button     (click)="closeModalPagoOtros();" type="button" class="btn  btn-default"> <i class="fa  fa-remove"></i><span> Cancelar</span>
									</button>
								</div>
								</div>
							</ng-template>
								<!--FIN MODAL PERFIL -->