
<button (click)="this.cargarValoresIniciales();  openModal(contenNuevoPerfil); " type="button" class={{this.classBoton}}><i class= {{this.iconBoton}}></i><span> {{this.nameBoton}}</span></button>		
	<!--MODALES PERFIL -->
					<!-- Modal content -->
					<ng-template #contenNuevoPerfil let-c="close" let-d="dismiss">
							<div class="modal-header" style="padding:20px 20px;">		
								<div class="row">
										<div class="col-md-12">
											<b><span class="glyphicon glyphicon-lock"></span>  {{this.titulo}}  </b>
										</div> 
									</div>
							</div><br>
							<div class="modal-body" style="padding:10px 30px;">		
									<br> 
									<div class="row">
										<div class="col-md-12">
											<div class="row">
													<div>
														 
													</div>									
											</div>
										</div>
									</div>
									<hr>  
						<!--	 <div>	CategoriaConocimiento : {{this.categoriaConocimiento	  | json }} </div>   -->
									<div class="row">
										<div class="col-md-12">
											<form class="form-horizontal" role="form">
												<div class="form-group">
														<label for="inputEmail3" class="col-sm-3 control-label">
															Nombre :
														</label>
														<div class="col-sm-7" >
																<input name="strNombre" 
																[(ngModel)]= this.categoriaConocimiento.strNombre type="text"  class="form-control input-sm" id="inputEmail3" >
															</div>
												</div>
										<!--		Perfil Sleccionado del combo  {{this.perfil | json }}-->
		
												<div class="form-group">
														<label for="descripcion" class="col-sm-3 control-label">
															Descripcion  :
														</label>
														<div  class="col-sm-9">
															<input name="descripcion"
															[(ngModel)] = this.categoriaConocimiento.strDescripcion
															type="text"  class="form-control input-sm" id="descripcion">
														</div>
													</div>	 
													<div class="form-group" >
														<label for="inputEmail3" class="col-sm-3 control-label">
															Estado :
														</label>
														<div class="col-sm-4">
															<select name="estado"   
															   [(ngModel)] = this.categoriaConocimiento.intEstado
															   class="form-control input-sm" style="width: 100%">
																<option selected   disabled [value]=null > - Seleccione - </option>
																<option [value]=1 > Activo </option>
																<option [value]=0 > No Activo </option>
															  </select>
														 </div> 
													</div>   

											</form>	
					 <!-- 	<div> ConocimientoPerfil  : {{ this.conocimientosPerfil | json}}  </div> -->
 
										</div>
									</div>
								</div>
								<div class="modal-footer">
								<div class="col-md-12">
									<button  (click)="this.enviarCategoriaConocimiento(this.categoriaConocimiento); closeModalPerfil();" type="button" class="btn btn-success"> <i class="fa  fa-save"></i><span> Aceptar</span>
									</button>
									<button     (click)="closeModalPerfil();" type="button" class="btn  btn-danger"> <i class="fa  fa-remove"></i><span> Cancelar</span>
									</button>
								</div>
								</div>
							</ng-template>
								<!--FIN MODAL PERFIL -->