
<button (click)="this.cargarValoresIniciales();  openModal(contentDocumento); " type="button" class={{this.classBoton}}><i class= {{this.iconBoton}}></i><span> {{this.nameBoton}}</span></button>		
	<!--MODALES PERFIL -->
					<!-- Modal content -->
					<ng-template #contentDocumento let-c="close" let-d="dismiss">
							<div class="modal-header" style="padding:20px 20px;">		
								<div class="row">
										<div class="col-md-12">
											<span class="glyphicon glyphicon-lock"></span>  {{this.titulo}}  
										</div> 
									</div>
							</div><br>
							<div class="modal-body" style="padding:10px 20px;">		 
									<div class="row">
										<div class="col-md-12">
											<div class="row">
													<div>
														 
													</div>									
											</div>
										</div>
									</div>
									<hr>  
						 <!--	 <div>	documento : {{this.documento  | json }} </div>     -->
									<div class="row">
										<div class="col-md-12">
											<form class="form-horizontal" role="form">
												<div class="form-group">
														<label for="inputEmail3" class="col-sm-3 control-label">
															Nombre :
														</label>
														<div class="col-sm-7" >
																<input name="strNombre" 
																[(ngModel)]= this.documento.strName type="text"  class="form-control input-sm" id="inputEmail3" >
															</div>
												</div>
										<!--		Perfil Sleccionado del combo  {{this.perfil | json }}-->
		
												<div class="form-group">
														<label for="descripcion" class="col-sm-3 control-label">
															Descripcion  :
														</label>
														<div  class="col-sm-9">
															<input name="descripcion"
															[(ngModel)] = this.documento.strDescripcion
															type="text"  class="form-control input-sm" id="descripcion">
														</div>
													</div>	 
													<div class="form-group">
														<label for="generable" class="col-sm-3 control-label">
															Generable :
														</label>
														<div  class="col-sm-4">
																<select name="generable"    
																[(ngModel)] = this.documento.blDocPrinteable
																class="form-control input-sm" style="width: 100%"  
																	>
																 <option selected  disabled [value]=null > - Seleccione - </option>
																 <option  [value]=true > Generable </option>
																 <option  [value]=false > No Generable </option>
																  
																 </select> 
														</div>
													</div>	
													<div class="form-group">
															<label for="generable" class="col-sm-3 control-label">
																Estado  :
															</label>
															<div  class="col-sm-4">
																	<select name="activo"    
																	[(ngModel)] = this.documento.intEstado
																	class="form-control input-sm" style="width: 100%"  
																		>
																	 <option selected  disabled [value]=null > - Seleccione - </option>
																	 <option  [value]=1 > Activo </option>
																	 <option  [value]=0 > No Activo </option>
																	  
																	 </select> 
															</div>
														</div>
											</form>	
					 <!-- 	<div> ConocimientoPerfil  : {{ this.conocimientosPerfil | json}}  </div> -->
 
										</div>
									</div>
								</div>
								<div class="modal-footer">
								<div class="col-md-12">
									<button  (click)="this.enviarDocumento(this.documento); closeModalPerfil();" type="button" class="btn btn-default"> <i class="fa  fa-save"></i><span> Aceptar</span>
									</button>
									<button     (click)="closeModalPerfil();" type="button" class="btn  btn-default"> <i class="fa  fa-remove"></i><span> Cancelar</span>
									</button>
								</div>
								</div>
							</ng-template>
								<!--FIN MODAL PERFIL -->