<button (click)="cargarValoresIniciales();openModal(contentAgregarDocumento); " type="button" class={{this.classBoton}}><i class= {{this.iconBoton}}></i><span> {{this.nameBoton}}</span></button>		
						<!-- MODAL PARA AGREGAR DOCUMENTOS -->
						<ng-template #contentAgregarDocumento let-c="close" let-d="dismiss">
								<div class="modal-header" style="padding:20px 20px;">		
										<div class="row">
												<div class="col-md-12">
													<span class="glyphicon glyphicon-lock"></span> Agregar Documento
												</div>
											</div>
									</div><br>
									<div class="modal-body" style="padding:10px 20px;">				
											<div class="row">
												<div class="col-md-12">
													<form class="form-horizontal" role="form">
														<div class="form-group">
																<label for="inputEmail3" class="col-sm-2 control-label">
																	Razón Social:
																</label>
																<div class="col-sm-10">
																	<input 
																	value={{this.servicio}} type="text" disabled class="form-control input-sm" id="inputEmail3" placeholder="Razón Social">
																</div>
														</div>	
														<div class="form-group">
															<label for="inputEmail3" class="col-sm-2 control-label">
																Servicio:
															</label>
															<div class="col-sm-10">
																<input
																value={{this.razonSocial}} type="text" disabled class="form-control input-sm" id="inputEmail3" placeholder="Servicio">
															</div>
														</div>
													</form>
												</div>
											</div>
											<hr>
											 <br>
									 	<!-- 	Documento  : {{ this.documentoServicio | json }}		 -->
										<div class="row">
											<div class="col-md-12">
												<form class="form-horizontal" role="form">
													<div class="form-group">
														<label for="inputEmail3" class="col-sm-3 control-label">
															Tipo Documento:
														</label>  
														<div class="col-sm-5">
															<select name="tipoDocumento" 
															[(ngModel)] = this.tipoDocumento 
															(change)="this.asignarTipoDocumento(this.tipoDocumento);" 
															class="form-control input-sm" >
															<option [ngValue]=null selected disabled>- Seleccione -</option>  
															<option *ngFor="let tc of this.tipoDocumentoServicio"
															[ngValue]="tc"> {{tc.strName}}</option>	
															</select>		
														</div>
														<div class="col-sm-5 message-error">
															{{this.responseMessageVerificarTipo}}
														</div> 
													</div> 
 
													<div class="form-group">
															<label for="inputPassword3" class="col-sm-3 control-label">
																	Documento :
																</label>
															<div class="col-sm-9">
																	<input name="documento" 
																	[(ngModel)] = this.documentoServicio.flDocumento 
																	type="file" class="form-control input-sm" id="inputEmail3" 
																	(change)="handleFileInput($event.target.files)"
																	>
																</div> 
													</div>
													<div class="form-group"  [hidden]=this.hiddenMessage>
															<label for="inputPassword3" class="col-sm-3 control-label"> 
																</label> 
														 	<div class="col-sm-9 message-error">  
																	{{this.responseMessageVerificarFile}}
															</div>  
													</div>
													<div class="form-group">
														<label for="inputPassword3" class="col-sm-3 control-label">
																Observación:
															</label>
														<div class="col-sm-9">
																<input name = "observacion"
																[(ngModel)]= this.documentoServicio.strObservacion
																type="text" class="form-control input-sm" id="inputEmail3" >
														</div>
													</div>
												</form>
											</div>
										</div>
									</div>
									<div class="modal-footer"> 
											<button  (click) = "this.verificiarData();"  type="submit" class="btn btn-success input-sm" data-dismiss="modal"><span class="fa  fa-check"></span> Aceptar</button>
											<button   (click)="this.modalRef.close();limpiarDocumentoServicio();" type="submit" class="btn btn-danger input-sm" data-dismiss="modal"><span class="fa fa-remove"></span> Cancelar</button>
										</div>
								</ng-template>