<button (click)="this.cargarValoresIniciales();  openModal(contenNuevoPerfil); " type="button" class={{this.classBoton}}><i class= {{this.iconBoton}}></i><span> {{this.nameBoton}}</span></button>		
	<!--MODALES PERFIL -->
					<!-- Modal content -->
					<ng-template #contenNuevoPerfil let-c="close" let-d="dismiss">
							<div class="modal-header" style="padding:20px 20px;">		
								<div class="row">
										<div class="col-md-12">
											<b><span class="glyphicon glyphicon-lock"></span>  {{this.titulo}}  </b> 
										</div> 
									</div>
							</div> 
							<div class="modal-body" style="padding:10px 20px;">		 
								<br><div class="row">
										<div class="col-md-12">
											<div class="row">
													<label for="inputEmail3" class="col-sm-12 control-label">
															Datos Perfil  	
													</label> 								
											</div>
										</div>
									</div> 
									<hr>    
									<div class="row">
										<div class="col-md-12">
											<form class="form-horizontal" role="form">
												<div class="form-group">
														<label for="inputEmail3" class="col-sm-3 control-label">
															Perfil :
														</label>
														<div class="col-sm-7" >
																<input name="strPerfil" 
																[(ngModel)]= this.perfil.strPerfil type="text"  class="form-control input-sm" id="inputEmail3" >
														</div>
												</div>
											<div class="form-group">
														<label for="descripcion" class="col-sm-3 control-label">
															Descripcion  :
														</label>
														<div  class="col-sm-9">
															<input name="descripcion"
															[(ngModel)] = this.perfil.strDescripcion
															type="text"  class="form-control input-sm" id="descripcion">
														</div>
												</div>	
										 	 	<div class="form-group" >
													<label for="inputEmail3" class="col-sm-3 control-label">
														Estado :
													</label>
													<div class="col-sm-4">
														<select name="estado"   
														   [(ngModel)] = this.perfil.intEstado
														   class="form-control input-sm" style="width: 100%">
															<option selected   disabled [value]=null > - Seleccione - </option>
															<option [value]=1 > Activo </option>
															<option [value]=0 > No Activo </option>
		  												</select>
													 </div> 
												</div>   
												<div class="form-group" >
													<label for="inputEmail3" class="col-sm-3 control-label">
														Conocimientos:
													</label>
													<div class="col-sm-6">
															<select name="conocimientos"   
														   [(ngModel)] = this.conocimiento
														   class="form-control input-sm" style="width: 100%" 
														   (change)="this.selectConocimiento();"  
															   >
															<option selected="selected"  disabled [value]=undefined > - Seleccione - </option>
															<option *ngFor="let c of this.conocimientos"  
															[ngValue]="c" 
															> {{c.strNombreConocimiento}}
															</option> 
															</select>
													 </div>
													 <div class="col-sm-3">
															<button 
															 (click)="this.addConocimiento(this.conocimiento);"
															  type="button" class="btn btn-default btn-sm"><i class="fa fa-plus"></i><span> Agregar</span> </button>
													</div> 
												</div>   
											</form>	
					 <!-- 	<div> ConocimientoPerfil  : {{ this.conocimientosPerfil | json}}  </div> -->
						<div class="row">
								<div class="col-md-12">
									<div class="table-responsive">
									<table class="table table-hover table-bordered text-center">
										<thead>
											<tr class="active" >
												<th>#</th>
												<th>Conocimiento	</th>
												<th>Descripción</th> 
												<th>Opciones</th>
											</tr>
										</thead>
										<tbody>
											<tr *ngFor="let cp of this.conocimientosPerfil"> 	
												<td>{{cp.intConocimientoId}}</td>
											<!--	<td>{{this.detallesPago.indexOf(dp)+1}}</td>-->
												<td>{{cp.strNombreConocimiento}}</td>
												<td>{{cp.strDescripcion}}</td> 
												<td>
												<!--<button type="button" class="btn btn-default btn-xs"><i class="fa  fa-edit"></i></button> -->
													<button  (click) = "this.deleteConocimiento(conocimientosPerfil.indexOf(cp),cp);" type="button" class="btn btn-default btn-xs"><i class="fa  fa-remove"></i> <span> Eliminar</span></button>
												</td>
											</tr>
										</tbody>
									</table>
									</div>
								</div>
							</div> 
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<div class="col-md-12">
						<div class="message-error">
								{{this.messageErrorPerfil}}
						</div>
						<button  (click)="this.validar();" type="button" class="btn btn-success"> <i class="fa  fa-save"></i><span> Aceptar</span>
						</button>
						<button  [hidden]= isTipoEvento2  (click)="closeModalPerfil();" type="button" class="btn  btn-danger"> <i class="fa  fa-remove"></i><span> Cancelar</span>
						</button>
					</div>
					</div>
				</ng-template>
								<!--FIN MODAL PERFIL -->