
		<div class="modal-header" style="padding:20px 20px;">		  
			<div class="row">
				<div class="col-md-12">
					<span class="fa  fa-question-circle fa-2x">   Mensaje de Información</span>
				</div>
			</div>
		</div>
		<div class="modal-body" style="padding:10px 30px;">
			<div class="row">
				<div class="col-md-12">
					<form class="form-horizontal" role="form">
							<div class="form-group">
									<label for="inputEmail3" class="col-sm-10 control-label">
											<h5> Se registró correctamente el nuevo Servicio  ...  </h5>
									</label>
							</div>
					</form>
				</div>
			</div>
		</div>
		<!--
		<div class="modal-footer">
				<div class="col-md-3"></div>
		<div class="col-md-3">    
			</div>	
			<div class="col-md-3">
				<button (click)="this.closeModalDireccion();" type="submit" class="btn form-control input-sm btn-success" data-dismiss="modal" > 
					<span> Aceptar</span>
				</button>
			</div>
			<div class="col-md-3"></div>
		</div>-->