
<button [disabled]="!candidato.boolPreelegido" (click)="openModal(contentModalidad); cargarDetallePagoDelCandidato(candidato.intId)" type="button" class="btn btn-default btn-xs"><i class={{iconBotton}}></i><span> {{this.nameBotton}} </span></button>	
	 <!--Modal Modalidad> -->
      <!-- Modal content-->
	      <!-- Modal content-->
		  <ng-template #contentModalidad let-c="close" let-d="dismiss">
			<div class="modal-header" style="padding:20px 20px;">		  
				<div class="row">
					<div class="col-md-12">
							<b>
						<span class="fa fa-dollar"> </span> {{this.tituloModal}} </b>
					</div>
				</div>
			</div>
	<!--   Objeto  Modalidad  : {{ this.detallesPago | json}}			   -->
			<div class="modal-body" style="padding:10px 30px;">
					<br>
				<div class="row">
					<div class="col-md-12">
						<form class="form-horizontal" role="form">
							<div class="form-group">
								<label for="inputEmail3" class="col-sm-2 control-label">
											Nombre:
								</label>
									<div class="col-sm-10">
											<input value={{candidato.strNombreCompleto}} type="text"  disabled class="form-control input-sm" id="inputEmail3" placeholder="DNI">
									</div>
							</div>
							<div class="form-group">
									<label for="inputEmail3" class="col-sm-2 control-label">
												DNI:
									</label>
									<div class="col-sm-10">
											<input value={{candidato.strDNI}} type="text"  disabled class="form-control input-sm" id="inputEmail3" placeholder="DNI">
									</div>
							</div>
							<hr>
					<!--		<div>Objeto  Moneda  : {{ this.detallePago.intMoneda | json}}</div> -->
					<!--		<div>Objeto  Moneda  : {{ this.detallePago.strMoneda | json}}</div>  -->
							<div class="form-group" [hidden] = !viewAgregar >
									<label for="inputEmail3" class="col-sm-3 control-label">
											Tipo Moneda:
										</label>
										<div class="col-sm-5">
											<select name="moneda"
											
											[(ngModel)]= this.moneda
											(change)="cargarMoneda();"
											class="form-control input-sm" >
											<option selected="selected" [value]=null  disabled> - SELECCIONE -</option>    
											<option *ngFor="let tm of this.tipoMonedas" 
											[ngValue]="tm"
											>{{tm.strName}}</option>
											</select>		
										</div>
							</div>
					<!--		 <div>Objeto Detalle : {{ this.detallePago | json }}	</div>  -->
					<!--		<div>Objeto  Moneda  : {{ this.detallePago.intModalidadId | json}}</div> -->
					<!--		<div>Objeto  Moneda  : {{ this.detallePago.strNombreModalidad | json}}</div> -->

							<div class="form-group" [hidden] = !viewAgregar>
							 	<label for="inputEmail3" class="col-sm-3 control-label">
											Modalidad:
								</label>
								<div class="col-sm-6">
									<select name="modalidad" 
									[(ngModel)] = this.modalidad 
									class="form-control input-sm" 
									(change)="cargarModalidad();">
									<option selected="selected" [value]=null  disabled> - SELECCIONE -</option>    
									<option *ngFor="let m of this.tipoModalidades"
									[ngValue]=m> {{m.strName}}</option>  
									</select>		
								</div>
							</div>
							<div class="form-group" [hidden] = !viewAgregar>
									<label for="dbMonto" class="col-sm-3 control-label">
											Monto:
									</label>
									<div class="col-sm-5">
										 <input 
										 class="form-control input-sm text-right"  id="dbMonto"
										 name ="dbMonto" currencyMask [(ngModel)]="this.detallePago.dbMonto" 
										 placeholder="00.00"
										 [options]="{ prefix: 'S/ ', thousands: ',', decimal: '.' ,precision:0}" >  
									</div>
									<div class="col-sm-2">
									</div>
									<div class="col-sm-4">
											<button [hidden] = !viewAgregar  (click)="this.addDetallePago(this.detallePago);" type="button" class="btn btn-success "><i class="fa fa-plus"></i><span> Agregar</span> </button>
									</div>
								</div>	
						</form>
						<div class="message-error">{{this.messageError}}</div>
				 	<!-- 	Modalidades : {{ this.detallesPago | json}}-->
						<div class="row">
								<div class="col-md-12">
									<div class="table-responsive">
									<table class="table table-hover table-bordered text-center">
										<thead>
											<tr class="active" >
												<th>#</th>
												<th>Moneda</th>
												<th>Modalidad</th>
												<th>Monto</th>
												<th>Opciones</th>
											</tr>
										</thead>
										<tbody>
											<tr *ngFor="let dp of this.detallesPago"> 	
											<!--<td>{{dp.intId}}</td>-->
												<td>{{this.detallesPago.indexOf(dp)+1}}</td>
												<td>{{dp.strMoneda}}</td>
												<td>{{dp.strNombreModalidad}}</td>
												<td>{{dp.dbMonto | number:'3.2-2' }}</td>
												<td>
												<!--<button type="button" class="btn btn-default btn-xs"><i class="fa  fa-edit"></i></button> -->
													<button  (click) = "this.deleteDetallePago(dp.intId,this.detallesPago.indexOf(dp))" type="button" class="btn btn-default btn-xs"><i class="fa  fa-remove"></i> <span> Eliminar</span></button>
												</td>
											</tr>
										</tbody>
									</table>
									</div>
								</div>
							</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<div class="col-md-9">
				</div>
				<div class="col-md-3">	
					<button (click)="this.Respuesta(); this.modalRef.close();limpiarDetallePago();"  type="submit" class="btn btn-success" data-dismiss="modal"><span class="fa  fa-check"></span> Salir </button>
				</div>
				</div>
	 </ng-template>

			<!--Fin Modal  Modalidad>	-->