
<button (click)="this.cargarValoresIniciales();  openModal(contenPorcentajes);" type="button" class={{this.classBoton}}><i class= {{this.iconBoton}}></i><span> {{this.nameBoton}}</span></button>		
	<!--MODALES PERFIL -->
					<!-- Modal content -->
					<ng-template #contenPorcentajes let-c="close" let-d="dismiss">
							<div class="modal-header" style="padding:20px 20px;">		
								<div class="row">
										<div class="col-md-12"> 
										<b>  {{this.titulo}}   </b> 
										</div> 
									</div>
							</div><br>
							<div class="modal-body" style="padding:10px 20px;">	 
					<!-- 	<div> Porcentaje : {{this.porcentaje | json }} </div>     -->
									<div class="row">
										<div class="col-md-12">
											<form class="form-horizontal" role="form">
												<div class="form-group">
														<label for="inputEmail3" class="col-sm-4 control-label">
															Nombre Porcentaje:
														</label>
														<div class="col-sm-4" >
																<input name="strNombrePorcentaje"  
																[disabled]=true
																[(ngModel)]= this.porcentaje.strNombrePorcentaje type="text"  class="form-control input-sm" id="inputEmail3" >
														</div>
												</div>
												<div class="form-group">
													<label for="inputEmail3" class="col-sm-4 control-label">
														Desc. Porcentaje:
													</label>
													<div class="col-sm-8"> 
														<textarea 
														name="strDescripcionPorcentaje"  
														[(ngModel)]="this.porcentaje.strDescripcionPorcentaje" 
														class="form-control input-sm"  id="TextArea"  rows="2" placeholder="Descripcion"></textarea>							
													</div> 
												</div> 
												<div class="form-group">
															<label for="dbPorcentaje" class="col-sm-4 control-label">
																Porcentaje (%)  :
															</label>
															<div  class="col-sm-3"> 
																<input name="dbPorcentaje" [textMask]="{mask: porcentajeMask}"
																	[(ngModel)]="this.porcentaje.dbPorcentaje" placeholder="00.00"
																	type="text"  class="form-control input-sm  text-right" id="dbPorcentaje">
															</div>  
												</div> 
											</form>	  	
										</div>
									</div>
								</div>
								<div class="modal-footer">
								<div class="col-md-12">
									<button  (click)="this.enviarDataPorcentaje(this.porcentaje); closeModalPorcentaje();" type="button" class="btn btn-default"> <i class="fa  fa-save"></i><span> Aceptar</span>
									</button>
									<button  (click)="closeModalPorcentaje();" type="button" class="btn  btn-default"> <i class="fa  fa-remove"></i><span> Cancelar</span>
									</button>
								</div>
								</div>
							</ng-template>
								<!--FIN MODAL PERFIL -->