
<button  (click)="openModal(contentMostrarContrato); " type="button" class="btn btn-default btn-xs"><i class="fa fa-eye"></i><span> Ver Contrato </span></button>	
	 <!--Modal Modalidad> -->
      <!-- Modal content-->
	      <!-- Modal content-->
		  <ng-template #contentMostrarContrato let-c="close" let-d="dismiss">
			<div class="modal-header" style="padding:20px 20px;">		  
				<div class="row">
					<div class="col-md-12">
						<span class="fa fa-dollar"></span> Contrato
					</div>
				</div>
			</div>
		<!--	Objeto  Modalidad  : {{ this.detallesPago | json}}				 -->
			<div class="modal-body" style="padding:10px 40px;">
				<div class="row">
					<div class="col-md-12">
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button (click)="this.Respuesta(); this.modalRef.close();limpiarDetallePago();"  type="submit" class="btn btn-success btn-sm" data-dismiss="modal"><span class="fa  fa-check"></span> Salir </button>
				</div>
	 </ng-template>

			<!--Fin Modal  Modalidad>	-->