<button (click)="cargarDatosIniciales();openModal(contentConocimientos)" type="button" class="btn btn-default btn-xs"><i class= {{this.icon}}></i><span> {{this.nameBoton}}</span></button>		
<ng-template #contentConocimientos let-c="close" let-d="dismiss">
    
        <div class="modal-header" style="padding:20px 20px;">		  
			<div class="row">
				<div class="col-md-12">
					<span class="glyphicon glyphicon-lock"></span> Conocimientos
				</div>
			</div>
        </div>
        <div class="modal-body" style="padding:10px 40px;">
			<div class="row">
				<div class="col-md-12">
					<form class="form-horizontal" role="form">
						<div class="form-group">
							<label for="inputEmail3" class="col-sm-3 control-label">
										DNI :
							</label>
								<div class="col-sm-9">
										<input value={{this.strDNI}} type="number"  disabled class="form-control input-sm" id="inputEmail3" placeholder="DNI">
								</div>
						</div>
						<div class="form-group">
							<label for="inputEmail3" class="col-sm-3 control-label">
								Nombre Completo :
							</label>
							<div class="col-sm-9">
								<input value={{this.strNombreCompleto}} type="text" disabled class="form-control input-sm" id="inputEmail3" placeholder="Nombres">
							</div>
						</div>
						<hr>
						<div class="form-group">
							<div class="col-md-3">
								<label class="text-left  subtitle">
									Conocimientos
								</label>
							</div>
						</div>	
			<!--		<div>	Categorias Conocimiento : {{categoriasConocimiento | json}}</div> -->
			<!--		<div> 	Objeto Conocimiento :  {{this.conocimientoPersona | json}}  </div> -->
			<!--		<div>	conocimientos : {{this.conocimientos | json }} </div> -->
						<div class="form-group">
							<label for="inputEmail3" class="col-sm-3 control-label">
								Tipo Conocimiento
							</label>

							<div class="col-sm-6">
									<select name="tipoConocimiento"
									#TipoConocimiento
									(change)=searchConocimiento(TipoConocimiento.value)
									[(ngModel)]=this.conocimientoPersona.intTipoConocimiento   class="form-control input-sm" >
									<option selected="selected"  disabled [value]= undefined >  - Seleccione -  </option>
									<option *ngFor="let cc of categoriasConocimiento"
									[value]="cc.intId"> {{cc.strNombre}}</option> 
								</select>		
							</div>
						</div>	
						<div class="form-group">
							<label for="inputEmail3" class="col-sm-3 control-label">
								Conocimiento
							</label>
							<div class="col-sm-6">
									<select name="Conocimiento"
									[(ngModel)]=this.conocimientoPersona.intConocimientoId  
									(change)="this.conocimientoPersona.strNombreConocimiento='Desarrollador Web'" 
									class="form-control input-sm" >
									<option selected="selected"  disabled [value]= undefined >  - Seleccione -  </option>
									<option *ngFor="let c of conocimientos"
									[value]="c.intId"
									> {{c.strNombreConocimiento}}</option> 
								</select>		
							</div>
						</div>	
						<div class="form-group">	
							<label for="inputPassword3" class="col-sm-3 control-label">
									Nivel :
								</label>
							<div class="col-sm-6">
								<select name="nivel" 
								[(ngModel)] = this.conocimientoPersona.intNivel class="form-control input-sm">
								<option selected="selected"  disabled [value]= undefined >  - Seleccione -  </option>
								<option *ngFor="let nc of this.nivelConocimiento"
								[value]="nc.intId"> {{nc.strName}}</option> 
								</select>	
							</div>
						</div>
					</form>
				</div>

			</div>
        </div>
        <div class="modal-footer">
			<button (click)="enviarNewConocimiento(this.conocimientoPersona);closeModalConocimiento();" type="submit" class="btn btn-success btn-sm" data-dismiss="modal"><span class="fa  fa-check"></span> Aceptar</button>
			<button (click)="closeModalConocimiento();"type="submit" class="btn btn-danger btn-sm" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
		</div>
 </ng-template>