<button (click)="cargarValoresIniciales();openModal(contentGestionEntregable); " type="button" class={{this.classBoton}}><i class= {{this.iconBoton}}></i><span> {{this.nameBoton}}</span></button>		
						<!-- MODAL PARA AGREGAR DOCUMENTOS -->
						<ng-template #contentGestionEntregable let-c="close" let-d="dismiss">
								<div class="modal-header" style="padding:20px 20px;">		
										<div class="row">
												<div class="col-md-12">
													<b><span class="glyphicon glyphicon-lock"> </span> {{titulo}} </b>
												</div>
											</div>
									</div><br>
									<div class="modal-body" style="padding:10px 20px;">				
											<div class="row">
												<div class="col-md-12">
													<form class="form-horizontal" role="form">
														<div class="form-group">
																<label for="inputEmail3" class="col-sm-2 control-label">
																	Cliente :
																</label>
																<div class="col-sm-10">
																	<input 
																	value={{this.razonSocial}} type="text" disabled class="form-control input-sm" id="inputEmail3" placeholder="Razón Social">
																</div>
														</div>	
														<div class="form-group">
															<label for="inputEmail3" class="col-sm-2 control-label">
																Servicio :
															</label>
															<div class="col-sm-10">
																<input
																value={{this.servicio}} type="text" disabled class="form-control input-sm" id="inputEmail3" placeholder="Servicio">
															</div>
														</div>
													</form>
												</div>
											</div>
											<hr> 
									 <!-- Documento  : {{ this.entregableServicio | json }}	  -->
										<div class="row">
											<div class="col-md-12">
												<form class="form-horizontal" role="form">
													<div class="form-group">
														<label for="strNombreEntregable" class="col-sm-3 control-label">
															 Entregable :
														</label>  
														<div class="col-sm-7">
															<input name="strNombreEntregable" 
															[(ngModel)] = this.entregableServicio.strNombreEntregable
															type="text" class="form-control input-sm" id="strNombreEntregable" 
															placeholder="Entregable"
															 >	
														</div> 
													</div>  
													<div class="form-group">
														<label for="strDescripcion" class="col-sm-3 control-label">
															 Descripción :
														</label>  
														<div class="col-sm-9">
															<textarea name="strDescripcion"  
															[(ngModel)] = this.entregableServicio.strDescripcion 
															class=" form-control input-sm"   id="strDescripcion"
															rows="4" placeholder="Descripción del Entregable">
																</textarea>
														</div> 
													</div>  
													<div class="form-group" >
															<label for="intNroDias" class="col-sm-3 control-label"> 
																Nro Dias : </label> 
														 	<div class="col-sm-3">  
																<input name="intNroDias" 
																	[(ngModel)] = this.entregableServicio.intNroDias 
																	type="number" class="form-control input-sm" id="intNroDias" 
															 	>
															</div>  
													</div>
													<div class="form-group" >
														<label for="inputEmail3" class="col-sm-3 control-label">
																Tipo Moneda:
															</label>
															<div class="col-sm-5">
																<select name="moneda" 
																	[(ngModel)]= this.entregableServicio.intMoneda 
																	class="form-control input-sm" >
																	<option selected="selected" [value]=null  disabled> - SELECCIONE -</option>    
																	<option *ngFor="let tm of this.tipoMonedas" 
																	[value]="tm.intId"
																	>{{tm.strName}}</option>
																</select>		
															</div>
													</div>
													<div class="form-group">
														<label for="dbCosto" class="col-sm-3 control-label">
															 Costo :
														</label>  
														<div class="col-sm-5 ">
															<input name="dbCosto"  currencyMask
															[(ngModel)] = this.entregableServicio.dbCosto 
															type="text" class="form-control input-sm text-right" id="dbCosto" 
															placeholder="00.00"
															[options]="{ prefix: 'S/ ', thousands: ',', decimal: '.' ,precision:0}"  >	
														</div> 
													</div> 
												</form>
											</div>
										</div>
									</div>
									<div class="modal-footer"> 
											<button  (click) = "this.verificiarData();"  type="submit" class="btn btn-success input-sm" data-dismiss="modal"><span class="fa  fa-check"></span> Aceptar</button>
											<button   (click)="this.modalRef.close();limpiarEntregableServicio();" type="submit" class="btn btn-danger input-sm" data-dismiss="modal"><span class="fa fa-remove"></span> Cancelar</button>
										</div>
								</ng-template>