<button (click)="this.cargarValoresIniciales();  openModal(contentAgregarPerfiles); " type="button" class={{this.classBoton}}><i class= {{this.iconBoton}}></i><span> {{this.nameBoton}}</span></button>		
	<!--MODALES PERFIL -->
					<!-- Modal content -->
					<ng-template #contentAgregarPerfiles let-c="close" let-d="dismiss">
							<div class="modal-header" style="padding:20px 20px;">		
								<div class="row">
										<div class="col-md-12">
											<b><span class="glyphicon glyphicon-lock"></span>  {{this.titulo}} </b>  
										</div> 
									</div>
							</div>
							<div class="modal-body" style="padding:10px 20px;">	
									<br>			
									<div class="row">
										<div class="col-md-12">
											<form class="form-horizontal" role="form">
												<div class="form-group">
														<label for="inputEmail3" class="col-sm-2 control-label">
															Razón Social:
														</label>
														<div class="col-sm-10">
															<input 
															value={{this.servicio.strNombreCliente}} type="text" disabled class="form-control input-sm" id="inputEmail3" placeholder="Razón Social">
														</div>
												</div>	
												<div class="form-group">
													<label for="inputEmail3" class="col-sm-2 control-label">
														Servicio:
													</label>
													<div class="col-sm-10">
														<input
														value={{this.servicio.strNombreServicio}} type="text" disabled class="form-control input-sm" id="inputEmail3" placeholder="Servicio">
													</div>
												</div>
											</form>
										</div>
									</div>
									<hr>
									<div class="row">
										<div class="col-md-12">
											<div class="row"> 
													<label for="inputEmail3" class="col-sm-12 control-label">
															Datos Perfil  	
														</label> 				
											</div>
										</div>
									</div>
									<hr>
					 	
							<!--Perfil Servicio : {{ this.perfilServicio | json }}-->

						 
									<div class="row">
										<div class="col-md-12">
											<form class="form-horizontal" role="form">
												<div class="form-group">
														<label for="inputEmail3" class="col-sm-3 control-label">
															Perfil:
														</label>
														<div class="col-sm-9">
															<select name="modalidad"  [hidden]="existServicioEntrante"
															 #inputPerfil 
															[(ngModel)] = this.perfil
															class="form-control input-sm" style="width: 100%" 
															(change)="this.cargarPerfil();this.cargarListConocimientos(inputPerfil.value);this.validarPerfil(); "  >
															 <option selected="selected"  disabled [ngValue]=undefined > - SELECCIONE - </option>
															 <option *ngFor="let p of this.perfiles"
															 [ngValue]="p" 
															 > {{p.strPerfil}}
															 </option> 
															 </select>
															 <input name="strPerfil" [hidden]=!existServicioEntrante  disabled 
																	[(ngModel)]= this.perfilServicio.strPerfil type="text"  class="form-control input-sm" id="inputEmail3" >
													</div> 
												</div>
												<div class="form-group" [hidden] = !this.errorPerfil>
													<label for="inputEmail3" class="col-sm-3 control-label"> 
														</label>
														{{this.responsePerfil}}
													</div>
										<!--		Perfil Sleccionado del combo  {{this.perfil | json }}-->
		 
											<!--	Todos los conocimientso del perfil selecionado :  {{ this.lstConocimientos | json }}-->
											<!--
													<div class="form-group" [hidden]="existServicioEntrante">
													<label for="inputEmail3" class="col-sm-3 control-label">
														Conocimientos:
													</label>
													<div class="col-sm-9" >
														<input name="lstConocimientos()" 
														[(ngModel)]= this.lstConocimientos disabled type="text"  class="form-control input-sm" id="inputEmail3" >
													</div>
												</div>
											-->
												<div class="form-group">
													<label for="inputEmail3" class="col-sm-3 control-label">
														Cantidad:
													</label>
													<div class="col-sm-3">
														<input name="cantidad"
														[(ngModel)]= this.perfilServicio.intCantidad 
														(change)= this.validarCantidad();
														type="number"  class="form-control input-sm" id="inputEmail3" >
													</div>  
												</div>	
												<div class="form-group" [hidden] = !this.errorCantidad >
														<label for="inputEmail3" class="col-sm-3 control-label"> 
															</label>
															{{this.responseCantidad}}
												</div>
												<div class="form-group">
													<label for="inputEmail3" class="col-sm-3 control-label">
														Fecha Inicio:
													</label>
													<div class="col-sm-4">
														<input name = "fechaInicio"
														[(ngModel)]= this.perfilServicio.dtFechaInicio
														(change)= this.validarFechaInicio();
														type="date"  class="form-control input-sm" id="inputEmail3">  
													</div>
													<label for="inputEmail3" class="col-sm-5">
															Inicio del Servicio ({{this.servicio.dtFechaInicioEsperada  | date:"dd/MM/yyyy" }})
													</label>
												</div>
												 <div class="form-group" [hidden] = !this.errorFechaInicio>
													<label for="inputEmail3" class="col-sm-3 control-label"> 
													</label>
													{{this.responseValidarFechaInicio}}
												</div>
												
												<div class="form-group">
													<label for="inputEmail3" class="col-sm-3 control-label">
														Fecha Final:
													</label>
													<div class="col-sm-4">
														<input name="fechaFin"
														[(ngModel)]= this.perfilServicio.dtFechaFin  
														(change)= this.validarFechaFin();
														type="date"  class="form-control input-sm" id="inputEmail3">
													</div>
													<label for="inputEmail3" class="col-sm-5 ">
															Final del Servicio  ({{servicio.dtFechaFinEsperada  | date:"dd/MM/yyyy" }})
													</label> 
												</div>	
												<div class="form-group" [hidden] = !this.errorFechaFin>
														<label for="inputEmail3" class="col-sm-3 control-label"> 
														</label>
														{{this.responseValidarFechaFin}}
													</div>

												<div class="form-group">
														<label for="observacion" class="col-sm-3 control-label">
															Observación :
														</label>
														<div  class="col-sm-9">
															<input name="observacion"
															[(ngModel)] = this.perfilServicio.strObservacion
															 type="text"  class="form-control input-sm" id="observacion">
														</div>
													</div>	
											</form>	
										</div>
									</div>
								</div>
								<div class="modal-footer">
								<div class="col-md-12">
									{{this.responseErroresModal}}
									<button  (click)="this.enviarPerfilServicio(this.perfilServicio);" type="button" class="btn btn-success">Agregar
									</button>
									<button (click)="closeModalPerfilServicio(); "type="button" class="btn  btn-danger">Cancelar
									</button>
								</div>
								</div>
							</ng-template>
								<!--FIN MODAL PERFIL -->