<!--<button  
(click)="openModal(contentGenerarContrato) ; this.cargarContrato(this.detallePago); "
type="button"  class="btn btn-default  btn-xs"><i class="fa fa-download">
	 </i><span> Generar Contrato </span>
	</button>  -->
<button  (click)="openModal(contentRegistrarContrato); this.cargarContrato(this.detallePago.intContratoPersonaId);" type="button" class="btn btn-default btn-xs"><i class="fa fa-check"></i><span> Registrar Contrato </span></button>	
	 <!--Modal Generar Contrato> -->
      <!-- Modal content-->
	      <!-- Modal content-->
		  <ng-template #contentRegistrarContrato let-c="close" let-d="dismiss">
				<div class="modal-header" style="padding:20px 20px;">		
						<div class="row">
								<div class="col-md-12">
									<b><span class="glyphicon glyphicon-lock"></span> Registrar Contrato</b>
								</div>
						</div>
					</div><br>
					<div class="modal-body" style="padding:10px 20px;">				
							<div class="row">
								<div class="col-md-12">
									<form class="form-horizontal" role="form">
										<div class="form-group">
												<label for="inputEmail3" class="col-sm-3 control-label">
													Nombre :
												</label>
												<div class="col-sm-9">
													<input 
													value={{strNombreCompleto}} type="text" disabled class="form-control input-sm" id="inputEmail3" placeholder="Razón Social">
												</div>
										</div>	
										<div class="form-group">
											<label for="inputEmail3" class="col-sm-3 control-label">
												DNI :
											</label>
											<div class="col-sm-9">
												<input
												value={{strDNI}} type="text" disabled class="form-control input-sm" id="inputEmail3" placeholder="Servicio">
											</div>
										</div>
									</form>
								</div>
							</div>
							<hr>
							<div class="col-md-12">
								<div class="row">
									<div>
										<label for="inputEmail3" class="col-sm-12control-label">
												Datos Contrato 
											</label>
									</div>									
								</div>
							</div><br><hr>
					
					<!--		<div> Contrato Persona (this.contratoPersona)     : {{ this.contratoPersona | json }} </div> -->
					<!--	<div> Detalle Pago  (this.detallePago) :  {{this.detallePago |json }}</div>
						<div> Candidato (this.Candidato)  : {{this.candidato | json }} </div>
					-->
						<div class="row">
							<div class="col-md-12">
								<form class="form-horizontal" role="form">
		
									<div class="form-group">
										<label for="inputEmail3" class="col-sm-3 control-label">
											Modalidad:
										</label>
										<div class="col-sm-8">

											<input name = "modalidad" disabled
											[(ngModel)]= this.detallePago.strNombreModalidad
											type="text" class="form-control input-sm" id="inputEmail3" >
										</div>
									</div>
									<div class="form-group">
											<label for="inputEmail3" class="col-sm-3 control-label">
												Moneda :
											</label>
											<div class="col-sm-3">			

													<input name = "moneda" disabled
													[(ngModel)]= this.detallePago.strMoneda
													type="text" class="form-control input-sm" id="inputEmail3" >
											</div>
											<label for="inputPassword3" class="col-sm-3 control-label">
													Sueldo :
												</label> 
											<div class="col-sm-3"> 
													<input  disabled type="text"
													class="form-control input-sm text-right"  id="dbMonto"
													name ="dbMonto" currencyMask [(ngModel)]="this.detallePago.dbMonto" 
													placeholder="00.00"
													[options]="{ prefix: '', thousands: ',', decimal: '.' ,precision:2}" >  
										
											</div>
									</div>
									<div class="form-group">
										<label for="inputPassword3"  class="col-sm-3 control-label">
											Fecha Inicio:
										</label>
										<div class="col-sm-5">
												<input
												name = "dtFechaContratacion"
												 [(ngModel)]=this.contratoPersona.dtFechaContratacion
												type="date"  class="form-control input-sm"
												 id="inputEmail3" placeholder="">
										</div>
									</div>
									<div class="form-group">
											<label for="inputPassword3"  class="col-sm-3 control-label">
												Fecha Fin:
											</label>
											<div class="col-sm-5">
												<input 
												name = "dtFechaFinalizacion"
												[(ngModel)]= this.contratoPersona.dtFechaFinalizacion
												type="date"  class="form-control input-sm" 
												id="inputEmail3" placeholder="">
											</div>						
									</div>
									<div class="form-group">
											<label for="inputPassword3" class="col-sm-3 control-label">
													Empresa :
												</label>
													<div class="col-sm-7">
														<select name="Empresa" 
															[disabled]= this.editContrato
															[(ngModel)] = this.contratoPersona.intEmpresaId 
															class="form-control input-sm" >
															<option [value]=null selected disabled> - Seleccione - </option>    
															<option *ngFor="let td of this.tipoEmpresa"
															[value]="td.intId"> {{td.strName}}</option> 	
														</select>		
													</div>
								</div>
								<div class="form-group">
									<label for="inputPassword3" class="col-sm-3 control-label">
											Motivo :
										</label>
											<div class="col-sm-7">
												<select name="motivoContrato" 
													[disabled]= this.editContrato
													[(ngModel)] = this.contratoPersona.intMotivoContrato 
													class="form-control input-sm" >
													<option [value]=null selected disabled> - Seleccione - </option>    
													<option *ngFor="let mc of this.motivoContrato"
													[value]="mc.intId"> {{mc.strName}}</option> 	
												</select>		
											</div>
								</div>
								<div class="form-group">
									<label for="inputPassword3" class="col-sm-3 control-label">
										Cargo:
									</label>
									<div class="col-sm-8">
											<input  name="cargo" [disabled]= this.existContratoId
											[(ngModel)]=this.contratoPersona.strCargo type="text" class="form-control input-sm" id="inputEmail3" placeholder="Cargo Colaborador">
									</div> 
								</div>	
								</form>
							</div>
						</div>
					</div>
					<div class="modal-footer">
							<button (click) = "this.generarContrato(this.detallePago);this.modalRef.close();this.limpiarContrato();" 
							[disabled]= this.existContratoId 
							type="submit" class="btn btn-success input-sm" data-dismiss="modal"><span class="fa  fa-check"></span> Generar Contrato</button>
							<button (click) = "this.modalRef.close();this.limpiarContrato();" type="submit" class="btn btn-danger input-sm" data-dismiss="modal"><span class="fa fa-remove"></span> Cancelar</button>
					</div>
				</ng-template>



			<!--Fin Modal Generar Contrato	-->

					<!--Modal registro exitoso servicios-->
<!-- Modal content 
      <div class="modal-content">-->
		<ng-template #contentRegistroExitoso let-c="close" let-d="dismiss">
				<!--<cf-modal-mensaje-informacion
				>
				</cf-modal-mensaje-informacion>
			-->
				<div class="modal-header" style="padding:20px 20px;">		  
					<div class="row">
						<div class="col-md-12">
								<b><span class="fa  fa-check-circle"></span>  Mensaje de Información </b>
						</div>
					</div>
				</div>
				<div class="modal-body" style="padding:10px 30px;">
					<div class="row">
						<div class="col-md-12">
							<form class="form-horizontal" role="form">
									<div class="form-group">
											<div class="col-md-1"></div>
											<div class="col-md-10"> 
											 <label for="inputEmail3" class="col-sm-10 control-label text-center">
													 {{this.responseMessage}} 
											</label>  
												</div>
												<div class="col-md-1"></div>
									</div>
							</form>
						</div>
					</div>
				</div>
				<div class="modal-footer">
						<div class="col-md-4"></div>	
						<div class="col-md-4">
							<button (click)="this.modalRef.close()" type="submit" class="btn form-control input-sm btn-success" data-dismiss="modal" >Aceptar</button>
						</div>
					<div class="col-md-4"></div>
				</div>
		
			</ng-template>
			<ng-template #errorSistema let-c="close" let-d="dismiss"> 
				<div class="modal-header" style="padding:20px 20px;">		  
						<div class="row">
							<div class="col-md-12">
								<b><span class="fa  fa-exclamation-triangle"> </span> Problema Encontrado</b>
							</div>
						</div>
				</div>
				<div class="modal-body" style="padding:10px 30px;">
					<br>
						<div class="row">
								<div class="col-md-1">
								</div>
							<div class="col-md-10">
								<form class="form-horizontal" role="form">
										<div class="form-group">
											<label for="inputEmail3" class="col-sm-12 control-label text-left">	
												Atención : <br> 
												1.- {{this.messageErrorSistema}}.<br>
											</label>    
										</div> 
								</form>
							</div>
						</div>
				</div>
				<div class="modal-footer"> 
					 <button (click)="this.modalRef.close();" type="submit" class="btn  btn-success" data-dismiss="modal" >Aceptar</button>
				</div> 
			</ng-template>  
						<!-- Modal Registro Exitoso -->	