<!--<button  
(click)="openModal(contentGenerarContrato) ; this.cargarContrato(this.detallePago); "
type="button"  class="btn btn-default  btn-xs"><i class="fa fa-download">
	 </i><span> Generar Contrato </span>
	</button>  -->
<button  (click)="openModal(contentRegistrarFacturacion);this.cargarDataInicial(this.facturacionesDetalle);" type="button" class="btn btn-default btn-xs"><i class="fa fa-money"></i><span> Facturar  </span></button>	
	 <!--Modal Generar Contrato> -->
      <!-- Modal content-->
	      <!-- Modal content-->
		  <ng-template #contentRegistrarFacturacion let-c="close" let-d="dismiss">
				<div class="modal-header" style="padding:20px 20px;">		
						<div class="row">
								<div class="col-md-12">
									<b><span class="glyphicon glyphicon-lock"></span> Registrar Facturación</b>
								</div>
						</div>
					</div><br>
					<div class="modal-body" style="padding:10px 20px;">				
							<div class="row">
								<div class="col-md-12">
									<form class="form-horizontal" role="form">
										<div class="form-group">
												<label for="inputEmail3" class="col-sm-3 control-label">
													Ciente :
												</label>
												<div class="col-sm-9">
													<input 
													value={{strNombreCliente}} type="text" disabled class="form-control input-sm" id="inputEmail3" placeholder="Razón Social">
												</div>
										</div>	
										<div class="form-group">
											<label for="inputEmail3" class="col-sm-3 control-label">
												Servicio :
											</label>
											<div class="col-sm-9">
												<input
												value={{strNombreServicio}} type="text" disabled class="form-control input-sm" id="inputEmail3" placeholder="Servicio">
											</div>
										</div>
									</form>
								</div>
							</div>
							<hr>
						<!-- Data Facturacion : {{ this.facturacion | json }}  -->
							<div class="col-md-12">
								<form class="form-horizontal" role="form">   
										<div class="form-group"> 
												<label for="strNroFactura" class="col-sm-2 control-label">
														Nro Factura :
												</label>
												<div class="col-sm-5"> 
														<input name = "strNroFactura"  
														[(ngModel)]= this.facturacion.strNroFactura 
														type="text" class="form-control input-sm" id="strNroFactura" placeholder="0000-000000" >
												</div> 
												<label for="tiposMoneda" class="col-sm-2 control-label">
														Moneda :
												</label>
												<div class="col-sm-3"> 
														<select name="tiposMoneda"   
														[(ngModel)] = this.facturacion.intMoneda 
														class="form-control input-sm" >
														<option [value]=null selected disabled> - Seleccione - </option>    
														<option *ngFor="let tm of this.tiposMoneda"
														[value]="tm.intId"> {{tm.strName}}</option> 	
													</select>
												</div>
										</div>  
										<div class="form-group"> 
												<label for="dtFechaEmision" class="col-sm-2 control-label">
														F. Emisión:
												</label>
												<div class="col-sm-4"> 
														<input name = "dtFechaEmision"  
														[(ngModel)]= this.facturacion.dtFechaEmision 
														type="date" class="form-control input-sm" id="dtFechaEmision" >
												</div> 
												<label for="dtFechaPago" class="col-sm-2 control-label">
														F. Pago:
												</label>
												<div class="col-sm-4"> 
														<input name = "dtFechaPago"  
														[(ngModel)]= this.facturacion.dtFechaPago 
														type="date" class="form-control input-sm" id="dtFechaPago" >
												</div>
										</div>  
										<hr>
										<div class="form-group"> 
												<label for="dbSubTotal" class="col-sm-3 control-label">
														Sub Total :
												</label>
												<div class="col-sm-4"> 
														<input name = "dbSubTotal"  currencyMask
														(change)="this.calcularTotal();" 
														[(ngModel)]= this.facturacion.dbSubTotal 
														[options]="{ prefix: '', thousands: ',', decimal: '.' ,precision:0}"    
														type="text" class="form-control input-sm btn-xs" id="dbSubTotal" placeholder="00.00">
												</div>
										
											<div  class="col-sm-3">
													<button (click) = "this.calcularMontoTotal();" type="submit" class="btn btn-default btn-xs" ><span class="fa fa-money"></span> Calcular</button>
											</div>
											<div  class="col-sm-3 message-error">
													{{this.messageErrorCalcularMontoTotal}}
											</div>
										</div> 
										<hr>
										<div class="form-group"> 
												<label for="dbIGV" class="col-sm-2 control-label">
														IGV ({{this.dbIGV*100}}%):
												</label>
												<div class="col-sm-4"> 
														<input name = "dbIGV" disabled currencyMask
														(change)="this.calcularTotal();"  
														[(ngModel)]= this.facturacion.dbIGV 
														[options]="{ prefix: '', thousands: ',', decimal: '.' ,precision:2}"
														type="text" class="form-control input-sm" id="dbIGV"  placeholder="00.00" >
												</div> 
												<label for="dbTotal" class="col-sm-2 control-label">
														Total:
												</label>
												<div class="col-sm-4"> 
														<input name = "dbTotal"  disabled currencyMask
														[(ngModel)]= this.facturacion.dbTotal 
														[options]="{ prefix: '', thousands: ',', decimal: '.' ,precision:2}"
														type="text" class="form-control input-sm" id="dbTotal"  placeholder="00.00" >
												</div>
										</div>
									 	<div class="form-group"> 
												<label for="dbDetraccion" class="col-sm-2 control-label">
														Detracción ({{this.dbDetraccion*100}}%):
												</label>
												<div class="col-sm-4"> 
														<input name = "dbDetraccion"   disabled currencyMask
														[(ngModel)]= this.facturacion.dbDetraccion 
														[options]="{ prefix: '', thousands: ',', decimal: '.' ,precision:2}"
														type="text" class="form-control input-sm" id="dbDetraccion"   placeholder="00.00">
												</div>
										  
												<label for="dbAbonoDetraccion" class="col-sm-2 control-label">
														Abono con Detracción:
												</label>
												<div class="col-sm-4"> 
														<input name = "dbAbonoDetraccion"    disabled  currencyMask
														[(ngModel)]= this.facturacion.dbAbonoDetraccion 
														[options]="{ prefix: '', thousands: ',', decimal: '.' ,precision:2}"
														type="text" class="form-control input-sm" id="dbAbonoDetraccion"  placeholder="00.00" >
												</div>
										</div>  
								</form>
							</div> 
							<!-- <div class="col-md-12"  [hidden]=!blIsServicio> -->
							<div class="col-md-12">
									<hr> 
								<div class="row">
									<div>
										<label for="inputEmail3" class="col-sm-12control-label">
												Datos Facturación 
										</label>
									</div>									
								</div>
							</div>  
					<!-- <div class="row">-->
					<!--<div class="col-md-12"  [hidden]=!blIsServicio>-->	
					    <div class="col-md-12" >
							<div class="table-responsive">
							<table class="table table-hover table-bordered text-center">
								<thead>
									<tr class="active" >
										<th>#</th>
										<th [hidden]=!blIsServicio>Recurso</th>
										<th>Perfil</th>
										<th [hidden]=blIsServicio>Descripción</th>
										<th [hidden]=!blIsServicio>Sueldo</th> 
										<th [hidden]=blIsServicio> Monto</th>
									</tr>
								</thead>
								<tbody>
									<tr *ngFor="let ds of this.detallesSeleccionados"> 	 
										<td>{{this.detallesSeleccionados.indexOf(ds)+1}}</td> 
										<td [hidden]=!blIsServicio>{{ds.strNombreCompleto}}</td> 
										<td>{{ds.strPerfil}}</td>
										<td [hidden]=blIsServicio >{{ds.strDescripcion}}</td>
										<td [hidden]=!blIsServicio >{{ds.strModalidadSueldo}}</td>
										<td [hidden]=blIsServicio >{{ds.dbMonto | number:'3.2-2'}}</td>
									</tr>
								</tbody>
							</table>
							</div>
						</div> 
					</div>
					<div class="modal-footer">
							<div class="message-error">
									{{this.messageErrorValidandoRegistros}}
							</div>
							<button (click) = "this.validarRegistro(this.facturacion);" 
							[disabled]= this.existContratoId 
							type="submit" class="btn btn-success input-sm" data-dismiss="modal"><span class="fa  fa-check"></span> Generar Facturación</button>
							<button (click) = "this.modalRef.close();this.limpiarCampos();" type="submit" class="btn btn-danger input-sm" data-dismiss="modal"><span class="fa fa-remove"></span> Cancelar</button>
					</div>
				</ng-template> 
			<!--Fin Modal Generar Contrato	-->
 <!--Modal registro exitoso servicios-->
<!-- Modal content 
      <div class="modal-content">-->
		<ng-template #contentRegistroExitoso let-c="close" let-d="dismiss"> 
				<div class="modal-header" style="padding:20px 20px;">		  
					<div class="row">
						<div class="col-md-12">
								<b><span class="fa  fa-check-circle"></span>  Mensaje de Información </b>
						</div>
					</div>
				</div>
				<div class="modal-body" style="padding:10px 30px;">
					<div class="row">
						<div class="col-md-12">
							<form class="form-horizontal" role="form">
									<div class="form-group">
											<div class="col-md-1"></div>
											<div class="col-md-10"> 
												<label for="inputEmail3" class="col-sm-10 control-label text-center">
														{{this.responseMessage}} 
												</label>  
											</div>
											<div class="col-md-1">

											</div>
									</div>
							</form>
						</div>
					</div>
				</div>
				<div class="modal-footer">
						<div class="col-md-4"></div>	
						<div class="col-md-4">
							<button (click)="this.modalRef.close()" type="submit" class="btn form-control input-sm btn-success" data-dismiss="modal" >Aceptar</button>
						</div>
					<div class="col-md-4"></div>
				</div>
		
			</ng-template>
						<!-- Modal Registro Exitoso -->	