<button (click)="this.downloadDocumento(this.strAlfrescoId);" type="button" class="btn btn-default btn-xs"><i class= {{this.iconBoton}}></i><span> {{this.nameBoton}}</span></button>		
<!--<button (click)="openModal(contentVerDocumento);this.buscarDocumento(this.strAlfrescoId);" type="button" class="btn btn-default btn-xs"><i class= {{this.iconBoton}}></i><span> {{this.nameBoton}}</span></button>		 -->
	<!--Modal Direcciones  -->
      <!-- Modal content  -->
    <!--   <div class="modal-content">-->
			<ng-template #contentVerDocumento let-c="close" let-d="dismiss">	  
					<div class="modal-header" style="padding:20px 20px;">		  
						<div class="row">
							<div class="col-md-12">
								<span class="glyphicon glyphicon-lock"></span> Documento
							</div>
						</div>
					</div> 
					<div class="modal-body" style="padding:10px 20px;">
						<div class="row">
							<div class="col-md-12">
								<form class="form-horizontal" role="form"   >
									
										<div class="form-group">
											<label for="inputEmail3" class="col-sm-2 control-label">
														Nombre Documento :
											</label>
												<div class="col-sm-10">
														<input value={{this.codAlfresco}} type="text"     disabled class="form-control input-sm" id="inputEmail3" placeholder="RUC">
												</div>
										</div>  
								</form>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="submit" (click)="this.imprimirDocumento();this.closeModal();" 
							class="btn btn-default btn-sm "><span class="fa  fa-print"></span> Imprimir</button>
						<button type="submit" (click)="this.closeModal();limpiarDocumento();" class="btn btn-default btn-sm" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
					</div>
				</ng-template>
					<!--Fin Modal Direcciones-->