<button (click)="openModal(contentBusquedaPersona);"type="button" class="btn btn-default btn-xs"><i class="fa fa-search"></i><span> Buscar Cliente </span> </button>
		<!--Modal Datos Contactos-->
	<!--Modal Busqueda de Personas-->
      <!-- Modal content-->
	  <ng-template #contentBusquedaPersona let-c="close" let-d="dismiss">  
			<div class="modal-header" style="padding:20px 20px;">		  
			  <div class="row">
					<div class="col-md-12">
						<b><span class="fa fa-search"></span> {{titulo}} </b>
					</div>
				</div>
			</div>
			<div class="modal-body" style="padding:10px 30px;">
				<br>
				<div class="row">
					<div class="col-md-9">
						<form class="form-horizontal" role="form">
							<div class="form-group">
								<label  for="inputEmail3" class="col-sm-4 control-label">
									RUC : 
								</label>
								<div class="col-sm-8"> 
									<input name="ruc"
									#inputRUC type="number" class="form-control input-sm" id="inputEmail3"
									[(ngModel)] = this.personaJuridica.strRUC >
								</div>

							</div>	
							<div class="form-group">
								<label for="inputPassword3" class="col-sm-4 control-label">
										Razón Social :
									</label>
								<div class="col-sm-8">
										<input name="strRazonSocial"
										#inputRazonSocial type="text" class="form-control input-sm" id="inputEmail3" 
										[(ngModel)] = this.personaJuridica.strRazonSocial>
								</div>
							</div>
						</form>
					</div>
					<div class="col-md-3">
						<div class="row">
							<div class="col-md-12">
								<button  (click)="limpiarListPersonas();buscarPersonas(inputRUC.value,inputRazonSocial.value)"  id="btnBuscar" 
								 type="button" class="btn form-control input-default btn-default">
									Buscar
								</button> 
							</div>
							<div class="col-md-12">
								<button (click)="limpiarBusquedaPersonas();" id="btnLimpiar" type="button" class="btn form-control input-default btn-default">
									Limpiar 
								</button>
							</div>		
						</div>
					</div>
				</div> 
				<div class="row"><br>
					<div class="col-md-12">
						<div class="table-responsive">
						<table class="table table-hover table-bordered text-center">
							<thead>
								<tr class="active" >
									<th>ID</th>
									<th>RUC</th>
									<th>Razón Social</th>
									<th>Estado</th>
									<th>Opciones</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let personaJ of personasJuridica"> 	
									<td>{{personaJ.intId}}</td>
									<td>{{personaJ.strRUC}}</td>
									<td>{{personaJ.strRazonSocial}}</td>
									<td>{{personaJ.strEstado}}</td>
									<td>
										<button (click)="this.selectPersona(personaJ); this.modalRef.close();limpiarBusquedaPersonas()" type="button" class="btn btn-default btn-sm"><i class="fa  fa-check"></i>Seleccionar</button>
									</td>
								</tr>
							</tbody>
						</table>
							<div class="message-error">
									{{this.responseMessage}}
							</div>
						</div>
					</div>
				</div>
				</div>
					<div class="modal-footer">
						<div class="col-md-8"></div>
						<div class="col-md-3">									
							<button  (click)="this.modalRef.close();limpiarBusquedaPersonas()" type="submit" class="btn btn-danger " data-dismiss="modal"><span class="fa fa-remove"></span> SALIR</button>
						</div>
					</div>
					</ng-template>
	
	<!-- Fin modal BuscarPersonas -->	
	
		<!--Fin Modal Contactos-->	
	<!-- FIN MODALES-->