<button  (click)="openModal(contentRenovarContrato); this.cargarContrato(this.contratoPersona);" type="button" class="btn btn-default btn-xs"><i class="fa fa-check"></i><span> Renovar Contrato </span></button>	
	 <!--Modal Generar Contrato> -->
      <!-- Modal content-->
	      <!-- Modal content-->
		  <ng-template #contentRenovarContrato let-c="close" let-d="dismiss">
				<div class="modal-header" style="padding:20px 20px;">		
						<div class="row">
							<div class="col-md-12">
								<b><span class="glyphicon glyphicon-lock"></span> Renovar Contrato</b>
							</div>
						</div>
				</div><br>
					<div class="modal-body" style="padding:10px 20px;">				
							<div class="row">
								<div class="col-md-12">
									<form class="form-horizontal" role="form">
										<div class="form-group">
												<label for="inputEmail3" class="col-sm-3 control-label">
													Nombre :
												</label>
												<div class="col-sm-9">
													<input 
													value={{strNombreCompleto}} type="text" disabled class="form-control input-sm" id="inputEmail3" placeholder="Razón Social">
												</div>
										</div>	
										<div class="form-group">
											<label for="inputEmail3" class="col-sm-3 control-label">
												DNI :
											</label>
											<div class="col-sm-9">
												<input
												value={{strDNI}} type="text" disabled class="form-control input-sm" id="inputEmail3" placeholder="Servicio">
											</div>
										</div>
									</form>
								</div>
							</div>
							<hr>
							<div class="col-md-12">
								<div class="row">
									<div>
										<label for="inputEmail3" class="col-sm-12control-label">
												Datos Contrato 
											</label>
									</div>									
								</div>
							</div><br><hr>
					
					<!--  	<div> contratoOrigin      :  {{ this.contratoPersona | json }} </div>   -->
					<!--	<div> contratoDestiny     :  {{this.contrato |json }} </div>   --> 
					<!--	<div> Candidato (this.Candidato)  : {{this.candidato | json }} </div> 	-->
					<div class="row">
							<div class="col-md-12">
								<form class="form-horizontal" role="form">
		
									<div class="form-group">
										<label for="inputEmail3" class="col-sm-3 control-label">
											Modalidad:
										</label>
										<div class="col-sm-8"> 
											<input name = "modalidad" disabled
											[(ngModel)]= this.contratoPersona.strModalidad
											type="text" class="form-control input-sm" id="inputEmail3" >
										</div>
									</div>
									<div class="form-group">
											<label for="inputEmail3" class="col-sm-3 control-label">
												Moneda :
											</label>
											<div class="col-sm-3">			

													<input name = "moneda" disabled
													[(ngModel)]= this.contratoPersona.strMoneda
													type="text" class="form-control input-sm" id="inputEmail3" >
											</div>
											<label for="inputPassword3" class="col-sm-3 control-label">
													Sueldo :
												</label> 
											<div class="col-sm-3"> 
													<input  disabled type="text"
													class="form-control input-sm text-right"  id="dbSueldo"
													name ="dbMonto" currencyMask [(ngModel)]="this.contratoPersona.dbSueldo" 
													placeholder="00.00"
													[options]="{ prefix: '', thousands: ',', decimal: '.' ,precision:2}" >  
										
											</div>
									</div> 
									<div class="form-group">
										<label for="inputPassword3" class="col-sm-3 control-label">
												Empresa :
									 	</label>
										<div class="col-sm-7"> 
											<input name = "strEmpresa" disabled
											[(ngModel)]= this.contratoPersona.strEmpresa
											type="text" class="form-control input-sm" id="inputEmail3" >
										<!--	<select name="Empresa"    disabled
												[(ngModel)] = this.contratoPersona.intEmpresaId 
												class="form-control input-sm" >
												<option [value]=null selected disabled> - Seleccione - </option>    
												<option *ngFor="let td of this.tipoEmpresa"
												[value]="td.intId"> {{td.strName}}</option> 	
											</select>		
											-->
										</div>
								</div>
								<div class="form-group">
									<label for="inputPassword3" class="col-sm-3 control-label">
											Motivo :
										</label>
										<div class="col-sm-7">
												<input name = "strMotivoContrato" disabled
												[(ngModel)]= this.contratoPersona.strMotivoContrato
												type="text" class="form-control input-sm" id="inputEmail3" >
										<!--	<select name="motivoContrato"    disabled 
												[(ngModel)] = this.contratoPersona.intMotivoContrato 
												class="form-control input-sm" >
												<option [value]=null selected disabled> - Seleccione - </option>    
												<option *ngFor="let mc of this.motivoContrato"
												[value]="mc.intId"> {{mc.strName}}</option> 	
											</select>		 -->
										</div>
								</div>
								<div class="form-group">
									<label for="inputPassword3" class="col-sm-3 control-label">
										Cargo:
									</label>
									<div class="col-sm-8">
											<input  name="cargo"     disabled
											[(ngModel)]=this.contratoPersona.strCargo type="text" class="form-control input-sm" id="inputEmail3" placeholder="Cargo Colaborador">
									</div> 
								</div>	
								<div class="form-group">
										<label for="inputPassword3"  class="col-sm-3 control-label">
											Fecha Inicio:
										</label>
										<div class="col-sm-5">
												<input
												name = "dtFechaInicio"
												 [(ngModel)]=this.contrato.dtFechaContratacion
												type="date"  class="form-control input-sm"
												 id="inputEmail3" placeholder="">
										</div>
									</div>
									<div class="form-group">
											<label for="inputPassword3"  class="col-sm-3 control-label">
												Fecha Fin:
											</label>
											<div class="col-sm-5">
												<input 
												name = "dtFechaFin"
												[(ngModel)]= this.contrato.dtFechaFinalizacion
												type="date"  class="form-control input-sm" 
												id="inputEmail3" placeholder="">
											</div>						
									</div>
								</form>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button (click) = "this.sendContrato(this.contrato);this.modalRef.close();this.limpiarContrato();"  
							type="submit" class="btn btn-success input-sm" data-dismiss="modal"><span class="fa  fa-check"></span> Renovar</button>
						<button (click) = "this.modalRef.close();this.limpiarContrato();" type="submit" class="btn btn-danger input-sm" data-dismiss="modal"><span class="fa fa-remove"></span> Cancelar</button>
					</div>
				</ng-template> 
			<!--Fin Modal Generar Contrato	--> 