
<button (click)="this.cargarValoresIniciales();  openModal(contenPorcentajesPension);" type="button" class={{this.classBoton}}><i class= {{this.iconBoton}}></i><span> {{this.nameBoton}}</span></button>		
	<!--MODALES PERFIL -->
					<!-- Modal content -->
					<ng-template #contenPorcentajesPension let-c="close" let-d="dismiss">
							<div class="modal-header" style="padding:20px 20px;">		
								<div class="row">
										<div class="col-md-12">
											<!--<span class="glyphicon glyphicon-lock"></span> -->
										<b>  {{this.titulo}}   </b> 
										</div> 
									</div>
							</div><br>
							<div class="modal-body" style="padding:10px 20px;">	 
						<!-- <div> Pension : {{this.pension | json }} </div>    -->
									<div class="row">
										<div class="col-md-12">
											<form class="form-horizontal" role="form">
												<div class="form-group">
														<label for="inputEmail3" class="col-sm-4 control-label">
															Nombre Pensión:
														</label>
														<div class="col-sm-4" >
																<input name="strNombrePension" 
																[disabled] = true
																[(ngModel)]= this.pension.strNombrePension type="text"  class="form-control input-sm" id="inputEmail3" >
														</div>
												</div>
												<hr>   
										<!-- Perfil Sleccionado del combo  {{this.perfil | json }}--> 
											<div class="form-group">
														<label for="dbPorcentajeAporte" class="col-sm-3 control-label">
															% Aporte  :
														</label>
														<div  class="col-sm-3">
																<input name="dbPorcentajeAporte"  [textMask]="{mask: porcentajeMask}" 
																[(ngModel)] = this.pension.dbPorcentajeAporte placeholder="00.00"
																type="text"   class="form-control input-sm" id="dbPorcentajeAporte">
														</div> 
													<label for="dbPorcentajeSeguro" class="col-sm-3 control-label">
															% x Seguro  :
													</label>
													<div  class="col-sm-3">
															<input name="dbPorcentajeSeguro"  [textMask]="{mask: porcentajeMask}" 
															[disabled] = this.isONP   placeholder="00.00"
															[(ngModel)] = this.pension.dbPorcentajeSeguro
															type="text" class="form-control input-sm" id="dbPorcentajeSeguro">
													</div>
												</div>
												<div class="form-group">
													<label for="dbPorcentajeComisionMixta" class="col-sm-3 control-label">
															% Com. Mixta  :
													</label>
													<div  class="col-sm-3"> 
															<input name="dbPorcentajeComisionMixta"  [textMask]="{mask: porcentajeMask}" 
															[disabled] = this.isONP   placeholder="00.00"
															[(ngModel)] = "this.pension.dbPorcentajeComisionMixta"  
															type="text"  class="form-control input-sm" id="dbPorcentajeComisionMixta">
															 
													</div> 
													<!--
													<input type="number" class="form-control" min="0.00" [(ngModel)]='this.pension.dbPorcentajeComisionMixta | number: 2'
													 step="0.01" name="bal" #bal="ngModel">
												-->
													 <label for="descripcion" class="col-sm-3 control-label">
															% Com. Flujo  :
													</label>
													<div  class="col-sm-3">
														<!--	<input type="number" [value]="this.pension.dbPorcentajeComisionFlujo * 100"
															(input)="this.pension.dbPorcentajeComisionFlujo = $event.target.value / 100"
															class="form-control input-sm" id="descripcion">
														-->
														<input name="dbPorcentajeComisionFlujo"   [textMask]="{mask: porcentajeMask}" 
														[disabled] = this.isONP    placeholder="00.00"
														[(ngModel)] = this.pension.dbPorcentajeComisionFlujo
														type="text"  class="form-control input-sm" id="dbPorcentajeComisionFlujo">
													</div>
												</div>	 
											</form>	  
										</div>
									</div>
								</div>
								<div class="modal-footer">
								<div class="col-md-12">
									<button  (click)="this.enviarDataPension(this.pension); closeModalPension();" type="button" class="btn btn-default"> <i class="fa  fa-save"></i><span> Aceptar</span>
									</button>
									<button  (click)="this.closeModalPension();" type="button" class="btn  btn-default"> <i class="fa  fa-remove"></i><span> Cancelar</span>
									</button>
								</div>
								</div>
							</ng-template>
								<!--FIN MODAL PERFIL -->