<button (click)="openModal(contentBusquedaContactoServicio)" type="button" class="{{this.classBoton}}"><i class="{{this.iconBoton}}"></i><span> {{this.nameBoton}} </span> </button>
<!--Modal Datos Contactos-->
	<!--Modal Busqueda de Personas-->
      <!-- Modal content-->
	  <ng-template #contentBusquedaContactoServicio let-c="close" let-d="dismiss">  
			<div class="modal-header" style="padding:20px 20px;">		  
			  <div class="row">
					<div class="col-md-12">
						<b><span class="fa fa-search"></span> Buscar Contactos del Cliente </b>
					</div>
				</div>
			</div>
			<div class="modal-body" style="padding:10px 30px;">
					<br>
				<div class="row">
					<div class="col-md-9">
						<form class="form-horizontal" role="form">
							<div class="form-group">
								<label  for="inputEmail3" class="col-sm-4 control-label">
									Nombres: 
								</label>
								<div class="col-sm-8"> 
									<input name="nombre"
									#inputNombre type="text" class="form-control input-sm" id="inputEmail3"
									[(ngModel)] = this.contacto.strNombre >
								</div>
							</div>	
							<div class="form-group">
								<label for="inputPassword3" class="col-sm-4 control-label">
										Ape. Paterno:
									</label>
								<div class="col-sm-8">
										<input name="apePaterno"
										#inputApePaterno type="text" class="form-control input-sm" id="inputEmail3" 
										[(ngModel)] = this.contacto.strApePaterno >
							
									</div>
							</div>
							<div class="form-group">
								<label for="inputPassword3" class="col-sm-4 control-label">
									Ape. Materno:
								</label> 
								<div class="col-sm-8">
									<input name="apeMaterno"
									#inputApeMaterno type="text" class="form-control input-sm" id="inputEmail3"
									[(ngModel)] = this.contacto.strApeMaterno>
								</div>
							</div>
						</form>
					</div>
					<div class="col-md-3">
						<div class="row">
							<div class="col-md-12">
								<button  (click)="limpiarListContactos();this.buscarContactos(inputNombre.value,inputApePaterno.value,inputApeMaterno.value);"  id="btnBuscar" 
								 type="button" class="btn form-control input-lg btn-default">
									Buscar
								</button> 
							</div>
							<div class="col-md-12">
									<br>
								<button (click)="limpiarBusquedaContactos();" id="btnLimpiar" type="button" class="btn form-control input-lg btn-default">
									Limpiar 
								</button>
							</div>		
						</div>
					</div>
				</div> 
				<div class="row"> <br>
					<div class="col-md-12">
						<div class="table-responsive">
						<table class="table table-hover table-bordered text-center">
							<thead>
								<tr class="active" >
									<th>#</th>
									<th>Nombre Completo</th> 
									<th>Cargo</th> 
									<!--<th>Telefono</th> -->
									<!--<th>Correo</th> -->
									<th>Opciones</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let c of contactos"> 	
 									<td>{{contactos.indexOf(c)+1}}</td> 
									<td>{{c.strNombreCompleto}}</td> 
									<td>{{c.strVinculo}}</td> 
									<!--<td>{{c.lstTelefono}}</td>-->
									<!--<td>{{c.strCorreo}}</td>-->
									<td>
										<button (click)="this.selectContactoCliente(c); this.modalRef.close();limpiarBusquedaContactos()" type="button" class="btn btn-default btn-sm"><i class="fa  fa-check"></i>Seleccionar</button>
									</td>
								</tr>
							</tbody>
						</table>
						<div class="message-error">
									{{this.responseMessage}}
						</div>
						</div>
					</div>
				</div>
				</div>
					<div class="modal-footer">
						<div class="col-md-8"></div>
						<div class="col-md-3">									
							<button  (click)="this.modalRef.close();limpiarBusquedaContactos()" type="submit" class="btn btn-danger " data-dismiss="modal"><span class="fa fa-remove"></span> SALIR</button>
						</div>
					</div>
					</ng-template>
	<!-- Fin modal BuscarPersonas -->	
	
		<!--Fin Modal Contactos-->	
	<!-- FIN MODALES-->
