<button (click)="openModal(contentDirecciones)" type="button" class="btn btn-default btn-xs"><i class= {{this.icon}}></i><span> {{this.nameBoton}}</span></button>		
<!--	<button (click)="editDireccion(direccionesTemp.indexOf(direccion)) ;openModal(contentDirecciones) "  type="button" class="btn btn-default btn-xs"><i class="fa  fa-edit"></i></button> -->
	<!--Modal Direcciones  -->
      <!-- Modal content  -->
    <!--   <div class="modal-content">-->
			<ng-template #contentDirecciones let-c="close" let-d="dismiss">	  
					<div class="modal-header" style="padding:20px 20px;">		  
						<div class="row">
							<div class="col-md-12">
								<b><span class="fa fa-car"></span> Direcciones</b>
							</div>
						</div>
					</div>

			<!--		Es persona Jurdica ? :{{this.isPJ}}
					indice de la direccion  : {{this.index}} -->
					<div class="modal-body" style="padding:10px 20px;">
						<div class="row">
							<div class="col-md-12">
								<form class="form-horizontal" role="form"   >
									<div [hidden]="!isPJ">
										<div class="form-group">
											<label for="inputEmail3" class="col-sm-2 control-label">
														RUC :
											</label>
												<div class="col-sm-10">
														<input value={{this.strRUC}} type="number"  minlength="11" maxlength="11"  disabled class="form-control input-sm" id="inputEmail3" placeholder="RUC">
												</div>
										</div>
										<div class="form-group">
											<label for="inputEmail3" class="col-sm-2 control-label">
												Razón Social :
											</label>
											<div class="col-sm-10">
												<input  value={{this.strRazonSocial}}  type="text" disabled class="form-control input-sm" id="inputEmail3" placeholder="Razón Social">				
											</div>
										</div>
									</div>
									<div  [hidden] = isPJ>
											<div class="form-group">
													<label for="inputEmail3" class="col-sm-2 control-label">
																DNI :
													</label>
														<div class="col-sm-10">
																<input value={{this.strDNI}} type="number"  disabled class="form-control input-sm" id="inputEmail3" placeholder="RUC">
														</div>
												</div>
												<div class="form-group">
													 <label for="inputEmail3" class="col-sm-2 control-label">
														Nombre :
													</label>
													<div class="col-sm-10">
														<input  value={{this.strNombreCompleto}}  type="text" disabled class="form-control input-sm" id="inputEmail3" placeholder="Razón Social">
													</div>
												</div>
										</div>
									<!--<hr>	
									Direccion Older  : {{this.olderDireccion | json }}
									Objeto Direccion : {{this.direccion | json }} -->
									<!--<div class="form-group">
										<div class="col-md-3">
											<label class="text-left subtitle">
												Direcciones
											</label>
										</div>
									</div>-->
									<hr>	
									<div class="form-group">
										<label for="inputEmail3" class="col-sm-3 control-label">
											Distrito:
										</label>
										<div class="col-sm-7">
										<select name="intDistrito"
												[(ngModel)]=this.direccion.intDistrito   class="form-control input-sm" >
												<option selected="selected"  disabled [value]= undefined >  - SELECCIONE -  </option>
												<option *ngFor="let td of this.distrito"
												[value]="td.intId"> {{td.strName}}</option> 
										</select>
										</div>
									</div>
									<div class="form-group">
										<label for="inputEmail3" class="col-sm-3 control-label">
											Direccion:
										</label>
										<div class="col-sm-9">
											<textarea   
											 name="direccion"
											 #strDireccion="ngModel"
											[(ngModel)] = this.direccion.strDireccion
											type="text"  class="form-control input-sm" id="TextAreaDireccion" placeholder="direccion"
										     rows="2" ></textarea>
										</div>
									<!--	<div class="col-sm-9">
											<input name="direccion" 
											#strDireccion="ngModel"
											[(ngModel)] = this.direccion.strDireccion
											type="text"  class="form-control input-sm" id="inputEmail3" placeholder="direccion"
											required > -->
											<!--<div *ngIf="strDireccion.invalid"> Name is too short. </div>	-->							
											<!--><show-errors [control]="myForm.controls.direccion"></show-errors>-->
										<!--</div>
									-->
									</div>
									<div class="form-group">
										<label for="inputEmail3" class="col-sm-3 control-label">
											Tipo:
										</label>
										<div class="col-sm-9">
											<select name="intTipoDireccion"
												[(ngModel)]=this.direccion.intTipoDireccion   class="form-control input-sm" >
												<option selected="selected"  disabled [value]= 0 >  - SELECCIONE -  </option>
												<option *ngFor="let td of this.tipoDireccion"
												[value]="td.intId"> {{td.strName}}</option> 
											</select>
										</div>
									</div>
									<div class="form-group">
										<label for="inputEmail3" class="col-sm-3 control-label">
											Telefonos:
										</label>
										<div class="col-sm-9">
											<input name="strTelefono"
											[(ngModel)] = this.direccion.strTelefono
												type="text"  class="form-control input-sm" id="inputEmail3" placeholder="Telefonos">
										</div>
									</div>
									
								</form>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="submit" (click)="infoChangedDireccion(true);enviarNewDireccion(this.direccion);closeModalDireccion();" 
							class="btn btn-success  "><span class="fa  fa-check"></span> Aceptar</button>
						<button type="submit" (click)="infoChangedDireccion(false);closeModalDireccion();" class="btn btn-danger  " data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
					</div>
				</ng-template>
					<!--Fin Modal Direcciones-->