 <!--Inicio de pagina  -->
<cf-header></cf-header>
<cf-nav></cf-nav>
<div class="wrapper"> 
<div class="content-wrapper">
<section class="content"> 
    <div class="box2">
	<div class="row">
		<div class="col-md-12 margen ">
			<h2 class="title text-center">
				 CONTRATO RECURSO
			</h2>
			<br> 
			<div class="box">
				<div class="box-header with-border">
					<div class="row">
						<div class="col-md-2">
							<label class="text-left subtitle">
								Recurso 
							</label>
						</div> 
					</div>
				</div>	 
				<div class="box-body">
					<div class="row">
						<div class="col-md-12">
							<form class="form-horizontal" role="form">
									<div class="form-group">
											<label for="inputtext3" class="col-sm-2 control-label"> 
												Nombre :
											</label>
										<div class="col-sm-8">
											<input 
											name ="nombrePersona"
											[(ngModel)]="this.personaNatural.strNombreCompleto"
											type="text" disabled  class="form-control input-sm" id="inputtext3" placeholder="Nombre ">
										</div>	
									</div>
									<div class="form-group">
												<label for="inputtext3" class="col-sm-2 control-label">
												DNI :
											</label>
										<div class="col-sm-4">
											<input 
											name ="DNIPersona"
											[(ngModel)]="this.personaNatural.strDNI"
											type="text" disabled  class="form-control input-sm" id="inputtext3" placeholder="DNI">
										</div> 
									</div>
							</form>		
						</div>	
					</div> 
				</div>
			</div>		
			 <!--Objeto contrato : {{this.contratoPersona | json }}    -->
			 Objeto idClienteId    : {{this.contratoPersona.intClienteId | json }}     <br>
			 Objeto nombre Cliente : {{this.contratoPersona.strNombreCliente | json }}     <br>
			 Objeto RUC Cliente    : {{this.contratoPersona.strRUC | json }}     <br>
			 Objeto intServicioId  : {{this.contratoPersona.intServicioId | json }} <br>
			 Objeto nombreServicio : {{this.contratoPersona.strNombreServicio | json }} <br> 
				<div class="box">
						<div class="box-header with-border">
							<div class="row">
								<div class="col-md-2">
									<label class="text-left subtitle">
										Contrato  
									</label>
								</div>  
								<div class="col-md-10">
										<button 
										(click)="this.habilitarCampos(true)"
										type="button" class="btn btn-default btn-xs">
											<i class="fa  fa-edit"></i>  
											<span>Editar Contrato</span></button>
										<button 
										(click)="this.guardarContrato()"
										type="button" class="btn btn-default btn-xs">
											<i class="fa  fa-save"></i>  
											<span>Guardar Contrato</span></button>
									<button 
									(click)="this.verificarContrato()"
									type="button" class="btn btn-default btn-xs">
										<i class="fa  fa-save"></i>  
										<span> Ver Documentación </span></button>
									</div> 
							</div>
						</div>	 
						<div class="box-body">
							<div class="row">
								<div class="col-md-12">
									<form class="form-horizontal" role="form">
										 <!--<div class="form-group"  [hidden]=!existContratoId >  --> <!--cambio-->
											<div class="form-group"  >
													<label for="inputEmail3" class="col-sm-2 control-label">
														Cliente :
													</label>
													<div class="col-sm-6">
															<!--<select name="cliente"  [disabled]=true   cambio -->
															<select name="cliente" [disabled]=!editContrato 
															[(ngModel)]= this.contratoPersona.intClienteId
															(change)=this.changeCliente(this.contratoPersona.intClienteId);
															class="form-control input-sm" >
															<option [value]=null> - SELECCIONE -</option>    
															<option *ngFor="let c of clientes" 
															[value]="c.intId"
															>{{c.strRazonSocial}}</option>
														</select>    
													</div> 
											</div>
											<div class="form-group"  >
												<label for="inputEmail3" class="col-sm-2 control-label">
													Servicio :
												</label>
												<div class="col-sm-6">
														<!--<select name="cliente"  [disabled]=true   cambio -->
														<select name="servicio" [disabled]=!editContrato 
														[(ngModel)]= this.contratoPersona.intServicioId
														(change)=this.changeServicio(this.contratoPersona.intServicioId);
														class="form-control input-sm" >
														<option [value]=null > - SELECCIONE -</option>    
														<option *ngFor="let s of servicios" 
														[value]="s.intId"
														>{{s.strNombreServicio}}</option>
													</select>    
												</div> 
											</div>  
										<div class="form-group">
											<label for="inputEmail3" class="col-sm-2 control-label">
												Cargo :
											</label>
											<div class="col-sm-8">
												<input  name="Cargo"   [disabled]=!editContrato
												[(ngModel)] = contratoPersona.strCargo 									
												type="text" class="form-control input-sm"  id="RUC" placeholder="Cargo"
												 >    
											</div> 
										</div>
								<div class="form-group">
									<label for="inputEmail3" class="col-sm-2 control-label">
										Fecha Inicio :
									</label>
									<div class="col-sm-4">
										<input  name="strRazonSocial"       [disabled]=!editContrato
										[(ngModel)] = contratoPersona.dtFechaContratacion 		
											  type="date" class="form-control input-sm" id="inputEmail3" placeholder=""
										> 								  
									</div> 
									<label for="inputEmail3" class="col-sm-2 control-label">
										Fecha Fin :
									</label>
									<div class="col-sm-4">
										<input name="strEstado"     [disabled]=!editContrato
										[(ngModel)] ="contratoPersona.dtFechaFinalizacion"
											type="date" class="form-control input-sm" id="inputEmail3"
											 placeholder="">
									</div>
								</div>
								<div class="form-group">
									<label for="inputEmail3" class="col-sm-2 control-label">
										Empresa :
									</label>
									<div class="col-sm-4">
										<select name="empresa"     [disabled]=!editContrato
											[(ngModel)]= this.contratoPersona.intEmpresaId
											class="form-control input-sm" >
											<option [value]=undefined disabled> - SELECCIONE -</option>    
											<option *ngFor="let te of this.tipoEmpresa" 
											[value]="te.intId"
											>{{te.strName}}</option>
										</select>  
									</div> 
										<label for="inputEmail3" class="col-sm-2 control-label">
											Motivo Contrato :
										</label>
										<div class="col-sm-4">
											<select name="motivoContrato"     [disabled]=!editContrato
												[(ngModel)]= this.contratoPersona.intMotivoContrato
												class="form-control input-sm" >
												<option [value]=undefined disabled> - SELECCIONE -</option>    
												<option *ngFor="let mc of this.motivoContrato" 
												[value]="mc.intId"
												>{{mc.strName}}</option>
											</select>  
										</div>
									</div>  

									<div class="form-group">
											<label for="inputEmail3" class="col-sm-2 control-label">
												Modalidad :
											</label>
											<div class="col-sm-4">
												<select name="modalidad"     [disabled]=!editContrato
													[(ngModel)]= this.contratoPersona.intModalidadId
													class="form-control input-sm" >
													<option [value]=undefined disabled> - SELECCIONE -</option>    
													<option *ngFor="let tm of this.tipoModalidad" 
													[value]="tm.intId"
													>{{tm.strName}}</option>
												</select>  
											</div> 
												<label for="inputEmail3" class="col-sm-2 control-label">
													Sueldo :
												</label>
												<div class="col-sm-4"> 
														<input name="dbSueldo"      [disabled]=!editContrato
														[(ngModel)] ="this.contratoPersona.dbSueldo" currencyMask
														type="text" class="form-control input-sm" id="dbSueldo"
														placeholder="00.00"
														[options]="{ prefix: '', thousands: ',', decimal: '.' ,precision:2}"> 
												</div>
											</div> 
											<div class="form-group">
													<label for="inputEmail3" class="col-sm-2 control-label">
															Moneda :
														</label>
														<div class="col-sm-4">
															<select name="moneda"     [disabled]=!editContrato
																[(ngModel)]= this.contratoPersona.intMonedaId
																class="form-control input-sm" >
																<option [value]=undefined disabled> - SELECCIONE -</option>    
																<option *ngFor="let tm of this.tipoMoneda" 
																[value]="tm.intId"
																>{{tm.strName}}</option>
															</select>  
														</div> 
												<label for="inputEmail3" class="col-sm-2 control-label">
													Estado :
												</label>
												<div class="col-sm-4">
													<select name="estado"     [disabled]=!editContrato
														[(ngModel)]= this.contratoPersona.intEstado
														class="form-control input-sm" >
														<option [value]=undefined disabled> - SELECCIONE -</option>  
														<option *ngFor="let ec of this.estadoContrato" 
														[value]="ec.intId"
														>{{ec.strName}}</option> 
													</select>  
												</div>  
												</div> 

							</form>
						</div> 
					</div>
				</div>
			</div> 

		<!--Modal registro exitoso servicios-->
<!-- Modal content 
      <div class="modal-content">-->
			<ng-template #contentRegistroExitoso let-c="close" let-d="dismiss">
					<!--<cf-modal-mensaje-informacion
					>
					</cf-modal-mensaje-informacion>
				-->
					<div class="modal-header" style="padding:20px 20px;">		  
						<div class="row">
							<div class="col-md-12">
									<span class="fa  fa-check-circle">  Mensaje de Información </span>
							</div>
						</div>
					</div>
					<div class="modal-body" style="padding:10px 30px;">
						<div class="row">
							<div class="col-md-12">
								<form class="form-horizontal" role="form">
										<div class="form-group">
												<div class="col-md-1"></div>
												<div class="col-md-10">
												<h6>{{this.responseMessage}} </h6>
												<!--<label for="inputEmail3" class="col-sm-10 control-label">
														 {{this.responseMessage}} 
												</label> -->
													</div>
													<div class="col-md-1"></div>
										</div>
								</form>
							</div>
						</div>
					</div>
					<div class="modal-footer">
							<div class="col-md-4"></div>	
						
						<div class="col-md-4">
							<button (click)="this.modalRef.close()" type="submit" class="btn form-control input-sm btn-success" data-dismiss="modal" >Aceptar</button>
						</div>
						<div class="col-md-4"></div>
					</div> 
				</ng-template> 

				<div class="row">
					<div class="col-md-4">
					</div>
					<div class="col-md-4">
						<div class="col-md-2">
						</div>
								<div class="col-md-8">
									<cf-go-back></cf-go-back>
									</div>
						<div class="col-md-2">
						</div>
					</div>
					<div class="col-md-4">	
					</div>
				</div>
						 
		</div>
	</div>

</div>
 </section>
 </div>
 </div>