<!--Inicio de pagina  -->
<ngx-spinner
bdColor = "rgba(51, 51, 51, 0.8)"
size = "large"
color = "#fff"
type = "ball-clip-rotate"
>
</ngx-spinner> 
<cf-header></cf-header>
<cf-nav></cf-nav>
<div class="wrapper"> 
<div class="content-wrapper">
<section class="content"> 
    <div class="box2">
	<div class="row"> 
		<div class="col-md-12 margen">	
			<h2 class="title text-center">
				PAGO
			</h2>
			<br>
			<div class="box">
				<div class="box-header with-border"> 
					<div class="row">
						<div class="col-md-12">
							<label class="text-left subtitle">
								Información del Pago
							</label>
						</div>
					</div>
				</div>	
				<div class="box-body">					
					<div class="row">
						<div class="col-md-12">
							<form class="form-horizontal" role="form">
								<div class="form-group">
									<label for="inputtext3" class="col-sm-2 control-label">
											Colaborador
									</label>
								 	<div class="col-sm-10">
										<input
										name ="strNombreCompleto" 
										 [(ngModel)]=this.pago.strNombreCompleto 
										 type="text" disabled class="form-control input-sm" id="inputtext3" placeholder="Colaborador">
									</div> 
								</div>
								<div class="form-group">
									<label for="inputPassword3" class="col-sm-2 control-label">
										Tipo de Pago
									</label>
								 	<div class="col-sm-10">
										<input 
										name="strTipoPago"
										[(ngModel)]=this.pago.strTipoPago
										type="text" disabled class="form-control input-sm" id="inputtext3" placeholder="Tipo de Pago">
									</div>	 
								</div> 
								<div class="form-group">
										<label for="strNroFactura" class="col-sm-2 control-label">
												Cargo
										</label>
										<div class="col-sm-5">
												<input 
												name=this.pago.strCargo 
												[(ngModel)]=this.pago.strCargo 
												type="text" disabled class="form-control input-sm" id="strCargo" placeholder="Cargo Colaborador">
										</div> 
										<label for="inputPassword3" class="col-sm-2 control-label">
											Fecha Inicio
										</label>
										<div class="col-sm-3">
												<input
												name="dtFechaInicio"
												[(ngModel)]=this.pago.dtFechaInicio
												type="date" disabled class="form-control input-sm" id="dtFechaInicio" placeholder="Fecha Inicio">
										</div> 
									<!--	<label for="inputPassword3" class="col-sm-2 control-label">
												Periodo
											</label>
											<div class="col-sm-3">
												<input
												name="strPeriodo"
												[(ngModel)]=this.pago.strPeriodo
												type="text"     disabled class="form-control input-sm" id="inputtext3" placeholder="strPeriodo">
											</div> 
									-->
								</div> 
							 
								<!--div class="form-group">
										
										<label for="inputPassword3" class="col-sm-2 control-label">
												Fecha Pago  
										</label>
										<div class="col-sm-4">
												<input 
												name="dtFechaCese"
												[(ngModel)]=this.pago.dtFechaCese 
 												type="date" disabled class="form-control input-sm" id="inputtext3" placeholder="Fecha Cese">
										</div>
									</div> 
								-->
									<div class="form-group"> 
											<label for="inputPassword3" class="col-sm-2 control-label">
													Sueldo
												</label>
												<div class="col-sm-3">
													<input
													name="dbSueldo"
													[(ngModel)]=this.pago.dbSueldo
													type="text"  
													currencyMask [options]="{align:'left' , prefix: '', thousands: ',', decimal: '.' ,precision:2}"
													 disabled class="form-control input-sm" id="inputtext3" placeholder="00.00">
												</div>
											<label for="inputPassword3" class="col-sm-2 control-label">
												Moneda
											</label>
											<div class="col-sm-3"> 
												<input
												name="strMoneda"
												 [(ngModel)]=this.pago.strMoneda
												type="text" 
												 disabled class="form-control input-sm" id="strMoneda" placeholder="Moneda">
												  
											</div>	  
										  
									</div> 
									<!--									<div class="form-group"> 
										<label for="inputPassword3" class="col-sm-2 control-label">
											Estado
										</label>
										<div class="col-sm-4">
											<input  
											name="strEstado"
											[(ngModel)]=this.pago.strEstado  
											type="text" disabled class="form-control input-sm" id="inputtext3" placeholder="">
										</div>	  
									</div>
									-->
 
									<!--
									<div class="form-group">  
										<label for="inputPassword3" class="col-sm-2 control-label">
											Detracción
										</label>
										<div class="col-sm-4">
											<input
											name="dbDetraccion" [(ngModel)]=this.pago.dbDetraccion
											currencyMask [options]="{align:'left' , prefix: '', thousands: ',', decimal: '.' ,precision:2}"
											type="text" disabled class="form-control input-sm" id="inputtext3" placeholder="00.00">
										</div>	  
										<label for="inputPassword3" class="col-sm-2 control-label">
											Abono con Detracción 
										</label>
										<div class="col-sm-4">
											<input 
											name="dbAbonoDetraccion"
											[(ngModel)]=this.facturacion.dbAbonoDetraccion
											currencyMask [options]="{align:'left' , prefix: '', thousands: ',', decimal: '.' ,precision:2}"
											type="text" disabled class="form-control input-sm" id="inputtext3" placeholder="00.00">
										</div>	 
									</div> 
								-->
								<!--
									<div class="form-group"> 
											<label for="inputPassword3" class="col-sm-2 control-label">
												Estado 
											</label>
											<div class="col-sm-4">
												<input
												name="strEstado" 
												[(ngModel)]=this.facturacion.strEstado
												type="text" disabled class="form-control input-sm" id="inputtext3" placeholder="Estado">
											</div>	   
										</div> 
									-->
							</form>
						</div> 
					</div>
					</div>
				</div>
				 
				<div class="box" [hidden]= this.blNeedCalcular >
						<div class="box-header with-border">					
							<div class="row">
								<div class="col-md-12">
									<label class="text-left subtitle">
										Cálculo de Pago
									</label>
								 </div>
							</div>	
						</div>	 
						 <div class="box-body">
								<div class="row">
									<div class="col-md-12">
											<form class="form-horizontal" role="form">  
													<div class="form-group"> 
														<label for="inputtext3" class="col-sm-2 control-label">
																Monto
														</label> 
														<div class="col-sm-3">
															<input
															name ="dbMonto" 
															 [(ngModel)]=this.pago.strMonto   [textMask]="{mask: currencyMask}"
															 type="text"  class="form-control input-sm" id="dbMonto" placeholder="0.00"> 
														</div> 	 &nbsp;&nbsp;&nbsp;
															 <button  (click)="this.calcularMonto(this.pago);" type="button" class="btn btn-default input-sm"> <i class="fa  fa-remove"></i><span> Calcular </span>
															 </button> 
													</div> 
											</form>
									</div>
								</div>
							</div>
					</div>	  

			<div class="box"  >
				<div class="box-header with-border">					
					<div class="row">
						<div class="col-md-12">
							<label class="text-left subtitle">
								Agregar (Ingreso / Descuento) 
							</label>  &nbsp;&nbsp;
							<cf-modal-pago-otros 
								titulo = "Agregar Concepto"
								iconBoton = "fa fa-plus"
								nameBoton = "Agregar"
								classBoton = "btn btn-default btn-xs"
								tipoEvento = "1"
								(RespuestaPagoOtros)="this.recibirPagoOtros($event)" 
							 >
							</cf-modal-pago-otros> 
						 </div>
					</div>	
				</div>	 
		 		<div class="box-body">
						<div class="row">
							<div class="col-md-12">
								<div class="table-responsive">
								<table class="table table-hover table-bordered text-center">
									<thead>
										<tr class="active">
											<th>#</th>
											<th>Tipo Pago</th>
											<th>Concepto</th> 
											<th>Monto </th>   
											<th>Opciones </th>   
										</tr>
									</thead>
									<tbody>
										<tr *ngFor="let po of pagoOtros">
										 	<td>{{ this.pagoOtros.indexOf(po)+1 }}</td> 
											<td>{{ po.strTipoPago }}</td>
											<td>{{ po.strConcepto }}</td> 
											<td>{{ po.dbMonto }}</td>  
											<td>
												<!--
													<cf-modal-pago-otros 
													titulo = "Editar Concepto"
													iconBoton = "fa fa-edit"
													nameBoton = "Editar"
													classBoton = "btn btn-default btn-xs"
													tipoEvento = "2"	
													[olderPagoOtros] = po											 >
													</cf-modal-pago-otros>
												-->
													<button  (click)="this.selectPagoOtro(po); this.openModal(contentDeletePagoOtro);" type="button" class="btn btn-default"> <i class="fa  fa-remove"></i><span> Eliminar </span>
													</button>


											</td>  
										</tr>	
									</tbody>
								</table> 
								</div>
							</div>
						</div>
					</div>
				</div>	  
			 
			 
		

			<div class="row">
					<div class="col-md-2">
						</div>
						<div class="col-md-8">
							<div class="col-sm-4">
							 	<!--	<button  (click)="this.guardarServicio()" type="button" class="btn form-control input-sm btn-default">
										Emitir Boleta
									</button> 
								--> 	
								 		<button [disabled]=!this.pago.blCancelado (click)="this.emitirBoleta(this.pago);" type="button" class="btn form-control input-sm btn-default"><i class="fa  fa-print"></i><span> Emitir Boleta</span> </button>
					 		</div>
							<div class="col-sm-4">
									<button  (click)="this.openModal(contentSaveBoletaPago);" type="button" class="btn form-control input-sm btn-default"><i class="fa  fa-save"></i><span> Guardar </span> </button>
						 	</div>
							<div class="col-sm-4"> 
							<cf-go-back></cf-go-back>
							</div>
						</div>
						<div class="col-md-2"></div> 
			</div>


			<ng-template #contentDeletePagoOtro let-c="close" let-d="dismiss"> 
					<div class="modal-header" style="padding:20px 20px;">		  
						<div class="row">
							<div class="col-md-12">
									<b><span class="fa  fa-check-circle "> </span> Mensaje de Información </b>
							</div>
						</div>
					</div>
					<div class="modal-body" style="padding:10px 30px;">
							<div class="row">
									<div class="col-md-1">
									</div>
								<div class="col-md-10">
									<form class="form-horizontal" role="form">
											<div class="form-group">
													<label for="inputEmail3" class="col-sm-12 control-label text-left">	
														Atención : <br>
														1.- Se eliminará el Ingreso o Descuento <br>
														2.- No se incluirá el la boleta de pago.
													</label>    
											</div> 
									</form>
								</div>
							</div>
						</div>
					<div class="modal-footer"> 
						<div class="col-md-3"></div>
						<div class="col-md-3">
							<button (click)="this.eliminarPagoOtros(this.pagoOtro);this.modalRef.close();" type="submit" class="btn form-control input-sm btn-success" data-dismiss="modal" >Aceptar</button>
						</div>
						<div class="col-md-3">
							<button (click)="this.modalRef.close()" type="submit" class="btn form-control input-sm btn-danger" data-dismiss="modal" >Cancelar</button>
						</div>
						<div class="col-md-3"></div>
					 </div>
			
				</ng-template>



			<ng-template #contentSaveBoletaPago let-c="close" let-d="dismiss">
					<div class="modal-header" style="padding:20px 20px;">		
						<div class="row">
								<div class="col-md-12">
									<b><span class="glyphicon glyphicon-lock"></span> Atención  </b>
								</div> 
							</div>
					</div> 
					<div class="modal-body" style="padding:10px 20px;">		  
							<hr>  
				 <!--	 <div> Distrito : {{this.distrito	  | json }} </div>  -->
							<div class="row">
								<div class="col-md-12">
										<label for="inputEmail3" class="col-sm-12 control-label">
												Es necesario ingresar la siguiente Información :
											</label>
											<br><br><br>
									<form class="form-horizontal" role="form">
										<div class="form-group">
												<label for="inputEmail3" class="col-sm-4 control-label">
													Periodo :
												</label>
												<div class="col-sm-7" >
														<input name="strPeriodo" 
														[(ngModel)]= this.pago.strPeriodo type="text"  class="form-control input-sm" id="inputEmail3" >
												</div>
										</div> 
										<div class="form-group">
												<label for="descripcion" class="col-sm-4 control-label">
													Fecha Pago :
												</label>
												<div class="col-sm-7" >
														<input name="dtFechaPago" 
														[(ngModel)]= this.pago.dtFechaPago type="date"  class="form-control input-sm" id="inputEmail3" >
												</div>  
										</div>
										<div class="form-group" [hidden]=!this.blIsPagoMensual >
												<label for="inputEmail3" class="col-sm-4 control-label">
													# Dias Trabajados :
												</label>
												<div class="col-sm-7" >
														<input name="nroDiasTrabajados" 
														[(ngModel)]= this.pago.nroDiasTrabajados type="text"  class="form-control input-sm" id="inputEmail3" >
												</div>
										</div> 
										<div class="form-group" [hidden]=!this.blIsPagoMensual>
												<label for="descripcion" class="col-sm-4 control-label">
													# Horas Trabajadas :
												</label>
												<div class="col-sm-7" >
														<input name="nroHorasTrabajadas" 
														[(ngModel)]= this.pago.nroHorasTrabajadas type="text"  class="form-control input-sm" id="inputEmail3" >
												</div>  
										</div>	
										<div class="form-group" [hidden]=!this.blIsPagoMensual >
												<label for="inputEmail3" class="col-sm-4 control-label">
													Vac. Disfrutadas :
												</label>
												<div class="col-sm-7" >
														<input name="intVacDisfrutadas" 
														[(ngModel)]= this.pago.intVacDisfrutadas type="text"  class="form-control input-sm" id="inputEmail3" >
												</div>
										</div> 
										<div class="form-group" [hidden]=!this.blIsPagoMensual >
												<label for="descripcion" class="col-sm-4 control-label">
													Vac. Pendientes :
												</label>
												<div class="col-sm-7" >
														<input name="intVacPendientes" 
														[(ngModel)]= this.pago.intVacPendientes type="text"  class="form-control input-sm" id="inputEmail3" >
												</div>  
										</div>		  
									</form>	 
								</div>
							</div>
						</div>
						<div class="modal-footer">
						<div class="col-md-12">
							<button  (click)="this.actualizarPago(this.pago);" type="button" class="btn btn-default"> <i class="fa  fa-save"></i><span> Aceptar</span>
							</button>
							<button     (click)="this.modalRef.close();" type="button" class="btn  btn-default"> <i class="fa  fa-remove"></i><span> Cancelar</span>
							</button>
						</div>
						</div>
					</ng-template>
						<!--FIN MODAL PERFIL -->
		</div>
	</div>
</div>
</section>
</div>
</div>