 <!--Inicio de pagina  -->
 <cf-header></cf-header>
 <cf-nav></cf-nav>
 <div class="wrapper"> 
 <div class="content-wrapper">
 <section class="content"> 
	 <div class="box2">
	 <div class="row">
		 <div class="col-md-12 margen ">	
			 <h2 class="title text-center ">
					PAGOS PENDIENTES
			 </h2>
			 <br>
			 <div class="box">
					 <div class="box-header with-border">
						 <div class="row">
							 <div class="col-md-3">
								 <label class="text-left subtitle">
									 Buscar por Filtros 
								 </label>
							 </div> 
							 <div class="col-md-9">
								 <button (click)=this.buscarPagosByFiltros(this.empresaId,this.periodo,this.tipoPago,this.state) type="button" class="btn btn-default btn-xs"><i class="fa  fa-search"></i><span> Buscar </span> </button>
							 </div>
						 </div>	
					 </div>
					 <div class="box-body">
						 <div class="row">
							 <div class="col-md-12">
								 <form class="form-horizontal" role="form">
									 <div class="form-group">
										 <div class="col-sm-3 control-label">
											 Empresa Empleador : 
										 </div>
										 <div class="col-sm-6">   
											 <select class="form-control  input-sm"  
												 name="clienteId"
												 [(ngModel)]=this.empresaId
												 data-placeholder="Cliente" style="width: 100%;">
												 <option value=0 selected>- CUALQUIERA -</option>
												 <option [value]=100 selected>TOPSTRATEGIC</option>
												 <option [value]=101 selected>PG&S</option>
												 <!--
													<option *ngFor="let cliente of clientes "
												 [value]="cliente.intId">  {{cliente.strRazonSocial}}</option>
												 -->
											 </select>  
										 </div>
									 </div>  
									 <div class="form-group">
										 <div class="col-sm-3 control-label">
											 Tipo de Pago :
										 </div>
										 <div class="col-sm-5">
											<select class="form-control  input-sm"  
												name="tipoPago" [(ngModel)]=this.tipoPago
												data-placeholder="tipoPago" style="width: 100%;">
												<option [value]=0 selected>- CUALQUIERA -</option>
												<option [value]=180>PAGO MENSUAL</option>
												<option [value]=182>CTS</option>
												<option [value]=181>GRATIFICACIONES</option>
												<option [value]=183>VACACIONES</option>
												<option [value]=184>RECIBO X HONORARIOS</option>
												<option [value]=260>CTS TRUNCA</option>
												<option [value]=262>GRATIFICACIONES TRUNCA</option>
												<option [value]=261>VACACIONES TRUNCA</option>

											</select>
										 </div> 
									 </div>	
									 <div class="form-group">
										 <div class="col-sm-3 control-label">
											 Estado :
										 </div>
										 <div class="col-sm-5">
											 <select class="form-control  input-sm"  
												 name="state" [(ngModel)]=this.state
												 data-placeholder="state" style="width: 100%;">
													<!-- <option value=2 selected>- CUALQUIERA -</option>-->
													 <option value=1>CANCELADO</option>
													 <option value=0>PENDIENTE</option>
											 </select>
										 </div> 
									 </div>	
										<!--
										<div class="form-group">
											<div class="col-sm-3 control-label">
												Periodo :
											</div>
											<div class="col-sm-8">
											<input  
											name="periodo"
											[(ngModel)]=this.periodo
											type="text" class="form-control input-sm" id="inputEmail3" placeholder="">
											</div>  
										</div>	 	
										-->	
								 </form>
							 </div>
						 </div>
					 </div>
				 </div>
			 <div class="box">
				 <div class="box-header with-border">			
					 <div class="row">
						 <div class="col-md-12">
							 <label class="text-left subtitle">
								 Pagos Pendientes
							 </label> 
						 </div>	
					 </div>	
				 </div>	 
			 <!--	Lista de Servicio Obtenidos : {{this.	servicios | json }}-->
				 <div class="box-body">
					 <div class="row">
						 <div class="col-md-12">
							 <div class="table-responsive">
							 <table class="table table-hover table-bordered text-center">
								 <thead class="text-center">
									 <tr class="active">
										 <th>#</th>
										 <th>Colaborador</th>
										 <th>Cargo</th> 
										 <th>Tipo de Pago</th>
										 <th>Sueldo Base</th>
										 <th>Estado</th> 
										 <th>Ver</th>
									 </tr>
								 </thead> 
								 <!-- [hidden]=!servicio.boolAprobado  -->
								 <tbody>
										 <tr *ngFor= "let p of pagos" > 
											<td>{{this.pagos.indexOf(p)+1}}</td>
												 <td>{{p.strNombreCompleto}}</td>
												 <td>{{p.strCargo}}</td>  
												 <td>{{p.strTipoPago }}</td>   	
												 <td>{{p.dbSueldo | number:'3.2-2'  }}</td>
												 <td>{{p.strEstado}}</td>
												 <td> 
													<!--<a [routerLink]="['facturacionPendientes',servicio.intId]" >  -->
													<a [routerLink]="['/pago',p.intId]" >  
															 <button  
															 type="button" class="btn btn-default  btn-xs"><i class="fa fa-view"></i><span> Ver Pago</span></button>
													 </a>  
													 <!--<a [routerLink]="['adjuntarDocscServicio',f.intServicioId]" > 
														 <button  
														 type="button" class="btn btn-default  btn-xs"><i class="fa fa-edit"></i><span> Documentos del Servicio</span></button>
													 </a>
												 --> 
												 <!--	
													 <a [routerLink]="['verificarColaborador',servicio.intId]" > 
														 <button  
														 type="button" class="btn btn-default  btn-xs"><i class="fa fa-users"></i><span> Candidatos Seleccionados </span></button>
													 </a>								
												 -->
												 </td>
											 </tr>
								 </tbody>
							 </table>
							 <div class="message-error">
								 {{this.responseMessage}}
							 </div>
							 </div>
						 </div>
					 </div>
				 </div>
			 </div>	
			 <!--
			 <div class="row">
					 <div class="col-md-3">
			 
					 </div>
					 <div class="col-md-6">
						 <div class="col-sm-6">
					 <a routerLink="../registrarPropuesta">
						 <button type="button" class="btn form-control input-sm btn-default">
							 Menu Principal
						 </button> </a>
						 </div>
						 <div class="col-sm-6">
 
							 <cf-go-back></cf-go-back> 
  
						 </div>   
					 </div>
							 <div class="col-md-3">
							 </div>
				 </div>
			 -->
		 </div>
	 </div>
 </div>
 </section>
 </div>
 </div>
 