
<ngx-spinner
bdColor = "rgba(51, 51, 51, 0.8)"
size = "large"
color = "#fff"
type = "ball-clip-rotate"
>
</ngx-spinner> 
<cf-header></cf-header>
<cf-nav></cf-nav>
<div class="wrapper"> 
<div class="content-wrapper">
<section class="content"> 
    <div class="box2">
	<div class="row">
		<div class="col-md-12 margen ">
			<h2 class="title text-center">
				 REGISTRO / MANTENIMIENTO DE CLIENTE
			</h2>
			<br>

			<div class="box">
				<div class="box-header with-border">
					<div class="row">
						<div class="col-md-2">
							<label class="text-left subtitle">
								Cliente
							</label>
						</div>
						<div class="col-md-10">	
							    <button (click)="nuevoCliente();" 
								type="button" class="btn btn-default btn-xs"><i class="fa fa-plus"></i><span> Nuevo </span> </button>
   
							 <button (click)="this.habilitarPJEdicion();" 
							 type="button" class="btn btn-default btn-xs"><i class="fa fa-edit"></i><span> Editar </span> </button>

							<button (click)="this.guardarPJ();" type="button" class="btn btn-default btn-xs"><i class="fa fa-save"></i><span> Guardar </span> </button>
							<cf-modal-buscar-persona-juridica 
							[titulo] = "this.tittleModalBuscarPJ" 
							(selectPersonaJ)="selectPersonaJ($event)" 
							>  </cf-modal-buscar-persona-juridica>
					
					</div>
					</div>
				</div>	
			<!--	PJ intId :  {{ this.personaJuridica.intId| json }}
				<div>  ---------------------------------------   </div>				
				Toda la data obtenida  : {{ data | json }}
				<div>  ---------------------------------------   </div>
				persona Juridica : {{ personaJuridica | json }}  -->
				<div class="box-body">
					<div class="row">
						<div class="col-md-9">
							<form class="form-horizontal" role="form">
								<div class="form-group">
									<label for="inputEmail3" class="col-sm-3 control-label">
										RUC :
									</label>
									<div class="col-sm-5">
										<input  name="RUC" 
										[disabled]=!this.editPJ
										#RUC="ngModel"
										(change)="this.limpiarMensajeRUCDuplicado();"
											[(ngModel)] = personaJuridica.strRUC 									
										type="number" class="form-control input-sm"  id="RUC" placeholder="Ingrese RUC"
										required min="12"  max="14"
										pattern="[0-9]*"	
										> 
									</div>
									<div class="col-sm-4  message-error ">
										{{ this.messageRUCDuplicado }}
									</div> 
									<div class="col-sm-12 ">
										<div class="col-sm-3  ">  </div> 
										<div class="col-sm-9  message-error ">
											{{ this.messageRUCVacio }}
										</div> 
									</div>  
								</div>
								<div class="form-group">
									<label for="inputEmail3" class="col-sm-3 control-label">
										Razón Social :
									</label>
									<div class="col-sm-9">
										<input  name="strRazonSocial" [disabled]=!this.editPJ
										#strRazonSocial="ngModel"
										[(ngModel)] = personaJuridica.strRazonSocial 		
											  type="text" class="form-control input-sm" id="inputEmail3" placeholder="Ingrese Razón Social"
											  required
											  pattern="[a-zA-Z][a-zA-Z ]+"
											  > 								  
									</div>
									<div class="col-sm-12 ">
										<div class="col-sm-3  ">  </div> 
										<div class="col-sm-9  message-error ">
											{{ this.messageRazonSocialVacio }}
										</div> 
									</div> 
								</div>
								<div class="form-group">
									<label for="inputEmail3" class="col-sm-3 control-label">
										Nombre Comercial :
									</label>
									<div class="col-sm-9">
										<input  name="strNombreComercial" [disabled]=!this.editPJ 
										[(ngModel)] = personaJuridica.strNombreComercial 		
											  type="text" class="form-control input-sm" id="inputEmail3" placeholder="Ingrese Nombre Comercial"
											  required
											  pattern="[a-zA-Z][a-zA-Z ]+"
											  >  
									</div>
								</div> 
							<!-- 
								Estado, variable fijano modificable 
								<div class="form-group">
										<label for="inputEmail3" class="col-sm-3 control-label">
											Estado :
										</label>
										<div class="col-sm-5">
											<input name="strEstado" disabled
											[(ngModel)] ="personaJuridica.strEstado"
											   type="text" class="form-control input-sm" id="inputEmail3" placeholder="Estado">
										</div>
								</div>
							 -->
								<div class="form-group">
										<label for="inputEmail3" class="col-sm-3 control-label">
											Teléfono :
										</label>
										<div class="col-sm-9">
											<input name="strTelefono"
											[disabled]=!this.editPJ
											[(ngModel)] ="personaJuridica.strTelefono"
											   type="text" class="form-control input-sm" id="inputEmail3" placeholder="Teléfono"
											   pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" 
												#strTelefono="ngModel"
											   > 
										</div>
								</div> 
							<div class="form-group">
								<label for="inputEmail3" class="col-sm-3 control-label">
									Razón Social a Facturar :
								</label>
								<div class="col-sm-9">
									<input  name="strRazonSocialaFacturar" [disabled]=!this.editPJ 
									[(ngModel)] = personaJuridica.strRazonSocialaFacturar 		
										  type="text" class="form-control input-sm" id="inputEmail3" placeholder="Ingrese Razón Social a Facturar"
										  required
										  pattern="[a-zA-Z][a-zA-Z ]+"
										  > 								  
								</div>
							</div>
						<div class="form-group">
							<label for="inputEmail3" class="col-sm-3 control-label">
								RUC a Facturar :
							</label>
							<div class="col-sm-5">
								<input  name="RUCaFacturar" 
								[disabled]=!this.editPJ 
									[(ngModel)] = personaJuridica.strRUCaFacturar 									
								type="number" class="form-control input-sm"  id="RUC" placeholder="Ingrese RUC a Facturar"
								required min="12"  max="14"
								pattern="[0-9]*"	
								>  
							</div>
						</div>
 					</form>
						</div>
						<div class="col-md-3">	
							<div class="row"><br><br>
								<div class="col-md-12">
									<button   id="btnDirecciones" 
									 (click)="this.mostrarDirecciones()" [disabled]="this.editPJ" type="button" class="btn form-control input-lg btn-default">
										Direcciones
									</button> 
								</div>
								<div class="col-md-12">
									<button id="btnContactos" 
									(click)="this.mostrarContactos()" [disabled]="this.editPJ" type="button" class="btn form-control input-lg btn-default">
										Contactos 
									</button>
								</div>		
								<div class="col-md-12">
									<button id="btnDocumentos" 
									(click)="this.mostrarDocumentos()" [disabled]="this.editPJ" type="button" class="btn form-control input-lg btn-default">
										Documentos
									</button>
								</div>	
							</div>
						</div>
					</div>
				</div>
			</div>

		<!-- Aparecera para agregar o ver las direcciones del cliente o persona natural -->
	
		<div class="box" [hidden]="!viewDirecciones">
				<div class="box-header with-border">
					<div class="row">
						<div class="col-md-2">
							<label class="text-left subtitle">
								Direcciones
							</label> 
						</div>
						<div class="col-md-10">
							<button (click)="this.ocultarDirecciones();" type="button" class="btn btn-default btn-xs"><i class="fa fa-chevron-up"></i><span> Ocultar </span> </button>
								<cf-modal-direccion
								nameBoton = "Agregar Direccion"
								icon = "fa fa-plus"
								tipoPersona=1 
								tipoEvento=2
								[strRazonSocial] = "this.personaJuridica.strRazonSocial"
								[strRUC] = "this.personaJuridica.strRUC"
								[olderDireccion]= null 
								 (newDireccion)="this.receptNewDireccion($event)" 
								></cf-modal-direccion>
								<!--<button (click)="openModal(contentDirecciones)" type="button" class="btn btn-default btn-xs"><i class="fa fa-plus"></i><span> Agregar Direcciones</span> </button>-->
							</div>
					</div>		
				</div>	<!--
				Objetos Direcciones : {{direcciones | json }}
				<div></div>
				Objetos DireccionesTemp : {{direccionesTemp | json }}
				<div></div>
				<div></div>
				Indice : {{this.index}}<div></div>
				Cambio ? : {{this.changedDireccion}}<div></div> -->
				<div class="box-body">	
					<div class="row">
						<div class="col-md-12"> 
							<div class="table-responsive">
								<table class="table table-hover table-bordered text-center">
												<thead>
													<tr class="active">
														<th>#</th>
														<th>Distrito</th>
														<th>Dirección</th>
														<th>Tipo Dirección</th>
														<th>Teléfonos</th>
														<th>Opciones</th>
													</tr>
												</thead>
												<tbody>

													<tr *ngFor="let direccion of direcciones"> 
														<td>{{direcciones.indexOf(direccion)+1}}</td>
														<td>{{direccion.strDistrito}}</td>
														<td>{{direccion.strDireccion}}</td>
														<td>{{direccion.strTipoDireccion}}</td>
														<td>{{direccion.strTelefono}}</td>
														<td>
															<cf-modal-direccion 
															nameBoton = "Editar Direccion"
															icon = "fa fa-edit"
															tipoPersona=1
															tipoEvento=2 
															[strRazonSocial] = "this.personaJuridica.strRazonSocial"
															[strRUC] = "this.personaJuridica.strRUC"
															[olderDireccion]= direccion 
															 (newDireccion)="this.receptChangeDireccion($event)"
													  ></cf-modal-direccion >

														<!-- <button (click)="editDireccion(direccionesTemp.indexOf(direccion)) ;openModal(contentDirecciones) "  type="button" class="btn btn-default btn-xs"><i class="fa  fa-edit"></i></button>-->
															<button (click)="deleteDireccion(direccion)" type="button" class="btn btn-default btn-xs"><i class="fa  fa-close"></i><span> Eliminar</span></button>
														</td>
													</tr>
												</tbody>
											</table> 
								</div>
						</div>
					</div>
				</div>
			</div>

		<!-- Aparecera para agregar o ver las contactos del cliente o persona natural -->

		<div class="box" [hidden]="!viewContactos">
						<div class="box-header with-border">
							<div class="row">
								<div class="col-md-2">
									<label class="text-left subtitle">
										Contactos
									</label> 
								</div>
								<div class="col-md-10">
									<button (click)="this.ocultarContactos();" type="button" class="btn btn-default btn-xs"><i class="fa fa-chevron-up"></i><span> Ocultar </span> </button>			
									<cf-modal-buscar-persona-natural 
									[titulo] = "this.tittleModalBuscarPN"
									(selectPersonaN)="selectPersonaN($event)"
									nameBoton = "Asociar Contacto"
									iconBoton = "fa fa-plus"
									classBoton = "btn btn-default btn-xs"					
									>
									</cf-modal-buscar-persona-natural>
								<!--	<button (click)="openModal(contentBusquedaPersona);"type="button" class="btn btn-default btn-xs"><i class="fa fa-plus"></i><span>  Agregar Contacto</span> </button> -->
									<button (click)="this.editContacto();" type="button" class="btn btn-default btn-xs"><i class="fa  fa-edit"></i><span> Editar</span></button>
									<button [disabled]=!this.saveHabilitado   (click)="this.saveContactos(this.contactos);" type="button" class="btn btn-default btn-xs"><i class="fa  fa-save"></i><span> Guardar</span></button>
 								</div>
							</div>		
						</div>
						 
						<div class="box-body">	
							<div class="row">
								<div class="col-md-12"> 
									<div class="table-responsive">
										<table class="table table-hover table-bordered text-center">
											<thead>
												<tr class="active" >
													<th>#</th>
													<th>Nombre</th>
													<th>Vínculo</th>
													<!-- <th>Tipo Contacto</th> -->
													<th>Correo</th>
													<th>Opciones</th>
												</tr>
											</thead>
											<tbody>
												<tr *ngFor="let contacto of contactos"> 	
													<td>{{contactos.indexOf(contacto)+1}}</td>
													<td>{{contacto.strNombreCompleto}}</td>
													<td>
														<div class="col-md-12"> 	
															<textarea name="vinculo"
																[(ngModel)]=contacto.strVinculo  
																[disabled]="this.tipoContactoisDisabled"
																class="form-control input-sm" 
																id="TextArea"  rows="1" placeholder="Vínculo.">
															</textarea>
														</div>
														<!--
														<select name="intTipoContacto" 
														id="tipoContacto"
														[(ngModel)] = contacto.intTipoContacto [disabled]="this.tipoContactoisDisabled" class="form-control input-sm" >
															<option [value]="undefined" selected disabled> - Seleccione- </option>    
															<option *ngFor="let tc of this.tipoContacto"
															[value]="tc.intId"> {{tc.strName}}</option>  
														</select>
														-->
													</td> 
													<td>{{contacto.strCorreo}}</td>
													<td>
														
														<button (click)="deleteContacto(contacto); " type="button" class="btn btn-default btn-xs"><i class="fa  fa-close"></i><span> Eliminar</span></button>
													</td> 
												</tr>
											</tbody>
										</table> 
									</div>
								</div>
							</div>
						</div>
					</div>
<!--  Termina el div coulto contactos-->		


<div class="box" [hidden]="!viewDocumentos">
	<div class="box-header with-border">
		<div class="row">
			<div class="col-md-2">
				<label class="text-left subtitle">
					Documentos
				</label> 
			</div>
			<div class="col-md-10">
				<button (click)="this.ocultarDocumentos();" type="button" class="btn btn-default btn-xs"><i class="fa fa-chevron-up"></i><span> Ocultar </span> </button>			
				<cf-modal-documento-cliente
				[strRUC]= this.personaJuridica.strRUC 
				[strRazonSocial]= this.personaJuridica.strRazonSocial 
				nameBoton= " Agregar Documento"
				 iconBoton="fa fa-plus"
				 [tipoEvento] = 1 
				 titulo = "Agregar Documento"
				classBoton="btn btn-default btn-xs"
				(newDocumentoCliente)="this.recibirNewDocumentoCliente($event)"
				(newFileToUpload)="this.recibirNewFile($event)">
			</cf-modal-documento-cliente> 
			<!--	<button (click)="openModal(contentBusquedaPersona);"type="button" class="btn btn-default btn-xs"><i class="fa fa-plus"></i><span>  Agregar Contacto</span> </button> -->
			</div>
		</div>		
	</div>
	
	<div></div>
	<!--Objetos contactos : {{contactos | json}}-->
	<div class="box-body">	
		<div class="row">
			<div class="col-md-12"> 
					<div class="table-responsive">
							<table class="table table-hover table-bordered text-center">
									<thead>
										<tr class="active" >
											<th>#</th>
											<th>Tipo Documento</th>
											<th>Documento</th> 
											<th>Observación</th> 
											<th>Opciones</th>
										</tr>
									</thead>
									<tbody>
										<tr *ngFor="let documento of this.documentos"> 	
											<td>{{documentos.indexOf(documento)+1}}</td>
											<td>{{documento.strTipoDocumento}}</td>
											<td>{{documento.strNombreDocumento}}</td>  
											<td>{{documento.strObservacion}} </td>
											<td>
											 
												<button (click)= "this.descargarDocumento(documento.strDocAlfrescoId)" type="button" class="btn btn-default btn-xs"><i class="fa  fa-download"></i><span> Descargar </span> </button>
												<button (click)="this.deleteDocumentoCliente(documento); " type="button" class="btn btn-default btn-xs"><i class="fa  fa-close"></i><span> Eliminar</span></button>
											</td> 
										</tr>
									</tbody>
								</table> 
								<div class="message-error">
									{{this.responseNotFoundDocumentos}}
								</div>
					</div>
			</div>
		</div>
	</div>
</div>
		<!--Modal registro exitoso servicios-->
<!-- Modal content 
      <div class="modal-content">-->
			<ng-template #contentRegistroExitoso let-c="close" let-d="dismiss">
					<!--<cf-modal-mensaje-informacion
					>
					</cf-modal-mensaje-informacion>
				-->
					<div class="modal-header" style="padding:20px 20px;">		  
						<div class="row">
							<div class="col-md-12">
								<b>	<span class="fa  fa-check-circle"> </span> Mensaje de Información  </b>
							</div>
						</div>
					</div>
					<div class="modal-body" style="padding:10px 30px;">
						<div class="row">
								<div class="col-md-1">
								</div>
							<div class="col-md-10">
								<form class="form-horizontal" role="form">
										<div class="form-group">
												<label for="inputEmail3" class="col-sm-12 control-label text-left">	
													Atención : <br>
													1.- {{this.responseMessage}} <br>
												</label>    
										</div> 
								</form>
							</div>
						</div>
					</div> 
					<div class="modal-footer">
							<div class="col-md-4"></div>	
						
						<div class="col-md-4">
							<button (click)="this.modalRef.close()" type="submit" class="btn form-control input-sm btn-success" data-dismiss="modal" >Aceptar</button>
						</div>
						<div class="col-md-4"></div>
					</div> 
				</ng-template>

				<div class="row">
					<div class="col-md-4">
					</div>
					<div class="col-md-4">
						<div class="col-md-2">
						</div>
								<div class="col-md-8">
									<cf-go-back></cf-go-back>
									</div>
						<div class="col-md-2">
						</div>
					</div>
					<div class="col-md-4">	
					</div>
				</div>
							<!-- Modal Registro Exitoso -->	
		<!--	<div class="row">
					<div class="col-md-2">
					</div>
					<div class="col-md-8">
						<div class="col-sm-3">
						<button type="button" class="btn form-control input-sm btn-default">
							Menu 
						</button> 
						</div>
						<div class="col-sm-3">
						<button  	 type="button" class="btn form-control input-sm btn-default">
								Registrar
						</button>
						</div>
						<div class="col-sm-3">
								<button (click)="this.cancelarRegistro()" type="button" class="btn form-control input-sm btn-default">
									Cancelar 
								</button> 
								</div>
						<div class="col-sm-3">
						<cf-go-back></cf-go-back>
						</div>
					</div>
							<div class="col-md-2">
					</div>
				</div>	 -->
		</div>
	</div>

</div>
 </section>
 </div>
</div>