
<ngx-spinner
bdColor = "rgba(51, 51, 51, 0.8)"
size = "large"
color = "#fff"
type = "ball-clip-rotate"
>
</ngx-spinner> 
<cf-header></cf-header>
<cf-nav></cf-nav>
<div class="wrapper"> 
<div class="content-wrapper">
<section class="content"> 
    <div class="box2">
	<div class="row">
		<div class="col-md-12 margen">
			<h2 class="title text-center">
				 REGISTRO / MANTENIMIENTO DE PERSONAS
			</h2>

			<br>
			<div class="box">
				<div class="box-header with-border">
					<div class="row">
						<div class="col-md-2">
							<label class="text-left subtitle">
								Personas
							</label>
						</div>
						<div class="col-sm-10">
								<button (click)="this.nuevaPersona();" 
								type="button" class="btn btn-default btn-xs"><i class="fa fa-plus"></i><span> Nuevo </span> </button>
   
								<button (click)="this.habilitarPNEdicion();" 
								type="button" class="btn btn-default btn-xs"><i class="fa fa-edit"></i><span> Editar </span> </button>
   
							   <button (click)="this.guardarPN();" type="button" class="btn btn-default btn-xs"><i class="fa fa-save"></i><span> Guardar </span> </button>
							   

						<cf-modal-buscar-persona-natural 
						[titulo] = "this.tittleModalBuscarPN"
						(selectPersonaN)="selectPersonaN($event)"
						nameBoton = "Buscar Persona"
						iconBoton = "fa fa-search"
						classBoton = "btn btn-default btn-xs"	
							>
						</cf-modal-buscar-persona-natural>
						</div>
					</div>
				</div>
			<!--	Id PersonaNatural : {{ personaNatural.intId | json}}
				<div></div>
				Objeto PersonaNatural : {{personaNatural | json }}
				<div></div>
			-->
				<div class="box-body">
					<div class="row">
						<div class="col-md-9" >
							<form class="form-horizontal" role="form" >
								<div class="form-group">
											<label for="inputEmail3" class="col-sm-2 control-label">
												DNI : 
											</label>
										<div class="col-sm-4">
											<input name="DNI"
											[disabled]=!this.editPN [textMask]="{mask: maskDNI}"
											(change)="this.limpiarMensajeDNIDuplicado();"
											[(ngModel)]="personaNatural.strDNI"
											 type="text" class="form-control input-sm input-sm" id="inputEmail3" placeholder="DNI">
										</div> 
										<div class="col-sm-5 message-error ">
											{{ this.messageDNIDuplicado }}
										</div> 
								</div>
								<div class="form-group"> 
									<label for="inputEmail3" class="col-sm-2 control-label">
										Nombre :
									</label>
									<div class="col-sm-8 text-capitalize">
										<input name="nombre" 
										[disabled]=!this.editPN
										[(ngModel)]="personaNatural.strNombre"	 
									  type="text" class="text-capitalize form-control input-sm" id="inputEmail3" placeholder="Nombres">
									</div>
									<div class="col-sm-12 message-error"> 
										<div class="col-sm-2 message-error"> </div>
										<div class="col-sm-8 message-error">
											{{this.messageNombreVacio }}
										</div>
									</div>
								</div>
								<div class="form-group">
									<label for="inputEmail3" class="col-sm-2 control-label">
										Apellido Paterno:						
										</label>
									<div class="col-sm-7">				
										<input name="apePaterno" 
										[disabled]=!this.editPN
										[(ngModel)]="personaNatural.strApePaterno"                                                                                                                          
										type="text" class="form-control input-sm" id="inputEmail3" placeholder="Apellidos">
									</div>						
								</div>	
								<div class="form-group">
										<label for="inputEmail3" class="col-sm-2 control-label">
											Apellido Materno:						
											</label>
										<div class="col-sm-7">										
											<input name="apeMaterno" 
											[disabled]=!this.editPN
											[(ngModel)]="personaNatural.strApeMaterno"                                                                                                                          
											type="text" class="form-control input-sm" id="inputEmail3" placeholder="Apellidos">
										</div>						
									</div>					
								<!--
									<div class="form-group">
									<label for="inputEmail3" class="col-sm-2 control-label">
										RUC :
									</label>
									<div class="col-sm-5">
										<input name="RUC"
										[disabled]=!this.editPN
										[(ngModel)]="personaNatural.strRUC"  type="number" class="form-control input-sm" id="inputEmail3" placeholder="RUC">
									</div>  
								--> 
								<div class="form-group">
									<label for="inputEmail3" class="col-sm-2 control-label">
										Sexo :
									</label>
									<div class="col-sm-3"> 
										<select name="sexo"
										[disabled]=!this.editPN
												[(ngModel)] ="this.personaNatural.intSexo"   class="form-control input-sm input-sm" >
											<option [value]=0 selected disabled>- SELECCIONE -</option>  
											<option [value]=12>Masculino</option>    
											<option [value]=13>Femenino</option>  
										</select>		
									</div> 
									
									<label for="inputEmail3" class="col-sm-2 control-label">
										Fecha Nac. : 
									</label>
									<div class="col-sm-4">
										<input name="Fecha Nacimiento"
										[disabled]=!this.editPN
										[(ngModel)]="this.personaNatural.dtFechaNacimiento"
										type="date" class="form-control input-sm input-sm" id="inputEmail3" placeholder="Fecha Nacimiento">
									</div>  
								</div> 
							<div class="form-group">
								<label for="inputEmail3" class="col-sm-2 control-label">
									Correo :
								</label>
								<div class="col-sm-8">
									<input  name="correo"
									[disabled]=!this.editPN
									[(ngModel)]="personaNatural.strCorreo"                                          
									type="text" class="form-control input-sm" id="inputEmail3" placeholder="Correo">
								</div>
							</div>
							<div class="form-group">
								<label for="inputEmail3" class="col-sm-2 control-label">
									Teléfono :
								</label>
								<div class="col-sm-8">
									<input  name="teléfono"
									[disabled]=!this.editPN
									[(ngModel)]="personaNatural.strTelefono"
									type="text" class="form-control input-sm" id="inputEmail3" placeholder="Teléfono">
								</div>
							</div> 
							<div class="form-group">
								<label for="inputEmail3" class="col-sm-2 control-label">
										Nacionalidad : 
								</label>
								<div class="col-sm-6">
									<input name="Nacionalidad"
									[disabled]=!this.editPN
									[(ngModel)]="personaNatural.strNacionalidad"
									 type="text" class="form-control input-sm input-sm" id="inputEmail3" placeholder="Nacionalidad">
								</div>  
							</div>
							<div class="form-group">
								<label for="inputEmail3" class="col-sm-2 control-label">
										Carnet de Extranjería : 
								</label>
								<div class="col-sm-6">
									<input name="CarnetExtranjeria"
									[disabled]=!this.editPN
									[(ngModel)]="personaNatural.strCarnetExtranjeria"
									 type="text" class="form-control input-sm input-sm" id="inputEmail3" placeholder="Nro Carnet de Extranjeria">
								</div>  
							</div>	
							<div class="form-group">
								<label for="inputEmail3" class="col-sm-2 control-label">
										No PTP : 
								</label>
								<div class="col-sm-6">
									<input name="PTP"
									[disabled]=!this.editPN
									[(ngModel)]="personaNatural.strPTP"
									 type="text" class="form-control input-sm input-sm" id="inputEmail3" placeholder="Nro PTP">
								</div>  
							</div>
							</form>	
						</div>
						<div class="col-md-3">
							<div class="row"><br><br>
								<div class="col-md-12">
									<button (click) = "this.mostrarDatosLaborales()"
									[disabled]="this.editPN"
									id="btnDatosLaborales" type="button" class="btn form-control input-lg btn-default">
										Datos Laborales
									</button> 
								</div>
								<div class="col-md-12">
									<button (click) = "this.mostrarConocimientos()" 
									[disabled]="this.editPN"
									id="btnConocimientos" type="button" class="btn form-control input-lg btn-default">
										Conocimientos 
									</button>
								</div>
								<div class="col-md-12">
									<button (click) = "this.mostrarDirecciones()"
									[disabled]="this.editPN"
									 id="btnDirecciones" type="button" class="btn form-control input-lg btn-default">
										Direcciones
									</button> 
								</div>
								<div class="col-md-12">
									<button (click) = "this.mostrarContactos()"
									[disabled]="this.editPN"
									  id="btnContactos" type="button" class="btn form-control input-lg btn-default">
										Contactos 
									</button>
								</div>	
								<div class="col-md-12">
										<button (click) = "this.mostrarHistorial()"
										[disabled]="this.editPN"
										  id="btnContactos" type="button" class="btn form-control input-lg btn-default">
											Historial Laboral 
										</button>
									</div>		
							</div>
						</div>
					</div>
				</div>
			</div>

	<!-- Datos de la Persona Natural   {{  personaNatural | json}}-->
	
		<!-- Aparecera para agregar o ver los datos laborales de la persona -->
  		<div class="box" [hidden]="!viewDatosLaborales">
			<div class="box-header with-border">
				<div class="row">
					<div class="col-md-3">
						<label class="text-left subtitle">
							Datos Laborales
						</label> 
					</div>
					<div class="col-md-9">
						<button (click)="this.ocultarDatosLaborales();" type="button" class="btn btn-default btn-xs"><i class="fa fa-chevron-up"></i><span> Ocultar </span> </button>
						<button (click)="this.habilitarDLEdicion();" 
						type="button" class="btn btn-default btn-xs"><i class="fa fa-edit"></i><span> Editar </span> </button>

					   <button (click)="this.guardarDL(this.colaborador);" type="button" class="btn btn-default btn-xs"><i class="fa fa-save"></i><span> Guardar </span> </button>
				
					</div>
				</div>		
			</div>	
		<!--	Objeto datosLaborales : {{colaborador | json }}-->
			<div></div>

			<div class="box-body">	
				<div class="row">
					<div class="col-md-12">
								<form class="form-horizontal" role="form">
										<div class="form-group">
											<label for="inputEmail3" class="col-sm-2 control-label">
												Perfil :
											</label>
											<div class="col-sm-10">
												<input name="perfil" 
												[disabled]=!this.editDL
												[(ngModel)]=this.colaborador.strPerfil
											 		 type="text" class="form-control input-sm" id="inputEmail3" placeholder="Nombre del Perfil">
											</div>
										</div>
										<div class="form-group">
											<label for="inputEmail3" class="col-sm-2 control-label">
												Tipo de Pensión :						
												</label>
											<div class="col-sm-4">
												<select [(ngModel)]= this.colaborador.intTipoPension 
												(change)="this.verificarTipoPension(this.colaborador.intTipoPension);"
												[disabled]=!this.editDL
												name="account" class="form-control input-sm" >
													<option [value]=0 selected disabled>- SELECCIONE -</option>  
													<option *ngFor="let tc of this.tipoPension"
													[value]="tc.intId"> {{tc.strName}}</option>		
												</select>	
											</div>
										</div>
										<div class="form-group" [hidden]=this.isONP>
											<label for="inputEmail3" class="col-sm-2 control-label">
												CUSPP :								
											</label>
											<div class="col-sm-4">
												<input name="CUSPP"

												[disabled]=!this.editDL
												[(ngModel)]= this.colaborador.strCUSPP type="text" class="form-control input-sm" id="inputEmail3" placeholder=" --- ">
											</div>	
										
											<label for="inputPassword3"  class="col-sm-2 control-label">
													Comisión :
											</label>
											<div class="col-sm-4"> 
													<select name="TipoComision" 
													[disabled]=!this.editDL  
														[(ngModel)]= this.colaborador.intTipoComision
														class="form-control input-sm">
														<option [value]=0 selected disabled>- SELECCIONE -</option>  
														<option *ngFor="let tc of this.comision"
														[value]="tc.intId"> {{tc.strName}}</option>		
													</select>
											</div>
										</div> 
										<div class="form-group">	
											<label for="inputPassword3"  class="col-sm-2 control-label">
												Banco :
											</label>
											<div class="col-sm-4">
													<select name="Banco" 
													[disabled]=!this.editDL
													[(ngModel)]= this.colaborador.intBanco
													class="form-control input-sm" >
													<option [value]=0 selected disabled>- SELECCIONE -</option>  
													<option *ngFor="let tc of this.banco"
													[value]="tc.intId"> {{tc.strName}}</option>	
												</select>						
											</div>
											<label for="inputPassword3"  class="col-sm-2 control-label">
												Nro. Cuenta :
											</label>
											<div class="col-sm-4">
												<input 
												name="nroCuenta"
												[disabled]=!this.editDL
												[(ngModel)]=this.colaborador.strNroCuenta
												type="text" class="form-control input-sm" id="inputEmail3" placeholder="Nro Cuenta">
											</div>						
										</div>
										<div class="form-group">	
											<label for="strEmpresa"  class="col-sm-2 control-label">
												Empresa :
											</label>
											<div class="col-sm-10">
												<input 
												name="strEmpresa"
												[disabled]=!this.editDL
												[(ngModel)]=this.colaborador.strEmpresa
												type="text" class="form-control input-sm" id="strEmpresa" placeholder="Nombre Empresa">
											</div> 					
										</div>	
										<div class="form-group">	
											<label for="strRUCEmpresa"  class="col-sm-2 control-label">
												RUC Empresa :
											</label>
											<div class="col-sm-4">
												<input 
												name="strRUCEmpresa"
												[disabled]=!this.editDL
												[(ngModel)]=this.colaborador.strRUCEmpresa
												type="text" class="form-control input-sm" id="strRUCEmpresa" placeholder="RUC Empresa">
											</div>
											<label for="strCtaDetraccion"  class="col-sm-2 control-label">
												Nro. Cuenta Detracción :
											</label>
											<div class="col-sm-4">
												<input 
												name="strCtaDetraccion"
												[disabled]=!this.editDL
												[(ngModel)]=this.colaborador.strCtaDetraccion
												type="text" class="form-control input-sm" id="strCtaDetraccion" placeholder="Nro Cuenta Detraccion">
											</div>						
										</div>	

												<div class="form-group">	 
													<label for="inputPassword3"  class="col-sm-2 control-label">
														Nro de CCI :
													</label>
													<div class="col-sm-6">
														<input 
														name="nroCCI"
														[disabled]=!this.editDL
														[(ngModel)]=this.colaborador.strNroCCI
														type="text" class="form-control input-sm" id="inputEmail3" placeholder="Nro CCI">
													</div>						
												</div>
												
												<div class="form-group">
													<label for="inputPassword3"  class="col-sm-2 control-label">
														Código Recurso :
													</label>
													<div class="col-sm-6">
														<input name="codigoRecurso"
														[disabled]=!this.editDL
														[(ngModel)]=this.colaborador.strCodeRecurso
														type="text" class="form-control input-sm" id="inputEmail3" placeholder="Cod Recurso">
													</div>										
												</div>
												<!--
												<div class="form-group">
													<label for="inputEmail3" class="col-sm-2 control-label">
															Curriculum :								
														</label>	
													<div class="col-sm-6">
														<input name="curriculum"
														[disabled]=!this.editDL
														[(ngModel)] = this.colaborador.strCurriculum
														type="file" class="form-control input-sm" id="inputEmail3" placeholder="curriculem">
													</div>	 	
												</div> 

												-->
								</form>	
					</div>
				</div>
			</div>
		</div>
		<!-- temina el div  datosLAborales oculto --> 
		<!--Ver datos los conocimientos de la persona -->

<div class="box" [hidden]="!viewConocimientos">
	<div class="box-header with-border">
		<div class="row">
			<div class="col-md-3">
				<label class="text-left subtitle">
					Conocimientos
				</label> 
			</div>
			<div class="col-md-9">
				<button (click)="this.ocultarConocimientos();" type="button" class="btn btn-default btn-xs"><i class="fa fa-chevron-up"></i><span> Ocultar </span> </button>
				 
					<cf-modal-conocimiento-persona 
					nameBoton = "Agregar Conocimiento"
					icon = "fa fa-plus"
					tipo=2 
					[strDNI] = "this.personaNatural.strDNI"
					[strNombreCompleto] = "this.personaNatural.strNombreCompleto"
					(newConocimientoPersona)="this.receptNewConocimientoPersona($event)" 
				
						></cf-modal-conocimiento-persona>
				</div>
		</div>		
	</div>	
	<!--Objetos Conocimientos : {{conocimientosPersona | json }} -->
	<div class="box-body">	
		<div class="row">
			<div class="col-md-12"> 
					<div class="table-responsive">
								<table class="table table-hover table-bordered text-center">
									<thead>
										<tr class="active">
											<th>#</th>
											<th>TipoConocimiento</th>
											<th>Conocimiento</th>
											<th>Nivel</th>
											<th>Estado Conocimiento</th>
											<th>Opciones</th>
										</tr>
									</thead>
									<tbody>
										<tr *ngFor="let c of conocimientosPersona"> 
											<td>{{conocimientosPersona.indexOf(c)+1}}</td>
											<td>{{c.strTipoConocimiento}}</td>
											<td>{{c.strNombreConocimiento}}</td>
											<td>
															<select name="nivelConocimiento" 
													[(ngModel)]=c.intNivel [disabled]="this.nivelConocimientoisDisabled"
													class="form-control input-sm" >
														<option [value]="undefined" selected disabled>- SELECCIONE -</option>    
														<option *ngFor="let nc of this.nivelConocimiento"
														[value]="nc.intId"> {{nc.strName}}</option>    
													</select>
											</td>
											<td>{{c.strEstado}}</td>
											<td>
												<button [disabled]=!this.saveConocimientoHabilitado (click)="saveConocimiento(c);" type="button" class="btn btn-default btn-xs"><i class="fa  fa-save"></i><span> Guardar</span></button>
												<button (click)="editConocimiento();" type="button" class="btn btn-default btn-xs"><i class="fa  fa-edit"></i><span> Editar</span></button>
												<button (click)="deleteConocimiento(c)" type="button" class="btn btn-default btn-xs"><i class="fa  fa-remove"></i><span> Eliminar</span></button>
											</td>
										</tr>
									</tbody>
								</table> 
						</div>
			</div>
		</div>
	</div>
</div>


<!-- temina el div  direcciones oculto -->


		<!--Modal Conocimientos> -->
		 
	 <!-- Conocimientos Obtenidos : {{ conocimientos | json }} -->
	 <!-- <ng-template #contentConocimientos let-c="close" let-d="dismiss">
    
        <div class="modal-header" style="padding:20px 20px;">		  
			<div class="row">
				<div class="col-md-12">
					<span class="glyphicon glyphicon-lock"></span> Conocimientos
				</div>
			</div>
        </div>
        <div class="modal-body" style="padding:10px 40px;">
			<div class="row">
				<div class="col-md-12">
					<form class="form-horizontal" role="form">
						<div class="form-group">
							<label for="inputEmail3" class="col-sm-3 control-label">
										DNI :
							</label>
								<div class="col-sm-9">
										<input value={{personaNatural.strDNI}} type="number"  disabled class="form-control input-sm" id="inputEmail3" placeholder="DNI">
								</div>
						</div>
						<div class="form-group">
							<label for="inputEmail3" class="col-sm-3 control-label">
								Nombre :
							</label>
							<div class="col-sm-9">
								<input value={{personaNatural.strNombre}} type="text" disabled class="form-control input-sm" id="inputEmail3" placeholder="Nombres">
							</div>
						</div>
						<div class="form-group">
							<label for="inputEmail3" class="col-sm-3 control-label">
								Apellido Paterno :
							</label>
							<div class="col-sm-9">
								<input value={{personaNatural.strApePaterno}} type="text" disabled class="form-control input-sm" id="inputEmail3" placeholder="Nombres">
							</div>
						</div>
						<div class="form-group">
							<label for="inputEmail3" class="col-sm-3 control-label">
								Ape Materno :
							</label>
							<div class="col-sm-9">
								<input value={{personaNatural.strApeMaterno}} type="text" disabled class="form-control input-sm" id="inputEmail3" placeholder="Nombres">
							</div>
						</div>
						<hr>
						<div class="form-group">
							<div class="col-md-3">
								<label class="text-left  subtitle">
									Conocimientos
								</label>
							</div>
						</div>	
						Objeto Conocimiento :  {{this.conocimientoPersona | json}} 
						<div></div>
						Objeto ConocimientoTemp :  {{this.conocimientoPersonaTemp | json}}
						<div class="form-group">
							<label for="inputEmail3" class="col-sm-3 control-label">
								Tipo Conocimiento
							</label>
							<div class="col-sm-6">
								<select name="tipoConocimiento"
									[(ngModel)]= this.conocimientoPersona.intTipoConocimiento class="form-control input-sm" >
									<option value="" selected disabled>SELECCIONE</option>    
									<option>Programacion</option>    
									<option>Gestion</option>  
									<option>Analisis</option>   
								</select>		
							</div>
						</div>	
						<div class="form-group">
							<label for="inputEmail3" class="col-sm-3 control-label">
								Conocimiento
							</label>
							<div class="col-sm-6">
								<select name="nombreConocimiento"
								 [(ngModel)] = this.conocimientoPersona.strNombreConocimiento class="form-control input-sm" >
									<option value="" selected disabled>SELECCIONE</option>    
									<option>PowerBuilder</option>    
									<option>Java</option>  
									<option>Frontend</option>   
								</select>		
							</div>
						</div>	
						<div class="form-group">	
							<label for="inputPassword3" class="col-sm-3 control-label">
									Nivel :
								</label>
							<div class="col-sm-6">
								<select name="nivel" 
								[(ngModel)] = this.conocimientoPersona.intNivel class="form-control input-sm">
									<option value="" selected disabled>SELECCIONE</option>    
									<option>Alto</option>
									<option>Medio</option>
									<option>Bajo</option>
								</select>	
							</div>
						</div>
					</form>
				</div>

			</div>
        </div>
        <div class="modal-footer">
			<button (click)="addConocimiento(this.conocimientoPersona);" type="submit" class="btn btn-success btn-sm" data-dismiss="modal"><span class="fa  fa-check"></span> Aceptar</button>
			<button (click)="closeModalConocimiento();"type="submit" class="btn btn-danger btn-sm" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
		</div>
 </ng-template>
-->
		<!--Fin Modal Conocimientos>	 -->		

		<!-- Aparecera para agregar o ver las direcciones del cliente o persona natural -->
		<div class="box" [hidden]="!viewDirecciones">
			<div class="box-header with-border">
				<div class="row">
					<div class="col-md-3">	
						<label class="text-left subtitle">
							Direcciones
						</label> 
					</div>
					<div class="col-md-9">
						<button (click)="this.ocultarDirecciones();" type="button" class="btn btn-default btn-xs"><i class="fa fa-chevron-up"></i><span> Ocultar </span> </button>
						   <cf-modal-direccion  
							nameBoton = "Agregar Direccion"
							icon = "fa fa-plus"
							tipoPersona=2
							tipoEvento=1
							[strDNI] = "this.personaNatural.strDNI"
							[strNombreCompleto] = "this.personaNatural.strNombreCompleto"
							[olderDireccion]= null 
							(newDireccion)="this.receptNewDireccion($event)" 
						
								></cf-modal-direccion>

					 
						</div>
				</div>		
			</div>	
		<!--	Objetos Direcciones : {{direcciones | json }}-->
			<div class="box-body">	
				<div class="row">
					<div class="col-md-12"> 
						<div class="table-responsive">
						<table class="table table-hover table-bordered text-center">
							<thead>
								<tr class="active">
									<th>#</th>
									<th>Distrito</th>
									<th>Dirección</th>
									<th>Tipo Dirección</th>
									<th>Teléfonos</th>
									<th>Opciones</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let direccion of direcciones"> 
									<td>{{direcciones.indexOf(direccion)+1}}</td>
									<td>{{direccion.strDistrito}}</td>
									<td>{{direccion.strDireccion}}</td>
									<td>{{direccion.strTipoDireccion}}</td>
									<td>{{direccion.strTelefono}}</td>
									<td>


											<cf-modal-direccion 
											[index] = "direcciones.indexOf(direccion)"
											nameBoton = "Editar Direccion"
											icon = "fa fa-edit"
											tipoPersona=2
											tipoEvento=2
											[strDNI] = "this.personaNatural.strDNI"
											[strNombreCompleto] = "this.personaNatural.strNombreCompleto"
											[olderDireccion]=direccion 
										
											(newDireccion)="this.receptChangeDireccion($event)" 
											></cf-modal-direccion>
										<button (click)="deleteDireccion(direccion)" type="button" class="btn btn-default btn-xs"><i class="fa  fa-close"></i><span> Eliminar</span></button>
									</td>
								</tr>
							</tbody>
						</table> 
						</div>
					</div>
				</div>
			</div>
		</div>

<!-- temina el div  direcciones oculto -->


	<!-- Aparecera para agregar o ver las contactos del cliente o persona natural -->

	<div class="box" [hidden]="!viewContactos">
					<div class="box-header with-border">
						<div class="row">
							<div class="col-md-3">
								<label class="text-left subtitle">
									Contactos
								</label> 
							</div>
							<div class="col-md-9">
								<button (click)="this.ocultarContactos();" type="button" class="btn btn-default btn-xs"><i class="fa fa-chevron-up"></i><span> Ocultar </span> </button>
		  						<cf-modal-buscar-persona-natural 
										[titulo] = "this.tittleModalBuscarPN"
										(selectPersonaN)="this.selectPersonan($event)"									nameBoton = "Asociar Contacto"
										nameBoton = "Asociar Contacto"
										iconBoton = "fa fa-plus"
										classBoton = "btn btn-default btn-xs"	
											>
								</cf-modal-buscar-persona-natural>
									<button (click)="this.editContacto();" type="button" class="btn btn-default btn-xs"><i class="fa  fa-edit"></i><span> Editar</span></button>
									<button [disabled]=!this.saveHabilitado   (click)="this.saveContactos(this.contactos);" type="button" class="btn btn-default btn-xs"><i class="fa  fa-save"></i><span> Guardar</span></button>
 							</div>
						</div>		
					</div>
			 		<div class="box-body">	
						<div class="row">
							<div class="col-md-12"> 
									<div class="table-responsive">
											<table class="table table-hover table-bordered text-center">
													<thead>
														<tr class="active" >
															<th>#</th>
															<th>Nombre</th>
															<th>Vinculo</th>
															<th>Teléfono</th>
															<!--<th>Correo</th>-->
															<th>Opciones</th>
														</tr>
													</thead>
													<tbody>

														<tr *ngFor="let contacto of contactos"> 	
															<td>{{contactos.indexOf(contacto)+1}}</td>
															<td>{{contacto.strNombreCompleto}}</td>
															<td>
																<div class="col-md-12"> 	
																		<textarea name="vinculo"
																			[(ngModel)]=contacto.strVinculo  
																			[disabled]="this.tipoContactoisDisabled"
																			class="form-control input-sm" 
																			id="TextArea"  rows="1" placeholder="Vínculo.">
																		</textarea>
																</div>
																<!--
																	<select name="intTipoContacto" 
																	[(ngModel)] = contacto.intTipoContacto [disabled]="this.tipoContactoisDisabled" class="form-control input-sm" >
																		<option [value]="undefined" selected disabled> - SELECCIONE- </option>    
																		<option *ngFor="let tc of this.tipoContacto"
																		[value]="tc.intId"> {{tc.strName}}</option>  
																	</select>
																-->
																<!--	<select name="tipoContacto" 
																	[(ngModel)] = contacto.intTipoContacto [disabled]="this.tipoContactoisDisabled"
																	class="form-control input-sm" >
																		<option value="null" selected disabled>SELECCIONE</option>    
																		<option value="53">Familiar</option>    
																		<option value="53" >Trabajo</option>  
																		<option value="53">Otros</option>   
																	</select> -->
															</td>
															<td>{{contacto.strTelefono}}</td>
															<!--<td>{{contacto.strCorreo}}</td>-->
															<td>
																<!--<button (click)="saveContacto(contacto);" type="button" class="btn btn-default btn-xs"><i class="fa  fa-save"></i><span> Guardar</span></button>-->
																<!--<button (click)="editContacto();" type="button" class="btn btn-default btn-xs"><i class="fa  fa-edit"></i><span> Editar</span></button>-->
																<button (click)="deleteContacto(contacto); " type="button" class="btn btn-default btn-xs"><i class="fa  fa-close"></i><span> Eliminar</span></button>
															</td>
			
														</tr>
													</tbody>
												</table> 
									</div>
							</div>
						</div>
					</div>
				</div>

 		<!-- =======================HISTORIAL LABORAL DE LA PERSONA NATURAL ======================= -->
				<div class="box" [hidden]="!viewHistorialLaboral">
						<div class="box-header with-border">
							<div class="row">
								<div class="col-md-3">
									<label class="text-left subtitle">
										Historial Laboral
									</label> 
								</div>
								<div class="col-md-9">
									<button (click)="this.ocultarHistorialLaboral();" type="button" class="btn btn-default btn-xs"><i class="fa fa-chevron-up"></i><span> Ocultar </span> </button>
								</div>
							</div>		
						</div>
				<!--  	Lista contratosPersona : {{ this.contratosPersona | json}}    -->
						<div class="box-body">	
							<div class="row">
								<div class="col-md-12"> 
										<div class="table-responsive">
												<table class="table table-hover table-bordered text-center">
												 	<thead>
														<tr class="active" >
															<th>#</th>
															<th>Cliente</th>
															<th>Empresa</th>
															<th>Fecha Inicio</th>
															<th>Fecha Fin</th>
															<th>Estado </th>
															<th>Opciones</th>
														</tr>
													</thead>
													<tbody> 
														<tr *ngFor="let cp of contratosPersona"> 	
															<td>{{contratosPersona.indexOf(cp)+1}}</td>
															<td>{{cp.strNombreCliente}}</td>
															<td>{{cp.strEmpresa}}</td>
															<td>{{cp.dtFechaContratacion   | date:"dd/MM/yyyy" }}</td>
															<td>{{cp.dtFechaFinalizacion   | date:"dd/MM/yyyy"}}</td>
															<td>{{cp.strEstado}}</td>
															<td> 
															<a [routerLink]="['../../verContrato',cp.intId]"> 
																<button  type="button" class="btn btn-default btn-xs"><i class="fa  fa-eye"></i><span> Ver Detalles</span></button>
																</a> 
															</td>
			
														</tr>
													</tbody>
													</table>
													<span>  {{this.respuestaRefreshHistorial}} </span> 
											</div>
								</div>
							</div>
						</div>
					</div>

					<!-- ======================= FIN HISTORIAL LABORAL DE LA PERSONA NATURAL =======================-->
				<div class="row">
						<div class="col-md-4">
						</div>
						<div class="col-md-4">
							<div class="col-md-2">
							</div>
									<div class="col-md-8">
										<cf-go-back></cf-go-back>
										</div>
							<div class="col-md-2">
							</div>
						</div>
						<div class="col-md-4">	
						</div>
					</div>
					
		<!--	<div class="row">
				<div class="col-md-2">
				</div>
				<div class="col-md-8">
					<div class="col-md-3">
					<button type="button" class="btn form-control input-sm btn-default">
						Menu 
					</button> 
					</div> -->
				<!--		<div class="col-md-3">
				<button (click)="guardarPersonaNatural()" type="button" class="btn form-control input-sm btn-default">
							Registrar
					</button> 
					</div>-->
			<!--		<div class="col-md-3">
							<button type="button" class="btn form-control input-sm btn-default">
								Cancelar
							</button> 
							</div>
					<div class="col-md-3">
					<cf-go-back></cf-go-back>
					</div>
				</div>
						<div class="col-md-2">
				</div>
			</div>	 -->
		</div>
	</div> 
	</div>
	</section>
</div>
</div>