<!--Inicio de pagina  -->
<cf-header></cf-header>
<cf-nav></cf-nav>
<div class="wrapper"> 
<div class="content-wrapper">
<section class="content"> 
	<!--Inicio de pagina  -->
	<div class="box2">
	<div class="row">
		<div class="col-md-12 margen ">	
			<h2 class="title text-center ">
				VERIFICACION PLAME
			</h2>
			<!--
				<div class="box">
					<div class="box-header with-border">			
						<div class="row">
							<div class="col-md-2">
								<label class="text-left subtitle">
										Busqueda Planilla
								</label>  
							</div>
							<div class="col-md-10">	
								 <button (click)="this.buscarPlanilla(this.planilla.intEmpresaId, this.planilla.intTipoPlanilla, this.planilla.intPeriodo, this.planilla.intYear);" type="button" class="btn btn-default btn-xs"><i class="fa  fa-search"></i><span> Consultar</span> </button>
									 
							</div>	
						</div>	
					</div>	
				
					<div class="box-body">
						<div class="row">
							<div class="col-md-12">
								<form class="form-horizontal" role="form">
									
									<div class="form-group">
											<label for="inputPassword3" class="col-sm-2 control-label">
													Empresa :
												</label>
													<div class="col-sm-4">
															<select name="Empresa" 
															[(ngModel)] = this.planilla.intEmpresaId
															class="form-control input-sm" >
																<option [value]=0 selected disabled> - Seleccione - </option>  
																<option [value]=0  >TODOS</option>  
																<option *ngFor="let te of this.tipoEmpresa"
																[value]="te.intId"> {{te.strName}}</option> 	
															</select>		
														</div>
											</div>

									<div class="form-group">			
										<label for="inputPassword3" class="col-sm-2 control-label">
												Tipo de Pago : 
											</label>
											<div class="col-sm-5">
													<select name="TipoPlanilla" 
													[(ngModel)] = this.planilla.intTipoPlanilla
													(change) = this.cargarPeriodos();
													class="form-control input-sm" >
														<option [value]=0 selected disabled> - Seleccione - </option>  
														
														<option [value]=0 selected >TODOS </option>    
														<option *ngFor="let te of this.tipoPlanilla"
														[value]="te.intId"> {{te.strName}}</option> 	
													</select>	
											</div>
									</div>
									<div class="form-group">			
											<label for="inputPassword3" class="col-sm-2 control-label">
													Periodo : 
												</label>
												<div class="col-sm-4">
														<select name="Periodo" 
														[(ngModel)] = this.periodo.intId				
														class="form-control input-sm" >
															<option [value]=0 selected disabled> - Seleccione - </option>
															 <option [value]=0  > TODOS  </option>      
															<option *ngFor="let p of this.periodos"
															[value]="p.intId"> {{p.strName}}</option> 	
														</select>
												</div>
												<label for="inputPassword3" class="col-sm-2 control-label">
														Año : 
												</label>
												<div class="col-sm-3">
														<select name="year" 
														[(ngModel)] = this.year 	 			
														class="form-control input-sm" >
															<option [value]=null selected disabled> - Seleccione - </option>    
															<option [value]=null> TODOS  </option>      
															<option *ngFor="let a of this.years"
															[value]=a> {{a}}</option> 	
														</select>
												</div> 


										</div>
	 
									</form>
								</div>
							</div>
						</div>
					</div>
					-->

<!--
			<div class="box">
				<div class="box-header with-border">			
					<div class="row">
						<div class="col-md-12">
							<label class="text-left subtitle">
								PLANILLAS
							</label> 
						</div>	
					</div>	
				</div>	
				

			 
				<div class="box-body">
					<div class="row">
						<div class="col-md-12">
							<div class="table-responsive">
							<table class="table table-hover table-bordered text-center">
								<thead class="text-center">
									<tr class="active">
										<th># </th>
										<th>Planilla Codigo</th>
										<th>Empresa</th>
										<th>Concepto de Pago</th>
										<th>Periodo</th>
										<th>Opciones</th>
									</tr>
								</thead>

								<tbody>
										<tr *ngFor="let p of planillas">
											 
											<td>{{planillas.indexOf(p)+1}}</td>
											<td>{{p.strPlanillaCode}}</td>
											<td>{{p.strEmpresa}}</td>
											<td>{{p.strTipoPlanilla}}</td>
											<td>{{p.strPeriodo}}</td>
											 <td >	
	
													<button (click)="this.obtenerPlanilla(p.intId);" type="button" class="btn btn-default btn-xs"><i class="fa  fa-eye"></i><span> Documentos</span> </button>
													<button (click)="this.eliminarPlanilla(p);" type="button" class="btn btn-default btn-xs"><i class="fa  fa-remove"></i><span> Eliminar</span> </button>

											
											</td>
										</tr>
									</tbody>
							</table>
							</div>
						</div>
					</div>
				</div>
			</div>	
-->
		<!--	Datos Planillas : {{this.planilla | json}}-->
		<!--
			<div class="box" [hidden]=!verDocumentos>
					<div class="box-header with-border">
						<div class="row">
							<div class="col-md-2">
								<label class="text-left subtitle">
										Documentos
								</label> 
							</div>	
							<div class="col-md-10">
									<button  (click)="this.mostrarDocumentos(false);" type="button" class="btn btn-default btn-xs"> <i class="fa fa-chevron-up"></i><span> Ocultar </span></button>
							</div>
						</div>	
					</div>	
					<div class="box-body">
						<div class="row">
							<div class="col-md-12">
								<form class="form-horizontal" role="form">
									<div class="form-group">
										<label for="inputPassword3" class="col-sm-3 control-label">
												Planilla Generada :
										</label>
										<div class="col-sm-2">
												<button (click)="this.mostrarFile1(this.planilla.intId);" type="button" class="btn btn-default btn-xs"><i class="fa  fa-eye"></i><span> Ver File</span> </button>
														
										</div>
										<div class="col-sm-5">
												<input 
												name="excel1"
												
												type="file" class="form-control input-sm"  placeholder="excel1"
												id="file"
												(change)="handleFileInput($event.target.files)"
												>
											</div>
											<div class="col-sm-2">
													<button (click)="this.saveFile1(this.planilla.intId);" type="button" class="btn btn-default btn-xs"><i class="fa  fa-save"></i><span> Guardar</span> </button>
											</div>
									</div>
									<div class="form-group">
											<label for="inputPassword3" class="col-sm-3 control-label">
													Planilla con Plame :
											</label>
											<div class="col-sm-2">
													<button (click)="this.mostrarFile2(this.planilla.intId);" type="button" class="btn btn-default btn-xs"><i class="fa  fa-eye"></i><span> Ver File</span> </button>
														
											</div>
											<div class="col-sm-5">
													<input 
													name="excel1"
													
													type="file" class="form-control input-sm"  placeholder="excel1"
													id="file"
													(change)="handleFileInput($event.target.files)"
													>
												</div>
												<div class="col-sm-2">
														<button (click)="this.saveFile2(this.planilla.intId);" type="button" class="btn btn-default btn-xs"><i class="fa  fa-save"></i><span> Guardar</span> </button>
																		
												</div>
										</div>
										<div class="form-group">
												<div class="col-sm-4"></div>
												<div class="col-sm-4">
														<button
														[disabled]=!habilitarComparacion
														(click)="this.compararFiles();"
														 type="button" class="btn form-control input-sm btn-default">
																Cruzar Data
															</button>
												</div>
												<div class="col-sm-4"></div>
										</div>
	

									</form>
								</div>
							</div>
						</div>
					</div>
-->
			<div class="row">
					<div class="col-md-3">
			
					</div>
					<div class="col-md-6">
						<div class="col-sm-6">
					<!--<a routerLink="/">
						<button (click)=this.updatePlanilla(this.planilla); [disabled]=!this.habilGuardar type="button" class="btn form-control input-sm btn-default">
							Guardar
						</button> </a>
					-->
					</div>
						<div class="col-sm-6">

							<cf-go-back></cf-go-back> 
					<!--	<button type="button" class="btn form-control input-sm btn-default">
							Atrás
						</button>-->
						</div>   
					</div>
							<div class="col-md-3">
							</div>
				</div>
		</div>
	</div>
</div>
</section>
</div>
</div>