<!--Inicio de pagina  -->
<cf-header></cf-header>
<cf-nav></cf-nav>
<div class="wrapper"> 
<div class="content-wrapper">
<section class="content"> 
	<div class="box2">
	<div class="row">
		<div class="col-md-12 margen ">	
			<h2 class="title text-center ">
				PLANILLAS CTS
			</h2>
			<div class="box">
				<div class="box-header with-border">			
					<div class="row">
						<div class="col-md-12">
							<label class="text-left subtitle">
								Datos Planilla
							</label> 
						</div>	
					</div>	
				</div>	
				<div class="box-body">
					<div class="row">
						<div class="col-md-12">
							<form class="form-horizontal" role="form">
								<div class="form-group">			
									<label for="inputPassword3" class="col-sm-2 control-label">
											Concepto de Pago : 
										</label>
										<div class="col-sm-6">
												<input value="Compensación por Tiempo de Servicio"
												type="text" disabled class="form-control input-sm" id="inputEmail3" placeholder="Motivo Rechazo" 
											>
										</div>
								</div>
								<div class="form-group">			
										<label for="inputPassword3" class="col-sm-2 control-label">
												Periodo : 
											</label>
											<div class="col-sm-4">
													<select name="Periodo" 
													[(ngModel)] = this.planilla.intPeriodo
													class="form-control input-sm" >
														<option [value]=undefined selected > - Seleccione - </option>    
														<option value=13> Mayo</option> 	
														<option value=14> Octubre</option> 	
													</select>	
											</div>
									</div>

								<div class="form-group">
									<label for="inputPassword3" class="col-sm-2 control-label">
											Empresa :
										</label>
											<div class="col-sm-4">
													<select name="Empresa" 
													[(ngModel)] = this.planilla.intEmpresaId
													class="form-control input-sm" >
														<option [value]=0 selected disabled> - Seleccione - </option>    
														<option *ngFor="let te of this.tipoEmpresa"
														[value]="te.intId"> {{te.strName}}</option> 	
													</select>		
												</div>

													<div class="col-sm-2">
														<button (click)="this.consultar(this.planilla.intEmpresaId);" type="button" class="btn btn-default btn-xs"><i class="fa  fa-search"></i><span> Consultar</span> </button>
															
														</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				<!--Lista de Servicio Obtenidos : {{this.planillas | json }} -->
				<!--idEmpresa : {{ this.planilla.intEmpresaId | json }}  -->
				
				<div class="box">
						<div class="box-header with-border">				
							<div class="row">
								<div class="col-md-2">
									<label class="text-left  subtitle">
										Colaboradores
									</label>
								</div>
							</div>
						</div>	

				<div class="box-body">
					<div class="row">
						<div class="col-md-12">
							<div class="table-responsive">
							<table class="table table-hover table-bordered text-center">
								<thead class="text-center">
									<tr class="active">
										<th>ID </th>
										<th>DNI</th>
										<th>Colaborador</th>
										<th>Pension</th>
										<th>Comision</th>
										<th>Cargo</th>
										<th>Empresa</th>
										<th>Sueldo Base</th>
										<!--<th>Opciones</th>-->
									</tr>
								</thead>

								<!-- [hidden]=!servicio.boolAprobado  -->
								<tbody>
									<tr *ngFor="let p of planillas">
										<!--<td>{{contactos.indexOf(contacto)+1}}</td> -->
										<td>{{planillas.indexOf(p)+1}}</td>
										<td>{{p.strDNI}}</td>
										<td>{{p.strNombreCompleto}}</td>
										<td>{{p.strTipoPension}}</td>
										<td>{{p.strTipoComision}}</td>
										<td>{{p.strCargo}}</td>
										<td>{{p.strEmpresa}}</td>
										<td>{{p.dbSueldo}}</td>
										<!-- <td >	

												<button (click)="this.deleteContacto(contacto);" type="button" class="btn btn-default btn-xs"><i class="fa  fa-remove"></i><span> Eliminar</span> </button>
										
										</td>-->
									</tr>
								</tbody>
							</table>
							</div>
						</div>
					</div>
				</div>
			</div>	
			<div class="row">
					<div class="col-md-2">
			
					</div>
					<div class="col-md-8">
						<div class="col-sm-4">
					
						<button (click)="this.exportarExcel();" type="button" class="btn form-control input-sm btn-default">
								<i class="fa fa-file-excel-o"></i> 	<span> Exportar</span>
						</button> 
						</div>
						<div class="col-sm-4">
					
								<button (click)="this.guardarPlanilla(this.planilla);" type="button" class="btn form-control input-sm btn-default">
										<i class="fa fa-save"></i> <span> Guardar</span>
								</button> 
								</div>
						<div class="col-sm-4">

							<cf-go-back></cf-go-back> 
					<!--	<button type="button" class="btn form-control input-sm btn-default">
							Atrás
						</button>-->
						</div>   
					</div>
							<div class="col-md-2">
							</div>
				</div>
		</div>
	</div>
</div> 
</section>
</div>
</div>