<!--Inicio de pagina  -->
<cf-header></cf-header>
<cf-nav></cf-nav>
<div class="wrapper"> 
<div class="content-wrapper">
<section class="content"> 
<div class="box2">
	<div class="row">
	<br>
		<div class="col-md-12 margen">	
			<h2 class="title text-center">
				 PAGO PLANILLA
			</h2>  
			<div class="box">
				<div class="box-header with-border">			
					<div class="row">
						<div class="col-md-3">
							<label class="text-left subtitle">
								Datos del Contrato
							</label>
						</div>  
					</div>
				</div>
				<div class="box-body">					
					<div class="row">
						<div class="col-md-12">
							<form class="form-horizontal" role="form form-group">
								<div class="form-group">
											<label for="inputEmail3" class="col-sm-2 control-label">
												Nombre :
											</label>
											<div class="col-sm-10">
												<input value={{this.planillaPago.strNombreCompleto}}
												 type="text" disabled class="form-control input-sm" id="inputEmail3" placeholder="Nombre Completo">	
											</div>
										</div>
								<div class="form-group">
									<label for="inputEmail3" class="col-sm-2 control-label">
										Cargo :
									</label>
									<div class="col-sm-10">
										<input value={{this.planillaPago.strCargo}}
										 type="text" disabled class="form-control input-sm" id="inputEmail3" placeholder="Cargo">	
									</div>
								</div>
								<div class="form-group">
										<label for="inputPassword3"  class="col-sm-2 control-label">
											Fecha Contratación:
										</label>
										<div class="col-sm-3">
												<input value={{this.planillaPago.dtFechaContratacion}} type="date" disabled class="form-control input-sm" id="inputEmail3" placeholder="">
										</div>
											<label for="inputPassword3"  class="col-sm-2 control-label">
												Fecha Finalización:
											</label>
											<div class="col-sm-3">
												<input value={{this.planillaPago.dtFechaFinalizacion}} type="date" disabled class="form-control input-sm" id="inputEmail3" placeholder="">
											</div>						
								</div> 
								<div class="form-group"> 
									<label for="inputEmail3" class="col-sm-2 control-label">
											Empresa :
										</label>
										<div class="col-sm-4">
											<input value={{this.planillaPago.strEmpresa}}
											 type="text" disabled class="form-control input-sm" id="inputEmail3" placeholder="TOP / PGS">	
										</div>
								</div> 
								<div class="form-group">
									<label for="inputPassword3" class="col-sm-2 control-label">
										Sueldo :
									</label>
									<div class="col-sm-4"> 
											<input  disabled type="text"
											class="form-control input-sm text-left"  id="dbMonto"
											name ="dbMonto" currencyMask [(ngModel)]="this.planillaPago.dbSueldo" 
											placeholder="00.00"
											[options]="{ prefix: '', thousands: ',', decimal: '.' ,precision:2}" >  
								 	</div> 
										<div class="col-sm-4">
											<button  (click)="this.calcularPagos(this.planillaPago.dbSueldo);" type="submit" class="btn form-control input-sm  btn-default" >
													<span class="fa fa-file-excel-o"></span>Calcular Pagos</button>
										</div>
								</div> 
							</form>
						</div>
					</div>
				</div>
			</div> 
   
			<div class="row">
					<div class="col-md-2"> 
					</div>
					<div class="col-md-8">
						<div class="col-sm-4">
								<button  (click)="this.ImprimirPlanillaPago(this.planillaPago);" type="submit" class="btn form-control input-sm  btn-default" >
										<span class="fa fa-file-excel-o"></span>Imprimir Pago</button>
						</div>
						<div class="col-sm-4">
								<button   (click)="this.guardarPlanillaPago(this.planillaPago);" type="submit" class="btn form-control input-sm  btn-default" >
										<span class="fa fa-file-excel-o"></span> Guardar Pago</button>
								
						</div>
						<div class="col-sm-4">
								<cf-go-back></cf-go-back>
								</div>
					</div>
							<div class="col-md-2">
					</div>
				</div>		
			
		</div>
	</div>
	</div>
      <!-- /.content-wrapper -->
 </section>
 </div>
 </div>