 <!--Inicio de pagina  -->
<cf-header></cf-header>
<cf-nav></cf-nav>
<div class="wrapper"> 
<div class="content-wrapper">
<section class="content"> 
	<!--Inicio de pagina  -->
	<div class="box2">
	<div class="row">
		<div class="col-md-12 margen ">	
			<h2 class="title text-center ">
				BOLETAS DE PAGO
			</h2> 
			<div class="box">
				<div class="box-header with-border">			
					<div class="row">
						<div class="col-md-2">
							<label class="text-left subtitle">
									Búsqueda Planilla
							</label>  
						</div>
						<div class="col-md-10">	
							 <button (click)="this.buscarPlanillasPago(this.empresa.intId, this.tipoPlanillaPago.intId, this.periodo.intId, this.year);" type="button" class="btn btn-default btn-xs"><i class="fa  fa-search"></i><span> Consultar</span> </button>
						</div>	
					</div>	
				</div>	
			<!--planilla : {{ this.planilla | json}}-->
				<div class="box-body">
					<div class="row">
						<div class="col-md-12">
							<form class="form-horizontal" role="form">
								
								<div class="form-group">
										<label for="inputPassword3" class="col-sm-2 control-label">
												Empresa :
											</label>
												<div class="col-sm-4">
														<select name="Empresa" 
														[(ngModel)] = this.empresa
														class="form-control input-sm" >
															<option [value]=0 selected disabled> - Seleccione - </option>  
															<option [value]=0  >TODOS</option>  
															<option *ngFor="let te of this.empresas"
															[value]="te.intId"> {{te.strName}}</option> 	
														</select>		
													</div>
										</div>

								<div class="form-group">			
									<label for="inputPassword3" class="col-sm-2 control-label">
											Tipo de Pago : 
										</label>
										<div class="col-sm-5">
												<select name="TipoPlanilla" 
												[(ngModel)] = this.tipoPlanillaPago
												(change) = this.cargarPeriodos();
												class="form-control input-sm" >
													<option [value]=0 selected disabled> - Seleccione - </option>  
													
													<option [value]=0 selected >TODOS </option>    
													<option *ngFor="let te of this.tipoPlanillasPago"
													[value]="te.intId"> {{te.strName}}</option> 	
												</select>	
										</div>
								</div>
								<div class="form-group">			
										<label for="inputPassword3" class="col-sm-2 control-label">
												Periodo : 
											</label>
											<div class="col-sm-4">
													<select name="Periodo" 
													[(ngModel)] = this.periodo				
													class="form-control input-sm" >
														<option [value]=0 selected disabled> - Seleccione - </option>
														 <option [value]=0  > TODOS  </option>      
														<option *ngFor="let p of this.periodos"
														[value]="p.intId"> {{p.strName}}</option> 	
													</select>
											</div>
											<label for="inputPassword3" class="col-sm-2 control-label">
													Año : 
											</label>
											<div class="col-sm-3">
													<select name="year" 
													[(ngModel)] = this.year 	 			
													class="form-control input-sm" >
														<option [value]=null selected disabled> - Seleccione - </option>    
														<option [value]=null> TODOS  </option>      
														<option *ngFor="let a of this.years"
														[value]=a> {{a}}</option> 	
													</select>
											</div>  
									</div>
 
								</form>
							</div>
						</div>
					</div>
				</div>

				<!-- Lista de Planillas Obtenidos : {{this.planillas | json }} -->
		
				<!--
				<div class="box">
						<div class="box-header with-border">			
							<div class="row">
								<div class="col-md-12">
									<label class="text-left subtitle">
										PLANILLAS
									</label> 
								</div>	
							</div>	
						</div>	
						
		 
					<div class="box-body">
							<div class="row">
								<div class="col-md-12">
									<div class="table-responsive">
									<table class="table table-hover table-bordered text-center">
										<thead class="text-center">
											<tr class="active">
												<th># </th>
												<th>Planilla Codigo</th>
												<th>Empresa</th>
												<th>Concepto de Pago</th>
												<th>Periodo</th>
												<th>Opciones</th>
											</tr>
										</thead>
		
										<tbody>
												<tr *ngFor="let p of planillas">  
													<td>{{p.intId}}</td>
													<td>{{p.strPlanillaCode}}</td>
													<td>{{p.strEmpresa}}</td>
													<td>{{p.strTipoPlanilla}}</td>
													<td>{{p.strPeriodo}}</td>
													 <td >	
			
															<button (click)="this.obtenerDetallePlanilla(p);" type="button" class="btn btn-default btn-xs"><i class="fa  fa-eye"></i><span> Detalle</span> </button>
															<button (click)="this.eliminarPlanilla(p);" type="button" class="btn btn-default btn-xs"><i class="fa  fa-remove"></i><span> Eliminar</span> </button>

													</td>
												</tr>
											</tbody>
									</table>
									</div>
								</div>
							</div>
						</div>
					</div>	
-->
					  idEmpresa : {{ this.planillasPago | json }}    
					<div class="box"
						[hidden] = !this.viewDetalles
					>
							<div class="box-header with-border">				
								<div class="row">
									<div class="col-md-2">
										<label class="text-left  subtitle">
											DETALLES PLANILLA
										</label>
									</div>
									<div class="col-md-10">
											<button  (click)="this.mostrarDetalles(false);" type="button" class="btn btn-default btn-xs"> <i class="fa fa-chevron-up"></i><span> Ocultar </span></button>

										<!-- <button  (click)="this.generarBoletas();" type="button" class="btn btn-default btn-xs"> <i class="fa fa-edit"></i><span> Generar Boletas </span></button>-->
									</div>
								</div>
							</div>	
	
					<div class="box-body">
						<div class="row">
							<div class="col-md-12">
								<div class="table-responsive">
								<table class="table table-hover table-bordered text-center">
									<thead class="text-center">
										<tr class="active">
											<th>ID </th>
											<th>DNI</th>
											<th>Colaborador</th>
											<th>Pension</th>
											<th>Comision</th>
											<th>Cargo</th>
											<th>Empresa</th>
											<th>Sueldo Base</th>
											<th>Opciones</th>
										</tr>
									</thead>
 									<!-- [hidden]=!servicio.boolAprobado  -->
									<tbody>
										<tr *ngFor="let dp of planillasPago"> 
										<!--	<td>{{detallesPlanilla.indexOf(dp)+1}}</td> -->
											<td>{{dp.intId}}</td>
											<td>{{dp.strDNI}}</td>
											<td>{{dp.strNombreCompleto}}</td>
											<td>{{dp.strTipoPension}}</td>
											<td>{{dp.strTipoComision}}</td>
											<td>{{dp.strCargo}}</td>
											<td>{{dp.strEmpresa}}</td>
											<td>{{dp.dbSueldo}}</td>
												<!-- <button (click)="this.verBoleta(dp);" type="button" class="btn btn-default btn-xs"><i class="fa  fa-eye"></i><span> Ver Boleta </span> </button>-->
											    <button (click)="this.imprimirBoleta(dp);" type="button" class="btn btn-default btn-xs"><i class="fa  fa-print"></i><span> Imprimir Boleta </span> </button>
											
										</tr>
									</tbody>
								</table>
								</div>
							</div>
						</div>
					</div>
				</div>

			<div class="row">
					<div class="col-md-3">
			
					</div>
					<div class="col-md-6">
						<div class="col-sm-4">
					
						 	</div>
						<div class="col-sm-4">
							 	</div>
						<div class="col-sm-4">

							<cf-go-back></cf-go-back> 
					<!--	<button type="button" class="btn form-control input-sm btn-default">
							Atrás
						</button>-->
						</div>   
					</div>
							<div class="col-md-3">
							</div>
				</div>
		</div>
	</div>
</div> 
</section>
</div>
</div>