<ngx-spinner
bdColor = "rgba(51, 51, 51, 0.8)"
size = "large"
color = "#fff"
type = "ball-clip-rotate"
>

</ngx-spinner> 
<cf-header></cf-header>
<cf-nav></cf-nav>
<div class="wrapper"> 
<div class="content-wrapper">
<section class="content"> <!--Inicio de pagina  -->
	<div class="box2">
	<div class="row">
		<div class="col-md-12 margen">	
			<h2 class="title text-center ">
				SERVICIO
			</h2>
			<br>
			<div class="box">
				<div class="box-header with-border">	
					<div class="row">
						<div class="col-md-4">
							<label class="text-left subtitle">
								Datos del Cliente
							</label>
						</div>
					</div>	
				</div>
			 <!--	id Cliente de registrar Propuesta : {{idCliente}}-->
				<div class="box-body">
					<div class="row">
						<div class="col-md-12">
							<form class="form-horizontal" role="form">
								<div class="form-group">
									<label for="inputEmail3" class="col-sm-2 control-label">
									 Razón Social :
									</label>
									<div class="col-sm-10">
											<input type="text" disabled class="form-control input-sm" id="inputEmail3" placeholder="Razón Social" 
										[value]="this.cliente.strRazonSocial"
											>
									</div>
								</div>
								<div class="form-group">
									<label for="inputEmail3" class="col-sm-2 control-label">RUC :</label>
									<div class="col-sm-4">
										<input type="text" disabled class="form-control input-sm" id="inputEmail3" placeholder="RUC"
										[value]="this.cliente.strRUC">
									</div>
									 
								</div>						
							</form>	
						</div>
					</div>
				</div>		
			</div>	 
		<!--	Servicio Obtenido : {{ servicio | json }}-->
				<div class="box">
					<div class="box-header with-border">	
						<div class="row">
							<div class="col-md-12">
								<label class="text-left subtitle">
									Servicio  
								</label>
							</div>
						</div>
					</div>
		<!--			Servicio Obtenido : {{this.servicio | json }}-->
					<div class="box-body">				
						<div class="row">
							<div class="col-md-12">
								<form class="form-horizontal" role="form">
								  	<div class="form-group"> 
										<label for="qwe" class="col-sm-2 control-label">
											Nombre :
										</label>
										<div class="col-sm-10">
											<input	name="nombreServicio" 	
												[(ngModel)]=  servicio.strNombreServicio
												type="text" class="form-control input-sm" id="qwe">
									 	</div>
									</div>
									<div class="form-group">										 
										<label for="inputPassword3" class="col-sm-2 control-label">
											Descripción : 
										</label>
										<div class="col-sm-10">
											<textarea name="descripcion" [(ngModel)] = "servicio.strDescripcion" class=" form-control input-sm"   id="TextArea"  rows="3" placeholder="Descripcion del Servicio">
												</textarea></div>
									</div> 
									<div class="form-group"> 
										<label for="qwe" class="col-sm-2 control-label">
											Area :
										</label>
										<div class="col-sm-5">
												<select name="tipoArea"  
												[(ngModel)]= this.servicio.intTipoArea
												class="form-control input-sm">
												<option [value]=0 disabled> - SELECCIONE -</option>    
												<option *ngFor="let ta of this.tipoAreas" 
												[value]="ta.intId"	>{{ta.strName}}</option>
											</select>    
										</div>
										<label for="qwe" class="col-sm-2 control-label">
											Anexo :
										</label>
										<div class="col-sm-3">
											<input	name="intAnexo"  
												[(ngModel)]= this.servicio.intAnexoId
												type="number" class="form-control input-sm" id="intAnexo">  
										</div> 
									</div>
									<div class="form-group">
										<label for="nombreServicio" class="col-sm-2 control-label">
											Fecha Inicio Esperada :
										</label>
										<div class="col-sm-4">
											<input type="date" class="form-control input-sm" id="nombreServicio" 
											name="fechaInicio"
												[(ngModel)]="servicio.dtFechaInicioEsperada" >
										</div>
											<label for="nombreServicio" class="col-sm-2 control-label">
												Fecha Fin Esperada :
											</label>
											<div class="col-sm-4">
												<input type="date" class="form-control input-sm" id="nombreServicio" 
												name="fechaFin"
													[(ngModel)]="servicio.dtFechaFinEsperada" >
											</div>
									</div>  
									<div class="form-group">
											<label for="nombreServicio" class="col-sm-2 control-label">
												Observacion :
											</label>
											<div class="col-sm-10">
												<input type="text" class="form-control input-sm" id="wer" 
												name="observacion" [(ngModel)]="servicio.strObservacion" >
											</div>
									</div> 
								</form>
							</div>
						</div>
					</div>
				</div>  
				
				<div class="box">
					<div class="box-header with-border">	
						<div class="row">
							<div class="col-md-2">
								<label class="text-left subtitle">
									Contactos
								</label>
							</div> 
							<div class="col-md-10">
									<cf-modal-buscar-contacto-cliente   
									(selectContacto)="recibirContacto($event)"
									nameBoton = "Asociar Contacto"
									iconBoton = "fa fa-plus"
									classBoton = "btn btn-default btn-xs"	
									[intClienteId] = this.id    							
									> 
									</cf-modal-buscar-contacto-cliente >  
									<!--
								<a  
								[routerLink]="['/nuevaPersona']" >
									<button  type="button" class="btn btn-default btn-xs"><i class="fa fa-plus"></i><span> Mantenimiento de Personas</span> </button>
								</a>
								-->
							</div>
						</div>
					</div>  

			 		<!---Contactos a agregar {{ contactos | json }}  -->
				<div class="box-body">
						<div class="row">
								<div class="col-md-12">
									<form class="form-horizontal" role="form">
										<div class="form-group">			
											<div class="row">
													<div class="col-md-12">
														<div class="table-responsive">
														<table class="table table-hover table-bordered text-center">
															<thead class="text-center">
																<tr class="active">
																	<th>#</th>
																	<th>Nombre</th>
																	<th>Cargo</th>  
																	<th>Opciones</th>
																</tr>
															</thead>
															<tbody>
																<tr *ngFor="let contacto of contactos">
																	<td>{{contactos.indexOf(contacto)+1}}</td>
																	<td>{{contacto.strNombreCompleto}}</td> 
																	<td>{{contacto.strVinculo}}</td>  
																	<td>	
																			<!--<button (click)="openModal(contentConfirmDelete);" type="button" class="btn btn-default btn-xs"><i class="fa  fa-remove"></i></button>-->
																			<button (click)="this.deleteContacto(contactos.indexOf(contacto));" type="button" class="btn btn-default btn-xs"><i class="fa  fa-remove"></i> Eliminar</button>
                                                   
																	</td>
																</tr>
															</tbody>
														</table>
														</div>
													</div>
											</div>
										</div>
									</form>	
								</div>
						</div>
					</div>
				</div>	

			<div class="box">
				<div class="box-header with-border">				
					<div class="row">
						<div class="col-md-2">
							<label class="text-left  subtitle">
								Perfiles
							</label>
						</div>
						<div class="col-md-8">
							<cf-modal-perfil-servicio
								[servicio] = this.servicio
								[RazonSocial]= this.cliente.strRazonSocial
								[titulo] = "this.tittleModalPerfilServicio"
								[perfilServicioEntrante] = null
								(responsePerfilServicio)="recibirPerfilServicio($event)"
								nameBoton = " Perfil"
								iconBoton = "fa fa-plus"
								classBoton = "btn btn-default btn-xs"	
							>
							</cf-modal-perfil-servicio>
							<!---<button  (click)="openModal(contentAgregarPerfiles)" type="button" class="btn btn-default  btn-xs"><i class="fa fa-plus"></i><span>  Perfil</span> </button>-->
						</div> 
					</div>
				</div>	
	<!--  Perfiles temporales : {{ perfilesServicio | json }}  --> 
				<div class="box-body">
					<div class="row">
						<div class="col-md-12">
							<div class="table-responsive">
							<table class="table table-hover table-bordered text-center">
								<thead class="text-center">
									<tr class="active">
										<th>#</th>
										<th>Perfil</th>
										<th>Cantidad</th>
										<th>Observación</th>
										<th>Inicio</th>
										<th>Fin</th>
										<th>Opciones</th>
									</tr>
								</thead>
								<tbody>
									<tr *ngFor="let p of perfilesServicio" >
										<td>{{perfilesServicio.indexOf(p)+1}}</td>
										<td>{{p.strPerfil}}</td>
										<td>{{p.intCantidad}}</td>
										<td>{{p.strObservacion}}</td>
										<td>{{p.dtFechaInicio   | date:"dd/MM/yyyy" }}</td>
										<td>{{p.dtFechaFin   | date:"dd/MM/yyyy" }}</td>
										<td>	
											<button (click)="this.deletePerfil(perfilesServicio.indexOf(p));" type="button" class="btn btn-default btn-xs"><i class="fa  fa-remove"></i> Eliminar</button>
										</td>
									</tr>
								</tbody>
							</table>
							</div>
						</div>
					</div>
				</div>	
			</div>				
			<div class="box" [hidden]=true>
					<div class="box-header with-border">			
						<div class="row">
							<div class="col-md-2">
								<label class="text-left subtitle">
									Documentos
								</label> 
							</div>
							<div class="col-md-8">
								<button (click)="openModal(contentAgregarDocumento)" type="button" class="btn btn-default btn-xs"><i class="fa fa-plus"></i><span> Documento </span> </button>
							</div> 
						</div>
					</div>
			<!--		Documentos Obtenidos : {{documentos | json }}-->
					<div class="box-body" >
						<div class="row">
							<div class="col-md-12">
								<div class="table-responsive">
								<table class="table table-hover table-bordered text-center">
									<thead class="text-center">
										<tr class="active">
											<th>#</th>
											<th>Documento</th>
											<th>Archivo</th>
											<th>Observacion</th> 
											<th>Opciones</th>
										</tr>
									</thead>
									<tbody>
										<tr *ngFor="let documento of documentos">
											<td>{{documentos.indexOf(documento)+1}}</td>
											<td>{{documento.tipoDocumento}}</td>
											<td>{{documento.documento}}</td>
									 		<td>{{documento.observacion}}</td>
											<td>	
											<!--	<button type="button" class="btn btn-default btn-xs"><i class="fa  fa-edit"></i></button>  -->
												<button (click)="deleteDocumento(documentos.indexOf(documento))" type="button" class="btn btn-default btn-xs"><i class="fa  fa-remove"></i></button>
											</td>
										</tr>
	
									</tbody>
								</table>
								</div>
							</div>
						</div>
					</div>
				</div>


						<!-- MODAL PARA AGREGAR DOCUMENTOS -->
		<ng-template #contentAgregarDocumento let-c="close" let-d="dismiss">
				<div class="modal-header" style="padding:20px 20px;">		
						<div class="row">
								<div class="col-md-12">
									<span class="glyphicon glyphicon-lock"></span> Agregar Documento
								</div>
							</div>
					</div><br>
					<div class="modal-body" style="padding:10px 20px;">				
							<div class="row">
								<div class="col-md-12">
									<form class="form-horizontal" role="form">
										<div class="form-group">
												<label for="inputEmail3" class="col-sm-2 control-label">
													Razón Social:
												</label>
												<div class="col-sm-10">
													<input 
													value={{servicio.strNombreCliente}} type="text" disabled class="form-control input-sm" id="inputEmail3" placeholder="Razón Social">
												</div>
										</div>	
										<div class="form-group">
											<label for="inputEmail3" class="col-sm-2 control-label">
												Servicio:
											</label>
											<div class="col-sm-10">
												<input
												value={{servicio.strNombreServicio}} type="text" disabled class="form-control input-sm" id="inputEmail3" placeholder="Servicio">
											</div>
										</div>
									</form>
								</div>
							</div>
							<hr>
							<div class="col-md-12">
								<div class="row">
										<div>
											Documentos 
										</div>									
								</div>
							</div><br>
					<!--		Documento  : {{ documento | json }}		-->
						<div class="row">
							<div class="col-md-12">
								<form class="form-horizontal" role="form">
									<div class="form-group">
										<label for="inputEmail3" class="col-sm-3 control-label">
											Documento:
										</label>
										<div class="col-sm-7">
											<select name="tipoDocumento" 
											[(ngModel)] = this.documento.tipoDocumento 
											class="form-control input-sm" >
												<option value="" selected disabled>Seleccione</option>    
												<option>Costos</option>    
												<option>Propuesta</option>  
												<option>Acuerdos</option>   
											</select>		
										</div>
									</div>
									<div class="form-group">
											<label for="inputPassword3" class="col-sm-3 control-label">
													Documento:
												</label>
											<div class="col-sm-9">
													<input name="documento" (change)="onArchivoSeleccionado($event)"
							 						type="file" class="form-control input-sm" id="inputEmail3" >
											</div>
									</div>
									<div class="form-group">
										<label for="inputPassword3" class="col-sm-3 control-label">
												Observación:
											</label>
										<div class="col-sm-9">
												<input name = "observacion"
												[(ngModel)]= this.documento.observacion
												type="text" class="form-control input-sm" id="inputEmail3" >
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
					<div class="modal-footer">
							<button  (click) = "addDocumento(this.documento);this.modalRef.close();limpiarDocumento(); "  type="submit" class="btn btn-success input-sm" data-dismiss="modal"><span class="fa  fa-check"></span> Aceptar</button>
							<button   (click)="this.modalRef.close();limpiarDocumento();" type="submit" class="btn btn-danger input-sm" data-dismiss="modal"><span class="fa fa-remove"></span> Cancelar</button>
						</div>
				</ng-template>

				<div class="row">
					<div class="col-md-2">
					</div>
					<div class="col-md-8">
						<div class="col-sm-4">
							<button  (click)="this.guardarServicio();openModal(contentRegistroExitoso);limpiarTodo();" type="button" class="btn form-control input-sm btn-default">
								Registrar Servicio
						</button> 
						</div>
						<div class="col-sm-4">
								<cf-go-back></cf-go-back>
						</div>
						<div class="col-sm-4">
						<button (click)="openModal(contentCancelacionServicio);
						
						" type="button" class="btn form-control  input-sm btn-default">
							Cancelar 
						</button>
						</div>
					</div>
					<div class="col-md-2"></div>
				</div>

		<!--Modal registro exitoso servicios-->
<!-- Modal content 
      <div class="modal-content">-->
		  
		<ng-template #contentRegistroExitoso let-c="close" let-d="dismiss">
			<div class="modal-header" style="padding:20px 20px;">		  
				<div class="row">
					<div class="col-md-12">
							<b><span class="fa  fa-check-circle"></span>   Mensaje de Información </b>
					</div>
				</div>
			</div>
			<div class="modal-body" style="padding:10px 30px;">
				<br>
				<div class="row">
						<div class="col-md-1">
						</div>
					<div class="col-md-10">
						<form class="form-horizontal" role="form">
								<div class="form-group">
										<label for="inputEmail3" class="col-sm-12 control-label text-left">	
											Mensaje : <br> 
											1.- {{this.responseMessage}}<br>
										</label>    
								</div> 
						</form>
					</div>	
				</div> 
			</div>
			<div class="modal-footer">
					<div class="col-md-4"></div>	
				
				<div class="col-md-4">
						<a [routerLink]="['../../registrarPropuesta',this.cliente.intId]"> 
					<button (click)="limpiarTodo();this.modalRef.close()" type="submit" class="btn form-control input-sm btn-success" data-dismiss="modal" >Aceptar</button>
					</a>
				</div>
				<div class="col-md-4"></div>
			</div>
	
		</ng-template>
					<!-- Modal Registro Exitoso -->	
					

		<!--Modal confirar eliminacion de servicios-->
<!-- Modal content 
      <div class="modal-content">-->
            <ng-template #contentCancelacionServicio let-c="close" let-d="dismiss">
                    <div class="modal-header" style="padding:20px 20px;">		  
                        <div class="row">
                            <div class="col-md-12">
                                <span class="fa  fa-question-circle fa-2x">   Confirmacion Cancelar el Registro</span>
                            </div>
                        </div>
                    </div>
                    <div class="modal-body" style="padding:10px 30px;">
                        <div class="row">
                            <div class="col-md-12">
                                <form class="form-horizontal" role="form">
                                        <div class="form-group">
                                                <label for="inputEmail3" class="col-sm-10 control-label">
                                                        <h4> ¿ Desea cancelar el registro del Servicio ? ... Se eliminaran los datos ingresados ... </h4>
                                                </label>
                                        </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                            <div class="col-md-3"></div>
                        <div class="col-md-3">
                            <button (click)="limpiarTodo();this.modalRef.close()" type="submit" class="btn form-control input-sm btn-success" data-dismiss="modal" ><span class="fa  fa-check"></span> Si</button>
                        </div>
                        <div class="col-md-3">    
                            <button (click)="this.modalRef.close();" type="submit" class="btn form-control input-sm btn-danger" ><span class="fa fa-remove"></span> No</button>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                </ng-template>
                              
                    <!-- Modal Confirmar EiminacionSErvicio -->		



			</div>
		</div>
	</div>
</section>
</div>
</div>

	   <!-- <script>
      $(function () {
        //Initialize Select2 Elements  eetret
        $(".select2").select2();

      });
	</script>
-->