<!--Inicio de pagina  -->
<cf-header></cf-header>
<cf-nav></cf-nav>
<div class="wrapper"> 
<div class="content-wrapper">
<section class="content"> 
   <div class="box2">
	<div class="row">
		<div class="col-md-12 margen">	
			<h2 class="title text-center">
				REGISTRAR BAJAS
			</h2>
			<br> 
			<div class="box">
				<div class="box-header with-border">
					<div class="row">
						<div class="col-md-12">
							<label class="text-left subtitle">
								Datos Colaborador
							</label> 
							&nbsp;&nbsp;&nbsp;
								<cf-modal-buscar-persona-natural 
								[titulo] = "this.tittleModalBuscarPN"
								(selectPersonaN)="selectPersonaN($event)"
								nameBoton = "Buscar Persona"
								iconBoton = "fa fa-search"
								classBoton = "btn btn-default btn-xs"	
									>
								</cf-modal-buscar-persona-natural>
						</div>

					</div>
				</div>	
		<!-- 		Persona : {{this.persona | json }} -->

				<div class="box-body">
					<div class="row">
						<div class="col-md-12">
							<form class="form-horizontal" role="form">
								<div class="form-group">
										<label for="inputtext3" class="col-sm-2 control-label">
											Nombre
										</label>
									<div class="col-sm-8">
										<input 
										name ="nombrePersona"
										[(ngModel)]="this.persona.strNombreCompleto"
										type="text" disabled  class="form-control input-sm" id="inputtext3" placeholder="Nombre ">
									</div>	
								</div>
								<div class="form-group">
											<label for="inputtext3" class="col-sm-2 control-label">
											DNI
										</label>
									<div class="col-sm-4">
										<input 
										name ="DNIPersona"
										[(ngModel)]="this.persona.strDNI"
										type="text" disabled  class="form-control input-sm" id="inputtext3" placeholder="DNI">
									</div> 
								</div> 
								</form>
						</div>
					</div>
				</div>
			</div>
		 <!-- 	Contratos : {{this.contratos | json }}   -->
			<div class="box">
					<div class="box-header with-border">					
						<div class="row">
							<div class="col-md-12">
								<label class="text-left  subtitle">
									Contratos  
								</label>
							</div>
						</div>
					</div>	
					<div class="box-body">
						<div class="row">
							<div class="col-md-12"> 
								<div class="table-responsive">
								<table class="table table-hover table-bordered text-center">
									<thead>
										<tr class="active">
											<th>#</th>
											<th>Cliente</th>
											<th>Servicio</th>
											<th>Modalidad</th>
											<th>Empresa</th>
											<th>Estado</th>
											<th> Opciones</th>
										</tr>
									</thead>
									<tbody>
										<tr *ngFor="let c of contratos"  > 
											<td>{{ contratos.indexOf(c)+1}}</td>
											<td>{{ c.strNombreCliente}}</td>
											<td>{{ c.strNombreServicio }}</td>
											<td>{{ c.strModalidad}}</td>
											<td>{{ c.strEmpresa }}</td>
											<td>{{ c.strEstado}}</td>
											<td> 
												<a [routerLink]="['../../contrato',c.intId,'baja']"> 
													<button type="button" class="btn btn-default btn-xs"><i class="fa fa-eye"></i><span>  Registrar Baja </span> </button>
												</a> 
											</td>
										  </tr> 
									</tbody>
								</table>
							</div>
							</div>
						</div>
					</div> 
			</div>
			<div class="row">
					<div class="col-md-2"> 
					</div>
					<div class="col-md-8">
						<div class="col-sm-4"> 
						</div>
						<div class="col-sm-4">
						<!--<button type="button" class="btn form-control input-sm btn-default">
							Cancelar
						</button> -->
						</div>
						<div class="col-sm-4">
								<cf-go-back></cf-go-back>
								</div>
					</div>
							<div class="col-md-2">
					</div>
			</div>
		</div>
			</div>
		</div>  
		</section>
</div>
</div>