<cf-header></cf-header>
<cf-nav></cf-nav>
<div class="wrapper"> 
<div class="content-wrapper">
<section class="content"> 
<div class="box2">
    <div class="row">
        <div class="col-md-12 margen" >
            <h2 class="text-center  title ">
                GESTIÓN DE SOLICITUDES
            </h2>
            <br> 
            <div class="box">
                <div class="box-header with-border">
                    <div class="row">
                        <div class="col-md-2">
                            <label class="text-left subtitle">
                                Datos del Cliente
                            </label>
                        </div>
                        <div class="col-md-10">
                            <a routerLink="/nuevoCliente">
                            <button type="button" class=" btn btn-default btn-xs"><i class="fa fa-plus"></i><span> Nuevo Cliente </span> </button>
                            </a>
                            <!--<a [routerLink]="['../registrarPropuesta',this.personaJuridica.intId]">-->
                             <cf-modal-buscar-persona-juridica 
                                [titulo] = "this.tittleModalBuscarPJ"
                                (selectPersonaJ)="selectPersonaJ($event)"                                 >
                             </cf-modal-buscar-persona-juridica>
                            <!--</a>-->
                        </div>
                    </div>	
                </div>	
                <div class="box-body">	
                    <div class="row">
                        <div class="col-md-12">
                            <form class="form-horizontal" role="form">
                                        <div class="form-group">
                                            <label for="inputEmail3"  class="col-sm-2 control-label">
                                                Razón Social :
                                            </label>
                                            <div class="col-sm-10">
                                                <input  name="strRazonSocial" disabled
                                                [(ngModel)] = this.personaJuridica.strRazonSocial 		
                                                      type="text" class="form-control input-sm" id="inputEmail3" placeholder="Razón Social">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                                <label for="inputEmail3" class="col-sm-2 control-label">
                                                    RUC :
                                                </label>
                                                <div class="col-sm-5">
                                                    <input  name="RUC"  disabled
                                                        [(ngModel)] = this.personaJuridica.strRUC 									
                                                    type="number" class="form-control input-sm" minlength="11" maxlength="11"  id="inputEmail3" placeholder="Número de RUC">
                                                </div>
                                        </div>

                        <!--        Verificar  digitos modulo 11 apra el RUC-->
                             <!--    <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-2 control-label letra-cuerpo">
                                        Cliente :
                                    </label>
                                    
                                    <div class="col-sm-6">
                                        <select  #inputCliente (change)="cargarListaServiciosbyId($event.target); changeidCliente(this.inputCliente.value); this.idCliente=inputCliente.value" class="form-control input-sm" style="width: 100%;">
                                         <option selected="selected"  disabled [value]= undefined >     RUC      | Razón Social   </option>
                                         <option *ngFor="let cliente of clientes"
                                         [value]="cliente.intId" 
                                         > {{cliente.strRUC }} | {{cliente.strRazonSocial}}
                                         </option> 
                                         </select>
                                 </div>
                                </div>	
                            -->		
                            </form>	
                        </div>
                        </div>
                 </div>
         <!--   Valor  de idCliente : {{this.personaJuridica.intId }} -->
          <!--   Servicios del cliente : {{this.servicios | json }}  -->
            </div>	
            <div class="box">
                <div class="box-header with-border">
                    <div class="row">
                        <div class="col-md-2">
                            <label class="text-right  subtitle">
                                Servicios
                            </label>
                        </div>
                        <div class="col-md-8">
                        <!-- <a [routerLink]="['../servicio/1']">-->
                        <a [routerLink]="['/nuevoServicio',this.personaJuridica.intId]"> 
                            <button [hidden]=!this.enabledNewServicio type="button" class="btn btn-default btn-xs"><i class="fa fa-plus"></i><span> Nuevo Servicio de Destaque</span> </button>
                        </a>
                        <a [routerLink]="['/newServicioConsultoria',this.personaJuridica.intId]"> 
                            <button [hidden]=!this.enabledNewServicio type="button" class="btn btn-default btn-xs"><i class="fa fa-plus"></i><span> Nuevo Servicio de Consultoría</span> </button>
                        </a> 
                        </div>
                    </div>				
                </div>
            <!--	 Servicios Encontrados :  {{ servicios | json}} --> 
                 <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table table-hover table-bordered text-center">
                                <thead class="text-center">
                                    <tr class="active">
                                        <th>Anexo</th>
                                        <th>Cliente</th>
                                        <th>Servicio</th>
                                        <th>Fecha Registro</th> 
                                        <th>Fecha Inicio</th>
                                        <th>Fecha Fin</th>
                                        <th>Estado</th>
                                        <th>Opciones</th>
                                    </tr>
                                </thead>
                                <tbody >
                                        <tr *ngFor="let servicio of servicios"  > 
                                                <!--<td><a [routerLink]="[operation._id]">{{ operation._id }}</a></td>  
                                                -->
                                                <!--<td>{{ servicios.indexOf(servicio)+1}}</td>-->
                                                <td>{{ servicio.intAnexoId }}</td>
                                                <td>{{ servicio.strNombreCliente}}</td>
                                                <td>{{ servicio.strNombreServicio }}</td>
                                                <td>{{ servicio.dtFechaRegistro  | date:"dd/MM/yyyy" }}</td>
                                                <td>{{ servicio.dtFechaInicioEsperada | date:"dd/MM/yyyy" }}</td>
                                                <td>{{ servicio.dtFechaFinEsperada | date:"dd/MM/yyyy" }}</td>
                                                <td>{{ servicio.strEstado}} </td>
                                                 <td>	 
                                                    <a [routerLink]="['../../servicio',servicio.intId]">
                                                        <button type="button" class="btn btn-default btn-xs"><i class="fa  fa-eye"></i> <span> Ver Servicio </span></button>
                                                    </a> 
                                                    <a [routerLink]="['../../elegirCandidato',servicio.intId]">
                                                    <button type="button"  class="btn btn-default  btn-xs"><i class="fa fa-check"></i><span> Candidatos</span></button>
                                                    </a>
                                                  <!--  <div [hidden]=!this.servicio.viewAprobarPropuesta>
                                                    <a [routerLink]="['../../validarPropuesta',servicio.intId]"> 
                                                        <button type="button" class="btn btn-default  btn-xs"><i class="fa fa-eye"></i> <span>Aprobar Propuesta</span></button>
                                                    </a>
                                                    </div> -->
                                                    <div [hidden]=!this.servicio.viewPonerenCurso>
                                                        <button  (click)="this.selectServicio(servicio);this.openModal(contentChangeEstateServicio);this.setearFechas(servicio);" type="button" class="btn btn-default btn-xs"><i class="fa fa-building-o"></i><span> Poner en Curso </span> </button>
                                                    </div>
												
                                                 </td>    
                                        </tr>
                                </tbody>
                                </table> 
                                <div >    
                            <!--<div class="message-error">-->
                                {{this.notFoundServicios}}
                            </div>
                            </div>          
                        </div>
                    </div>
                </div>
            </div>

		<!--Modal confirar eliminacion de servicios--> 
                <ng-template #contentChangeEstateServicio let-c="close" let-d="dismiss">
                        <div class="modal-header" style="padding:20px 20px;">		  
                            <div class="row">
                                <div class="col-md-12">
                                    <b><span class="fa fa-exclamation-triangle"></span> Cambiar Estado del Servicio</b>
                                </div>
                            </div>
                        </div>
                        <div class="modal-body" style="padding:10px 30px;">
                            <br>
                                <div class="row">
                                    <div class="col-md-12">
                                        <form class="form-horizontal" role="form">
                                            <div class="form-group">
                                                <label for="inputEmail3" class="col-sm-2 control-label">
                                                            Cliente:
                                                </label >
                                                    <div class="col-sm-10">
                                                            <input value= {{this.servicio.strNombreCliente}}  type="text"  disabled class="form-control input-sm" id="inputEmail3" placeholder="Cliente">
                                                    </div>
                                            </div>
                                            <div class="form-group">
                                                    <label for="inputEmail3" class="col-sm-2 control-label">
                                                                Servicio:
                                                    </label>
                                                    <div class="col-sm-10">
                                                            <input value={{this.servicio.strNombreServicio}} type="text"  disabled class="form-control input-sm" id="inputEmail3" placeholder="Servicio">
                                                    </div>
                                            </div>  
                                            <hr>
                                            <div class="form-group" >
                                                    <label for="inputEmail3" class="col-sm-3 control-label">
                                                            Estado Actual:
                                                        </label>
                                                        <div class="col-sm-6">
                                                                <input 
                                                                name="monto" disabled
                                                                value = {{this.servicio.strEstado}} type="text" class="form-control input-sm" id="inputEmail3" placeholder="">
                                                    </div>
                                            </div>  
    
                                            <div class="form-group">
                                                    <label for="inputEmail3" class="col-sm-3 control-label">
                                                            Nuevo Estado:
                                                    </label>
                                                    <div class="col-sm-6">
                                                            <input 
                                                            name="monto" disabled
                                                            value = "En Curso" type="text" class="form-control input-sm" id="inputEmail3" placeholder="">	
                                                    </div>
                                            </div> 	
                                        <!--	<div > Servicio : {{this.servicio | json }}  </div>-->
                                        <!--	<div > intNuevoEstado : {{this.intNuevoEstadoId |json }}  </div>-->
                                            <div class="form-group"   >
                                                    <label for="inputEmail3" class="col-sm-3 control-label">
                                                            Fecha Inicio:
                                                        </label>
                                                        <div class="col-sm-4">
                                                            <input 
                                                            name="fechaInicio"
                                                            [(ngModel)] = this.servicio.dtFechaInicio type="date" class="form-control input-sm" id="inputEmail3" placeholder="">
                                                        </div>
                                                        <label for="inputEmail3" class="col-sm-5 control-label">
                                                               Inic Esperado: {{this.servicio.dtFechaInicioEsperada  | date:"dd/MM/yyyy"  }}
                                                            </label>
                                            </div> 
                                            <div class="form-group" >
                                                    <label for="inputEmail3" class="col-sm-3 control-label">
                                                            Fecha Fin:
                                                        </label>
                                                        <div class="col-sm-4">
                                                                <input 
                                                                name="fechaFin"  
                                                                [(ngModel)] =  this.servicio.dtFechaFin  type="date" class="form-control input-sm" id="inputEmail3" placeholder="">
                                                        </div>
                                                        <label for="inputEmail3" class="col-sm-5 control-label">
                                                               Fin Esperado: {{this.servicio.dtFechaFinEsperada   | date:"dd/MM/yyyy"  }}
                                                            </label>
                                            </div>  
                                            <div class="form-group" [hidden]= !this.enCursoSelected >
                                                <label for="inputEmail3" class="col-sm-3 control-label">
                                                        Monto Servicio :
                                                    </label>
                                                    <div class="col-sm-5">
                                                            <input 
                                                            name="montoSueldo"  
                                                            [(ngModel)] =  this.servicio.dbMonto  type="number" class="form-control input-sm" id="inputEmail3" placeholder="">
                                            </div>
                                        </div> 
                                        </form>  
                                    </div>
                                </div>
                            </div>
                        <div class="modal-footer">  
                                <button (click)="this.updateStateServicio(this.servicio);" type="submit" class="btn   btn-success" data-dismiss="modal" ><span class="fa  fa-check"></span> Aceptar</button>
                              
                                <button (click)="this.modalRef.close();" type="submit" class="btn  btn-danger" ><span class="fa fa-remove"></span> Cancelar</button>
                        
                        </div>
                    </ng-template> 

                    <!-- Modal Confirmar EiminacionSErvicio -->		
                    <!--	 
                <div class="row">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-4">
                        <div class="col-sm-12">
                        <button type="button" class="btn form-control input-sm btn-default">
                            Pantalla Principal
                        </button> 
                        </div>
  
                    </div>
                        <div class="col-md-4">
                        </div>
                </div>
            -->
        </div>
    </div>
    </div>
</section> 
</div>
</div>