<ngx-spinner
bdColor = "rgba(51, 51, 51, 0.8)"
size = "large"
color = "#fff"
type = "ball-clip-rotate"
></ngx-spinner>
<cf-header></cf-header>
<cf-nav></cf-nav>
<div class="wrapper"> 
<div class="content-wrapper">
<section class="content">
	 <!--Inicio de pagina  -->
	 <div class="box2">
	<div class="row">
	<br>
		<div class="col-md-12 margen">	
			<h2 class="title text-center">
				COLABORADOR 
			</h2>
			<div class="box">
				<div class="box-header with-border">			
					<div class="row">
						<div class="col-md-12">
							<label class="text-left subtitle">
								Datos del Servicio
							</label>
						</div>
					</div>
				</div>	
				<div class="box-body">					
					<div class="row">
						<div class="col-md-12">
							<form class="form-horizontal" role="form">
								<div class="form-group">
									<label for="inputEmail3" class="col-sm-2 control-label">
									 Razón Social :
									</label>
								<div class="col-sm-6">
										<input  value={{candidato.strNombreCliente}}
										type="text" disabled class="form-control input-sm" id="inputEmail3" placeholder="Razón Social">
								</div> 
									<label for="inputEmail3" class="col-sm-1 control-label">
										RUC :
									</label>
									<div class="col-sm-3">
										<input value={{candidato.strRUC}} type="number" disabled class="form-control input-sm" id="inputEmail3" placeholder="RUC">
									</div>
								</div>
								<div class="form-group">
									 <label for="inputEmail3" class="col-sm-2 control-label">
										Cod. File :
									</label>
									<div class="col-sm-3">
										<input value={{candidato.strCodeFile}} type="text" disabled class="form-control input-sm" id="inputEmail3" placeholder="Cod. File">
									</div>
									<label for="inputEmail3" class="col-sm-2 control-label">
										Servicio :
									</label>
									<div class="col-sm-5">
										<input value={{candidato.strNombreServicio}} type="text"disabled class="form-control input-sm" id="inputEmail3" placeholder="Nombre del Servicio">
									</div>
								</div>						
							</form>	
						</div>
					</div>
				</div>
			</div>
			<div class="box">
				<div class="box-header with-border">			
					<div class="row">
						<div class="col-md-12">
							<label class="text-left subtitle">
								Datos Colaborador
							</label>
							&nbsp; &nbsp; &nbsp;  	
							
							<button  (click)="this.habilitarEdicion(true);"
							type="button"  class="btn btn-default  btn-xs"><i class="fa fa-edit"> </i><span> Editar</span></button> 
							
							<button  (click)="this.registrarColaborador();"
									type="button"  class="btn btn-default  btn-xs"><i class="fa fa-save"> </i><span> Guardar </span></button> 
							
						</div>
					</div>
				</div>
				<div class="box-body">					
					<div class="row">
						<div class="col-md-12">
							<form class="form-horizontal" role="form form-group">
								<div class="form-group">
									<label for="inputEmail3" class="col-sm-2 control-label">
										Colaborador :
									</label>
									<div class="col-sm-10">
										<input value={{candidato.strNombreCompleto}}
										 type="text" disabled class="form-control input-sm" id="inputEmail3" placeholder="Nombre Colaborador">	
									</div>
								</div>
								<div class="form-group">
									<label for="inputEmail3" class="col-sm-2 control-label">
										DNI :
									</label>
									<div class="col-sm-4">
										<input value={{candidato.strDNI}}
										 type="text" disabled class="form-control input-sm" id="inputEmail3" placeholder="DNI Colaborador">	
									</div>
								</div> 
							<!--	<div class="form-group">
									<label for="inputPassword3" class="col-sm-2 control-label">
										Perfil:
									</label>
									<div class="col-sm-6">
											<input [value]=this.colaborador.strPerfil type="text" 
											 class="form-control input-sm" id="inputEmail3" placeholder="Perfil Colaborador">
									</div>

								</div>
							-->
								<!--
								<div class="form-group">
								<label for="inputPassword3"  class="col-sm-2 control-label">
									Fecha Inicio:
								</label>
								<div class="col-sm-3">
										<input value={{candidato.dtFechaInicio}} type="date" disabled class="form-control input-sm" id="inputEmail3" placeholder="">
								</div>
									<label for="inputPassword3"  class="col-sm-2 control-label">
										Fecha Fin:
									</label>
									<div class="col-sm-3">
										<input [value]=candidato.dtFechaFin type="date" disabled class="form-control input-sm" id="inputEmail3" placeholder="">
									</div>						
								</div>
							-->
								<div class="form-group">
									<label for="inputPassword3"  class="col-sm-2 control-label">
										Pensión : 
									</label>
									<div class="col-sm-4">
										<select name="tipoPension" [disabled] = this.disableDataColaborador
											[(ngModel)] = this.colaborador.intTipoPension
											(change)=this.verificarTipoPension(this.colaborador.intTipoPension);
											class="form-control input-sm" >
												<option [value]=undefined selected disabled>- Seleccione - </option>    
												<option *ngFor="let td of this.tipoPension"
												[value]="td.intId"> {{td.strName}}</option> 
										</select>
									</div>
								</div>
								<div class="form-group">	
										<label for="inputPassword3"  class="col-sm-2 control-label">
												Comisión :
											</label>
											<div class="col-sm-4">
													<select name="TipoComision" 
													  [disabled] = this.disableDataColaborador
													[disabled]=this.isONP
														[(ngModel)]= this.colaborador.intTipoComision 
														class="form-control input-sm">
														<option selected="selected"  disabled [value]= undefined >  - Seleccione -  </option>
														<option *ngFor="let td of this.comision"
														[value]="td.intId"> {{td.strName}}</option> 
												</select>
											</div>
									<label for="inputPassword3"  class="col-sm-2 control-label">
											CUSPP  :
									</label>
									<div class="col-sm-4">
											<input  [disabled] = this.disableDataColaborador
											name="strCUSPP"
											[(ngModel)]= this.colaborador.strCUSPP 
											type="text" class="form-control input-sm" id="inputEmail3" placeholder="CUSPP"> 											 
									</div>
								</div>
								<div class="form-group">	
									<label for="inputPassword3"  class="col-sm-2 control-label">
										Banco :
									</label>
									<div class="col-sm-4">
											<select name="Banco" 
											[disabled] = this.disableDataColaborador
											[(ngModel)]= this.colaborador.intBanco
											class="form-control input-sm" >
												<option [value]=undefined selected disabled>- Seleccione -</option>    
												<option *ngFor="let td of this.banco"
												[value]="td.intId"> {{td.strName}}</option> 
										</select>	 
									</div>
									<label for="inputPassword3"  class="col-sm-2 control-label">
										Nro. Cuenta :
									</label>
									<div class="col-sm-4">
										<input  [disabled] = this.disableDataColaborador
										name="nroCuenta"
										[(ngModel)]=this.colaborador.strNroCuenta
										type="text" class="form-control input-sm" id="inputEmail3" placeholder="Nro Cuenta">
									</div>						
								</div> 
								<div class="form-group">	
									<label for="strEmpresa"  class="col-sm-2 control-label">
										Empresa :
									</label>
									<div class="col-sm-10">
										<input 
										name="strEmpresa"
										[disabled]=this.disableDataColaborador
										[(ngModel)]=this.colaborador.strEmpresa
										type="text" class="form-control input-sm" id="strEmpresa" placeholder="Nombre Empresa">
									</div> 					
								</div>	
								<div class="form-group">	
									<label for="strRUCEmpresa"  class="col-sm-2 control-label">
										RUC Empresa :
									</label>
									<div class="col-sm-4">
										<input 
										name="strRUCEmpresa"
										[disabled]= this.disableDataColaborador
										[(ngModel)]=this.colaborador.strRUCEmpresa
										type="text" class="form-control input-sm" id="strRUCEmpresa" placeholder="RUC Empresa">
									</div>
									<label for="strCtaDetraccion"  class="col-sm-2 control-label">
										Nro. Cuenta Detracción :
									</label>
									<div class="col-sm-4">
										<input 
										name="strCtaDetraccion"
										[disabled]=this.disableDataColaborador
										[(ngModel)]=this.colaborador.strCtaDetraccion
										type="text" class="form-control input-sm" id="strCtaDetraccion" placeholder="Nro Cuenta Detraccion">
									</div>						
								</div>	
								<div class="form-group">	 
									<label for="inputPassword3"  class="col-sm-2 control-label">
										Nro. CCI :
									</label>
									<div class="col-sm-6">
										<input  [disabled] = this.disableDataColaborador
										name="nroCCI"
										[(ngModel)]=this.colaborador.strNroCCI
										type="text" class="form-control input-sm" id="inputEmail3" placeholder="Nro CCI">
									</div>						
								</div>  
								<div class="form-group">
									<label for="inputPassword3"  class="col-sm-2 control-label">
										Código Recurso :
									</label>
									<div class="col-sm-4">
										<input name="codigoRecurso"
										[disabled] = this.disableDataColaborador
										[(ngModel)]=this.colaborador.strCodeRecurso
										type="text" class="form-control input-sm" id="inputEmail3" placeholder="Código del Recurso">
									</div>										
								</div>

							</form>
						</div>
					</div>
				</div>
			</div> 

	<!--  	Detalles de Pago  : {{this.detallesPago | json }}	 -->
			<div   class="box">
					<div class="box-header with-border">			
						<div class="row">
							<div class="col-md-12 message-error">
								<label class="text-left subtitle">
									Detalles del Acuerdo 
								</label> &nbsp; &nbsp; &nbsp; 
								<cf-modal-detalle-pago
								[candidato] = candidato 
								[checkSelect] = true
								[viewAgregar] = true
								tituloModal ="Propuesta Económica"
								nameBotton = "Propuesta"
								iconBotton="fa fa-dollar"
								(RespuestaModal)="this.recibirDetallePago($event)"		
								></cf-modal-detalle-pago>  
								&nbsp; &nbsp; &nbsp; 
								{{this.responseMessageGetContrato}}
							</div>
						</div>
					</div>  
	<!-- Contrato Persona : {{this.contratoPersona | json }}   -->
					<div class="box-body">
						<div class="row">
							<div class="col-md-12">
								<div class="table-responsive">
								<table class="table table-hover table-bordered text-center">
									<thead class="text-center">
										<tr class="active">
											<th>#</th>
											<th>Modaldidad</th>
											<th>Moneda</th>
											<th>Monto Total</th> 
											<th>Opciones</th>
										</tr>
									</thead>
									<tbody>
										<tr *ngFor="let dp of this.detallesPago">
											<td>{{detallesPago.indexOf(dp)+1}}</td>
											<td>{{dp.strNombreModalidad}}</td>
											<td>{{dp.strMoneda }}</td>
											 <td>{{dp.dbMonto | number:'3.2-2' }}</td>
											<td>	 
												<!-- (EnviarContratoPesona) = "this.recibirDataContrato($event)"  -->
												<cf-modal-registrar-contrato
													[strNombreCompleto] = this.candidato.strNombreCompleto
													[strDNI] = this.candidato.strDNI
													[detallePago]= dp
													[candidato]= this.candidato  
												> 
												</cf-modal-registrar-contrato>   
                                                        <button (click)="this.buscarContrato(dp.intContratoPersonaId);" type="button" class="btn btn-default btn-xs"><i class="fa  fa-eye"></i> <span> Ver Documentación </span></button>
												     
											</td>
										</tr>
									</tbody>
								</table>
								</div>
							</div>
						</div>
					</div>  
				</div> 
			<div class="row">
					<div class="col-md-2">
			
					</div>
					<div class="col-md-8">
						<div class="col-sm-4">

						</div>
						<div class="col-sm-4">
								<button (click)="this.openModal(contentMarcarToRecursoRegistrado);" type="button" class="btn form-control input-sm  btn-default">
										Marcar como Registrado
							 	 </button>
						 		</div>
						<div class="col-sm-4">
								<cf-go-back></cf-go-back>
						</div>
					</div>
							<div class="col-md-2">
					</div>
				</div>		
				<ng-template #contentMarcarToRecursoRegistrado let-c="close" let-d="dismiss"> 
						<div class="modal-header" style="padding:20px 20px;">		  
								<div class="row">
									<div class="col-md-12">
										<b><span class="fa  fa-exclamation-triangle"> </span> Información </b>
									</div>
								</div>
						</div>
						<div class="modal-body" style="padding:10px 30px;">
							<br>
								<div class="row">
										<div class="col-md-1">
										</div>
									<div class="col-md-10">
										<form class="form-horizontal" role="form">
												<div class="form-group">
														<label for="inputEmail3" class="col-sm-12 control-label text-left">	
															Atención : <br>
															1.- Se marcará el recurso como registrado. Se asumirá que todos los datos y documentos fueron registrados correctamente. <br> 
															2.- Se le redirigirá a la pantalla de Registro de Recursos.<br>
														</label>    
												</div> 
										</form>
									</div>
								</div>
						</div>
						<div class="modal-footer"> 
							<button (click)="this.marcarComoRegistrado(this.candidato);this.modalRef.close();"  class="btn   btn-success" data-dismiss="modal" >Aceptar</button>
							<button (click)="this.modalRef.close();" type="submit" class="btn  btn-danger" data-dismiss="modal" >Cancelar</button>
						</div> 
					</ng-template>  
		</div>
	</div>
	</div>
      <!-- /.content-wrapper -->
</section>
</div>
</div>