 <!--Inicio de pagina  -->
<cf-header></cf-header>
<cf-nav></cf-nav>
<div class="wrapper"> 
<div class="content-wrapper">
<section class="content"> 
	<div class="box2">
	<div class="row">
		<div class="col-md-12 margen ">	
			<h2 class="title text-center ">
				REGISTRAR RECURSOS
			</h2>
			<br>
			<div class="box">
					<div class="box-header with-border">
						<div class="row">
							<div class="col-md-3">
								<label class="text-left subtitle">
									Buscar Recursos por : 
								</label>
							</div> 
							<div class="col-md-9">
								<button (click)=this.buscarCandidatosToContrato(this.clienteId,this.nameServicio,this.anexo) type="button" class="btn btn-default btn-xs"><i class="fa  fa-search"></i><span> Buscar Recurso</span> </button>
						</div>
						</div>	
					</div>
					<div class="box-body">
						<div class="row">
							<div class="col-md-12">
								<form class="form-horizontal" role="form">
									<div class="form-group">
										<div class="col-sm-3 control-label">
											Cliente : 
										</div>
										<div class="col-sm-6">   
											<select class="form-control  input-sm"  
												name="clienteId"
												[(ngModel)]=this.clienteId
												data-placeholder="Cliente" style="width: 100%;">
												<option value=0 selected>- CUALQUIERA -</option>
												<option *ngFor="let cliente of clientes "
												[value]="cliente.intId">  {{cliente.strRazonSocial}}</option>
											</select>  
										</div>
									</div> 
									<div class="form-group">
										<div class="col-sm-3 control-label">
											Nombre Servicio :
										</div>
										<div class="col-sm-8">
										<input  
										name="nameServicio"
										[(ngModel)]=this.nameServicio
										type="text" class="form-control input-sm" id="inputEmail3" placeholder="">
										</div>
	
									</div>		
									<div class="form-group">
										<div class="col-sm-3 control-label">
											Nro Anexo :
										</div>
										<div class="col-sm-5">
											<input  
											name="nameAnexo"
											[(ngModel)]=this.anexo
											type="text" class="form-control input-sm" id="inputEmail3" placeholder="">
										</div> 
									</div>					
								</form>
							</div>
						</div>
					</div>
				</div>
			<div class="box">
				<div class="box-header with-border">			
					<div class="row">
						<div class="col-md-12">
							<label class="text-left subtitle">
								Lista de Recursos	 
							</label> 
						</div>	
					</div>	
				</div>	 
			<!--	Lista de Servicio Obtenidos : {{this.	servicios | json }}-->
				<div class="box-body">
					<div class="row">
						<div class="col-md-12">
							<div class="table-responsive">
							<table class="table table-hover table-bordered text-center">
								<thead class="text-center">
									<tr class="active">
										<th>Anexo Servicio</th>
										<th>Recurso</th>
										<th>Cliente</th>
									<!--	<th>Descripción</th>-->
									<!--	<th>Razón Social</th> -->
										<th>Servicio</th>
									<!--	<th>Fecha de Envío</th>	-->
										<th>Opciones</th>
									</tr>
								</thead> 
								<!-- [hidden]=!servicio.boolAprobado  -->
								<tbody>
										<tr *ngFor= "let c of candidatos" > 
												<td>{{c.intAnexoId}}</td> 
												<td>{{c.strNombreCompleto}}</td>
												<td>{{c.strNombreCliente}}</td>
												<td>{{c.strNombreServicio}}</td>   
												<td>
													<!--
													<a [routerLink]="['validarPropuesta2',servicio.intId]"> 
														<button type="button" class="btn btn-default  btn-xs"><i class="fa fa-eye"></i> <span>Validar Propuesta</span></button>
													</a>
													-->
													<!-- [hidden] = !this.servicio.boolAprobado 
													//Todos los servicios que vea el candidato 2 tendran el estado de aprobados. 
													-->
													<!--
															<a [routerLink]="['adjuntarDocscServicio',servicio.intId]" > 
																	<button  
																	type="button" class="btn btn-default  btn-xs"><i class="fa fa-edit"></i><span> Documentos del Servicio</span></button>
															</a>
													-->
													<!--
													<a [routerLink]="['verificarColaborador',servicio.intId]" > 
														<button  
														type="button" class="btn btn-default  btn-xs"><i class="fa fa-users"></i><span> Candidatos Seleccionados </span></button>
													</a>
													--> 
													<a [routerLink]="['candidatoVisita',c.intId]"> 
														<button type="button" class="btn btn-default  btn-xs"><i class="fa  fa-calendar-check-o"></i><span> Visita</span></button>
													</a> 
													<a  [routerLink]="['/registrarColaborador',c.intId]" > 
														<button  [hidden]=!this.c.boolAceptoCondicion
														type="button" class="btn btn-default  btn-xs"><i class="fa  fa-check-square-o"></i><span> Registrar Colaborador</span></button>
													</a> 													
													<a [routerLink]="['/renovacionContrato',c.intId]"> 
														<button type="button" class="btn btn-default  btn-xs"><i class="fa  fa-refresh"></i><span> Renovar Contrato</span></button>
													</a>								
												</td>
											</tr>
								</tbody>
							</table>
							<div class="message-error">
								{{this.responseMessage}}
							</div>
							</div>
						</div>
					</div>
				</div>
			</div>	 
		</div>
	</div>
</div>
</section>
</div>
</div>
