<!--Inicio de pagina  -->
<cf-header></cf-header>
<cf-nav></cf-nav>
<div class="wrapper"> 
<div class="content-wrapper">
<section class="content"> 
   <div class="box2">
	<div class="row">
		<div class="col-md-12 margen">	
			<h2 class="title text-center ">
				CANDIDATOS
			</h2>
			<div class="box">
				<div class="box-header with-border">
					<div class="row">
						<div class="col-md-2">
							<label class="text-lef subtitle">
								Datos del Cliente
							</label>
						</div>

					</div>	
				</div>
				<div class="box-body">
					<div class="row">
						<div class="col-md-12">
							<form class="form-horizontal" role="form">
								<div class="form-group">
									 
									<label for="inputEmail3" class="col-sm-2 control-label">
										Razón Social :
									</label>
									<div class="col-sm-10">
									<input type="text" disabled class="form-control input-sm" id="inputEmail3" placeholder="Nombre de la razon Social"
									value = {{perfilServicio.strNombreCliente}}
									>
									</div>
								</div>
								<div class="form-group">
									 
									<label for="inputPassword3" class="col-sm-2 control-label">
										Servicio :
									</label>
									<div class="col-sm-10">
										<input type="text" disabled  class="form-control input-sm" id="inputEmail3" placeholder="Nombre del servicio"
										value = {{perfilServicio.strNombreServicio}}
										>
									</div>					
								</div>
								

							</form>
						</div>
					</div>
				</div>
			</div>
		<!--	  PerfilServicio Encontrado : {{this.perfilServicio | json }}  -->
			<div class="box">
				<div class="box-header with-border">
					<div class="row">
						<div class="col-md-2">
							<label class="text-left subtitle">
								Datos del Perfil
							</label>
						</div>
					</div>		
				</div>
				<div class="box-body"> 
					<div class="row">
						<div class="col-md-12">
							<form class="form-horizontal" role="form">
								<div class="form-group">
									 
									<label for="inputEmail3" class="col-sm-2 control-label">
										Perfil :
									</label>
								<!--	<div class="col-sm-10">
											<select  (change)="cargarPerfilbyId($event.target)" class="form-control select2 input-sm" style="width: 100%;">
											<option selected="selected"  disabled [value]=""> Seleccione un Perfil</option>
											<option *ngFor="let perfil of perfiles"
											[value]="perfil.id"> {{perfil.perfil}}</option> 
											</select>	
									</div> -->
									<div class="col-sm-10">
											<input type="text" disabled class="form-control input-sm" id="" placeholder=""
											value={{perfilServicio.strPerfil}}>
										</div>
								</div>	
								<div class="form-group">
									<label for="inputEmail3" class="col-sm-2 control-label">
										Cantidad :
									</label>
									<div class="col-sm-2">
										<input type="number" disabled class="form-control input-sm" id="" placeholder=""
										value={{perfilServicio.intCantidad}}>
									</div>
									<label for="inputEmail3" class="col-sm-2 control-label">
										Fecha Inicio :
									</label>
									<div class="col-sm-2">
										<input type="text" disabled class="form-control input-sm" id="inputEmail3" placeholder=""
										value={{perfilServicio.dtFechaInicio}}>
									</div>
									<label for="inputEmail3" class="col-sm-2 control-label">
										Fecha Fin :
									</label>
									<div class="col-sm-2">
										<input type="text" disabled class="form-control input-sm" id=":)" placeholder=""
										value={{perfilServicio.dtFechaFin}}>
									</div>
								</div>					
							</form>	
						</div>
					</div>
				</div>
			</div>
			<div class="box">
				<div class="box-header with-border">
					<div class="row">
						<div class="col-md-2">
							<label class="text-left subtitle">
								Datos Candidato
							</label> 
						</div>
						<div class="col-md-10">
								<a routerLink="../../nuevaPersona">
								<button type="button" class="btn btn-default btn-xs"><i class="fa fa-plus"></i><span>  Mantenimiento de Personas</span> </button>
							</a>
						</div>
					</div>		
				</div>
 <!--
 			<div>Candidato : {{ this.candidato | json }}</div>
				<div> nombre documento : {{this.dirCurriculum}}</div>
  				 
				<div>documento :  {{  this.documentoRecurso  | json }}</div>
	 -->
				<div class="box-body">	
					<div class="row">
						<div class="col-md-9">
							<form class="form-horizontal" role="form">

								<div class="form-group">
									<label for="inputEmailE" class="col-sm-3 control-label">
										Nombre :
									</label>
									<div class="col-sm-9">
										<input 
										name="nombreConpleto" 
										[(ngModel)]="this.candidato.strNombreCompleto" type="text"  disabled class="form-control input-sm" id="inputEmailE" placeholder="Nombre ">
									</div>
								</div> 
								<div class="form-group">
									<label for="inputEmailE" class="col-sm-3 control-label">
										DNI :
									</label>
									<div class="col-sm-6">
										<input name="DNI"
										[(ngModel)]= this.candidato.strDNI
										type="number"  disabled class="form-control input-sm" id="inputEmailE" placeholder="DNI">
									</div>
								</div> 
								<div class="form-group">
									<label for="inputEmail3" class="col-sm-3 control-label">
										Currículum :
									</label> 
									<div class="col-sm-8"> 	
											<input 
											name="curriculum"
											[(ngModel)]= this.dirCurriculum
											(change)="this.handleFileInput($event.target.files);"
											type="file" class="form-control input-sm"  placeholder="Curriculum"
											id="file"
											
											>
									 </div> 
								</div>

								<!-- grooup para indicar el cv existente -->
								<div class="form-group">
										<label for="inputEmail3" class="col-sm-3 control-label">
											
										</label>  
										 <div class="col-sm-8"  [hidden]=!this.existCV>
												CV Actual :  {{this.candidato.strNameCurriculum}} 
											<button  (click)=this.descargarCurriculum(this.documentoRecurso.strDocAlfrescoId); type="button" class="btn btn-default btn-xs">
												<i class="fa fa-download"></i><span> Descargar </span> </button>
										 
										</div> 
										<div class="col-sm-3"   [hidden]=!cvNotFound > 	
												{{responseCVnotFound  }}
											</div> 
									</div>
									<div class="form-group">
											<label for="inputEmail3" class="col-sm-3 control-label">
												Observación :
											</label>
											<div class="col-sm-9"> 	
												<input name="observacion"
												[(ngModel)]= this.candidato.strObservacion type="text" class="form-control input-sm" id=":)" placeholder="Observación">
											</div>
									 </div>	
									 
							</form>	
						</div><div class="col-md-1"></div>
						<div class="col-md-2"><br>
							<form class="form-horizontal" role="form">
									<div class="form-group">
											<div class="col-md-12">
													<cf-modal-buscar-persona-natural 
													[titulo] = "this.tittleModalBuscarCandidato"
													iconBoton = ""
													nameBoton = "Buscar"
													classBoton = "btn form-control input-default btn-default"
													(selectPersonaN)="selectCandidato($event)"

														>
													</cf-modal-buscar-persona-natural>

												 	</div>
										</div>
									<div class="form-group" >
										<div class="col-md-12" >
											<button   id="btnDirecciones"  [disabled]='this.candidato.strDNI==null'
											(click)="addCandidato();" type="button" class="btn form-control input-default btn-default">
												Agregar 
											</button>  
										</div>
									</div>
									<div class="form-group">
										<div class="col-md-12">
											<button  
											id="btnContactos"  (click)="limpiarCandidato();" type="button" class="btn form-control input-default btn-default">
												Limpiar 
											</button>
										</div>		
									</div>
							</form>		
						</div>
					</div>
				</div>
			</div>

   <!--  Candidatos  :  {{ this.candidatos |json }}    -->
		<div class="box">
				<div class="box-header with-border">
					<div class="row">
						<div class="col-md-4">
							<label class="text-right  subtitle">
								Candidatos
							</label>
						</div>
					</div>				
				</div> 
				<div class="box-body">
					<div class="row">
						<div class="col-md-12">
							<div class="table-responsive">
							<table class="table table-hover table-bordered text-center">
								<thead class="text-center">
									<tr class="active">
										<th>#</th>
										<th>Nombre Completo</th>
										<th>DNI</th>
										<th>Currículum</th>
										<th>Observación</th>	
										<th>Opciones</th>
									</tr>
								</thead>
								<tbody>
										<tr *ngFor="let candidato of candidatos"  > 
										 
												<td>{{ candidato.intId}}</td>
												<td>{{ candidato.strNombreCompleto}}</td>
												<td>{{ candidato.strDNI}}</td>
												<td>
													{{ candidato.strNameCurriculum }}
														<button [hidden]=!candidato.boolGetDocAlfresco
														 (click)=this.descargarCurriculum(candidato.objDocumentoRecursoBean.strDocAlfrescoId); type="button" class="btn btn-default btn-xs">
																<i class="fa fa-download"></i><span> Descargar </span> </button> 
												</td>
												<td>{{ candidato.strObservacion }}</td>
												<td>
													 	<button (click)="this.editarCandidato(candidato);"	type="button" class="btn btn-default btn-xs"><i class="fa  fa-edit"></i><span> Editar</span></button>
														<button (click)="this.deleteCandidato(candidato);" type="button" class="btn btn-default btn-xs"><i class="fa  fa-close"></i><span> Eliminar</span></button>
												</td>  
											  </tr>
								</tbody>
							</table>
							<ng-template #emptyList>
									<h4> No hay Candidatos registrados ... </h4>
									  </ng-template>
							</div>
						</div>
					</div>
				</div>
			</div>

		<div class="col-md-2">
		</div>
		<div class="col-md-8">
				<div class="col-sm-3"></div>
			<div class="col-sm-5">
			<a routerLink="../../registrarPropuesta">
			<button type="button" class="btn form-control input-sm  btn-default">
				Menu Principal
			</button></a>
			</div>
			<div class="col-sm-4">
					<cf-go-back></cf-go-back> 
			</div>
		</div>
		<div class="col-md-2">
		</div>
		</div>
	</div> 
	</div>
</section>
</div>
</div>
 