<ngx-spinner
bdColor = "rgba(51, 51, 51, 0.8)"
size = "large"
color = "#fff"
type = "ball-clip-rotate"
>
</ngx-spinner> 
<cf-header></cf-header>
<cf-nav></cf-nav>
<div class="wrapper"> 
<div class="content-wrapper">
<section class="content"> 
	<!--Inicio de pagina  -->
    <div class="box2">
	<div class="row">
		<div class="col-md-12 margen">	
			<h2 class="title text-center">
				 VISITA DEL RECURSO
			</h2>	
			<br>
		<!--	Objeto Candidato Obtenido : {{ candidato | json }} -->
			<!--Objeto Visita Obtenido : {{ visita | json }}   -->
			<div class="box">
				<div class="box-header with-border">				
					<div class="row">
						<div class="col-md-10">
							<label class="text-left  subtitle">
								Datos Servicio
							</label>
						</div>
					</div>
				</div>	

				<div class="box-body">
					<div class="row"> 
						<div class="col-md-12">
							<form class="form-horizontal" role="form">
								<div class="form-group">
									 
									<label for="inputEmail3" class="col-sm-2 control-label">
										Razón Social :
									</label>
									<div class="col-sm-8">
									<input value={{candidato.strNombreCliente}} type="text" disabled class="form-control input-sm" id="inputEmail3" placeholder="Nombre de la razon Social">
									</div>
								</div>
								<div class="form-group">
									 
									<label for="inputPassword3" class="col-sm-2 control-label">
										Servicio :
									</label>
									<div class="col-sm-8">
										<input  value={{candidato.strNombreServicio}}
										type="text" disabled class="form-control input-sm" id="inputEmail3" placeholder="Nombre del servicio">
									</div>					
								</div>
								

							</form>
						</div>
					</div>
				</div>
			</div>
			<div class="box">
				<div class="box-header with-border">			
					<div class="row">
						<div class="col-md-6">
							<label class="text-left subtitle">
								Datos del Recurso
							</label>
						</div>
					</div>
				</div>	
				<div class="box-body">					
					<div class="row">
						<div class="col-md-12">
							<form class="form-horizontal" role="form">
								<div class="form-group">
									<label for="inputEmail3" class="col-sm-2 control-label">
										DNI :
									</label>
									<div class="col-sm-3">
										<input value={{candidato.strDNI}} type="text" disabled class="form-control input-sm" id="inputEmail3" placeholder="">
									</div>
								</div>	
								<div class="form-group">
									<label for="inputEmail3" class="col-sm-2 control-label">
										Nombre Completo :
									</label>
									<div class="col-sm-10">
										<input  value={{candidato.strNombreCompleto}}
										type="text"  disabled class="form-control input-sm" id="inputEmail3" placeholder="">
									</div>
								</div>
								<div class="form-group" >
									 <!--
									<label for="inputEmail3" class="col-sm-2 control-label">
										Perfil :
									</label>
									<div class="col-sm-5">
										<input value={{candidato.strPerfil}} type="text" disabled class="form-control input-sm" id="inputEmail3" placeholder="">
									</div>
									-->
									<label for="inputEmail3" class="col-sm-2 control-label">
										Fecha Inicio :
									</label>
									<div class="col-sm-3">
										<input value={{candidato.dtFechaInicio}} format="dd/mm/yy" type="date" disabled class="form-control input-sm" id="inputEmail3" placeholder="">
									</div>
		<!--
											</div>	
								<div class="form-group" >
									<label for="inputEmail3" class="col-sm-2 control-label">
										Cargo :
									</label>
									<div class="col-sm-5">
										<input value={{candidato.strPerfil}} type="text" disabled class="form-control input-sm" id=":)" placeholder="">
									</div>	
									-->

									<label for="inputEmail3" class="col-sm-2 control-label">
										Fecha Fin :
									</label>
									<div class="col-sm-3">
										<input value={{candidato.dtFechaFin}} type="date"  disabled class="form-control input-sm" id=":)" placeholder="">
									</div>
								</div>					
							</form>	
						</div>
					</div>
				</div>
			</div>		 
			 <!--visita :  {{ this.visita | json }}  -->
			<div class="box">
				<div class="box-header with-border">			
					<div class="row">
						<div class="col-md-2">
							<label class="text-left subtitle">
								Visita
							</label>
						</div>
						<div class="col-md-10">
							<label class="text-left subtitle">
								<button [disabled]=!this.existVisita  (click)="this.existVisita=!this.existVisita;" 
									type="button" class="btn btn-default  btn-xs"><i class="fa fa-edit"> </i><span> Editar</span></button> 
									
								<button [disabled]=this.existVisita  
								   (click)="this.validarDatosVisita(this.visita);" 
									type="button"  class="btn btn-default  btn-xs"><i class="fa fa-save"> </i><span> Guardar</span></button> 
								
								<button (click)="openModal(contentAprobarSinVisita); "
								type="button"  class="btn btn-default  btn-xs"><i class="fa fa-check"> </i><span>Aprobar sin Visita</span></button> 
								
							</label>&nbsp;&nbsp;
								<div class="message-error"> {{this.messageValidarDataVisita}}</div>
						</div>						
					</div>
				</div>	
				<div class="box-body">				
					<div class="row">
						<div class="col-md-12">
							<form class="form-horizontal" role="form">
								<div class="form-group">
									 
									<label for="inputEmail3" class="col-sm-2 control-label">
										Fecha Visita
									</label>
									<div class="col-sm-4">
										<input  [disabled]=this.existVisita 
										name="dtFechaVisita" 
										[(ngModel)]="this.visita.dtFechaVisita" 
										type="date" class="form-control input-sm" id="inputEmail3" placeholder="">
									</div>
									<label for="inputEmail3" class="col-sm-2 control-label">
										Hora Visita
									</label>
									<div class="col-sm-4">
										<input  [disabled]=this.existVisita
										name="tmHoraVisita" 
										[(ngModel)]="this.visita.tmHoraVisita" 
										type="time" class="form-control input-sm" id="inputEmail3" step="0"  placeholder="">
									</div>
								</div>
								<div class="form-group">
									 
									<label for="inputPassword3" class="col-sm-2 control-label">
										Observación 
									</label>
									<div class="col-sm-10">
										
										<textarea [disabled]=this.existVisita
										name="strObservacion" 
										[(ngModel)]="this.visita.strObservacion" 
										class="form-control input-sm"  id="TextArea"  rows="3" placeholder="Comentario de la Visita"></textarea>							
									</div>
								</div>
							</form>	
						</div>
						<div class="col-md-6">
						</div>
					</div>
				</div>
			</div>
		<!--	SendCorreo  : {{this.candidato.strSendCorreo	 }} -->
			<div></div>
 			<!--Datos de Candidato : {{this.candidato | json}} -->
		<!--	Datos de Visita : {{ this.visita
				 | json }}  -->

			<div class="box" [hidden]=!this.existVisita>
					<div class="box-header with-border">			
						<div class="row">
							<div class="col-md-2">
								<label class="text-left subtitle">
									Resultado Visita
								</label>
							</div>
							<div class="col-md-10">
									<button [disabled]=!this.existVisita  (click)="this.validarSeleccion(this.visita.intEstado);" 
										type="button"  class="btn btn-default  btn-xs"><i class="fa fa-save"> </i><span> Guardar Resultado</span></button> 
										 <div class="message-error"> {{this.messageValidarSeleccion}}</div>

							</div>	
						</div>
					</div>	
					<div class="box-body">				
						<div class="row">
							<div class="col-md-12">
								<form class="form-horizontal" role="form">
									<div class="form-group">
										 
										<label for="inputEmail3" class="col-sm-3 control-label">
											Resultado de Visita:
										</label>

										<div class="col-sm-5">
												<select name="intEstado" 
												[(ngModel)]= this.visita.intEstado
												class="form-control input-sm" >
														<option [value]=75 selected disabled>- SELECCIONE - </option>  
														<option [value]=76 >ACEPTA CONDICIONES</option>    
														<option [value]=77 >RECHAZA CONDICIONES</option>  
												</select>
										</div>
									</div>
									<div class="form-group">  
										<label for="inputPassword3" class="col-sm-3 control-label">
											Motivo : 
										</label>
										<div class="col-sm-9">
											
											<textarea 
											name="strMotivoRespuesta" 
											[(ngModel)]="this.visita.strMotivoRespuesta" 
											class="form-control input-sm"  id="TextArea"  rows="3" placeholder="Comentario de la Visita"></textarea>							</div>
									</div>
								</form>	
							</div>
						</div>
					</div>
				</div>

	<!--		Al momento de registrar la visita se enviará un mensaje automatico al correo del candidato  donde se le indicara 
			la fecha y hora registrada . 
	-->

		<!--Modal confirar eliminacion de servicios-->
<!-- Modal content 
      <div class="modal-content">-->

			
							<!-- MODAL DE INFO POST SAVE  --> 
									<ng-template #contentModalInfoPostSave let-c="close" let-d="dismiss"> 
											<div class="modal-header" style="padding:20px 20px;">		  
													<div class="row">
														<div class="col-md-12">
															<b>	<span class="fa  fa-check-circle fa-x2"> </span>  Mensaje de Información </b>
														</div>
													</div>
													<br>
												</div>
												<div class="modal-body" style="padding:10px 30px;">
														<div class="row">
																<div class="col-md-1">
																</div>
															<div class="col-md-10">
																<form class="form-horizontal" role="form">
																		<div class="form-group">
																				<label for="inputEmail3" class="col-sm-12 control-label text-left">	
																					Atención : <br>
																						1.- {{this.messageSaveVisita}}<br>
																						2.- {{this.messageSendMail}}<br>
																						3.- Se redireccionará a la página de Registrar Recursos.<br>
																				</label>    
																		</div> 
																</form>
															</div>
														</div>
												</div>
												<div class="modal-footer">
														<div class="col-md-3"></div>
														<div class="col-md-6"></div>	 
													<div class="col-md-3"> 
														<button (click)="this.modalRef.close();this.redireccionar();" type="submit" class="btn btn-success" data-dismiss="modal" >Aceptar</button>
													 </div> 
												</div> 
							</ng-template>

				<!-- MODAL PARA CONFIRMAR EL REGISTRO DELA VISITA -->		
            <ng-template #contentConfirmaRegistroVisita let-c="close" let-d="dismiss">
                    <div class="modal-header" style="padding:20px 20px;">		  
                        <div class="row">
                            <div class="col-md-12">
                               <b> <span class="fa  fa-question-circle "> </span>  Confirmar Registro de Visita</b>
                            </div>
						</div>
						<br>
                    </div>
                    <div class="modal-body" style="padding:10px 30px;">
                        <div class="row">
								<div class="col-md-1">
									</div>
                            <div class="col-md-10">
                                <form class="form-horizontal" role="form">
                                        <div class="form-group">
                                                <label for="inputEmail3" class="col-sm-12 control-label text-left">	
														Atención : <br> 
															1.- Se registrará la visita. <br>
														 	2.- Se enviará un email al correo al colaborador <br>
												</label>
												<label for="inputEmail3" class="col-sm-12 control-label text-left">	
														Email's Disponibles :  {{this.candidato.strCorreo}} 
												</label> 
										</div>
										<div class="form-group"> 
												<label for="inputEmail3" class="col-sm-12 control-label text-left">
													Ingrese un Correo :
												</label><br>
												<div class="col-sm-12">
												<input 
												name="strCorreo"
												[(ngModel)]="this.candidato.strSendCorreo" type="text"  class="form-control input-sm" id="inputEmail3" placeholder="Correo">
												</div>
												<div class="message-error"> {{this.messageValidarSetEmail}}</div>
										</div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                            <div class="col-md-3"></div>
                        <div class="col-md-3">
								<button (click)="this.verificarSetEMail(this.candidato.strSendCorreo)" type="submit" class="btn form-control input-sm btn-success" data-dismiss="modal" ><span class="fa  fa-check"></span> Si</button>	
							<!--	<a [routerLink]="['../../verificarColaborador',this.candidato.intServicioId]"> 
							<button (click)="this.registrarVisita(); enviarMailColaborador(Correo.value);this.modalRef.close()" type="submit" class="btn form-control input-sm btn-success" data-dismiss="modal" ><span class="fa  fa-check"></span> Si</button>
							</a> -->
                        </div>
                        <div class="col-md-3">    
                            <button (click)="this.modalRef.close()" type="submit" class="btn form-control input-sm btn-danger" ><span class="fa fa-remove"></span> No</button>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
				</ng-template>
				
 
				<!-- MODAL APROBAR SIN REGISTRAR UNA VISITA -->
					<ng-template #contentAprobarSinVisita let-c="close" let-d="dismiss">
							<div class="modal-header" style="padding:20px 20px;">		  
								<div class="row">
									<div class="col-md-12">
										<b><span class="fa  fa-question-circle"> </span>  Aprobar Candidato </b>
									</div>
								</div>
							</div>
							<div class="modal-body" style="padding:10px 30px;">
								<div class="row">
										<div class="col-md-1">
											</div>
									<div class="col-md-10">
										<form class="form-horizontal" role="form">
												<div class="form-group">
														<label for="inputEmail3" class="col-sm-12 control-label text-left">	
																Atención : <br>
																 1.- Se Registrará al candidato como un colaborador.
														</label>  
												</div> 
										</form>
									</div>
								</div>
							</div>
							<div class="modal-footer">
									<div class="col-md-3"></div>
								<div class="col-md-3">  
									<button (click)="this.aprobarCandidatosinVisita();this.modalRef.close()" type="submit" class="btn form-control input-sm btn-success" data-dismiss="modal" ><span class="fa  fa-check"></span> Aceptar </button>
								 </div>
								<div class="col-md-3">    
									<button (click)="this.modalRef.close()" type="submit" class="btn form-control input-sm btn-danger" ><span class="fa fa-remove"></span> Cancelar </button>
								</div>
								<div class="col-md-3"></div>
							</div>
						</ng-template>

						<!-- MODAL APROBAR SIN REGISTRAR RESULTADO DE UNA VISITA -->
						<ng-template #contentGuardarResultadoVisita let-c="close" let-d="dismiss">
							<div class="modal-header" style="padding:20px 20px;">		  
								<div class="row">
									<div class="col-md-12">
										<b><span class="fa  fa-check-circle">  </span> Mensaje de Información   </b>
									</div>
								</div>
								<br>
							</div>
							<div class="modal-body" style="padding:10px 30px;">
								<div class="row">
										<div class="col-md-1">
										</div>
									<div class="col-md-10">
										<form class="form-horizontal" role="form">
												<div class="form-group">
														<label for="inputEmail3" class="col-sm-12 control-label text-left">	
															Atención :<br>
															{{this.messageModal1}}   <br>
														 	{{this.messageModal2}}   <br>
														 	{{this.messageModal3}}  
														</label>  
												</div> 
										</form>
									</div>
								</div>
							</div>
							<div class="modal-footer">
									<div class="col-md-3"></div>
								<div class="col-md-3">  
									<button (click)="this.saveResultadoVisita();this.modalRef.close()" type="submit" class="btn form-control input-sm btn-success" data-dismiss="modal" ><span class="fa  fa-check"></span> Aceptar </button>
									</div>
								<div class="col-md-3">    
									<button (click)="this.modalRef.close()" type="submit" class="btn form-control input-sm btn-danger" ><span class="fa fa-remove"></span> Cancelar </button>
								</div>
								<div class="col-md-3"></div>
							</div>
						</ng-template>	 
					<div class="row">
							<div class="col-md-2">
					
							</div>
							<div class="col-md-8">
								<div class="col-sm-4">
		
								</div>
								<div class="col-sm-4">
		
								</div>
								<div class="col-sm-4">
										<cf-go-back></cf-go-back>
										</div>
							</div>
									<div class="col-md-2">
							</div>
						</div>			
		</div>
	</div>
</div>
</section>
</div>
</div>