<ngx-spinner
bdColor = "rgba(51, 51, 51, 0.8)"
size = "large"
color = "#fff"
type = "ball-clip-rotate"
>
</ngx-spinner> 
<cf-header></cf-header>
<cf-nav></cf-nav>
<div class="wrapper"> 
<div class="content-wrapper">
<section class="content"> 
<div class="box2">
	<div class="row">
		<div class="col-md-12 margen">	
			<h2 class="title text-center ">
				RENOVAR SERVICIO
			</h2>
			<br>
			<div class="box">
				<div class="box-header with-border">	
					<div class="row">
						<div class="col-md-4">
							<label class="text-left subtitle">
								Datos del Cliente
							</label>
						</div>
					</div>	
				</div>
				<!--id Cliente de registrar Propuesta : {{this.servicio.intClienteId}}-->
				<div class="box-body">
					<div class="row">
						<div class="col-md-12">
							<form class="form-horizontal" role="form">
								<div class="form-group">
									<label for="inputEmail3" class="col-sm-2 control-label">
									 Razón Social :
									</label>
									<div class="col-sm-10">
											<input [value]="this.servicio.strNombreCliente"
											 type="text" disabled class="form-control input-sm" id="inputEmail3" placeholder="Razón Social" 
										>
									</div>
								</div>
								<div class="form-group">
									<label for="inputEmail3" class="col-sm-2 control-label">RUC :</label>
									<div class="col-sm-4">
											<input [value]="this.servicio.strRUC"
										 type="text" disabled class="form-control input-sm" id="inputEmail3" placeholder="RUC"
										>
									</div>
									 
								</div>						
							</form>	
						</div>
					</div>
				</div>		
			</div>			
			
		  	  
				<div class="box" [hidden] = !viewServicio>
					<div class="box-header with-border">	
						<div class="row">
							<div class="col-md-2">
								<label class="text-left subtitle">
									Servicio  
								</label>
							</div>

							<div class="col-md-10">
								<button  (click)="this.habilitarEdicionServicio();" type="button" class="btn btn-default btn-xs"> <i class="fa fa-edit"></i><span> Editar </span></button>
								
								<button  [disabled] =!editServicio 
								(click)="this.guardarEdicionServicio();" type="button" class="btn btn-default btn-xs"> <i class="fa fa-save"></i><span> Guardar </span></button>
							</div>
						</div>
					</div> 
					<!--Servicio Obtenido : {{ servicio | json }}    -->
					<div class="box-body">				
						<div class="row">
							<div class="col-md-12">
								<form class="form-horizontal" role="form">
								  	<div class="form-group">
										 
										<label for="qwe" class="col-sm-2 control-label">
											Nombre :
										</label>
										<div class="col-sm-6">
											<input	name="strNombreServicio" 	
												[disabled]=!editServicio
												[(ngModel)]=  this.servicio.strNombreServicio
												type="text" class="form-control input-sm" id="qwe">
									
										</div>
									</div>
									<div class="form-group">
										 
										<label for="inputPassword3" class="col-sm-2 control-label">
											Descripción : 
										</label>
										<div class="col-sm-10">
											<textarea name="descripcion" 
											[disabled]=!editServicio
											[(ngModel)] = "servicio.strDescripcion"class=" form-control input-sm"   id="TextArea"  rows="3" placeholder="Descripcion del Servicio">
												</textarea></div>
									</div>
									<div class="form-group"> 
										<label for="qwe" class="col-sm-2 control-label">
											Area :
										</label>
										<div class="col-sm-5">
												<select name="tipoArea" 
												[disabled]=!editServicio
												[(ngModel)]= this.servicio.intTipoArea
												class="form-control input-sm">
												<option [value]=0 disabled> - SELECCIONE -</option>    
												<option *ngFor="let ta of this.tipoAreas" 
												[value]="ta.intId"	>{{ta.strName}}</option>
											</select>    
										</div>
										<label for="qwe" class="col-sm-2 control-label">
											Anexo :
										</label>
										<div class="col-sm-3">
											<input	name="intAnexo" 	
												[disabled]=!editServicio
												[(ngModel)]= this.servicio.intAnexoId
												type="number" class="form-control input-sm" id="intAnexo">  
										</div> 
									</div>
									<div class="form-group">
										 
										<label for="nombreServicio" class="col-sm-2 control-label">
											Fecha Inicio Solicitada :
										</label>
										<div class="col-sm-4">
											<input type="date" 
											[disabled]=!editServicio
											class="form-control input-sm" id="nombreServicio" 
											name="fechaInicio"
												[(ngModel)]="servicio.dtFechaInicioEsperada" >
										</div>
										
											<label for="nombreServicio" class="col-sm-2 control-label">
												Fecha Fin Solicitada :
											</label>
											<div class="col-sm-4">
												<input type="date" 
												[disabled]=!editServicio
												class="form-control input-sm" id="nombreServicio" 
												name="fechaFin"
													[(ngModel)]="servicio.dtFechaFinEsperada" >
											</div>
									</div>  
									<div class="form-group">
											<label for="nombreServicio" class="col-sm-2 control-label">
												Observación :
											</label>
											<div class="col-sm-10">
												<input type="text" 
												[disabled]=!editServicio
												class="form-control input-sm" id="wer" 
												name="comentario" [(ngModel)]="servicio.strObservacion" >
											</div>
									</div> 
								</form>
							</div>
						</div>
					</div>
				</div> 	
				<div class="box"  [hidden] = !viewServicio >
						<div class="box-header with-border">	
								<div class="row">
									<div class="col-md-8"> 
									</div> 
									<div class="col-md-2">
											<cf-go-back></cf-go-back>
									</div> 
									<div class="col-md-2"> 
											<button  (click)= "this.validarServicio();" type="button"  class="btn form-control input-sm  btn-default "><i class="fa fa-arrow-right"></i><span> Siguiente </span> </button>
									</div>
								</div>
							</div> 
				</div>
				<!-- CORRECION-->
				<div class="box" [hidden]=!this.existCorreccion>
						<div class="box-header with-border">	
							<div class="row">
								<div class="col-md-6">
									<label class="text-left subtitle">
										Motivo de Rechazo
									</label>
								</div>
							</div>
						</div>  
	
				<!--	 Contactos a agregar {{ this.servicio.intEstado | json }}  -->
					<div class="box-body">
							<div class="row">
									<div class="col-md-12">
										<form class="form-horizontal" role="form">
											<div class="form-group">			
													<label for="inputPassword3" class="col-sm-2 control-label">
															Motivo : 
														</label>
														<div class="col-sm-10">
																<input [value]="this.servicio.strEstado"
																 type="text" disabled class="form-control input-sm" id="inputEmail3" placeholder="Motivo Rechazo" 
															>
														</div>
											</div>
											<div class="form-group">
										 
													<label for="inputPassword3" class="col-sm-2 control-label">
														Comentario : 
													</label>
													<div class="col-sm-10">
														<textarea name="strComentario"  disabled
														[(ngModel)] = "servicio.strComentario "class=" form-control input-sm"   id="TextArea"  rows="3" placeholder="Comentario del Rechazo">
															</textarea></div>
												</div>
										</form>	
									</div>
							</div>
						</div>
					</div>

			<!--	Contactos Obtenidos :  {{contactosClientes| json}} -->
				<div class="box" [hidden] = !viewContactos>
					<div class="box-header with-border">	
						<div class="row">
							<div class="col-md-2">
								<label class="text-left subtitle">
									Contactos
								</label>
							</div>

							<div class="col-md-8" [hidden]=isUser2>
									<cf-modal-buscar-contacto-cliente 
									(selectContacto)="recibirContacto($event)"
									nameBoton = "Asociar Contacto"
									iconBoton = "fa fa-plus"
									classBoton = "btn btn-default btn-xs"	
									[intClienteId] = this.servicio.intClienteId		
									>

									</cf-modal-buscar-contacto-cliente >
								<!--	
								<a routerLink="../../nuevaPersona">
									<button  type="button" class="btn btn-default btn-xs"><i class="fa fa-user"></i><span>  Mantenimiento de Personas</span> </button>
								</a> -->
								<!--<button  (click)="this.guardarContactos();" type="button" class="btn btn-default btn-xs"> <i class="fa fa-save"></i><span> Guardar Cambios</span></button>
								-->
							</div>
						</div>
					</div>  

				  <!--Contactos a agregar {{ contactos | json }}   -->
				<div class="box-body">
						<div class="row">
								<div class="col-md-12">
									<form class="form-horizontal" role="form">
										<div class="form-group"> 
										</div>
										<div class="form-group">			
											<div class="row">
													<div class="col-md-12">
														<div class="table-responsive">
														<table class="table table-hover table-bordered text-center">
															<thead class="text-center">
																<tr class="active">
																	<th>#</th>
																	<th>Nombre</th>
																	<th>Cargo</th> 
																	<th  [hidden]= this.isUser2>Opciones</th>
																</tr>
															</thead>
															<tbody>
																<tr *ngFor="let contacto of contactos">
																	<!--<td>{{contactos.indexOf(contacto)+1}}</td> -->
																	<td>{{contactos.indexOf(contacto)+1}}</td>
																	<td>{{contacto.strNombreCompleto}}</td>
																	<td>{{contacto.strVinculo}}</td>
																	<td [hidden]= this.isUser2>	

																			<!--<button (click)="openModal(contentConfirmDelete);" type="button" class="btn btn-default btn-xs"><i class="fa  fa-remove"></i></button>-->
																			<button (click)="this.deleteContacto(contactos.indexOf(contacto));" type="button" class="btn btn-default btn-xs"><i class="fa  fa-remove"></i><span> Eliminar</span> </button>
                                                   
																	</td>
																</tr>
															</tbody>
														</table>
														</div>
													</div>
											</div>
										</div> 
									</form>	
								</div>
						</div>
					</div>
				</div>
				<div class="box"  [hidden] = !viewContactos >
						<div class="box-header with-border">	
								<div class="row">
									<div class="col-md-8"> 
									</div> 
									<div class="col-md-2"> 
											<button  (click)= "this.mostrarServicio();" type="button"  class="btn form-control input-sm  btn-default "><i class="fa fa-arrow-left"></i><span> Atrás </span> </button>
									</div>
									<div class="col-md-2">
											<button  (click)= "this.mostrarPerfiles();" type="button" class="btn form-control input-sm  btn-default "><i class="fa fa-arrow-right"></i><span> Siguiente </span> </button>
										</div>
								</div>
							</div> 
				</div> 
			<!-- PERFILES	-->													
			<div class="box"  [hidden] = !viewPerfiles>
				<div class="box-header with-border">				
					<div class="row">
						<div class="col-md-2">
							<label class="text-left  subtitle">
								Perfiles
							</label>
						</div>
						<div class="col-md-8" [hidden]=isUser2 > <!--Tipo evento = save -->
								<cf-modal-perfil-servicio
								[servicio] = this.servicio
								[RazonSocial]= this.cliente.strRazonSocial
								titulo = "Agregar Perfil"
								[tipoEvento] = 1  
								(responsePerfilServicio)="recibirNewPerfilServicio($event)"
								nameBoton = " Agregar Perfil"
								iconBoton = "fa fa-plus"
								classBoton = "btn btn-default btn-xs"	
							>
							</cf-modal-perfil-servicio>
						</div> 
					</div>
				</div>	 
				<div class="box-body">
					<div class="row">
						<div class="col-md-12">
							<div class="table-responsive">
							<table class="table table-hover table-bordered text-center">
								<thead class="text-center">
									<tr class="active">
										<th>#</th>
										<th>Perfil</th>
										<th>Cantidad</th>
										<th>Observación</th>
										<th>Inicio</th>
										<th>Fin</th>
										<th [hidden]=this.isUser2>Opciones</th>
									</tr>
								</thead>
								<tbody>
									<tr *ngFor="let p of perfilesServicio">
										<td>{{perfilesServicio.indexOf(p)+1}}</td> 
										<td>{{p.strPerfil}}</td>
										<td>
											<div class="col-sm-12 text-center">
														<input	name="intCantidad" 	 
															[(ngModel)]= p.intCantidad
															type="number" class="form-control input-sm text-center" id="intCantidad">  
											</div> 
										</td> 
										<td>
											<div class="col-md-12">
														<input	name="strObservacion" 	 
															[(ngModel)]= p.strObservacion
															type="text" class="form-control input-sm" id="strObservacion">  
											</div>   
										</td>
										<td>{{p.dtFechaInicio  | date:"dd/MM/yyyy"  }}</td>
										<td>{{p.dtFechaFin  | date:"dd/MM/yyyy" }}</td>
										<td [hidden]=this.isUser2>	 
										<button (click)="this.deletePerfilServicio(perfilesServicio.indexOf(p));" type="button" class="btn btn-default btn-xs"><i class="fa  fa-remove"></i> <span> Eliminar</span></button>
										</td>
									</tr> 
								</tbody>
							</table>
							</div>
						</div>
					</div>
				</div>	
			</div>	
			<div class="box"  [hidden] = !viewPerfiles >
					<div class="box-header with-border">	
							<div class="row">
								<div class="col-md-8"> 
								</div> 
								<div class="col-md-2"> 
										<button  (click)= "this.mostrarContactos();" type="button"  class="btn form-control input-sm  btn-default"><i class="fa fa-arrow-left"></i><span> Atrás </span> </button>
								</div>
								<div class="col-md-2">
										<button  (click)= "this.mostrarCandidatos();" type="button" class="btn form-control input-sm  btn-default"><i class="fa fa-arrow-right"></i><span> Siguiente </span> </button>
									</div>
							</div>
						</div> 
			</div>

			
				<!-- CANDIDATOS -->																			
			<div class="box"  [hidden] = !viewCandidatos>
				<div class="box-header with-border">				
					<div class="row">
						<div class="col-md-2">
							<label class="text-left  subtitle">
								Candidatos
							</label>
						</div>
						<!--
						<div class="col-md-8" [hidden]=isUser2 > 
								<cf-modal-perfil-servicio
								[servicio] = this.servicio
								[RazonSocial]= this.cliente.strRazonSocial
								titulo = "Agregar Perfil"
								[tipoEvento] = 1  
								(responsePerfilServicio)="recibirNewPerfilServicio($event)"
								nameBoton = " Agregar Perfil"
								iconBoton = "fa fa-plus"
								classBoton = "btn btn-default btn-xs"	
							>
							</cf-modal-perfil-servicio>
						</div> 

					-->
					</div>
				</div>	
		<!--		<div>	Candidato : {{ this.candidatos | json }}    </div>   -->
		<!--		<br>   -->
		<!--		<div>	PerfilesServicio : {{ this.perfilesServicio | json }}  </div>   -->

				<div class="box-body">
					<div class="row">
						<div class="col-md-12">
							<div class="table-responsive">
							<table class="table table-hover table-bordered text-center">
								<thead class="text-center">
									<tr class="active">
										<th>#</th>
										<th>Candidato</th>
										<th>DNI</th>
										<th>Correo</th>
										<th>Teléfono</th> 
										<th>Perfil</th>
										<th [hidden]=this.isUser2>Opciones</th>
									</tr>
								</thead>
								<tbody>
									<tr *ngFor="let c of candidatos">
										<td>{{candidatos.indexOf(c)+1}}</td> 
										<td>{{c.strNombreCompleto}}</td>
										<td>{{c.strDNI}}</td>
										<td>{{c.strCorreo}}</td>
										<td>{{c.strTelefono}}</td> 
										<td> 
											<select name="perfil" 
												[(ngModel)]= c.intPerfilServicioId 
												(change)=this.changeCandidatoPerfilId(c); 
												class="form-control input-sm" >
												<option selected="selected" [value]=undefined disabled> - SELECCIONE -</option>    
												<option *ngFor="let p of this.perfilesServicio" 
												[value]="p.intId"
												>{{p.strPerfil}}</option>
											</select> 
										</td>
										<td [hidden]=this.isUser2>	
									<!--	<a  [routerLink]="['../../agregarCandidato',p.intId]">
												<button type="button" class="btn btn-default  btn-xs"><i class="fa fa-user-plus"> </i><span> Agregar</span></button>
										</a> 
									-->
									<!--
										<cf-modal-perfil-servicio
											[servicio] = this.servicio
											[RazonSocial]= this.cliente.strRazonSocial
											
											[perfilServicioEntrante] = p
											[tipoEvento] = 2 
											titulo = "Modificar Perfil"
											(responsePerfilServicio)="recibirUpdatePerfilServicio($event)"
											nameBoton = " Editar"
											iconBoton = "fa fa-edit"
											classBoton = "btn btn-default btn-xs">
										</cf-modal-perfil-servicio>
									-->
									<cf-modal-detalle-pago
									[candidato] = c 
									[checkSelect] = true
									[viewAgregar] = false
									tituloModal = "Propuesta Económica"
									nameBotton = "Propuesta"
									iconBotton ="fa fa-dollar"
									(RespuestaModal)="this.recibirDetallePago($event)"
									(RespuestaDetallesPago) = "this.recibirDetallesPago($event)"		
									></cf-modal-detalle-pago>  
										<button (click)="this.deleteCandidato(candidatos.indexOf(c));" type="button" class="btn btn-default btn-xs"><i class="fa  fa-remove"></i> <span> Eliminar</span></button>
										</td>
									</tr>

								</tbody>
							</table>
							</div>
						</div>
					</div>
				</div>	
			</div>	
			<div class="box"  [hidden] = !viewCandidatos >
					<div class="box-header with-border">	
							<div class="row">
								<div class="col-md-8"> 
								</div> 
								<div class="col-md-2"> 
										<button (click)= "this.mostrarPerfiles();" type="button"  class="btn form-control input-sm  btn-default"><i class="fa fa-arrow-left"></i><span> Atrás </span> </button>
								</div>
								<div class="col-md-2">
										<button (click)= "this.guardarRenovacionServicio(this.servicio);" type="button" class="btn form-control input-sm  btn-default"><i class="fa fa-save"></i><span> Registrar Servicio </span> </button>
									</div>
							</div>
						</div> 
			</div>

			<!--
			<div class="box"  [hidden]=!isUser2>
					<div class="box-header with-border">			
						<div class="row">
							<div class="col-md-2">
								<label class="text-left subtitle">
									Documentos
								</label> 
							</div>
							<div class="col-md-8">
								<cf-modal-documento-servicio
								[servicio] = this.servicio.strNombreServicio
								[razonSocial]= this.servicio.strNombreCliente
								nameBoton= " Agregar Documento"
								 iconBoton="fa fa-plus"
								 [tipoEvento] = 1 
								 titulo = "Agregar Documento"
								classBoton="btn btn-default btn-xs"
								(newDocumentoServicio)="this.recibirNewDocumentoServicio($event)"
								(newFileToUpload)="this.recibirNewFile($event)"
								></cf-modal-documento-servicio>
								{{this.responseNotSave}}
							</div> 
						</div>
					</div>
					-->
				<!--  	 <div>Documentos Servicio Alfresco : {{documentosServicio | json }} </div>-->
				<!--	 <div>Documento Servicio  		: {{documentoServicio | json }} </div>
				-->
				<!--
					 <div class="box-body">	
						<div class="row">
							<div class="col-md-12">
								<div class="table-responsive">
								<table class="table table-hover table-bordered text-center">
									<thead class="text-center">
										<tr class="active">
											<th>#</th>
											<th> Tipo Documento</th>
											<th>Archivo</th>
											<th>Observacion</th> 
											<th>Opciones</th>
										</tr>
									</thead>
									<tbody>
											
										<tr *ngFor="let documento of documentosServicio">
											<td>{{documentosServicio.indexOf(documento)+1}}</td>
											<td>{{documento.strTipoDocumento}}</td>
											<td>
												{{documento.strNombreDocumento}} 
											  </td>
									 		<td>{{documento.strObservacion}}</td>
											<td>		 
												<button (click)= "this.descargarDocumento(documento.strDocAlfrescoId)" type="button" class="btn btn-default btn-xs"><i class="fa  fa-download"></i><span> Descargar </span> </button>
											  	<button (click)="deleteDocumento(documento)" type="button" class="btn btn-default btn-xs"><i class="fa  fa-remove"></i><span> Eliminar</span></button>
											</td>
										</tr> 
									</tbody> 
								</table>
								{{this.responseNotFoundDocumentos }}
								</div>
							</div>
						</div>
					</div>
				</div>

-->
 
		<!--Modal confirar eliminacion de servicios--> 
		
		<!-- Modal content 
      <div class="modal-content">-->
			<ng-template #contentRegistroExitoso let-c="close" let-d="dismiss">
					<div class="modal-header" style="padding:20px 20px;">		  
						<div class="row">
							<div class="col-md-12">
									<b><span class="fa  fa-check-circle"></span> Mensaje de Información </b>
							</div>
						</div>
					</div>
					<div class="modal-body" style="padding:10px 30px;">
						<br>
						<div class="row">
								<div class="col-md-1">
								</div>
							<div class="col-md-10">
								<form class="form-horizontal" role="form">
									<div class="form-group">
											<label for="inputEmail3" class="col-sm-12 control-label text-left">	
												Mensaje : <br> 
												1.- {{this.messageRenovarServicio}}<br>
											</label>    
									</div> 
								</form>
							</div>	
						</div> 
					</div>
					<div class="modal-footer">
							<div class="col-md-4"></div>	
						
						<div class="col-md-4">
								<a [routerLink]="['../../registrarPropuesta',this.servicio.intClienteId]"> 
							<button (click)="limpiarTodo();this.modalRef.close()" type="submit" class="btn form-control input-sm btn-success" data-dismiss="modal" >Aceptar</button>
							</a>
						</div>
						<div class="col-md-4"></div>
					</div> 
				</ng-template>  
			</div>
		</div>
	</div>
 </section>
 </div>
 </div>