<cf-header></cf-header>
<cf-nav></cf-nav>
<div class="wrapper"> 
<div class="content-wrapper">
<section class="content"> <!--Inicio de pagina  -->
<div class="box2">
	<div class="row">
		<div class="col-md-12 margen">	
			<h2 class="title text-center">
				CONSULTA DE CONTRATOS
			</h2>
			<br>
			<div class="box">
				<div class="box-header with-border">			
					<div class="row">
						<div class="col-md-3">
							<label class="text-left subtitle">
								Filtros
							</label>
						</div>
					</div>
				</div>
				<div class="box-body">					
					<div class="row">
						<div class="col-md-12">
							<form class="form-horizontal" role="form">
									<div class="form-group">
											<label for="inputPassword3" class="col-sm-2 control-label">
													Empresa :
											</label>
											<div class="col-sm-4">
													<select name="Empresa" 
													[(ngModel)] = this.contratoPersona.intEmpresaId
													class="form-control input-sm" >
														<option [value]=0 selected disabled> - SELECCIONE - </option> 
														<option [value]=0 > TODOS </option>    
														<option *ngFor="let te of this.tipoEmpresa"
														[value]="te.intId"> {{te.strName}}</option> 	
													</select>		
											</div>
											<div class="col-sm-2">
													<button (click)="this.buscarContratos();" type="button" class="btn btn-default btn-xs"><i class="fa  fa-search"></i><span> Consultar</span> </button>			
											</div>
									</div>
								<div class="form-group">
									 
									<label for="inputEmail3" class="col-sm-2 control-label">
										Fecha Inicial
									</label>
									<div class="col-sm-3">
										<input 
										name="fechaInicial"
										[(ngModel)] = this.fechaInicial
										type="date" class="form-control input-sm" id="inputEmail3" placeholder="">
									</div>
									
									<label for="inputEmail3" class="col-sm-2 control-label">
										Fecha Final
									</label>
									<div class="col-sm-3">
										<input 
										name="fechaFinal"
										[(ngModel)] = this.fechaFinal
										type="date" class="form-control input-sm" id="inputEmail3" placeholder="">
									</div> 
								</div>	

							</form>	
						</div>
						<div class="col-md-6">
						</div>
					</div>
				</div>
			</div>
		<!--	<div>	this.fechaInicial  : {{this.fechaInicial}}</div> -->
		<!--	<div>	this.fechaFinal  : {{this.fechaFinal}} </div> -->
	 		<!--Altas :  {{this.contratosPersona  | json}} -->
			<div class="box">
				<div class="box-header with-border">
					<div class="row">
						<div class="col-md-2">
							<label class="text-left subtitle">
								Contratos
							</label>
						</div>

					</div>
				</div>	
				<div class="box-body">	
					<div class="row">
						<div class="col-md-12">
							<div class="table-responsive">
							<table class="table table-hover table-bordered text-center">
								<thead>
									<tr class="active">
										<th>Código</th>
										<th>Nombre Completo</th> 
										<th>Cliente</th> 
										<th>Cargo</th>
										<th>Empleador</th>
										<th>Remuneracion Básica</th>
										<th>Fecha de Contratación</th> 
										<th>Opciones</th>  
									<!--	<th>Fecha de Lquidacion</th>-->
									</tr>
								</thead>
								<tbody>
									<tr *ngFor="let cp of contratosPersona">
										<td>{{cp.intId}}</td>
										<td>{{cp.strNombreCompleto}}</td>
										<td>{{cp.strNombreCliente}}</td> 
										<td>{{cp.strCargo}}</td> 
										<td>{{cp.strEmpresa}}</td>
										<td>{{cp.dbSueldo | number:'3.2-2' }}</td>
									 	<td>{{cp.dtFechaContratacion  | date:"dd/MM/yyyy"  }}</td> 
									 	<td>  
											<a [routerLink]="['/verContrato',cp.intId]">
												<button  type="button"  class="btn btn-default  btn-xs"><i class="fa fa-eye"></i> Ver Contrato</button>
											</a>
											 	<button  (click)="this.selectContratoPersona(cp);this.openModal(contentDeleteContratoPersona);" type="button"  class="btn btn-default  btn-xs"><i class="fa fa-remove"></i> Eliminar </button>
										 </td>   						 
									</tr>
								</tbody>
							</table>
							<div class="message-error">
									{{responseAltasNotFound}}
							</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<ng-template #contentDeleteContratoPersona let-c="close" let-d="dismiss"> 
				<div class="modal-header" style="padding:20px 20px;">		  
						<div class="row">
							<div class="col-md-12">
								<b><span class="fa  fa-exclamation-triangle"> </span> Eliminación del Contrato </b>
							</div>
						</div>
					</div>
					<div class="modal-body" style="padding:10px 30px;">
						<br>
							<div class="row">
									<div class="col-md-1">
									</div>
								<div class="col-md-10">
									<form class="form-horizontal" role="form">
											<div class="form-group">
													<label for="inputEmail3" class="col-sm-12 control-label text-left">	
														Atención : <br>
														1.- Se eliminará el Contrato.<br>
														2.- Se eliminarán las liquidaciones si existieran. 
													</label>    
											</div> 
									</form>
								</div>
							</div>
					</div>
					<div class="modal-footer"> 
						<button (click)="this.deleteContratoPersona(this.contratoPersona);this.modalRef.close();"  class="btn   btn-success" data-dismiss="modal" >Aceptar</button>
						<button (click)="this.modalRef.close();" type="submit" class="btn  btn-danger" data-dismiss="modal" >Cancelar</button>
					</div>
			 </ng-template>

			<div class="row">
				<div class="col-md-3">
				</div>
				<div class="col-md-6">
					<div class="col-sm-6">
					<button (click)="this.exportAltasToExcel();" type="button"  class="btn form-control input-sm  btn-default"><i class="fa fa-file-excel-o"></i> Exportar a Excel</button>
					</div>
					<div class="col-sm-6"> 
							<cf-go-back></cf-go-back>
					</div>
				</div>
						<div class="col-md-3">
				</div>
			</div>					
			
		</div>
	</div>
</div>


</section>
</div>
</div>