<cf-header></cf-header>
<cf-nav></cf-nav>
<div class="wrapper"> 
<div class="content-wrapper">
<section class="content"> 
	<!--Inicio de pagina  -->
    <div class="box2">
	<div class="row">
		<div class="col-md-12">	
			<h2 class="title text-center text-light-blue">
				REPORTE LIQUIDACIONES
			</h2>	 
			<hr></hr>
			<div class="row">
				<div class="col-md-12">
					<h4 class="text-left text-info">
						Búsqueda
					</h4>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<form class="form-horizontal" role="form">
						<div class="form-group">
							 
							<label for="inputtext3" class="col-sm-2 control-label">
								DNI
							</label>
							<div class="col-sm-3">
							<input type="text" class="form-control input-sm" id="inputtext3" placeholder="Ingrese DNI">
							</div>
							<div class="col-md-2">
								<button type="button" class="btn btn-default">
									Buscar
							</button>
							</div>
						</div>
					</form>
				</div>

			</div>
			<hr>
			<div class="row">
				<div class="col-md-2">
					<h4 class="text-left text-info">
						Resultado
					</h4>
				</div>
			</div>		
			<div class="row">
				<div class="col-md-12">
					<form class="form-horizontal" role="form">
						<div class="form-group">
							 
							<label for="inputtext3" class="col-sm-2 control-label">
								Nombre 
							</label>
							<div class="col-sm-6">
								<input type="text" class="form-control input-sm" id="inputtext3" placeholder="">		
							</div>
						</div>
						<div class="form-group">
							 
							<label for="inputPassword3" class="col-sm-2 control-label">
								Motivo de Cese
							</label>
							<div class="col-sm-6">
								
								<textarea class="form-control input-sm"  id="TextArea"  rows="3" placeholder="Motivo de cese"></textarea>							</div>
						</div>	
						<div class="form-group">
							<label for="inputtext3" class="col-sm-2 control-label">
								Fecha Inicio
							</label>
							<div class="col-sm-3">
								<input type="date" class="form-control input-sm" id="inputtext3" placeholder="">		
							</div>
							<label for="inputtext3" class="text-center col-sm-2 control-label ">
								Fecha de Cese
							</label>
							<div class="col-sm-3">
								<input type="date" class="form-control input-sm" id="inputtext3" placeholder="">		
							</div>
						</div>			
						<div class = "form-group">
							<label for="inputtext3" class="col-sm-2 control-label">
								Fecha Liquidacion
							</label>
							<div class="col-sm-3">
								<input type="date" class="form-control input-sm" id="inputtext3" placeholder="">		
							</div>
							<label for="inputtext3" class="col-sm-2 control-label">
								Monto Liquidacion
							</label>
							<div class="col-sm-3">
								<input type="number" class="form-control input-sm" id="inputtext3" placeholder="">		
							</div>
						
						
						</div>	
						<div class = "form-group">
							<label for="inputtext3" class="col-sm-2 control-label">
								Empresa
							</label>
							<div class="col-sm-3">
								<select name="account" class="form-control input-sm" >
									<option value="" selected disabled>Seleccione una Empresa</option>    
									<option>PGS</option>
									<option>TOP</option>
							</select>		
							</div>
							<label for="inputtext3" class="col-sm-2 control-label">
								Cargo
							</label>
							<div class="col-sm-3">
								<input type="text" class="form-control input-sm" id="inputtext3" placeholder="">		
							</div>
						
						
						</div>	
						<div class = "form-group">
							<label for="inputtext3" class="col-sm-2 control-label">
								Tiempo de Servicio 
							</label>
							<div class="col-sm-4">
								<input type="text" class="form-control input-sm" id="inputtext3" placeholder="Tiempo en Dias">		
							</div>
							
						
						</div>	
					</form>	
				</div>

			</div> 
		</div>
	</div>
			<div class="row">
				<div class="col-md-3">
				</div>
				<div class="col-md-6">
					<div class="col-sm-6">
					<a href="" class="btn form-control btn-default"><i class="fa fa-print"></i> Imprimir</a>
					</div>
					<div class="col-sm-6">
					<button type="button" class="btn form-control btn-default">
						Salir
					</button>
					</div>
				</div>
						<div class="col-md-3">
				</div>
			</div>	
		</div> 