 <!--Inicio de pagina  -->
<cf-header></cf-header>
<cf-nav></cf-nav>
<div class="wrapper"> 
<div class="content-wrapper">
<section class="content"> 
 <div class="box2">
	<div class="row">
		<div class="col-md-12 margen">	
			<h2 class="title text-center">
				SERVICIOS 
			</h2>
			<br>
			<div class="box">
				<div class="box-header with-border">
					<div class="row">
						<div class="col-md-2">
							<label class="text-left subtitle">
								Buscar Servicios
							</label>
						</div>
						<div class="col-md-10">
								<button (click)=this.buscarServicio(this.clienteId,this.state,this.nameServicio,this.anexo) type="button" class="btn btn-default btn-xs"><i class="fa  fa-search"></i><span> Buscar Servicio</span> </button>
						</div>
					</div>	
				</div>	
			<!-- 	idCliente :  {{ this.cliente.intId | json }} --> 
				<div class="box-body">
					<div class="row">
						<div class="col-md-12">
							<form class="form-horizontal" role="form">
								<div class="form-group">
									<div class="col-sm-3 control-label">
										Cliente : 
									</div>
									<div class="col-sm-6">   
										<select class="form-control  input-sm"  
											name="clienteId"
											[(ngModel)]=this.clienteId
											data-placeholder="Cliente" style="width: 100%;">
											<option value=0 selected>- CUALQUIERA -</option>
											<option *ngFor="let cliente of clientes "
											[value]="cliente.intId">  {{cliente.strRazonSocial}}</option>
										</select>  
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-3 control-label">
										Estado Actual :   
									</div>
									<div class="col-sm-4">
											<select  
											 name="state" 
											 [(ngModel)]=this.state
											 class="form-control input-sm" >
													<option  [value]=0 selected >- TODOS -</option>
													<option *ngFor="let e of this.estadoServicio "
													[value]= e.intId > {{e.strName}}</option> 
											</select>
									</div>							
								</div>
								<div class="form-group">
									<div class="col-sm-3 control-label">
										Nombre Servicio :
									</div>
									<div class="col-sm-8">
									<input  
									name="nameServicio"
									[(ngModel)]=this.nameServicio
									type="text" class="form-control input-sm" id="inputEmail3" placeholder="">
									</div>

								</div>		
								<div class="form-group">
									<div class="col-sm-3 control-label">
										Nro Anexo :
									</div>
									<div class="col-sm-5">
										<input  
										name="nameAnexo"
										[(ngModel)]=this.anexo
										type="text" class="form-control input-sm" id="inputEmail3" placeholder="">
									</div> 
								</div>				
							</form>
						</div>
					</div>
				</div>
			</div>
			<!-- servicios obtenido {{this.servicios | json }} -->
			<div class="box">
				<div class="box-header with-border">					
					<div class="row">
						<div class="col-md-12">
							<label class="text-left  subtitle">
								Servicios :
							</label>
						</div>
					</div>
				</div>	
				<div class="box-body">
					<div class="row">
						<div class="col-md-12">
							<div class="table-responsive">
							<table class="table table-hover table-bordered text-center"> 
								<thead>
									<tr class="active">
										<th>Anexo</th>
										<th>Cliente</th>
										<th>Servicio</th> 
										<th>F. Registro</th> 
										<th>F. Inicio</th>
										<th>F. Fin</th>
										<th>Estado</th>
										<th>Opciones</th>
									</tr>
								</thead>
								<tbody>
									<tr *ngFor="let servicio of servicios"  > 
										<!--<td><a [routerLink]="[operation._id]">{{ operation._id }}</a></td>  
										-->
										<td>{{ servicio.intAnexoId }}</td>
										<td>{{ servicio.strNombreCliente}}</td>
										<td>{{ servicio.strNombreServicio}}</td> 
										<td>{{ servicio.dtFechaRegistro | date:"dd/MM/yyyy"   }}</td>
										<td>{{ servicio.dtFechaInicio  | date:"dd/MM/yyyy"   }}</td>
										<td>{{ servicio.dtFechaFin  | date:"dd/MM/yyyy"  }}</td>
										<td>{{ servicio.strEstado}}</td>
										<td> 
											<button  (click)="this.selectServicio(servicio);this.openModal(contentChangeEstateServicio);" type="button" class="btn btn-default btn-xs"><i class="fa fa-building-o"></i><span> Cambiar Estado </span> </button>
											<a [routerLink]="['/verServicios/servicio',servicio.intId]"> 
											<button  type="button" class="btn btn-default btn-xs"><i class="fa  fa-eye"></i><span> Ver Servicio</span> </button>
											</a>
											<a [routerLink]="['../verRecursosServicios',servicio.intId]"> 
												<button  type="button" class="btn btn-default btn-xs"><i class="fa  fa-users"></i><span> Ver Recursos</span> </button>
											</a>
											<button  (click)="this.selectServicio(servicio);this.openModal(contentDeleteServicio);" type="button" class="btn btn-default btn-xs"><i class="fa fa-remove"></i><span> Eliminar </span> </button>
											<!--
												<a [routerLink]="['../elegirCandidato',servicio.intId]">
												<button type="button"  class="btn btn-default  btn-xs"><i class="fa fa-check"></i><span> Candidatos</span></button>
												</a>
											--> 
										</td>
									  </tr> 
								</tbody>
							</table>
							<div>
							<!--<div class="message-error" > -->
									{{this.responseMessage}}
							</div>
						</div>
						</div>
					</div>
				</div>
			</div>	 
			<ng-template #contentDeleteServicio let-c="close" let-d="dismiss"> 
				<div class="modal-header" style="padding:20px 20px;">		  
						<div class="row">
							<div class="col-md-12">
								<b><span class="fa  fa-exclamation-triangle"> </span> Eliminación del Servicio </b>
							</div>
						</div>
				</div>
				<div class="modal-body" style="padding:10px 30px;">
					<br>
						<div class="row">
								<div class="col-md-1">
								</div>
							<div class="col-md-10">
								<form class="form-horizontal" role="form">
										<div class="form-group">
												<label for="inputEmail3" class="col-sm-12 control-label text-left">	
													Atención : <br>
													1.- Se eliminará el Servicio del Sistema.<br>
													2.- Se eliminarán los perfiles del Servicio.<br>
													3.- Se eliminarán los Recursos del Servicio.<br>
													4.- Se Eliminarán las propuestas económicas de los Recursos.
												</label>    
										</div> 
								</form>
							</div>
						</div>
				</div>
				<div class="modal-footer"> 
					<button (click)="this.hardDeleteServicio(this.servicio);this.modalRef.close();"  class="btn   btn-success" data-dismiss="modal" >Aceptar</button>
					<button (click)="this.modalRef.close();" type="submit" class="btn  btn-danger" data-dismiss="modal" >Cancelar</button>
				</div> 
			</ng-template> 

			<ng-template #contentChangeEstateServicio let-c="close" let-d="dismiss">
                    <div class="modal-header" style="padding:20px 20px;">		  
                        <div class="row">
                            <div class="col-md-12">
                                <b><span class="fa fa-exclamation-triangle"></span> Cambiar Estado del Servicio</b>
                            </div>
                        </div>
                    </div>
					<div class="modal-body" style="padding:10px 30px;">
						<br>
							<div class="row">
								<div class="col-md-12">
									<form class="form-horizontal" role="form">
										<div class="form-group">
											<label for="inputEmail3" class="col-sm-2 control-label">
														Cliente:
											</label >
												<div class="col-sm-10">
														<input value= {{this.servicio.strNombreCliente}}  type="text"  disabled class="form-control input-sm" id="inputEmail3" placeholder="Cliente">
												</div>
										</div>
										<div class="form-group">
												<label for="inputEmail3" class="col-sm-2 control-label">
															Servicio:
												</label>
												<div class="col-sm-10">
														<input value={{this.servicio.strNombreServicio}} type="text"  disabled class="form-control input-sm" id="inputEmail3" placeholder="Servicio">
												</div>
										</div>  
										<hr>
										<div class="form-group" >
												<label for="inputEmail3" class="col-sm-3 control-label">
														Estado Actual:
													</label>
													<div class="col-sm-5">
															<input 
															name="monto" disabled
															value = {{this.servicio.strEstado}} type="text" class="form-control input-sm" id="inputEmail3" placeholder="">
												</div>
										</div>  

										<div class="form-group">
												<label for="inputEmail3" class="col-sm-3 control-label">
														Nuevo Estado:
												</label>
												<div class="col-sm-6">
														<select name="modalidad" 
														[(ngModel)] = this.intNuevoEstadoId
														(change) = this.verificarEstado();
														class="form-control input-sm" > 
														<option selected="selected" [value]=undefined  disabled> - SELECCIONE -</option>    
														<option *ngFor="let es of this.estadoServicio"
														[value]=es.intId> {{es.strName}}</option>  
														</select>		
												</div>
										</div> 	
									<!--	<div > Servicio : {{this.servicio | json }}  </div>-->
									<!--	<div > intNuevoEstado : {{this.intNuevoEstadoId |json }}  </div>-->
										<div class="form-group" [hidden]= !this.enCursoSelected  >
												<label for="inputEmail3" class="col-sm-3 control-label">
														Fecha Inicio:
													</label>
													<div class="col-sm-5">
															<input 
															name="fechaInicio"
															[(ngModel)] = this.servicio.dtFechaInicio type="date" class="form-control input-sm" id="inputEmail3" placeholder="">
												</div>
										</div> 
										<div class="form-group" [hidden]= !this.enCursoSelected >
												<label for="inputEmail3" class="col-sm-3 control-label">
														Fecha Fin:
													</label>
													<div class="col-sm-5">
															<input 
															name="fechaFin"  
															[(ngModel)] =  this.servicio.dtFechaFin  type="date" class="form-control input-sm" id="inputEmail3" placeholder="">
												</div>
										</div>  
										<div class="form-group" [hidden]= !this.terminadoSelected >
											<label for="inputEmail3" class="col-sm-3 control-label">
													Fecha de Término:
												</label>
												<div class="col-sm-5">
														<input 
														name="fechaFin"  
														[(ngModel)] =  this.servicio.dtFechaFin  type="date" class="form-control input-sm" id="inputEmail3" placeholder="">
												</div>
									</div>  
										<div class="form-group" [hidden]= !this.enCursoSelected >
											<label for="inputEmail3" class="col-sm-3 control-label">
													Monto Servicio :
												</label>
												<div class="col-sm-5">
														<input 
														name="montoSueldo"  
														[(ngModel)] =  this.servicio.dbMonto  type="number" class="form-control input-sm" id="inputEmail3" placeholder="">
											</div>
										</div> 
										<div class="form-group" [hidden]= !this.modificarServicioSelected >
											<label for="modificarSelect" class="col-sm-3 control-label">
													Comentario Modificación  :
												</label>
												<div class="col-sm-9"> 
												 <textarea name="comentarioModificacion"
													  [(ngModel)] = "this.servicio.strComentarioModificacion" class=" form-control input-sm" 
													    id="TextArea"  rows="4" placeholder="Comentario Modificación.">
												</textarea>
												</div>
										</div>
									</form>  
								</div>
							</div>
						</div>
                    <div class="modal-footer"> 
							<button (click)="this.updateStateServicio(this.servicio);" type="submit" class="btn  btn-success" data-dismiss="modal" ><span class="fa  fa-check"></span> Aceptar</button>
			   				<button (click)="this.modalRef.close();" type="submit" class="btn  btn-danger" ><span class="fa fa-remove"></span> Cancelar </button>
                    </div>  
				</ng-template> 

			<div class="row">
				<div class="col-md-3">
				</div>
				<div class="col-md-6">
					<div class="col-sm-6">
						<button (click)="this.exportServiciosToExcel();" type="submit" class="btn form-control input-sm  btn-default" ><span class="fa fa-file-excel-o"></span> Exportar a Excel</button>
					</div>
					<div class="col-sm-6">
						<cf-go-back></cf-go-back>
					</div>
				</div>
						<div class="col-md-3">
				</div>
			</div>	
		</div>
	</div>
</div>
</section>
</div>
</div>