<cf-header></cf-header>
<cf-nav></cf-nav>
<div class="wrapper"> 
<div class="content-wrapper">
<section class="content">
	<!--Inicio de pagina  -->
	<div class="box2">
	<div class="row">
		<div class="col-md-12 margen">	
			<h2 class="title text-center">
				CONSULTA DE BAJAS
			</h2>
			<br>
			<div class="box">
				<div class="box-header with-border">
					<div class="row">
						<div class="col-md-12">
							<label class="text-left subtitle">
								Filtros
							</label>
						</div>
					</div>	
				</div>
			<!--	Bajas : {{this.bajas  |json}} -->
				<div class="box-body">
					<div class="row">
						<div class="col-md-12">
							<form class="form-horizontal" role="form">
									<div class="form-group">
											<label for="inputPassword3" class="col-sm-2 control-label">
													Empresa :
												</label>
													<div class="col-sm-4">
															<select name="Empresa" 
															[(ngModel)] = this.intEmpresaId
															class="form-control input-sm" >
																<option [value]=0 selected disabled> - SELECCIONE - </option> 
																<option [value]=0 > TODOS </option>    
																<option *ngFor="let te of this.tipoEmpresa"
																[value]="te.intId"> {{te.strName}}</option> 	
															</select>		
														</div>
														<div class="col-sm-2">
																<button (click)="this.buscarBajas();" type="button" class="btn btn-default btn-xs"><i class="fa  fa-search"></i><span> Consultar</span> </button>
																	
														</div>
											</div>
								<div class="form-group"> 
									<label for="inputEmail3" class="col-sm-2 control-label">
										Fecha Inicial
									</label>
									<div class="col-sm-3">
										<input
										name="fechaInicial"
										[(ngModel)] = this.fechaInicial
										 type="date" class="form-control input-sm" id="inputEmail3" placeholder="">
									</div>
									
									<label for="inputEmail3" class="col-sm-2 control-label">
										Fecha Final
									</label>
									<div class="col-sm-3">
										<input 
										name="fechaFin"
										[(ngModel)] = this.fechaFinal
										type="date" class="form-control input-sm" id="inputEmail3" placeholder="">
									</div>

								</div>							
							</form>	
						</div>
						<div class="col-md-6">
						</div>
					</div>
				</div>
			</div>	

			<!-- todas las bajas : {{ this.bajas | json }} -->
			<div class="box">
				<div class="box-header with-border">
					<div class="row">
						<div class="col-md-12">
							<label class="text-left subtitle">
								Bajas
							</label>
						</div> 
					</div>
				</div>
				<div class="box-body">					
					<div class="row">
						<div class="col-md-12">
							<div class="table-responsive">
							<table class="table table-hover table-bordered text-center">
								<thead>
										<tr class="active">
										<th>ID</th>
										<th>Nombre Completo</th> 
										<th>Empleador</th>
									<!--	<th>Dias Trabajados (Ultimo Mes)</th> -->
										<th>Sueldo Base</th>
									<!--	<th>Monto Liquidación</th> -->
										<th>Fecha de Cese</th>
										<th>Motivo de Cese</th> 
										<th>Opciones</th>
									</tr>
								</thead>
								<tbody>
									<tr *ngFor="let b of bajas">
										<td>{{b.intId}}</td>
										<td>{{b.strNombreCompleto}}</td>
										<td>{{b.strEmpresa}}</td>  
									<!--	<td>{{b.intDiasTrabajados}}</td> -->
										<td>{{b.dbSueldo | number:'3.2-2' }}</td>
									<!--	<td>{{b.dbMontoLiquidacion	}}</td>   -->
										<td>{{b.dtFechaCese  | date:"dd/MM/yyyy" }}</td>
										<td>{{b.strMotivoCese}}</td>
										<td>  
												<a [routerLink]="['/verBaja',b.intId]">
													<button  type="button"  class="btn btn-default  btn-xs"><i class="fa fa-eye"></i> Ver Baja</button>
												</a>
											 </td>  
									</tr>
								</tbody>
							</table>
							<div class="message-error">
								{{this.responseBajasNotFound}}
								</div>
						</div>
						</div>
					</div>
				</div>
			</div>	
			<div class="row">
				<div class="col-md-3">
				</div>
				<div class="col-md-6">
					<div class="col-sm-6">
							<button (click)="this.exportBajasToExcel();" type="button"  class="btn form-control input-sm  btn-default"><i class="fa fa-file-excel-o"></i> Exportar a Excel</button>
					</div>
					<div class="col-sm-6">
							<cf-go-back></cf-go-back>
					</div>
				</div>
						<div class="col-md-3">
				</div>
			</div>			
			
		</div>
	</div> 
</div>
</section>
</div>
</div>



   
