 <!--Inicio de pagina  -->
<cf-header></cf-header>
<cf-nav></cf-nav>
<div class="wrapper"> 
<div class="content-wrapper">
<section class="content"> 
 <div class="box2">
	<div class="row">
		<div class="col-md-12 margen">	
			<h2 class="title text-center">
				SERVICIOS DE CONSULTORÍA
			</h2>
			<br>
			<div class="box">
				<div class="box-header with-border">
					<div class="row">
						<div class="col-md-2">
							<label class="text-left subtitle">
								Buscar Servicios
							</label>
						</div>
						<div class="col-md-10">
								<button (click)=this.buscarServiciosConsultoria(this.clienteId,this.state,this.nameServicio) type="button" class="btn btn-default btn-xs"><i class="fa  fa-search"></i><span> Buscar Servicios</span> </button>
						</div>
					</div>	
				</div>	
			<!-- 	idCliente :  {{ this.cliente.intId | json }} --> 
				<div class="box-body">
					<div class="row">
						<div class="col-md-12">
							<form class="form-horizontal" role="form">
								<div class="form-group">
									<div class="col-sm-3 control-label">
										Cliente : 
									</div>
									<div class="col-sm-8">  
										<!--	<ng-multiselect-dropdown
												name="clienteId"
												[placeholder]="'-Seleccione-'"
												[data]="this.clientes"
												[(ngModel)]="this.clienteId"
												[settings]="dropdownSettings"
												>
											</ng-multiselect-dropdown>
										--> 
										<select class="form-control  input-sm"  
											name="clienteId"
											[(ngModel)]=this.clienteId
											data-placeholder="Cliente" style="width: 100%;">
											<option value=0 selected>- CUALQUIERA -</option>
											<option *ngFor="let cliente of clientes "
											[value]="cliente.intId">  {{cliente.strRazonSocial}}</option>
										</select>  
										 
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-3 control-label">
										Estado Actual :   
									</div>
									<div class="col-sm-4">
											<select  
												 name="state" 
											 [(ngModel)]=this.state
											 class="form-control input-sm" >
													<option  [value]=0 selected >- TODOS -</option>
													<option  [value]=39 selected > EN CURSO </option>
													<option  [value]=35 selected > TERMINADO </option>
													<option  [value]=37 selected > ELIMINADO </option>
 											 </select>
									</div>							
								</div>
								<div class="form-group">
									<div class="col-sm-3 control-label">
										Nombre Servicio :
									</div>
									<div class="col-sm-8">
									<input  
									name="nameServicio"
									[(ngModel)]=this.nameServicio
									type="text" class="form-control input-sm" id="inputEmail3" placeholder="">
									</div> 
								</div>	 		
							</form>
						</div>
					</div>
				</div>
			</div>
			<!-- servicios obtenido {{this.servicios | json }} -->
			<div class="box">
				<div class="box-header with-border">					
					<div class="row">
						<div class="col-md-12">
							<label class="text-left  subtitle">
								Servicios :
							</label>
						</div>
					</div>
				</div>	
				<div class="box-body">
					<div class="row">
						<div class="col-md-12">
							<div class="table-responsive">
							<table class="table table-hover table-bordered text-center"> 
								<thead>
									<tr class="active">
										<th>#</th>
										<th>Cliente</th>
										<th>Servicio</th> 
										<th>Descripción</th> 
										<th>F. Registro</th>  
										<!--<th>F. Inicio</th> -->
										<!--<th>F. Fin</th> -->
										<th>Estado</th>
										<th>Opciones</th>
									</tr>
								</thead>
								<tbody>
									<tr *ngFor="let sc of servicios"  >  
										<td>{{ servicios.indexOf(sc)+1}}</td>
										<!--<td>{{ pl.intAnexoId }}</td>-->
										<td>{{ sc.strNombreCliente}}</td>
										<td>{{ sc.strNombreServicio}}</td> 
										<td>{{ sc.strDescripcion }}</td>
										<td>{{ sc.dtFechaRegistro | date:"dd/MM/yyyy"   }}</td>
										<!--<td>{{ pl.dtFechaInicio  | date:"dd/MM/yyyy"   }}</td> -->
										<!--<td>{{ pl.dtFechaFin  | date:"dd/MM/yyyy"  }}</td> -->
										<td>{{ sc.strEstado}}</td>
										<td> 
											<a [routerLink]="['/servicioConsultoria',sc.intId]"> 
												<button type="button" class="btn btn-default btn-xs"><i class="fa  fa-eye"></i><span> Ver Servicio</span> </button>
											</a>  
											<button [disabled]=!sc.blEliminable
												(click)="this.selectServicio(sc);this.openModal(contentDeleteServicio);" type="button" class="btn btn-default btn-xs"><i class="fa fa-remove"></i><span>  Eliminar </span> 
											</button>
										</td>
									  </tr> 
								</tbody>
							</table>
							<div class="message-error" >
									{{this.responseMessage}}
							</div>
						</div>
						</div>
					</div>
				</div>
			</div>	

			<ng-template #contentDeleteServicio let-c="close" let-d="dismiss"> 
				<div class="modal-header" style="padding:20px 20px;">		  
						<div class="row">
							<div class="col-md-12">
								<b><span class="fa  fa-exclamation-triangle"> </span> Eliminación del Servicio </b>
							</div>
						</div>
				</div>
				<div class="modal-body" style="padding:10px 30px;">
					<br>
						<div class="row">
								<div class="col-md-1">
								</div>
							<div class="col-md-10">
								<form class="form-horizontal" role="form">
										<div class="form-group">
												<label for="inputEmail3" class="col-sm-12 control-label text-left">	
													Atención : <br>
													1.- Se marcará como Eliminado <br> 
													2.- No se podrá facturar el en futuro <br>
												</label>    
										</div> 
								</form>
							</div>
						</div>
				</div>
				<div class="modal-footer"> 
					<button (click)="this.deleteServicioConsultoria(this.Servicio);this.modalRef.close();"  class="btn   btn-success" data-dismiss="modal" >Aceptar</button>
					<button (click)="this.modalRef.close();" type="submit" class="btn  btn-danger" data-dismiss="modal" >Cancelar</button>
				</div> 
			</ng-template>  
			<div class="row">
				<div class="col-md-3">
				</div>
				<div class="col-md-6">
					<div class="col-sm-6">
						<button (click)="this.exportServiciosConsultoriaToExcel();" type="submit" class="btn form-control input-sm  btn-default" ><span class="fa fa-file-excel-o"></span> Exportar a Excel</button>
					</div>
					<div class="col-sm-6">
						<cf-go-back></cf-go-back>
					</div>
				</div>
						<div class="col-md-3">
				</div>
			</div>	
		</div>
	</div>
</div>
</section>
</div>
</div>