 <!--Inicio de pagina  -->
<cf-header></cf-header>
<cf-nav></cf-nav>
<div class="wrapper"> 
<div class="content-wrapper">
<section class="content"> 
	<div class="box2">
	<div class="row">
		<div class="col-md-12 margen ">	
			<h2 class="title text-center ">
				REPORTE FACTURACIONES
			</h2>
			<br>
			<div class="box">
					<div class="box-header with-border">
						<div class="row">
							<div class="col-md-3">
								<label class="text-left subtitle">
									Buscar 	Facturaciones
								</label>
							</div> 
							<div class="col-md-9">
								<button (click)=this.buscarFacturaciones(this.clienteId,this.month,this.year) type="button" class="btn btn-default btn-xs"><i class="fa  fa-search"></i><span> Buscar</span> </button>
						</div>
						</div>	
					</div>
					<div class="box-body">
						<div class="row">
							<div class="col-md-12">
								<form class="form-horizontal" role="form">
									<div class="form-group">
										<div class="col-sm-3 control-label">
											Cliente : 
										</div>
										<div class="col-sm-8">   
											<select class="form-control  input-sm"  
												name="clienteId"
												[(ngModel)]=this.clienteId
												data-placeholder="Cliente" style="width: 100%;">
												<option value=0 selected>- CUALQUIERA -</option>
												<option *ngFor="let cliente of clientes "
												[value]="cliente.intId">  {{cliente.strRazonSocial}}</option>
											</select>  
										</div>
									</div> 
									<div class="form-group">
										<div class="col-sm-3 control-label">
											Mes :
										</div>
										<div class="col-sm-5"> 
											<select class="form-control  input-sm"  
												name="mesFacturacion"
												[(ngModel)]=this.month
												data-placeholder="Mes" style="width: 100%;">
												<option value="" selected>- CUALQUIERA -</option> 
												<option value="ENERO" selected>ENERO</option> 
												<option value="FEBRERO" selected>FEBRERO</option> 
												<option value="MARZO" selected>MARZO</option> 
												<option value="ABRIL" selected>ABRIL</option> 
												<option value="MAYO" selected>MAYO</option> 
												<option value="JUNIO" selected>JUNIO</option> 
												<option value="JULIO" selected>JULIO</option> 
												<option value="AGOSTO" selected>AGOSTO</option> 
												<option value="SEPTIEMBRE" selected>SEPTIEMBRE</option> 
												<option value="OCTUBRE" selected>OCTUBRE</option> 
												<option value="NOVIEMBRE" selected>NOVIEMBRE</option> 
												<option value="DICIEMBRE" selected>DICIEMBRE</option> 
											</select> 
										</div> 
									</div>		
									<div class="form-group">
										<div class="col-sm-3 control-label">
											Año :
										</div>
										<div class="col-sm-5">
											<!-- 
												<input  
												name="yearFacturacion"
												[(ngModel)]=this.year
												type="text" class="form-control input-sm" id="inputEmail3" placeholder="">
											-->
											<select class="form-control input-sm"  
												name="yearFacturacion"
												[(ngModel)]=this.year
												data-placeholder="Cliente" style="width: 100%;">
												<option value="" selected>- CUALQUIERA -</option> 
												<option value=2019 selected>2019</option>
												<option value=2018 selected>2018</option>
												<option value=2017 selected>2017</option>
											</select> 
										</div> 
									</div>	 					
								</form>
							</div>
						</div>
					</div>
				</div>
			<div class="box">
				<div class="box-header with-border">			
					<div class="row">
						<div class="col-md-12">
							<label class="text-left subtitle">
								Facturaciones
							</label> 
						</div>	
					</div>	
				</div>	 
			<!-- 
				Lista de Facturaciones Obtenidos : {{this.facturaciones | json }} 
			-->
				<div class="box-body">
					<div class="row">
						<div class="col-md-12">
							<div class="table-responsive">
							<table class="table table-hover table-bordered text-center">
								<thead class="text-center">
									<tr class="active">
										<th>Nro Factura</th>
										<th>Cliente</th> 
										<th>Periodo</th>
										<th>Fecha de Emision</th> 
										<th>Monto</th>  
										<th>Estado</th>  
										<th>Ver</th>
									</tr>
								</thead>  
								<tbody>
										<tr *ngFor= "let f of facturaciones" > 
												<td>{{f.strNroFactura}}</td>
												<td>{{f.strNombreCliente}}</td>
												<td>{{f.strPeriodo}}</td>
												<td>{{f.dtFechaEmision | date:"dd/MM/yyyy" }} </td> 	
												<td>{{f.dbTotal | number:'3.2-2'}}</td> 
												<td>{{f.strEstado}}</td>
												<td>  
													<button   [disabled]=!f.blPossibleAnular
													type="button" (click)="this.selecFacturacion(f);this.openModal(contentAnularFactura);"
													class="btn btn-default  btn-xs"><i class="fa fa-edit"></i><span> Anular Factura </span></button>
													<a [routerLink]="['/facturacion',f.intId]" >  
															<button  
															type="button" class="btn btn-default  btn-xs"><i class="fa fa-eye"></i><span> Facturación</span></button>
													</a>  
													<!--
														<a [routerLink]="['adjuntarDocscServicio',f.intServicioId]" > 
															<button  
															type="button" class="btn btn-default  btn-xs"><i class="fa fa-edit"></i><span> Documentos del Servicio</span></button>
														</a>
													-->  
												</td>
											</tr>
								</tbody>
							</table>
							<div class="message-error">
								{{this.responseMessage}}
							</div>
							</div>
						</div>
					</div>
				</div>
			</div>	 
			<div class="row">
					<div class="col-md-3">
					</div>
					<div class="col-md-6">
						<div class="col-sm-6">
							
						</div>
						<div class="col-sm-6">
								<button (click)="this.exportFacturacionesToExcel(this.facturaciones);" type="submit" class="btn form-control input-sm  btn-default" ><span class="fa fa-file-excel-o"></span> Exportar a Excel</button>
							<!--<cf-go-back></cf-go-back> -->
						</div>
					</div>
							<div class="col-md-3">
					</div>
				</div>

				<ng-template #contentAnularFactura let-c="close" let-d="dismiss"> 
						<div class="modal-header" style="padding:20px 20px;">		  
								<div class="row">
									<div class="col-md-12">
										<b><span class="fa  fa-exclamation-triangle"> </span> Anular Factura </b>
									</div>
								</div>
						</div>
						<div class="modal-body" style="padding:10px 30px;">
							<br>
								<div class="row">
										<div class="col-md-1">
										</div>
									<div class="col-md-10">
										<form class="form-horizontal" role="form">
												<div class="form-group">
														<label for="inputEmail3" class="col-sm-12 control-label text-left">	
															Atención : <br>
															1.- Se anulará la factura nro : <b>{{this.facturacion.strNroFactura}}</b><br> 
															2.- Se tendrá que facturar nuevamente a los Recursos asociados.<br> 
															3.- El servicio volverá a su bandeja de Facturación.
														</label>    
												</div> 
										</form>
									</div>
								</div>
						</div>
						<div class="modal-footer"> 
							<button (click)="this.anularFacturacion(this.facturacion);this.modalRef.close();"  class="btn   btn-success" data-dismiss="modal" >Aceptar</button>
							<button (click)="this.modalRef.close();" type="submit" class="btn  btn-danger" data-dismiss="modal" >Cancelar</button>
						</div> 
					</ng-template> 

		</div>
	</div>
</div>
</section>
</div>
</div>
