 <!--Inicio de pagina  -->
 <cf-header></cf-header>
 <cf-nav></cf-nav>
 <div class="wrapper"> 
 <div class="content-wrapper">
 <section class="content"> <div class="box2">
	 <div class="row">
		 <div class="col-md-12 margen ">	
			 <h2 class="title text-center ">
				REPORTE DE PAGOS
			 </h2> 
			  <br>
			 <div class="box">
				 <div class="box-header with-border">			
					 <div class="row">
						 <div class="col-md-12">
							 <label class="text-left subtitle">
								 Búsqueda de Planillas Pendientes de Pago
							 </label> 
						 </div>	
					 </div>	
				 </div>	
				 <div class="box-body">
					 <div class="row">
						 <div class="col-md-12">
							 <form class="form-horizontal" role="form">
								 <div class="form-group">
										 <label for="inputPassword3" class="col-sm-2 control-label">
												 Empresa :	
										 </label>
											 <div class="col-sm-4">
													<select name="intEmpresaId" 
														[(ngModel)] = this.intEmpresaId
														(change)="this.asignarValoresEmpresa(this.intEmpresaId);"
														class="form-control input-sm">
														<!--<option [value]=undefined selected disabled> - Seleccione - </option> -->
														<option [value]=0 > TODAS </option>    
														<option *ngFor="let te of this.empresas"
														[value]=te.intId> {{te.strName}}</option> 	
												 </select>		
											 </div>  
											 <div class="col-sm-2">
												 <button (click)="this.buscarPagosToExcelPlanilla();"
												  type="button" class="btn btn-default btn-xs"><i class="fa  fa-search"></i><span> Buscar </span> </button>
											 </div>
											 <div class="col-sm-1">  
												 </div>	
											 <div class="col-sm-3 btn-default message-error">
												 {{this.responseMessageBuscarColaboradores}}
											 </div>
								 </div> 
								 <div class="form-group">			
									 <label for="inputPassword3" class="col-sm-2 control-label">
											 Tipo de Pago : 
									 </label>
									<div class="col-sm-5">
											<select name="tipoPlanilla" 
												[(ngModel)] = this.intTipoPago
												(change) = this.cargarPeriodos(this.intTipoPago);		
												class="form-control input-sm" >
												<option [value]=0 selected disabled> - Seleccione - </option>    
												<option *ngFor="let tp of this.tiposPago"
												[value]=tp.intId> {{tp.strName}}</option> 	
											</select>
									</div>
								 </div>
								 <div class="form-group">			
										 <label for="inputPassword3" class="col-sm-2 control-label">
												 Mes : 
									 	</label>
											 <div class="col-sm-4">
													 <select name="strMes" 
													 [(ngModel)] = this.strMes 		
													 class="form-control input-sm" >
														 <option [value]=0 selected disabled> - Seleccione - </option>    
														 <option *ngFor="let p of this.periodos"
														 [value]=p.strName> {{p.strName}}</option> 	
													 </select>
											 </div>  			
										 <label for="inputPassword3" class="col-sm-2 control-label">
												 Año : 
										 </label>
										 <div class="col-sm-3">
												 <select name="year" 
												 [(ngModel)] = this.intYear 	 		
												 class="form-control input-sm" >
													 <option [value]=0 selected disabled> - Seleccione - </option>    
													 <option *ngFor="let a of this.years"
													 [value]=a>{{a}}</option> 	
												 </select>
										 </div> 
									 </div> 
								 </form>
							 </div>
						 </div>
					 </div>
				 </div> 
 
			  <!--	planillas Detalles :  {{this.planillaDetalles | json }}     -->
				  <div class="box">
						 <div class="box-header with-border">				
							 <div class="row">
								 <div class="col-md-6">
									 <label class="text-left  subtitle">
										 Pagos
									 </label>
								 </div> 
							 </div>
						 </div>	
 
				 <div class="box-body">
					 <div class="row">
						 <div class="col-md-12">
							 <div class="table-responsive">
							 <table class="table table-hover table-bordered text-center">
								 <thead class="text-center">
									 <tr class="active">
										 <th>ID Pago </th> 
										 <th>Colaborador</th> 
										 <th>Cargo</th>
										 <th>Sueldo Base</th>
										 <th>Dias de Servicio</th>  
										 <th>Total a Pagar</th>
										  <th>Opciones</th>
									 </tr>
								 </thead> 
							 
								 <tbody>
									 <tr *ngFor="let pb of pagosBoleta"> 
										<!-- <td>{{pagos.indexOf(p)+1}}</td> -->
										 <td>{{pb.intId}}</td> 
										 <td>{{pb.strNombreCompleto}}</td> 
										 <td>{{pb.strCargo}}</td>
										 <td>{{pb.dbSueldoBase}}</td>
										 <td>{{pb.intNroDiasTrabajados  + pb.intVacacionesDisfrutadas}} </td>
										 <td>{{pb.dbTotalPagar | number:'3.2-2' }}</td>  
										 <td>
										  <button  (click)="this.emitirBoleta(pb.intPagoId);" type="button" class="btn btn-default btn-xs"><i class="fa  fa-print"></i><span> Emitir Boleta</span> </button>
											<a [routerLink]="['../pago',pb.intPagoId]"> 
												<button  type="button" class="btn btn-default btn-xs"><i class="fa  fa-search"></i><span> Ver Pago</span> </button>
											</a> 
										 </td> 
									 </tr>
								 </tbody>
							 </table>
							 <div class="message-error">
									 {{this.responseNotFoundColaboradores}}
							 </div>
							 </div>
						 </div>
					 </div>
				 </div>
			 </div>	
	 
 
 <!-- Modal content 
	   <div class="modal-content"> -->
			 <ng-template #contentConfirmSave let-c="close" let-d="dismiss">
					 <div class="modal-header" style="padding:20px 20px;">		  
						 <div class="row">
							 <div class="col-md-12">
								 <span class="fa  fa-question-circle fa-2x">   Información</span>
							 </div>
						 </div>
					 </div>
					 <div class="modal-body" style="padding:10px 30px;">
						 <div class="row">
							 <div class="col-md-12">
								 <form class="form-horizontal" role="form"> 
										 <div class="form-group">
											 <label for="inputEmail3" class="col-sm-3 control-label">
												 Mensaje :
											 </label>
											 <div class="col-sm-8">
													 Se Registrará la plantilla con el siguiente Código . 
												  </div>
										 </div>
										 <div>		 
											 <label for="inputEmail3" class="col-sm-3 control-label">
												 Codigo de Planilla :
											 </label>
											 <div class="col-sm-8">
											 <input 
											 name="planillaCode"		
												 [(ngModel)]=this.planilla.strPlanillaCode type="text"  class="form-control input-sm" id="inputEmail3" placeholder="">
											 </div>
										 </div>
								 </form>
							 </div>
						 </div>
					 </div>
					 <div class="modal-footer">
							 <div class="col-md-3"></div>
						 <div class="col-md-3">
						  
							 <button (click)="this.guardarPlanilla(this.planilla); this.modalRef.close()" type="submit" class="btn form-control input-sm btn-success" data-dismiss="modal" ><span class="fa  fa-check"></span> Aceptar</button>
						 
						 </div>
						 <div class="col-md-3">    
							 <button (click)="this.modalRef.close()" type="submit" class="btn form-control input-sm btn-danger" ><span class="fa fa-remove"></span> Cancelar</button>
						 </div>
						 <div class="col-md-3"></div>
					 </div>
				 </ng-template>  
				 <div class="row">
					 <div class="col-md-2">
					 </div>
					 <div class="col-md-8">
						 <div class="col-sm-4"> 
							 <button [disabled]=!blExport (click)="this.exportListPagosToExcel(this.pagosBoleta);" type="submit" class="btn form-control input-sm  btn-default" >
								 <span class="fa fa-file-excel-o"></span> Exportar a Excel</button>
								 {{this.responseMessageExportPlanilla}}
						 </div>
						 <div class="col-sm-4"> 
						 </div>
						 <div class="col-sm-4">
							 <cf-go-back></cf-go-back>
						 </div>
					 </div>
					 <div class="col-md-2">
					 </div>
				 </div>
		 </div>
	 </div>
 </div>
 </section>
 </div>
 </div>
 