 
 <!--Inicio de pagina  -->
 <ngx-spinner
 bdColor = "rgba(51,51,51,0.42)"
 size = "medium"
 color = "#fff"
 type = "ball-clip-rotate"
 ></ngx-spinner>
 
<cf-header></cf-header>
<cf-nav></cf-nav>
<div class="wrapper"> 
<div class="content-wrapper">
<section class="content"> 
 <div class="box2">
	<div class="row">
		<div class="col-md-12 margen">	
			<h2 class="title text-center">
				CLIENTES
			</h2>
			<br>
			<div class="box">
				<div class="box-header with-border">
					<div class="row">
						<div class="col-md-12">
							<span> <label class="text-left subtitle"> 
								Lista de Clientes</label>   
								&nbsp;&nbsp;&nbsp;</span>
								<a [routerLink]="['../nuevoCliente']"> 
									<button  type="button" class="btn btn-default btn-xs"><i class="fa  fa-plus"></i>  <span> Nuevo Cliente</span> </button>
									</a>		
						</div>
					</div>	
				</div>	
			 <!--	idCliente :  {{ this.personasJuridicas | json }}   -->
				<div class="box-body">
					<div class="row">
						<div class="col-md-12">
							<div class="table-responsive">
							<table class="table table-hover table-bordered text-center"> 
								<thead>
									<tr class="active">
										<th>ID</th>
										<th>RUC</th>
										<th>Razón Social</th>
									<!--	<th>Correo</th> -->
										<th>Teléfono</th> 
										<th>Estado</th> 
										<th>Opciones</th>
									</tr>
								</thead>
								<tbody>
									<tr *ngFor="let pj of personasJuridicas"  > 
										<!--<td><a [routerLink]="[operation._id]">{{ operation._id }}</a></td>  
										-->
										<td>{{ pj.intId}}</td>
										<td>{{ pj.strRUC}}</td>
										<td>{{ pj.strRazonSocial }}</td>
									<!--	<td>{{ pj.strCorreo}}</td> -->
										<td>{{ pj.strTelefono }}</td>
										<td>{{ pj.strEstado }}</td> 
										<td> 
											<!--	<button  
												(click)="this.selectServicio(servicio);this.openModal(contentChangeEstateServicio);" 
												type="button" class="btn btn-default btn-xs">
												<i class="fa fa-building-o"></i>
												<span> Cambiar Estado </span> </button>-->
												 <a [routerLink]="['../personaJuridica',pj.intId]"> 
												<button  type="button" class="btn btn-default btn-xs"><i class="fa  fa-eye"></i><span> Ver Cliente</span> </button>
												</a>
												<button (click)="this.selectPersonaJuridica(pj);openModal(contentChangeEstado);"type="button" class="btn btn-default btn-xs"><i class="fa  fa-edit"></i><span> Editar Estado </span> </button>
										</td>
									  </tr>

								</tbody>
							</table>
						</div>
						</div>
					</div>
				</div>
			</div>	


			<ng-template #contentChangeEstado let-c="close" let-d="dismiss">
				<div class="modal-header" style="padding:20px 20px;">		  
					<div class="row">
						<div class="col-md-12">
							<b><span class="fa fa-exclamation-triangle"></span> Cambiar Estado del Cliente</b>
						</div>
					</div>
				</div>
				<div class="modal-body" style="padding:10px 30px;">
					<br>
						<div class="row">
							<div class="col-md-12">
								<form class="form-horizontal" role="form">
									<div class="form-group">
										<label for="inputEmail3" class="col-sm-2 control-label">
													Cliente:
										</label >
											<div class="col-sm-10">
													<input value= {{this.personaJuridica.strRazonSocial}}  type="text"  disabled class="form-control input-sm" id="inputEmail3" placeholder="Cliente">
											</div>
									</div>
									<div class="form-group">
											<label for="inputEmail3" class="col-sm-2 control-label">
														RUC:
											</label>
											<div class="col-sm-10">
													<input value={{this.personaJuridica.strRUC}} type="text"  disabled class="form-control input-sm" id="inputEmail3" placeholder="Servicio">
											</div>
									</div>  
									<hr>
									  
									<div class="form-group">
											<label for="inputEmail3" class="col-sm-3 control-label">
													Estado :
											</label>
											<div class="col-sm-6">
													<select name="estado" 
													[(ngModel)] = this.personaJuridica.intEstado 
													class="form-control input-sm" > 
													<option selected="selected" [value]=undefined  disabled> - SELECCIONE -</option>    
													<option  [value]=5> ACTIVO</option>  
													<option  [value]=6> NO ACTIVO</option> 
													</select>		
											</div>
									</div> 	 
								</form>  
							</div>
						</div>
					</div>
				<div class="modal-footer"> 
						<button (click)="this.updateStatePersonaJuridica(this.personaJuridica);" type="submit" class="btn  btn-success" data-dismiss="modal" ><span class="fa  fa-check"></span> Aceptar</button>
							<button (click)="this.modalRef.close();" type="submit" class="btn  btn-danger" ><span class="fa fa-remove"></span> Cancelar </button>
					</div>  
			</ng-template> 

			<div class="row">
				<div class="col-md-3"></div>
				<div class="col-md-6">
					<div class="col-sm-6">
						<button (click)="this.exportPersonasJuridicasToExcel();" type="submit" class="btn form-control input-sm  btn-default" ><span class="fa fa-file-excel-o"></span> Exportar a Excel</button>
					</div>
					<div class="col-sm-6">
						<cf-go-back></cf-go-back>
					</div>
				</div>
				<div class="col-md-3"></div>
			</div>	
		</div>
	</div>
</div>
</section>
</div>
</div>
