<cf-header></cf-header>
<cf-nav></cf-nav>
<div class="wrapper"> 
<div class="content-wrapper">
<section class="content"> 
	<!--Inicio de pagina  -->
    <div class="box2">
	<div class="row">
		<div class="col-md-12 margen">	
			<h2 class="title text-center">
				REPORTE DE PLANILLAS
			</h2>	
			<br>
			<div class="box">
				<div class="box-header with-border">
					<div class="row">
						<div class="col-md-12">
							<label class="text-left subtitle">
								Búsqueda
							</label>
						</div>
					</div>
				</div>	
				<div class="box-body">					
					<div class="row">
						<div class="col-md-12">
							<form class="form-horizontal" role="form">
								<div class="form-group">
									 
									<label for="inputEmail3" class="col-sm-2 control-label">
										Fecha Inicial :
									</label>
									<div class="col-sm-3">
									<input type="date" class="form-control input-sm" id="inputEmail3" placeholder="Fecha Inicial">
									</div>
									<label for="inputEmail3" class="col-sm-2 control-label">
										Fecha Final
									</label>
									<div class="col-sm-3">
									<input type="date" class="form-control input-sm" id="inputEmail3" placeholder="Fecha Final">
									</div>
									<div class="col-md-2">
										<button type="button" class="btn btn-default">
											Buscar
									</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div class="box">
				<div class="box-header with-border">
					<div class="row">
						<div class="col-md-2">
							<label class="text-left subtitle">
								Resultado
							</label>
						</div>
					</div>	
				</div>	
				<div class="box-body">				
					<div class="row">
						<div class="col-md-12">
							<div class="table-responsive">
							<table class="table table-hover table-bordered text-center">
								<thead>
									<tr class="active">
										<th>#</th>
										<th>Nombre Completo</th>
										<th>Bonos</th>
										<th>Adelantos</th>
										<th>Retencion 5ta</th>
										<th>EsSalud</th>
										<th>ONP</th>
										<th>Neto a Recibir</th>
										<th>Dias Trabajados</th>
									</tr>
								</thead>
								<tbody>
									<tr >
										<td>1</td>
										<td>Richard Gonzales Roque</td>
										<td>80.00</td>
										<td>0.00</td>
										<td>0.00</td>
										<td>90.00</td>
										<td>130.00</td>
										<td>970</td>
										<td>31</td>
									</tr>
									<tr class="active">
										<td>1</td>
										<td>Jose Cordova Velasquez</td>
										<td>240.00</td>
										<td>120.00</td>
										<td>500.00</td>
										<td>230.00</td>
										<td>400.00</td>
										<td>2500.00</td>
										<td>30</td>
									</tr>
								</tbody>
							</table>
						</div>
						</div> 
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
				</div>
				<div class="col-md-6">
					<div class="col-sm-6">
					<a href="" class="btn form-control btn-default"><i class="fa fa-print"></i> Imprimir</a>
					</div>
					<div class="col-sm-6">
					<button type="button" class="btn form-control btn-default">
						Salir
					</button>
					</div>
				</div>
						<div class="col-md-3">
				</div>
			</div>			
	</div>

</div>
</div>
</section>
</div>
</div>