<cf-header></cf-header>
<cf-nav></cf-nav>
<div class="wrapper"> 
<div class="content-wrapper">
<section class="content">
	 <!--Inicio de pagina  -->
    <div class="box2">
	<div class="row">
		<div class="col-md-12 margen" >
			<h2 class="text-center title ">
				CONSULTA RECURSOS
			</h2>
			<br>
			<div class="box">
				<div class="box-header with-border">
					<div class="row">
						<div class="col-md-2">
							<label class="text-left subtitle">
								Opciones de Búsqueda 
							</label>
						</div>
						<div class="col-md-4">
						 <button
							(click)=this.buscarRecurso();
						 type="button" class="btn btn-default btn-xs"><i class="fa  fa-search"></i><span> Buscar Colaborador</span>
							</button>
						</div> 
					</div>	
				</div>	
				
				<div class="box-body">	
					<div class="row">
						<div class="col-md-12">
							<form class="form-horizontal" role="form">
								<div class="form-group">
									<label for="inputEmail3" class="col-sm-3 control-label">
											Cliente  : 
									</label>
									<div class="col-sm-7">
											<select name="cliente" 
											[(ngModel)] = this.intClienteId
											class="form-control input-sm" >
												<option [value]=0 selected disabled> - SELECCIONE - </option> 
												<option [value]=0 > TODOS </option>    
												<option *ngFor="let c of this.clientes"
												[value]="c.intId"> {{c.strRazonSocial}}</option> 	
											</select>	 
									</div>
								</div>
								<div class="form-group">
									<label for="inputEmail3" class="col-sm-3 control-label">
									 Empleador :
									</label>
									<div class="col-sm-5">
											<select name="Empresa" 
											[(ngModel)] = this.intEmpresaId
											class="form-control input-sm" >
												<option [value]=0 selected disabled> - SELECCIONE - </option> 
												<option [value]=0 > TODOS </option>    
												<option *ngFor="let te of this.tipoEmpresa"
												[value]="te.intId"> {{te.strName}}</option> 	
											</select>			 
									</div>
								</div>		
								<div class="form-group">
										<label for="inputEmail3" class="col-sm-3 control-label">
										 Tipo Recurso :
										</label>
										<div class="col-sm-5">
												<select name="tipoRecurso" 
												[(ngModel)] = this.tipoRecurso
												class="form-control input-sm" >
													<option [value]=0 selected disabled> - SELECCIONE - </option> 
													<option [value]=0 > TODOS </option>
													<option [value]=150 > COLABORADOR </option>
													<option [value]=151 > PROVEEDOR </option>     
												</select>			 
										</div>
									</div>	
								<div class="form-group"> 
										<label for="inputEmail3" class="col-sm-3 control-label">
											Fecha Inicial
										</label>
										<div class="col-sm-3">
											<input 
											name="fechaInicial"
											[(ngModel)] = this.fechaInicial
											type="date" class="form-control input-sm" id="inputEmail3" placeholder="">
										</div> 
										<label for="inputEmail3" class="col-sm-2 control-label">
											Fecha Final
										</label>
									<div class="col-sm-3">
										<input 
										name="fechaFinal"
										[(ngModel)] = this.fechaFinal
										type="date" class="form-control input-sm" id="inputEmail3" placeholder="">
									</div> 
								</div>							
							</form>	
						</div>
					</div>
			     </div>
			</div>	 
 
			<div class="box">
				<div class="box-header with-border">
					<div class="row">
						<div class="col-md-2">
							<label class="text-right  subtitle">
								Resultados 
							</label>
						</div>
					</div>				
				</div>
				<div class="box-body">
					<div class="row">
						<div class="col-md-12">
							<div class="table-responsive">
							<table class="table table-hover table-bordered text-center">
								<thead class="text-center">
									<tr class="active">
										<th>#</th>
										<th>Nombre</th>
										<th>Cliente</th>
									<!--<th>Perfil</th>-->
										<th>Empleador</th>
										<th>Tipo Recurso</th> 
										<th>Fecha Inicio</th>
										<th>Fecha  Fin</th>
										<th>Opciones</th>
									</tr>
								</thead>
								<tbody>
									<tr *ngFor="let cp of contratosPersona ">
										<td>{{cp.intId}}</td>
										<td>{{cp.strNombreCompleto}}</td>
										<td>{{cp.strNombreCliente}}</td>
									 <!--	<td>{{cp.strNombrePerfil}}</td>-->
										<td>{{cp.strEmpresa}}</td>
										<td>{{cp.strModalidad}}</td>
										<td>{{cp.dtFechaContratacion  | date:"dd/MM/yyyy"  }}</td>
										<td>{{cp.dtFechaFinalizacion  | date:"dd/MM/yyyy" }}</td>
										<td><a [routerLink]="['/personaNatural',cp.intPersonaId]">
											<button type="button" class="btn btn-default btn-sm"><span><i class="fa  fa-eye"></i></span> Ver Recurso</button>
											</a>
										</td>
									</tr>
								</tbody>
							</table>
							<div class="message-error">
									{{this.messageColaboradorNotFound}}
							</div>
							</div>
						</div>
					</div>
				</div>
			</div>
				<div class="row">
					<div class="col-md-3">
			
					</div>
					<div class="col-md-6">
						<div class="col-sm-6">
								<button (click)="this.exportRecursosToExcel();" type="button"  class="btn form-control input-sm  btn-default"><i class="fa fa-file-excel-o"></i> Exportar a Excel</button>
						</div>
						<div class="col-sm-6"> 
								<cf-go-back></cf-go-back>
						</div>
					</div>
							<div class="col-md-3">
					</div>
				</div>
		</div>
	</div> 
	</div>
</section>
</div>
</div>
