 <!--Inicio de pagina  -->
<cf-header></cf-header>
<cf-nav></cf-nav>
<div class="wrapper"> 
<div class="content-wrapper">
<section class="content"> 
	<div class="box2">
	<div class="row">
		<div class="col-md-12 margen ">	
			<h2 class="title text-center ">
				SERVICIOS A FACTURAR
			</h2>
			<br>
			<div class="box">
					<div class="box-header with-border">
						<div class="row">
							<div class="col-md-3">
								<label class="text-left subtitle">
									Buscar Servicios a Facturar
								</label>
							</div> 
							<div class="col-md-9">
								<button (click)=this.buscarServicioFacturaciones(this.clienteId,this.nameServicio,this.anexo,this.cancelado) type="button" class="btn btn-default btn-xs"><i class="fa  fa-search"></i><span> Buscar Servicio</span> </button>
							</div>
						</div>	
					</div>
					<div class="box-body">
						<div class="row">
							<div class="col-md-12">
								<form class="form-horizontal" role="form">
									<div class="form-group">
										<div class="col-sm-3 control-label">
											Cliente : 
										</div>
										<div class="col-sm-6">   
											<select class="form-control  input-sm"  
												name="clienteId"
												[(ngModel)]=this.clienteId
												data-placeholder="Cliente" style="width: 100%;">
												<option value=0 selected>- CUALQUIERA -</option>
												<option *ngFor="let cliente of clientes "
												[value]="cliente.intId">  {{cliente.strRazonSocial}}</option>
											</select>  
										</div>
									</div> 
									<div class="form-group">
										<div class="col-sm-3 control-label">
											Nombre Servicio :
										</div>
										<div class="col-sm-8">
										<input  
										name="nameServicio"
										[(ngModel)]=this.nameServicio
										type="text" class="form-control input-sm" id="inputEmail3" placeholder="">
										</div>
	
									</div>		
									<div class="form-group">
										<div class="col-sm-3 control-label">
											Nro Anexo :
										</div>
										<div class="col-sm-5">
											<input  
											name="nameAnexo"
											[(ngModel)]=this.anexo
											type="text" class="form-control input-sm" id="inputEmail3" placeholder="">
										</div> 
									</div>	
									<div class="form-group">
										<div class="col-sm-3 control-label">
											Estado :
										</div>
										<div class="col-sm-5">
											<select class="form-control  input-sm"  
												name="blCancelado" [(ngModel)]=this.cancelado
												data-placeholder="blCancelado" style="width: 100%;">
													<option value=2 selected>- CUALQUIERA -</option>
													<option value=1>FACTURADO</option>
													<option value=0>PENDIENTE</option>
											</select>
										</div> 
									</div>					
								</form>
							</div>
						</div>
					</div>
				</div>
			<div class="box">
				<div class="box-header with-border">			
					<div class="row">
						<div class="col-md-12">
							<label class="text-left subtitle">
								Pendientes de Facturación
							</label> 
						</div>	
					</div>	
				</div>	 
			<!--	Lista de Servicio Obtenidos : {{this.	servicios | json }}-->
				<div class="box-body">
					<div class="row">
						<div class="col-md-12">
							<div class="table-responsive">
							<table class="table table-hover table-bordered text-center">
								<thead class="text-center">
									<tr class="active">
										<th>Anexo</th>
										<th>Cliente</th>
										<th>Servicio/Concepto</th> 
										<th>Periodo</th>
										<!-- <th>Fecha de Fin</th>  -->
										<th>Estado</th> 
										<th>Ver</th>
									</tr>
								</thead> 
								<!-- [hidden]=!servicio.boolAprobado  -->
								<tbody>
										<tr *ngFor= "let sf of servicioFacturaciones" > 
												<td>{{sf.strAnexo}}</td>
												<td>{{sf.strNombreCliente}}</td>
												<td>{{sf.strNombreServicio}}</td>  
												<td>{{sf.strPeriodo }}</td>   	
												<td>{{sf.strCancelado}}</td>
												<td> 
														 <!--<a [routerLink]="['facturacionPendientes',servicio.intId]" >  -->
													<a [routerLink]="['/facturacionServicio',sf.intId]" >  
															<button  
															type="button" class="btn btn-default  btn-xs"><i class="fa fa-edit"></i><span> Facturar Servicio</span></button>
													</a>  
													<!--<a [routerLink]="['adjuntarDocscServicio',f.intServicioId]" > 
														<button  
														type="button" class="btn btn-default  btn-xs"><i class="fa fa-edit"></i><span> Documentos del Servicio</span></button>
													</a>
												--> 
												<!--	
													<a [routerLink]="['verificarColaborador',servicio.intId]" > 
														<button  
														type="button" class="btn btn-default  btn-xs"><i class="fa fa-users"></i><span> Candidatos Seleccionados </span></button>
													</a>								
												-->
												</td>
											</tr>
								</tbody>
							</table>
							<div class="message-error">
								{{this.responseMessage}}
							</div>
							</div>
						</div>
					</div>
				</div>
			</div>	
			<!--
			<div class="row">
					<div class="col-md-3">
			
					</div>
					<div class="col-md-6">
						<div class="col-sm-6">
					<a routerLink="../registrarPropuesta">
						<button type="button" class="btn form-control input-sm btn-default">
							Menu Principal
						</button> </a>
						</div>
						<div class="col-sm-6">

							<cf-go-back></cf-go-back> 
 
						</div>   
					</div>
							<div class="col-md-3">
							</div>
				</div>
			-->
		</div>
	</div>
</div>
</section>
</div>
</div>
