 <!--Inicio de pagina  -->
<cf-header></cf-header>
<cf-nav></cf-nav>
<div class="wrapper"> 
<div class="content-wrapper">
<section class="content"> 
 <div class="box2">
	<div class="row">
		<div class="col-md-12 margen">	
			<h2 class="title text-center">
				SERVICIOS X TERMINAR 
			</h2>
			<br>
			<div class="box">
				<div class="box-header with-border">
					<div class="row">
						<div class="col-md-3">
							<label class="text-left subtitle">
								Filtrar x Fechas 
							</label>
						</div>
						  <button (click)=this.verServiciosxTerminar(this.dtFechaInicial,this.dtFechaFinal,this.intNumeroDias); type="button" class="btn btn-default btn-xs"><i class="fa  fa-search"></i><span> Buscar Servicio</span> </button>
					</div>	
				</div>	
			<!-- 	idCliente :  {{ this.cliente.intId | json }} --> 
				<div class="box-body">
					<div class="row">
						<div class="col-md-12">
							<form class="form-horizontal" role="form"> 
								<div class="form-group">
										<div class="col-sm-3 control-label">
											Fechas de Término :  
										</div>
										<div class="col-sm-6">
												<select  
												 name="fechaTermino" 
												 [(ngModel)]=this.intNumeroDias 
												 (change)=this.verificarSeleccion();
												 class="form-control input-sm" >
												 		<option  [value]=7 selected > Dentro de 1 Semana </option>
														<option  [value]=15 selected > Dentro de 15 días </option>
														<option  [value]=30 selected > Dentro de 30 días </option>
														<option  [value]=0 selected > Personalizada   </option>
												</select>
										</div>
								</div>
								<div class="form-group"  [hidden] = this.hideFechaPersonalizada>
										<div class="col-sm-3 control-label">
											Fecha Inicial :
										</div>
										<div class="col-sm-5">
										<input  
										name="dtFechaInicial"
										[(ngModel)]=this.dtFechaInicial
										type="date" class="form-control input-sm" id="inputEmail3" placeholder="">
										</div> 
								</div>	
								<div class="form-group" [hidden] = this.hideFechaPersonalizada>
										<div class="col-sm-3 control-label">
											Fecha Final :
										</div>
										<div class="col-sm-5">
										<input  
										name="dtFechaFinal"
										[(ngModel)]=this.dtFechaFinal
										type="date" class="form-control input-sm" id="inputEmail3" placeholder="">
										</div> 
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>

		<!--	fecha Inicial : {{this.dtFechaInicial | json }}  -->
		<!--	fecha Final : {{this.dtFechaFinal| json }}  -->
		<!--	Servicios : {{ this.servicios | json }} -->
			<div class="box">
				<div class="box-header with-border">					
					<div class="row">
						<div class="col-md-12">
							<label class="text-left  subtitle">
								Servicios :
							</label>
						</div>
					</div>
				</div>	
				<div class="box-body">
					<div class="row">
						<div class="col-md-12">
							<div class="table-responsive">
							<table class="table table-hover table-bordered text-center"> 
								<thead>
									<tr class="active">
										<th>Anexo</th>
										<th>Cliente</th>
										<th>Servicio</th>  
										<th>F. Inicio</th>
										<th>F. de Término</th> 
										<th>Estado Actual </th> 
										<th>Opciones</th>
									</tr>
								</thead>
								<tbody>
									<tr *ngFor="let servicio of servicios"  > 
										<!--<td><a [routerLink]="[operation._id]">{{ operation._id }}</a></td>  
										-->
										<td>{{ servicio.intAnexoId }}</td>
										<td>{{ servicio.strNombreCliente}}</td>
										<td>{{ servicio.strNombreServicio}}</td>  
										<td>{{ servicio.dtFechaInicio  | date:"dd/MM/yyyy"   }}</td>
										<th>{{ servicio.dtFechaFin  | date:"dd/MM/yyyy"  }}</th>
										<td>{{ servicio.strEstado }}</td>  
									 	<td> 
											 <a [routerLink]="['/verServicios/servicio',servicio.intId]"> 
											<button  type="button" class="btn btn-default btn-xs"><i class="fa  fa-eye"></i><span> Ver Servicio</span> </button>
											</a>
											<a [routerLink]="['../verRecursosServicios',servicio.intId]"> 
												<button  type="button" class="btn btn-default btn-xs"><i class="fa  fa-users"></i><span> Ver Recursos</span> </button>
											</a> 
										</td>
									  </tr> 
								</tbody>
							</table>
							<div>
							<!--<div class="message-error" >-->
									{{this.responseMessage}}
							</div>
						</div>
						</div>
					</div>
				</div>
			</div>	  

			<div class="row">
				<div class="col-md-3">
				</div>
				<div class="col-md-6">
					<div class="col-sm-6">
						<button (click)="this.exportServiciosToExcel();" type="submit" class="btn form-control input-sm  btn-default" ><span class="fa fa-file-excel-o"></span> Exportar a Excel</button>
					</div>
					<div class="col-sm-6">
						<cf-go-back></cf-go-back>
					</div>
				</div>
						<div class="col-md-3">
				</div>
			</div>	
		</div>
	</div>
</div>
</section>
</div>
</div>