<ngx-spinner
bdColor = "rgba(51, 51, 51, 0.8)"
size = "large"
color = "#fff"
type = "ball-clip-rotate"
>
</ngx-spinner> 

<!--Inicio de pagina  -->
<cf-header></cf-header>
<cf-nav></cf-nav>
<div class="wrapper"> 
<div class="content-wrapper">
<section class="content"> 
<div class="box2">
	<div class="row">
		<div class="col-md-12 margen">	
			<h2 class="title text-center ">
				SERVICIO DE CONSULTORIA
			</h2>
			<br>
			<div class="box">
				<div class="box-header with-border">	
					<div class="row">
						<div class="col-md-4">
							<label class="text-left subtitle">
								Datos del Cliente
							</label>
						</div>
					</div>	
				</div> 
				<div class="box-body">
					<div class="row">
						<div class="col-md-12">
							<form class="form-horizontal" role="form">
								<div class="form-group">
									<label for="inputEmail3" class="col-sm-2 control-label">
									 Razón Social :
									</label>
									<div class="col-sm-10">
											<input [value]="this.servicioConsultoria.strNombreCliente"
											 type="text" disabled class="form-control input-sm" id="inputEmail3" placeholder="Razón Social" 
										>
									</div>
								</div>
								<div class="form-group">
									<label for="inputEmail3" class="col-sm-2 control-label">RUC :</label>
									<div class="col-sm-4">
											<input [value]="this.servicioConsultoria.strRUC"
										 type="text" disabled class="form-control input-sm" id="inputEmail3" placeholder="RUC"
										>
									</div>
									 
								</div>						
							</form>	
						</div>
					</div>
				</div>		
			</div>			  
				<div class="box">
					<div class="box-header with-border">	
						<div class="row">
							<div class="col-md-2">
								<label class="text-left subtitle">
									Datos del Servicio  
								</label>
							</div> 
							<div class="col-md-10" [hidden] = this.newRegistro>
								<button  (click)="this.habilitarEdicionServicio();" type="button" class="btn btn-default btn-xs"> <i class="fa fa-edit"></i><span> Editar </span></button>
								
								<button  [disabled] =!editServicio
								(click)="this.guardarEdicionServicio();" type="button" class="btn btn-default btn-xs"> <i class="fa fa-save"></i><span> Guardar </span></button>
							</div>
						</div>
					</div>
				<!--	ServicioConsultoria Obtenido : {{this.servicioConsultoria | json }}  -->
					<div class="box-body">				
						<div class="row">
							<div class="col-md-12">
								<form class="form-horizontal" role="form">
								  	<div class="form-group"> 
										<label for="qwe" class="col-sm-2 control-label">
											Nombre :
										</label>
										<div class="col-sm-10">
											<input	name="strNombreServicio" 	
												[disabled]=!editServicio
												[(ngModel)]=  this.servicioConsultoria.strNombreServicio
												type="text" class="form-control input-sm" id="qwe"
												placeholder="Nombre Servicio">   
										</div>
									</div>
									<div class="form-group"> 
										<label for="inputPassword3" class="col-sm-2 control-label">
											Descripción : 
										</label>
										<div class="col-sm-10">
											<textarea name="descripcion" 
											[disabled]=!editServicio
											[(ngModel)] = "servicioConsultoria.strDescripcion"class=" form-control input-sm"   id="TextArea"  rows="4" placeholder="Descripcion del Servicio Consultoria">
												</textarea>
										</div>
									</div> 
									<div class="form-group"> 
										<label for="dtFechaInicio" class="col-sm-2 control-label">
											Fecha Inicio :
										</label>
										<div class="col-sm-4">
											<input type="date" 
											[disabled]=!editServicio
											class="form-control input-sm" id="nombreServicio" 
											name="fechaInicio"
												[(ngModel)]="servicioConsultoria.dtFechaInicio" >
										</div> 
										<label for="dtFechaFin" class="col-sm-2 control-label">
											Fecha Fin :
										</label>
										<div class="col-sm-4">
											<input type="date" 
											[disabled]=!editServicio
											class="form-control input-sm" id="dtFechaFin" 
											name="fechaFin"
												[(ngModel)]="servicioConsultoria.dtFechaFin" >
										</div>
									</div> 
									<div class="form-group"  >  
										<label for="tipoServicio" class="col-sm-2 control-label">
											Tipo de Servicio :
										</label> 
										<div class="col-sm-6">
											<select name="tipoArea" 
												[disabled]=!editServicio
												[(ngModel)]= this.servicioConsultoria.intTipoServicio
												class="form-control input-sm">
												<option [value]=null disabled> - SELECCIONE -</option>
												<option [value]=1001> PROYECTO BLTR </option>
												<option [value]=1002> CAS </option>
											</select>	
										</div>  
									</div>	  
								</form>
							</div>
						</div>
					</div>
				</div> 
			<!--	Contactos Obtenidos :  {{contactosClientes| json}} -->
				<div class="box" >
					<div class="box-header with-border">	
						<div class="row">
							<div class="col-md-2">
								<label class="text-left subtitle">
									Contactos
								</label>
							</div> 
							<div class="col-md-8" >
								<cf-modal-buscar-contacto-cliente 
									(selectContacto)="recibirContacto($event)"
									nameBoton = "Asociar Contacto"
									iconBoton = "fa fa-plus"
									classBoton = "btn btn-default btn-xs"
									[intClienteId] = this.servicioConsultoria.intClienteId			
									> 
								</cf-modal-buscar-contacto-cliente>  
									<a [routerLink]="['/personaJuridica',servicioConsultoria.intClienteId]">
										<button [hidden] =this.newRegistro  type="button" class="btn btn-default btn-xs"><i class="fa fa-user"></i><span>  Registrar Contacto </span> </button>
									</a>  
							</div>
						</div>
					</div>   
				 <!--Contactos a agregar {{ contactos | json }} -->
				<div class="box-body">
						<div class="row">
  							<div class="col-md-12">
								<div class="table-responsive">
									<table class="table table-hover table-bordered text-center">
										<thead class="text-center">
											<tr class="active">
												<th>#</th>
												<th>Nombre</th>
												<th>Cargo</th>
												<!--<th>Telefono</th> -->
												<!--<th>Correo</th> -->
												<th >Opciones</th>
											</tr>
										</thead>
										<tbody>
											<tr *ngFor="let contacto of contactos">
												<!--<td>{{contactos.indexOf(contacto)+1}}</td> -->
												<td>{{contactos.indexOf(contacto)+1}}</td>
												<td>{{contacto.strNombreCompleto}}</td>
												<td>{{contacto.strVinculo}}</td>
												<!--<td>{{contacto.strTelefono}}</td>-->
												<!--<td>{{contacto.strCorreo}}</td>-->
												<td >	 
														<button (click)="this.selectContacto(contacto); openModal(VerDetalleContacto);" type="button" class="btn btn-default btn-xs"><i class="fa  fa-eye"></i><span> Ver Información</span></button>
														<button (click)="this.eliminarContacto(contacto,contactos.indexOf(contacto));" type="button" class="btn btn-default btn-xs"><i class="fa  fa-remove"></i><span> Eliminar</span> </button>
								 				</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div> 
						</div>
					</div>
				</div>  
			<div class="box" >
				<div class="box-header with-border">			
					<div class="row">
						<div class="col-md-2">
							<label class="text-left subtitle">
								Entregables 
							</label> 
						</div>
						<div class="col-md-8">
							<cf-modal-entregable-servicio
							[servicio] = this.servicioConsultoria.strNombreServicio
							[razonSocial]= this.servicioConsultoria.strNombreCliente
							nameBoton= " Agregar Entregable"
								iconBoton="fa fa-plus"
								[tipoEvento] = 1 
								titulo = "Agregar Entregable"
							classBoton="btn btn-default btn-xs"
							(newEntregableServicio)="this.recibirNewEntregableServicio($event)"
						 ></cf-modal-entregable-servicio> 
						</div> 
					</div>
				</div> 
					<div class="box-body">	
					<div class="row">
						<div class="col-md-12">
							<div class="table-responsive">
							<table class="table table-hover table-bordered text-center">
								<thead class="text-center">
									<tr class="active">
										<th>#</th>
										<th>Entregable</th>
										<th>Descripción</th>
										<th>Costo</th> 
										<th>Opciones</th>
									</tr>
								</thead>
								<tbody> 
									<tr *ngFor="let es of entregablesServicio">
										<td>{{entregablesServicio.indexOf(es)+1}}</td>
										<td>{{es.strNombreEntregable}}</td>
										<td>{{es.strDescripcion}}</td>
										<td>{{es.dbCosto | number:'3.2-2' }}</td>
										<td> 
											<cf-modal-entregable-servicio  [hidden] = this.newRegistro 
												[servicio] = this.servicioConsultoria.strNombreServicio
												[razonSocial]= this.servicioConsultoria.strNombreCliente
												[oldEntregableServicio] = es
												nameBoton= "Editar Entregable"
													iconBoton="fa fa-edit"
													[tipoEvento] = 2 
													titulo = "Editar Entregable"
												classBoton="btn btn-default btn-xs"
												(updateEntregableServicio)="this.recibirUpdateEntregableServicio($event)"
											></cf-modal-entregable-servicio>  
										<button (click)="this.selectEntregableServicio(es,entregablesServicio.indexOf(es));this.openModal(contentDeleteEntregableServicio);" 
										type="button" class="btn btn-default btn-xs"><i class="fa  fa-remove"></i> <span> Eliminar</span>
											</button>
										</td>
									</tr> 
								</tbody> 
							</table>
							<!--{{this.responseNotFoundDocumentos }}-->
							</div>
						</div>
					</div>
				</div>
			</div>  
			<div class="box" [hidden] = this.newRegistro >
					<div class="box-header with-border">			
						<div class="row">
							<div class="col-md-2">
								<label class="text-left subtitle">
									Recursos  
								</label> 
							</div>  
									<cf-modal-buscar-persona-natural 
									titulo = "Agregar Recurso"
									iconBoton = "fa fa-plus"
									nameBoton = "Agregar Recurso"
									classBoton = "btn btn-default btn-xs"
									(selectPersonaN)="recibirPersona($event)"
  									>	
									</cf-modal-buscar-persona-natural>
							 
						</div>
					</div> 
						<div class="box-body">	
						<div class="row">
							<div class="col-md-12">
								<div class="table-responsive">
								<table class="table table-hover table-bordered text-center">
									<thead class="text-center">
										<tr class="active">
											<th>#</th>
											<th>Recurso</th>
											<th>DNI</th> 
											<th>Acuerdo</th>
											<th>Opciones</th>
										</tr>
									</thead>
									<tbody> 
										<tr *ngFor="let c of candidatos">
											<td>{{candidatos.indexOf(c)+1}}</td>
											<td>{{c.strNombreCompleto}}</td>
											<td>{{c.strDNI}}</td> 
											<td> 
												<div *ngFor="let m of c.lstDetallePagoBean" class="text-center"> 
													{{m.strNombreModalidad}} : 	{{m.dbMonto | number:'3.2-2' }}
												</div>  
											</td> 
											<td> 
												<cf-modal-detalle-pago
													[candidato] = c  
													[viewAgregar] = true
													tituloModal ="Propuesta Económica"
													nameBotton = "Propuesta"
													iconBotton="fa fa-dollar"
													(RespuestaModal)="this.recibirRespuesta($event)"		
												></cf-modal-detalle-pago>  
												<button (click)="this.selectCandidato(c);this.openModal(contentDeleteCandidato);" 
													type="button" class="btn btn-default btn-xs"><i class="fa  fa-remove"></i> <span> Eliminar</span>
												</button>
											</td>
										</tr> 
									</tbody> 
								</table>
								<!--{{this.responseNotFoundDocumentos }}-->
								</div>
							</div>
						</div>
					</div>
				</div> 
		<!--  [hidden]=!viewDocumentos  -->
			<div class="box" [hidden] = this.newRegistro>
					<div class="box-header with-border">			
						<div class="row">
							<div class="col-md-2">
								<label class="text-left subtitle">
									Documentos
								</label> 
							</div>
							<div class="col-md-8">
								<cf-modal-documento-servicio
								[servicio] = this.servicioConsultoria.strNombreServicio
								[razonSocial]= this.servicioConsultoria.strNombreCliente
								nameBoton= " Agregar Documento"
								iconBoton="fa fa-plus"
								[tipoEvento] = 1 
								titulo = "Agregar Documento"
								classBoton="btn btn-default btn-xs"
								(newDocumentoServicio)="this.recibirNewDocumentoServicio($event)"
								(newFileToUpload)="this.recibirNewFile($event)"
								></cf-modal-documento-servicio>
								{{this.responseNotSave}}
							</div> 
						</div>
					</div> 
					 <div class="box-body">	
						<div class="row">
							<div class="col-md-12">
								<div class="table-responsive">
								<table class="table table-hover table-bordered text-center">
									<thead class="text-center">
										<tr class="active">
											<th>#</th>
											<th>Tipo Documento</th>
											<th>Archivo</th>
											<th>Observacion</th> 
											<th>Opciones</th>
										</tr>
									</thead>
									<tbody> 
										<tr *ngFor="let documento of documentosServicio">
											<td>{{documentosServicio.indexOf(documento)+1}}</td>
											<td>{{documento.strTipoDocumento}}</td>
											<td>
												{{documento.strNombreDocumento}} 
												<!-- Se quito la funcion ver documento pues falta implementarlo adecuadamente--> 
												<!--<button (click)="this.verDocumentoServicio(documento.strDocAlfrescoId)" type="button" class="btn btn-default btn-xs"><i class="fa  fa-eye"></i><span> Ver </span> </button>-->
											</td>
									 		<td>{{documento.strObservacion}}</td>
											<td>		 
												<button (click)= "this.descargarDocumento(documento.strDocAlfrescoId)" type="button" class="btn btn-default btn-xs"><i class="fa  fa-download"></i><span> Descargar </span> </button>
											  	<button (click)= "this.deleteDocumento(documento)" type="button" class="btn btn-default btn-xs"><i class="fa  fa-remove"></i><span> Eliminar</span></button>
											</td>
										</tr> 
									</tbody> 
								</table>
								{{this.responseNotFoundDocumentos }}
								</div>
							</div>
						</div>
					</div>
				</div> 
				<div class="row">
					<div class="col-md-3">
					</div>
					<div class="col-md-6">
						<div class="col-sm-6" >
						 	<button [hidden]=!newRegistro (click)="this.validarDataServicio();this.openModal(VerMensajeRespuesta);" type="button" class="btn form-control input-sm btn-default">
								Registrar Servicio Consultoria
						</button>  
						</div>
						<div class="col-sm-6">
								<cf-go-back></cf-go-back>
						</div>
					<!--	<div class="col-sm-4">
						<button (click)="openModal(contentCancelacionServicio);" type="button" class="btn form-control  input-sm btn-default">
							Cancelar 
						</button>  
						</div>-->
					</div>
					<div class="col-md-3"></div>
				</div> 

				<ng-template #VerDetalleContacto let-c="close" let-d="dismiss"> 
						<div class="modal-header" style="padding:20px 20px;">		  
								<div class="row">
									<div class="col-md-12">
										<b><span class="fa  fa-exclamation-triangle"> </span> Información del Contacto</b>
									</div>
								</div>
						</div>
						<div class="modal-body" style="padding:10px 30px;">
							<br>
							<div class="row">
								<div class="col-md-1">
								</div>
								<div class="col-md-10">
									<form class="form-horizontal" role="form">
											<div class="form-group">
													<label for="inputEmail3" class="col-sm-12 control-label text-left">	
														Datos : <br> 
														1.- Contacto : {{this.contacto.strNombreCompleto}} <br>
														2.- Cargo :  {{this.contacto.strVinculo}} <br>
														3.- Correo(s) : {{this.contacto.strCorreo}} <br> 
														4.- Teléfonos(s) : {{this.contacto.strTelefono}} <br> 
													</label>    
											</div> 
									</form>
								</div>
							</div>
						</div>
						<div class="modal-footer"> 
							 <button (click)="this.deseleccionarContacto();" type="submit" class="btn  btn-success" data-dismiss="modal"> Aceptar</button>
						</div> 
					</ng-template> 


					<ng-template #VerMensajeRespuesta let-c="close" let-d="dismiss"> 
						<div class="modal-header" style="padding:20px 20px;">		  
								<div class="row">
									<div class="col-md-12">
										<b><span class="fa  fa-exclamation-triangle"> </span> Información</b>
									</div>
								</div>
						</div>
						<div class="modal-body" style="padding:10px 30px;">
							<br>
								<div class="row">
										<div class="col-md-1">
										</div>
									<div class="col-md-10">
										<form class="form-horizontal" role="form">
												<div class="form-group">
														<label for="inputEmail3" class="col-sm-12 control-label text-left">	
															Mensaje : <br> 
															1.- {{this.responseMessage}} <br>  
															{{this.responseMessage2}}
														</label>    
												</div> 
										</form>
									</div>
								</div>
						</div>
						<div class="modal-footer"> 
							 <button (click)="this.deseleccionarContacto();" type="submit" class="btn  btn-success" data-dismiss="modal"> Aceptar</button>
						</div> 
					</ng-template> 

					<ng-template #contentDeleteEntregableServicio let-c="close" let-d="dismiss"> 
							<div class="modal-header" style="padding:20px 20px;">		  
									<div class="row">
										<div class="col-md-12">
											<b><span class="fa  fa-exclamation-triangle"> </span> Eliminación del Entregable</b>
										</div>
									</div>
							</div>
							<div class="modal-body" style="padding:10px 30px;">
								<br>
									<div class="row">
											<div class="col-md-1">
											</div>
										<div class="col-md-10">
											<form class="form-horizontal" role="form">
													<div class="form-group">
															<label for="inputEmail3" class="col-sm-12 control-label text-left">	
																Atención : <br> 
																1.- Se eliminará el entregable seleccionado.<br>
																2.- No se tendrá en cuenta este entregable para facturaciones futuras.<br> 
															</label>    
													</div> 
											</form>
										</div>
									</div>
							</div>
							<div class="modal-footer"> 
								<button (click)="this.deleteEntregableServicio(this.entregableServicio, this.indexEntregable );this.modalRef.close();"  class="btn   btn-success" data-dismiss="modal" >Aceptar</button>
								<button (click)="this.modalRef.close();" type="submit" class="btn  btn-danger" data-dismiss="modal" >Cancelar</button>
							</div> 
						</ng-template> 
				 <!-- Modal Confirmar EiminacionSErvicio -->	 
				 
						<ng-template #errorSistema let-c="close" let-d="dismiss"> 
								<div class="modal-header" style="padding:20px 20px;">		  
										<div class="row">
											<div class="col-md-12">
												<b><span class="fa  fa-exclamation-triangle"> </span> Problema Encontrado</b>
											</div>
										</div>
								</div>
								<div class="modal-body" style="padding:10px 30px;">
									<br>
										<div class="row">
												<div class="col-md-1">
												</div>
											<div class="col-md-10">
												<form class="form-horizontal" role="form">
														<div class="form-group">
															<label for="inputEmail3" class="col-sm-12 control-label text-left">	
																Atención : <br> 
																1.- {{this.messageErrorSistema}}.<br>
															</label>    
														</div> 
												</form>
											</div>
										</div>
								</div>
								<div class="modal-footer"> 
									 <button (click)="this.modalRef.close();" type="submit" class="btn  btn-success" data-dismiss="modal" >Aceptar</button>
								</div> 
							</ng-template>  
			</div>
		</div>
	</div>
	</section>
	 </div>
	 </div> 