 <!--Inicio de pagina  -->
 <cf-header></cf-header>
 <cf-nav></cf-nav>
 <div class="wrapper"> 
 <div class="content-wrapper">
 <section class="content"> 
	<div class="box2">
	<div class="row">
		<div class="col-md-12 margen ">	
			<h2 class="title text-center ">
				Constantes
			</h2>
			<br>
		 <!-- <div> Porcentaje : {{this.porcentajes | json }} </div>       -->
				<div class="box">
						<div class="box-header with-border">				
							<div class="row">
								<div class="col-md-12">
									<label class="text-left  subtitle">
										Constantes Monetarias
									</label>
								</div> 
							</div>
						</div>	 
				<div class="box-body">
					<div class="row">
						<div class="col-md-12">
							<div class="table-responsive">
							<table class="table table-hover table-bordered text-center">
								<thead class="text-center">
									<tr class="active">
										<th>ID </th>
										<th>Nombre del Porcentaje</th>
										<th>Descripción</th>
										<th>Valor (soles)</th> 
										<th>Opciones </th>
									</tr>
								</thead> 
								<tbody>
									<tr *ngFor="let cm of this.constantesMonetaria ">
									 	<td>{{this.constantesMonetaria.indexOf(cm)+1}}</td>
									<!--	<td>{{cm.intId}}</td> -->
										<td>{{cm.strNombreConstante}}</td> 
										<td>{{cm.strDescripcionConstante}}</td> 
										<td>{{cm.dbValor  | number:'1.2-4'}} </td>
										<td> 
											<cf-modal-constante
												titulo = "Constante Monetaria "
												[tipoEvento] = 2  
												[constanteEntrante] = cm
												(responseConstante)="recibirConstante($event)"
												(responseTipoEvento) ="recibirTipoEvento($event);"
												nameBoton = " Editar Valores"
												iconBoton = "fa fa-edit"
												classBoton = "btn btn-default btn-xs"	
											>
											</cf-modal-constante>  
										</td>
									</tr> 
								</tbody>
							</table>
							</div>
						</div>
					</div>
				</div>
			</div>	
  
			<div class="box">
					<div class="box-header with-border">				
						<div class="row">
							<div class="col-md-12">
								<label class="text-left  subtitle">
									Constantes Numéricas
								</label>
							</div> 
						</div>
					</div>	 
			<div class="box-body">
				<div class="row">
					<div class="col-md-12">
						<div class="table-responsive">
						<table class="table table-hover table-bordered text-center">
							<thead class="text-center">
								<tr class="active">
									<th>ID </th>
									<th>Nombre del Porcentaje</th>
									<th>Descripción</th>
									<th>Valor</th> 
									<th>Opciones </th>
								</tr>
							</thead> 
							<tbody>
								<tr *ngFor="let cn of this.constantesNumerica ">
									<td>{{this.constantesNumerica.indexOf(cn)+1}}</td>
									<!--<td>{{cn.intId}}</td>-->
									<td>{{cn.strNombreConstante}}</td> 
									<td>{{cn.strDescripcionConstante}}</td> 
									<td>{{cn.dbValor  | number:'1.0'}} </td>
									<td> 
										<cf-modal-constante
											titulo = "Constante Numérica"
											[tipoEvento] = 2  
											[constanteEntrante] = cn
											(responseConstante)="recibirConstante($event)"
											(responseTipoEvento) ="recibirTipoEvento($event);"
											nameBoton = " Editar Valores"
											iconBoton = "fa fa-edit"
											classBoton = "btn btn-default btn-xs"	
										>
										</cf-modal-constante>  
									</td>
								</tr> 
							</tbody>
						</table>
						</div>
					</div>
				</div>
			</div>
		</div>	

			<div class="row">
					<div class="col-md-2">
			
					</div>
					<div class="col-md-8">
						<div class="col-sm-4">
				 	</div>
						<div class="col-sm-4">
						 </div>
						<div class="col-sm-4">

							<cf-go-back></cf-go-back> 
 
						</div>   
					</div>
							<div class="col-md-2">
							</div>
				</div>
			</div> 
		</div> 
</div>
</section>
</div>
</div>
