 <!--Inicio de pagina  -->
 <cf-header></cf-header>
 <cf-nav></cf-nav>
 <div class="wrapper"> 
 <div class="content-wrapper">
 <section class="content"> 
	<div class="box2">
	<div class="row">
		<div class="col-md-12 margen ">	
			<h2 class="title text-center ">
				CONOCIMIENTOS 
			</h2>    
			<br>
				<div class="box">
						<div class="box-header with-border">				
							<div class="row">
								<div class="col-md-12">
									<label class="text-left  subtitle">
										Tipos de  Conocimientos
									</label>
									&nbsp;&nbsp;&nbsp;
									<cf-modal-conocimiento-categoria  
									titulo = "Tipo Conocimiento"
									[tipoEvento] = 1  
									(responseCatConocimiento)="recibirTipoConocimiento($event)"
									(responseTipoEvento) ="recibirTipoEvento($event);"
									nameBoton = "Nuevo Tipo Conocimiento"
									iconBoton = "fa fa-plus"
									classBoton = "btn btn-default btn-xs"	
								>
								</cf-modal-conocimiento-categoria>
								</div>
							</div>
						</div>	 
				<div class="box-body">
					<div class="row">
						<div class="col-md-12">
							<div class="table-responsive">
							<table class="table table-hover table-bordered text-center">
								<thead class="text-center">
									<tr class="active">
										<th>ID </th>
										<th>Tipo Conocimiento</th>
										<th>Descripción</th>
										<th>Conocimientos</th>
										<th>Estado </th>
										<th>Opciones</th> 
									</tr>
								</thead> 
								<tbody>
							 		<tr *ngFor="let c of categoriaConocimientos ">
										<td>{{c.intId}}</td>
										<td>{{c.strNombre}}</td>
										<td>{{c.strDescripcion}}</td>
										<td>{{c.strConocimientos}}</td>
										<td>{{c.strEstado}}</td> 
										 <td >	
												<cf-modal-conocimiento-categoria
												titulo = "Tipo Conocimiento"
												[tipoEvento] = 2  
												[catConocimientoEntrante] = c
												(responseCatConocimiento)="recibirTipoConocimiento($event)"
												(responseTipoEvento) ="recibirTipoEvento($event);"
												nameBoton = " Editar "
												iconBoton = "fa fa-edit"
												classBoton = "btn btn-default btn-xs"	
											>
											</cf-modal-conocimiento-categoria>
												<button (click)="this.deleteCategoriaConocimiento(c);" type="button" class="btn btn-default btn-xs"><i class="fa  fa-remove"></i><span> Eliminar</span> </button>
										
										</td>
									</tr> 
								</tbody>
							</table>
							</div>
						</div>
					</div>
				</div>
			</div>	

		  	<!-- 	categorias ACtvivas : {{this.categoriasActivas | json }}  -->
			
				<div class="box">
						<div class="box-header with-border">				
							<div class="row">
								<div class="col-md-12">
									<label class="text-left  subtitle">
										Conocimientos
									</label>
									&nbsp;&nbsp;&nbsp;
									<cf-modal-conocimiento  
									titulo = "Conocimiento"
									[tipoEvento] = 1  
									[categoriasEntrante] = this.categoriasActivas
									(responseConocimiento)="recibirConocimiento($event)"
									(responseTipoEvento) ="recibirTipoEvento($event);"
									nameBoton = " Nuevo Conocimiento"
									iconBoton = "fa fa-plus"
									classBoton = "btn btn-default btn-xs"	
								>
								</cf-modal-conocimiento>
								</div>
							</div>
						</div>	

				<div class="box-body">
					<div class="row">
						<div class="col-md-12">
							<div class="table-responsive"> 
							<table class="table table-hover table-bordered text-center">
								<thead class="text-center">
									<tr class="active">
										<th>ID </th>
										<th>Conocimiento</th>
										<th>Descripción</th>
										<th>Estado</th>
										<th>Tipo</th>
										 <th>Opciones</th> 
									</tr>
								</thead> 
								<tbody>
							 		<tr *ngFor="let c of conocimientos ">
										<td>{{c.intId}}</td>
										<td>{{c.strNombreConocimiento}}</td>
										<td>{{c.strDescripcion}}</td>
										<td>{{c.strEstado}}</td>
										<td>{{c.strTipoConocimiento}}</td>
										 <td > 

												<cf-modal-conocimiento
												titulo = "Conocimiento"
												[tipoEvento] = 2  
												[categoriasEntrante] = this.categoriaConocimientos
												[conocimientoEntrante] = c
												(responseConocimiento)="recibirConocimiento($event)"
												(responseTipoEvento) ="recibirTipoEvento($event);"
												nameBoton = " Editar "
												iconBoton = "fa fa-edit"
												classBoton = "btn btn-default btn-xs"	
											>
												</cf-modal-conocimiento>
											 <button (click)="this.deleteConocimiento(c);" type="button" class="btn btn-default btn-xs"><i class="fa  fa-remove"></i><span> Eliminar</span> </button>
										
										</td>
									</tr> 
								</tbody>
							</table>
							</div>
						</div>
					</div>
				</div>
			</div>	 
			<div class="row">
					<div class="col-md-2">
			
					</div>
					<div class="col-md-8">
						<div class="col-sm-4">
					  	</div>
						<div class="col-sm-4">
						 		</div>
						<div class="col-sm-4">

							<cf-go-back></cf-go-back> 
 
						</div>   
					</div>
							<div class="col-md-2">
							</div>
				</div>

		</div>
	</div>
</div>
</section>
</div>
</div>
