 <!--Inicio de pagina  -->
 <cf-header></cf-header>
 <cf-nav></cf-nav>
 <div class="wrapper"> 
 <div class="content-wrapper">
 <section class="content"> 
	<div class="box2">
	<div class="row">
		<div class="col-md-12 margen ">	
			<h2 class="title text-center ">
				DISTRITOS
			</h2>
			<br>
		 	 <!--	distritos : {{this.distritos | json }}   -->
			
				<div class="box">
						<div class="box-header with-border">				
							<div class="row">
								<div class="col-md-12">
									<label class="text-left  subtitle">
										Distritos
									</label>
									&nbsp;&nbsp;&nbsp;
									<cf-modal-distrito  
										titulo = "Nuevo Distrito"
										[tipoEvento] = 1  
										(responseDistrito)="recibirDistrito($event)"
										(responseTipoEvento) ="recibirTipoEvento($event);"
										nameBoton = "Nuevo Distrito"
										iconBoton = "fa fa-plus"
										classBoton = "btn btn-default btn-xs"	
									> </cf-modal-distrito>
									</div>
							</div>
						</div>	

				<div class="box-body">
					<div class="row">
						<div class="col-md-12">
							<div class="table-responsive">
							<table class="table table-hover table-bordered text-center">
								<thead class="text-center">
									<tr class="active">
										<th>ID </th>
										<th>Distrito</th>
										<th>Descripción</th>
										<th>Opciones</th> 
									</tr>
								</thead> 
								<tbody>
									<tr *ngFor="let d of distritos ">
										<td>{{d.intId}}</td>
										<td>{{d.strName}}</td>
										<td>{{d.strDescripcion}}</td>  
										 <td >	
											<cf-modal-distrito
												titulo = "Distrito"
												[tipoEvento] = 2  
												[distritoEntrante] = d
												(responseDistrito)="recibirDistrito($event)"
												(responseTipoEvento) ="recibirTipoEvento($event);"
												nameBoton = " Editar "
												iconBoton = "fa fa-edit"
												classBoton = "btn btn-default btn-xs"	
											>
											</cf-modal-distrito> 
										</td>
									</tr> 
								</tbody>
							</table>
							</div>
						</div>
					</div>
				</div>
			</div>	
  
			<div class="row">
					<div class="col-md-2">
			
					</div>
					<div class="col-md-8">
						<div class="col-sm-4">
				 	</div>
						<div class="col-sm-4">
						 </div>
						<div class="col-sm-4">

							<cf-go-back></cf-go-back> 
 
						</div>   
					</div>
							<div class="col-md-2">
							</div>
				</div>
			</div> 
		</div> 
</div>
</section>
</div>
</div>
