 <!--Inicio de pagina  -->
 <cf-header></cf-header>
 <cf-nav></cf-nav>
 <div class="wrapper"> 
 <div class="content-wrapper">
 <section class="content"> 
	<!--Inicio de pagina  -->
	<div class="box2">
	<div class="row">
		<div class="col-md-12 margen ">	
			<h2 class="title text-center ">
				DOCUMENTOS 
			</h2> 
			<br>
			<div class="box">
					<div class="box-header with-border">				
						<div class="row">
							<div class="col-md-12">
								<label class="text-left  subtitle">
									Documento Servicios
								</label>&nbsp;&nbsp;&nbsp;
								<cf-modal-tipo-documento  
									titulo = "Documento Servicio"
									[tipoEvento] = 1  
									[intParentId] = intDefTableServicio 
									(responseTipoEvento) ="recibirTipoEvento($event);"
									(responseDefTable) = "recibirDefTable($event);"
									(responseDocumento)="recibirDocumento($event)"
									nameBoton = "Nuevo Documento"
									iconBoton = "fa fa-plus"
									classBoton = "btn btn-default btn-xs"	
								>
								</cf-modal-tipo-documento>
							</div>
						</div>
					</div>	
		 <!--	 	DocumentosServicio : {{ this.documentosServicio | json }}    -->
				<div class="box-body">
					<div class="row">
						<div class="col-md-12">
							<div class="table-responsive">
							<table class="table table-hover table-bordered text-center">
								<thead class="text-center">
									<tr class="active">
										<th>ID </th>
										<th>Nombre</th>
										<th>Descripción</th>
										<th>Generable</th> 
										<th>Estado</th> 
										<th>Opciones</th>
									</tr>
								</thead>  
								<tbody>
								 	<tr *ngFor="let ds of documentosServicio">
										<td>{{ds.intId}}</td>
										<td>{{ds.strName}}</td>
										<td>{{ds.strDescripcion}}</td>
										<td>{{ds.strPrinteable}}</td> 
										<td>{{ds.strEstado}}</td> 
										 <td >	
												<cf-modal-tipo-documento
												titulo = "Documento Servicio"
												[tipoEvento] = 2  
												[intParentId] = intDefTableServicio
												[documentoEntrante] = ds
												(responseDefTable) = "recibirDefTable($event);"
												(responseDocumento)="recibirDocumento($event)"
												(responseTipoEvento) ="recibirTipoEvento($event);"
												nameBoton = " Editar "
												iconBoton = "fa fa-edit"
												classBoton = "btn btn-default btn-xs"	
											>
											</cf-modal-tipo-documento>
												<button (click)="this.eliminarTipoDocumento(ds,this.intDefTableServicio);" type="button" class="btn btn-default btn-xs"><i class="fa  fa-remove"></i><span> Eliminar</span> </button>
										
										</td>
									</tr>  
								</tbody>
							</table>
							</div>
						</div>
					</div>
				</div>
			</div>	 
			<div class="box">
					<div class="box-header with-border">				
						<div class="row">
							<div class="col-md-12">
								<label class="text-left  subtitle">
									Documentos Recurso
								</label> 
								&nbsp;&nbsp;&nbsp;
								<cf-modal-tipo-documento  
								titulo = "Documento Recurso"
								[tipoEvento] = 1  
								[intParentId] = intDefTableRecurso
								(responseDefTable) = "recibirDefTable($event);"
								(responseDocumento)="recibirDocumento($event)"
								(responseTipoEvento) ="recibirTipoEvento($event);"
								nameBoton = "Nuevo Documento"
								iconBoton = "fa fa-plus"
								classBoton = "btn btn-default btn-xs"	
								>
							</cf-modal-tipo-documento>

							</div>
						</div>
					</div>	
		<!--  	DocumentosRecurso : {{ this.documentosRecurso | json }}      -->
				<div class="box-body">
					<div class="row">
						<div class="col-md-12">
							<div class="table-responsive">
							<table class="table table-hover table-bordered text-center">
								<thead class="text-center">
									<tr class="active">
										<th>ID </th>
										<th>Nombre</th>
										<th>Descripción</th>
										<th>Generable</th> 
										<th>Estado</th> 
										<th>Opciones</th>
									</tr>
								</thead>  
								<tbody>
								 	<tr *ngFor="let dr of documentosRecurso">
										<td>{{dr.intId}}</td>
										<td>{{dr.strName}}</td>
										<td>{{dr.strDescripcion}}</td>
										<td>{{dr.strPrinteable}}</td> 
										<td>{{dr.strEstado}}</td> 
										 <td >	
												<cf-modal-tipo-documento
												titulo = "Documento Recurso"
												[tipoEvento] = 2  
												[intParentId] = intDefTableRecurso
												[documentoEntrante] = dr
												(responseDefTable) = "recibirDefTable($event);"
												(responseDocumento)="recibirDocumento($event)"
												(responseTipoEvento) ="recibirTipoEvento($event);"
												nameBoton = " Editar "
												iconBoton = "fa fa-edit"
												classBoton = "btn btn-default btn-xs"	
											>
											</cf-modal-tipo-documento>
												<button (click)="this.eliminarTipoDocumento(dr,this.intDefTableRecurso);" type="button" class="btn btn-default btn-xs"><i class="fa  fa-remove"></i><span> Eliminar</span> </button>
										 </td>
									</tr>  
								</tbody>
							</table>
							</div>
						</div>
					</div>
				</div>
			</div>	 
 

			<div class="box">
					<div class="box-header with-border">				
						<div class="row">
							<div class="col-md-12">
								<label class="text-left  subtitle">
									Documentos Bajas
								</label> 
								&nbsp;&nbsp;&nbsp;
								<cf-modal-tipo-documento  
								titulo = "Documento Baja"
								[tipoEvento] = 1  
								[intParentId] = intDefTableBaja
								(responseDefTable) = "recibirDefTable($event);"
								(responseDocumento)="recibirDocumento($event)"
								(responseTipoEvento) ="recibirTipoEvento($event);"
								nameBoton = "Nuevo Documento"
								iconBoton = "fa fa-plus"
								classBoton = "btn btn-default btn-xs"	
								>
							</cf-modal-tipo-documento>

							</div>
						</div>
					</div>	
		<!--  	DocumentosRecurso : {{ this.documentosRecurso | json }}      -->
				<div class="box-body">
					<div class="row">
						<div class="col-md-12">
							<div class="table-responsive">
							<table class="table table-hover table-bordered text-center">
								<thead class="text-center">
									<tr class="active">
										<th>ID </th>
										<th>Nombre</th>
										<th>Descripción</th>
										<th>Generable</th> 
										<th>Estado</th> 
										<th>Opciones</th>
									</tr>
								</thead>  
								<tbody>
								 	<tr *ngFor="let db of documentosBaja">
										<td>{{db.intId}}</td>
										<td>{{db.strName}}</td>
										<td>{{db.strDescripcion}}</td>
										<td>{{db.strPrinteable}}</td> 
										<td>{{db.strEstado}}</td> 
										 <td >	
												<cf-modal-tipo-documento
												titulo = "Documento Baja"
												[tipoEvento] = 2  
												[intParentId] = intDefTableBaja
												[documentoEntrante] = db
												(responseDefTable) = "recibirDefTable($event);"
												(responseDocumento)="recibirDocumento($event)"
												(responseTipoEvento) ="recibirTipoEvento($event);"
												nameBoton = " Editar "
												iconBoton = "fa fa-edit"
												classBoton = "btn btn-default btn-xs"	
											>
											</cf-modal-tipo-documento>
												<button (click)="this.eliminarTipoDocumento(db,this.intDefTableBaja);" type="button" class="btn btn-default btn-xs"><i class="fa  fa-remove"></i><span> Eliminar</span> </button>
										 </td>
									</tr>  
								</tbody>
							</table>
							</div>
						</div>
					</div>
				</div>
			</div>	 


			
			<div class="box">
				<div class="box-header with-border">				
					<div class="row">
						<div class="col-md-12">
							<label class="text-left  subtitle">
								Documentos Pagos
							</label> 
							&nbsp;&nbsp;&nbsp;
							<cf-modal-tipo-documento  
							titulo = "Documento Pagos"
							[tipoEvento] = 1  
							[intParentId] = intDefTablePagos
							(responseDefTable) = "recibirDefTable($event);"
							(responseDocumento)="recibirDocumento($event)"
							(responseTipoEvento) ="recibirTipoEvento($event);"
							nameBoton = "Nuevo Documento"
							iconBoton = "fa fa-plus"
							classBoton = "btn btn-default btn-xs"	
							>
						</cf-modal-tipo-documento>

						</div>
					</div>
				</div>	
	<!--  	DocumentosRecurso : {{ this.documentosRecurso | json }}      -->
			<div class="box-body">
				<div class="row">
					<div class="col-md-12">
						<div class="table-responsive">
						<table class="table table-hover table-bordered text-center">
							<thead class="text-center">
								<tr class="active">
									<th>ID </th>
									<th>Nombre</th>
									<th>Descripción</th>
									<th>Generable</th> 
									<th>Estado</th> 
									<th>Opciones</th>
								</tr>
							</thead>  
							<tbody>
								 <tr *ngFor="let dp of documentosPagos">
									<td>{{dp.intId}}</td>
									<td>{{dp.strName}}</td>
									<td>{{dp.strDescripcion}}</td>
									<td>{{dp.strPrinteable}}</td> 
									<td>{{dp.strEstado}}</td> 
									 <td >	
											<cf-modal-tipo-documento
											titulo = "Documento Pagos"
											[tipoEvento] = 2  
											[intParentId] = intDefTablePagos
											[documentoEntrante] = dp
											(responseDefTable) = "recibirDefTable($event);"
											(responseDocumento)="recibirDocumento($event)"
											(responseTipoEvento) ="recibirTipoEvento($event);"
											nameBoton = " Editar "
											iconBoton = "fa fa-edit"
											classBoton = "btn btn-default btn-xs"	
										>
										</cf-modal-tipo-documento>
											<button (click)="this.eliminarTipoDocumento(dp,this.intDefTablePagos);" type="button" class="btn btn-default btn-xs"><i class="fa  fa-remove"></i><span> Eliminar</span> </button>
									 </td>
								</tr>  
							</tbody>
						</table>
						</div>
					</div>
				</div>
			</div>
		</div>	 


			<div class="row">
					<div class="col-md-2"> 
					</div>
					<div class="col-md-8">
						<div class="col-sm-4">
				 	</div>
						<div class="col-sm-4">
						 	</div>
						<div class="col-sm-4">

							<cf-go-back></cf-go-back> 
 
						</div>   
					</div>
							<div class="col-md-2">
							</div>
				</div>

		</div>
	</div>
</div>
 </section>
 </div>
 </div>
 
