 <!--Inicio de pagina  -->
 <cf-header></cf-header>
 <cf-nav></cf-nav>
 <div class="wrapper"> 
 <div class="content-wrapper">
 <section class="content"> 
	<div class="box2">
	<div class="row">
		<div class="col-md-12 margen ">	
			<h2 class="title text-center ">
				PENSIONES 
			</h2>
			<br>
		  <!--	 pensiones : {{this.pensiones | json }}      -->
				<div class="box">
						<div class="box-header with-border">				
							<div class="row">
								<div class="col-md-12">
									<label class="text-left  subtitle">
										Pensiones
									</label>
								</div>
							<!--	<div class="col-md-10">
									<cf-modal-distrito  
									titulo = "Nuevo Distrito"
									[tipoEvento] = 1  
									(responseDistrito)="recibirDistrito($event)"
									(responseTipoEvento) ="recibirTipoEvento($event);"
									nameBoton = "Nuevo Distrito"
									iconBoton = "fa fa-plus"
									classBoton = "btn btn-default btn-xs"	
								>
								</cf-modal-distrito>

								</div>-->
							</div>
						</div>	 
				<div class="box-body">
					<div class="row">
						<div class="col-md-12">
							<div class="table-responsive">
							<table class="table table-hover table-bordered text-center">
								<thead class="text-center">
									<tr class="active">
										<th>ID </th>
										<th>Nombre Pensión</th>
										<th>% Aporte</th>
										<th>% x Seguro</th>
										<th>% Com. Mixta </th>
										<th>% Com. Flujo </th>
										<th>Opciones </th>
									</tr>
								</thead> 
								<tbody>
									<tr *ngFor="let p of this.pensiones ">
										<td>{{p.intId}}</td>
										<td>{{p.strNombrePension}}</td>
										<td>{{p.dbPorcentajeAporte  | percent:'2.0-2' }}</td>  
										<td>{{p.dbPorcentajeSeguro | percent:'1.2-2'}} </td>
										<td>{{p.dbPorcentajeComisionMixta  | percent:'1.2-2'}} </td>
										<td>{{p.dbPorcentajeComisionFlujo | percent:'1.2-2'}} </td>
										<td>
											<cf-modal-pension
												titulo = "% Pensiones"
												[tipoEvento] = 2  
												[pensionEntrante] = p
												(responsePension)="recibirPension($event)"
												(responseTipoEvento) ="recibirTipoEvento($event);"
												nameBoton = " Editar Valores"
												iconBoton = "fa fa-edit"
												classBoton = "btn btn-default btn-xs"	
											>
											</cf-modal-pension>  
										</td>
									</tr> 
								</tbody>
							</table>
							</div>
						</div>
					</div>
				</div>
			</div>	
  
			<div class="row">
					<div class="col-md-2">
			
					</div>
					<div class="col-md-8">
						<div class="col-sm-4">
				 	</div>
						<div class="col-sm-4">
						 </div>
						<div class="col-sm-4">

							<cf-go-back></cf-go-back> 
 
						</div>   
					</div>
							<div class="col-md-2">
							</div>
				</div>
			</div> 
		</div> 
</div>
</section>
</div>
</div>
