<!--Inicio de pagina  -->
<cf-header></cf-header>
<cf-nav></cf-nav>
<div class="wrapper"> 
<div class="content-wrapper">
<section class="content"> 
	<!--Inicio de pagina  -->
	<div class="box2">
	<div class="row">
		<div class="col-md-12 margen ">	
			<h2 class="title text-center ">
				PERFILES
			</h2>
			<br> 
		<!-- 	perfiles: {{this.perfiles | json }}    -->
				<div class="box">
						<div class="box-header with-border">				
							<div class="row">
								<div class="col-md-12">
									<label class="text-left  subtitle">
										Perfiles
									</label>
									&nbsp;&nbsp;&nbsp; 
										<cf-modal-perfil  
										titulo = "Nuevo Perfil"
										[tipoEvento] = 1  
										(responsePerfil)="recibirNewPerfil($event)"
										nameBoton = " Nuevo Perfil"
										iconBoton = "fa fa-plus"
										classBoton = "btn btn-default btn-xs"	
									>
									</cf-modal-perfil>

										<!--<button  (click)="this.nuevoPerfil();" type="button" class="btn btn-default btn-xs"> <i class="fa fa-plus"></i><span> Nuevo Perfil </span></button>-->
								</div>
							</div>
						</div>	

				<div class="box-body">
					<div class="row">
						<div class="col-md-12">
							<div class="table-responsive">
							<table class="table table-hover table-bordered text-center">
								<thead class="text-center">
									<tr class="active">
										<th>ID </th>
										<th>Perfil</th>
										<th>Descripción</th>
										<th>Conocimientos </th>
										<th>Estado </th>
										<th>Opciones</th>
									</tr>
								</thead>
								<tbody>
									<tr *ngFor="let p of perfiles">
										<td>{{p.intId}}</td>
										<td>{{p.strPerfil}}</td>
										<td>{{p.strDescripcion}}</td>
										<td>{{p.strConocimientos}}</td>
										<td>{{p.strEstado}}</td>
										 <td>	 
											<cf-modal-perfil 
											 [perfilUpdate] =  p 
											 titulo = "Modificar Perfil"
											 [tipoEvento] = 2   
											 (responsePerfil)="recibirUpdatePerfil($event)"
											 nameBoton = " Editar"
											 iconBoton = "fa fa-edit"
											 classBoton = "btn btn-default btn-xs"	
											 > 
											 </cf-modal-perfil>
											<!--	<button (click)="this.updatePerfil(p);" type="button" class="btn btn-default btn-xs"><i class="fa  fa-edit"></i><span> Editar</span> </button> -->
											<!-- eliminar perfil -->	
												<button (click)="this.deletePerfil(p);" type="button" class="btn btn-default btn-xs"><i class="fa  fa-remove"></i><span> Eliminar</span> </button>
										</td>
									</tr> 
								</tbody>
							</table>
							</div>
						</div>
					</div>
				</div>
			</div>	


<!-- Modal content 
      <div class="modal-content">-->
  <!--          <ng-template #contentConfirmSave let-c="close" let-d="dismiss">
                    <div class="modal-header" style="padding:20px 20px;">		  
                        <div class="row">
                            <div class="col-md-12">
                                <span class="fa  fa-question-circle fa-2x">   Información</span>
                            </div>
                        </div>
                    </div>
                    <div class="modal-body" style="padding:10px 30px;">
                        <div class="row">
                            <div class="col-md-12">
                                <form class="form-horizontal" role="form">
                                        <div class="form-group">
                                                <label for="inputEmail3" class="col-sm-10 control-label">	
														 Se registrará la planilla.
												</label>
										</div>
										<div class="form-group">
									 
												<label for="inputEmail3" class="col-sm-3 control-label">
													Codigo de Planilla :
												</label>
												<div class="col-sm-8">
												<input 
												name="planillaCode"		
												 [(ngModel)]=this.planilla.strPlanillaCode type="text"  class="form-control input-sm" id="inputEmail3" placeholder="">
												</div>
											</div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                            <div class="col-md-3"></div>
                        <div class="col-md-3">
						 
							<button (click)="this.guardarPlanilla(this.planilla); this.modalRef.close()" type="submit" class="btn form-control input-sm btn-success" data-dismiss="modal" ><span class="fa  fa-check"></span> Aceptar</button>
						
                        </div>
                        <div class="col-md-3">    
                            <button (click)="this.modalRef.close()" type="submit" class="btn form-control input-sm btn-danger" ><span class="fa fa-remove"></span> Cancelar</button>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                </ng-template>
			-->


			<div class="row">
					<div class="col-md-2">
			
					</div>
					<div class="col-md-8">
						<div class="col-sm-4">
					<!--
						<button
						[disabled]=!blExport (click)="this.exportarExcel();" type="button" class="btn form-control input-sm btn-default">
								<i class="fa fa-file-excel-o"></i> 	<span> Exportar</span>
						</button> 
					-->	</div>
						<div class="col-sm-4">
						<!--		<button
								name = "this.guardarPlanilla(this.planilla)"
								[disabled]=!blExport (click)="openModal(contentConfirmSave);" type="button" class="btn form-control input-sm btn-default">
										<i class="fa fa-save"></i> <span> Guardar</span>
								</button> 
							-->		</div>
						<div class="col-sm-4">

							<cf-go-back></cf-go-back> 
					<!--	<button type="button" class="btn form-control input-sm btn-default">
							Atrás
						</button>-->
						</div>   
					</div>
							<div class="col-md-2">
							</div>
				</div>

		</div>
	</div>
</div>
</section>
</div>
</div>