<ngx-spinner
bdColor = "rgba(51, 51, 51, 0.8)"
size = "large"
color = "#fff"
type = "ball-clip-rotate"
>
</ngx-spinner> 
<!--Inicio de pagina  -->
<cf-header></cf-header>
<cf-nav></cf-nav>
<div class="wrapper"> 
<div class="content-wrapper">
<section class="content"> 
	<!--Inicio de pagina  -->
	<div class="box2">
	<div class="row">
		<div class="col-md-12 margen ">	
			<h2 class="title text-center ">
				PLANTILLAS
			</h2> 
			<br>
  
			<div class="box">
					<div class="box-header with-border">				
						<div class="row">
							<div class="col-md-12">
								<label class="text-left  subtitle">
									Documento Plantillas
								</label>

							</div>
						</div>
					</div>	

			<!--	DocumentosPlantilla : {{ this.documentosPlantilla | json }}    -->
				
				<div class="box-body">
					<div class="row">
						<div class="col-md-12">
							<div class="table-responsive">
							<table class="table table-hover table-bordered text-center">
								<thead class="text-center">
									<tr class="active">
										<th>ID </th>
										<th>Nombre</th>
										<th>Descripción</th>
										<th>Codigo Alfresco</th>
										<th>Estado</th> 
										<th>Opciones</th>
									</tr>
								</thead>  
								<tbody>
								 	<tr *ngFor="let dp of documentosPlantilla">
										<td>{{dp.intId}}</td>
										<td>{{dp.strName}}</td>
										<td>{{dp.strDescripcion}}</td>
										<td>{{dp.strAlfrescoId}}</td>
										<td>{{dp.strEstado}}</td> 
										 <td>	
												<cf-modal-documento-plantilla 
												nameBoton= " Cargar Plantilla"
												 iconBoton="fa fa-upload"
												 [documentoEntrante] = dp
												 [tipoEvento] = 1 
												 titulo = "Documento Plantilla"
												 classBoton="btn btn-default btn-xs"
												(responseDocumentoPlantilla)="this.recibirDocumentoPlantilla($event)"
												(responseFilePlantilla)="this.recibirFilePlantilla($event)"
											 	></cf-modal-documento-plantilla> 
										</td>
									</tr>  
								</tbody>
							</table>
							</div>
						</div>
					</div>
				</div>
			</div>	

			<div class="row">
					<div class="col-md-2"> 
					</div>
					<div class="col-md-8">
						<div class="col-sm-4">
				 	</div>
						<div class="col-sm-4">
						 	</div>
						<div class="col-sm-4">

							<cf-go-back></cf-go-back> 
 
						</div>   
					</div>
							<div class="col-md-2">
							</div>
				</div>

		</div>
	</div>
</div>
</section>
</div>
</div>
