 <!--Inicio de pagina  -->
 <cf-header></cf-header>
 <cf-nav></cf-nav>
 <div class="wrapper"> 
 <div class="content-wrapper">
 <section class="content"> 
	<div class="box2">
	<div class="row">
		<div class="col-md-12 margen ">	
			<h2 class="title text-center ">
				PORCENTAJES
			</h2>
			<br>
		 <!--	<div> Porcentaje : {{this.porcentajes | json }} </div>       -->
				<div class="box">
						<div class="box-header with-border">				
							<div class="row">
								<div class="col-md-12">
									<label class="text-left  subtitle">
										Porcentajes
									</label>
								</div> 
							</div>
						</div>	 
				<div class="box-body">
					<div class="row">
						<div class="col-md-12">
							<div class="table-responsive">
							<table class="table table-hover table-bordered text-center">
								<thead class="text-center">
									<tr class="active">
										<th>ID </th>
										<th>Nombre del Porcentaje</th>
										<th>Porcentaje (%)</th> 
										<th>Opciones </th>
									</tr>
								</thead> 
								<tbody>
									<tr *ngFor="let p of this.porcentajes ">
										<td>{{p.intId}}</td>
										<td>{{p.strNombrePorcentaje}}</td> 
										<td>{{p.dbPorcentaje | percent:'1.2-3'}} </td>
										<td> 
											<cf-modal-porcentaje
												titulo = "% Porcentaje"
												[tipoEvento] = 2  
												[porcentajeEntrante] = p
												(responsePorcentaje)="recibirPorcentaje($event)"
												(responseTipoEvento) ="recibirTipoEvento($event);"
												nameBoton = " Editar Valores"
												iconBoton = "fa fa-edit"
												classBoton = "btn btn-default btn-xs"	
											>
											</cf-modal-porcentaje>  
										</td>
									</tr> 
								</tbody>
							</table>
							</div>
						</div>
					</div>
				</div>
			</div>	
  
			<div class="row">
					<div class="col-md-2">
			
					</div>
					<div class="col-md-8">
						<div class="col-sm-4">
				 	</div>
						<div class="col-sm-4">
						 </div>
						<div class="col-sm-4">

							<cf-go-back></cf-go-back> 
 
						</div>   
					</div>
							<div class="col-md-2">
							</div>
				</div>
			</div> 
		</div> 
</div>
</section>
</div>
</div>
