<!--Inicio de pagina  -->
<cf-header></cf-header>
<cf-nav></cf-nav>
<div class="wrapper"> 
<div class="content-wrapper">
<section class="content"> 
    <div class="box2">
	<div class="row">
		<div class="col-md-12 margen">	
			<h2 class="title text-center">
					MODIFICAR CONTRASEÑA
			</h2>
			<br> 
			<div class="box">
				<div class="box-header with-border">
					<div class="row">
						<div class="col-md-12">
							<label class="text-left col-sm-12 subtitle">
								Usuario
							</label> 
							 	
						</div>
					</div>
				</div>	 
	 	<!-- Usuario : {{this.usuario | json }}     -->
				<div class="box-body">
					<div class="row">
						<div class="col-md-12">
							<form class="form-horizontal" role="form">
							 <div class="form-group">
										<label for="usuario" class="col-sm-3 control-label">
											Usuario
										</label>
									<div class="col-sm-6">
										<input 
										name ="strUsuario" 
										[(ngModel)]="this.usuario.strUsuario" disabled
										type="text"  class="form-control input-sm" id="usuario" placeholder="">
									</div>	
							</div>
							<div class="form-group">
									<label for="usuario" class="col-sm-3 control-label">
										Nombre
									</label>
								<div class="col-sm-6">
									<input 
									name ="strNombreUsuario" 
									[value]= "this.strNombreCompleto" disabled
									type="text"  class="form-control input-sm" id="strNombreUsuario" placeholder="">
								</div>	
							</div> 		 
						</form>
						</div>
					</div>
				</div>
			</div>  
			<div class="box">
					<div class="box-header with-border">
						<div class="row">
							<div class="col-md-12">
								<label class="text-left col-sm-3 subtitle">
									Contraseña
								</label> 
								<div class="col-sm-9"> 
									<div>
											<button  (click)=this.updatePassword(this.usuario) type="button" class="btn btn-default btn-xs"><i class="fa  fa-save"></i><span> Guardar Nueva Contraseña</span> </button>	
									</div>
									<div [hidden]=!this.faltanDatos class="message-error">
											Todos los campos son Obligatorios.
									</div>
									<div [hidden]=this.showErrorPassword  class="message-success">
											{{this.responseMessage}}		
									</div>
								</div>	
							</div>
						</div>
					</div>	
	
			 <!--Usuario : {{this.usuario | json }}     -->
					<div class="box-body">
						<div class="row">
							<div class="col-md-12">
								<form class="form-horizontal" role="form">  
									<div   class="form-group">
											<label for="strNewPassword" class="col-sm-3 control-label">
												Nueva Contraseña
											</label>
											<div class="col-sm-5">
												<input 
												name ="strNewPassword" 
												[(ngModel)]="this.usuario.strNewPassword"
												type="password"  class="form-control input-sm" id="strNewPassword" placeholder=" ">
											</div> 
											<!--<div class="col-sm-2">
													{{this.usuario.strNewPassword}}
											</div>  -->
									</div>   
										<div class="form-group">
													<label for="verificarNewPassword" class="col-sm-3 control-label">
														Confirmar Nueva Contraseña
													</label>
													<div class="col-sm-5">
														<input 
														name ="verificarNewPassword" 
														[(ngModel)]="this.usuario.strVerificarNewPassword"
														type="password"  class="form-control input-sm" id="verificarNewPassword" placeholder=" ">
													</div> 
												<!--	<div class="col-sm-3">
															{{this.usuario.strVerificarNewPassword}}
													</div> -->
													<div [hidden]=this.passwordVerificado class="message-error col-sm-4">
															{{this.strErrorPassword}}
													</div>
										 </div>   
								</form>
							</div>
						</div>
					</div>
				</div>  

			<div class="row">
					<div class="col-md-2"> 
					</div>
					<div class="col-md-8">
						<div class="col-sm-4"> 
						</div>
						<div class="col-sm-4"> 
						</div>
						<div class="col-sm-4">
								<cf-go-back></cf-go-back>
								</div>
					</div>
							<div class="col-md-2">
					</div>
			</div>
		</div>
			</div>
		</div>
</section>
</div>
</div>