 <!--Inicio de pagina  -->
<cf-header></cf-header>
<cf-nav></cf-nav>
<div class="wrapper"> 
<div class="content-wrapper">
<section class="content"> 
    <div class="box2">
	<div class="row">
		<div class="col-md-12 margen">	
			<h2 class="title text-center">
				Rol 
			</h2>
			<br> 
			<div class="box">
				<div class="box-header with-border">
					<div class="row">
						<div class="col-md-12">
							<label class="text-left  col-sm-3  subtitle">
									Datos del Rol
							</label>
							<div class=" col-sm-9">
								<button (click)=this.editar(true)  type="button" class="btn btn-default btn-xs"><i class="fa  fa-edit"></i><span> Editar </span> </button>
								<button  (click)=this.guardar(this.rol) type="button" class="btn btn-default btn-xs"><i class="fa  fa-save"></i><span> Guardar </span> </button>
							</div>
						</div>  
					</div>
				</div>	
		<!-- 		Persona : {{this.persona | json }} --> 
				<div class="box-body">
					<div class="row">
						<div class="col-md-12">
							<form class="form-horizontal" role="form">
								<div class="form-group">
										<label for="inputtext3" class="col-sm-3 control-label">
											Rol
										</label>
									<div class="col-sm-6">
										<input 
										name ="strNombreRol"
										[disabled] = !this.editable
										[(ngModel)]="this.rol.strNombreRol"
										type="text"  class="form-control input-sm" id="inputtext3" placeholder="Rol">
									</div> 
									<div  class="message-error col-sm-3" >
										 {{this.messsageNombreRol}}
									</div>	 
								</div>
								<div class="form-group">
									<label for="inputtext3" class="col-sm-3 control-label">
										Descripción
									</label>
									<div class="col-sm-9">
										<input 
										name ="descripcion"
										[disabled] = !this.editable
										[(ngModel)]="this.rol.strDescripcion"
										type="text"  class="form-control input-sm" id="inputtext3" placeholder="Descripcion">
									</div> 
								</div>
							</form>
						</div>
					</div>
				</div>
			</div> 
	  
			<div class="row">
					<div class="col-md-2"> 
					</div>
					<div class="col-md-8">
						<div class="col-sm-4"> 
						</div>
						<div class="col-sm-4">
						<!--<button type="button" class="btn form-control input-sm btn-default">
							Cancelar
						</button> -->
						</div>
						<div class="col-sm-4">
								<cf-go-back></cf-go-back>
								</div>
					</div>
							<div class="col-md-2">
					</div>
				</div>
		</div>
			</div>
		</div>
</section>
</div>
</div>