<!--Inicio de pagina  -->
<cf-header></cf-header>
<cf-nav></cf-nav>
<div class="wrapper"> 
<div class="content-wrapper">
<section class="content">   
	<!--Inicio de pagina  -->
	<div class="box2">
	<div class="row">
		<div class="col-md-12 margen ">	
			<h2 class="title text-center ">
				ROLES DEL SISTEMA
			</h2>
			<br>
		<!-- 	Datos Planillla  : {{ this.planilla | json }}  -->  
		<div class="box">
			<div class="box-header with-border">				
				<div class="row">
					<div class="col-md-12">
						<label class="text-left subtitle">
							Lista de Roles
						</label>
							&nbsp;&nbsp;&nbsp;
							<a [routerLink]="['../USRol']"> 
								<button  type="button" class="btn btn-default btn-xs"><i class="fa  fa-plus"></i><span> Nuevo Rol</span> </button>
							</a> 
					</div>
				</div>
			</div>	 
				<div class="box-body">
					<div class="row">
						<div class="col-md-12">
							<div class="table-responsive">
							<table class="table table-hover table-bordered text-center ">
								<thead class="text-center">
									<tr class="active">
										<th>ID </th>
										<th>Rol</th>
										<th>Descripción</th> 
										<th>Opciones</th>
									</tr>
								</thead>

								<tbody>
									<tr *ngFor="let rol of roles">
										<td>{{rol.intId}}</td>
										<td>{{rol.strNombreRol}}</td>
										<td>{{rol.strDescripcion}}</td> 
										<td >	 
												<a [routerLink]="['../USRol',rol.intId]">
												<button type="button" class="btn btn-default btn-xs"><i class="fa  fa-eye"></i><span> Ver Rol </span> </button>
													</a>
										</td>
									</tr> 
								</tbody>
							</table> 
						</div>
						</div>
					</div>
				</div>
			</div>	  
 

			<div class="row">
					<div class="col-md-2">
			
					</div>
					<div class="col-md-8">
						<div class="col-sm-4">
				 	</div>
						<div class="col-sm-4">
					 	</div>
						<div class="col-sm-4"> 
							<cf-go-back></cf-go-back>  
						</div>   
					</div>
							<div class="col-md-2">
							</div>
				</div>

		</div>
	</div>
</div>
</section>
</div>
</div>
