 <!--Inicio de pagina  -->
<cf-header></cf-header>
<cf-nav></cf-nav>
<div class="wrapper"> 
<div class="content-wrapper">
<section class="content"> 
	<div class="box2">
	<div class="row">
		<div class="col-md-12 margen ">	
			<h2 class="title text-center ">
				USUARIOS DEL SISTEMA  
			</h2>  
			<br>
			<hr>
			<!--  usuarios: {{this.usuarios | json }}   -->
				<div class="box">
						<div class="box-header with-border">				
							<div class="row">
								<div class="col-md-12">
									<label class="text-left  subtitle">
										Lista de Usuarios
									</label> 
									&nbsp;&nbsp;&nbsp;
										<a [routerLink]="['../USUsuario']"> 
											<button  type="button" class="btn btn-default btn-xs"><i class="fa  fa-plus"></i><span> Nuevo Usuario </span> </button>
											</a>
								 
								</div>
							</div>
						</div>	 
				<div class="box-body">
					<div class="row">
						<div class="col-md-12">
							<div class="table-responsive">
							<table class="table table-bordered text-center ">
								<thead class="text-center">
									<tr class="active">
										<th>ID </th>
										<th>Usuario</th>
										<th>Nombres</th>
										<th>Apellidos</th> 
										<th>Rol</th>
										<th>Opciones</th>
									</tr>
								</thead> 
								<tbody>
								 	<tr *ngFor="let usuario of usuarios">
										<td>{{usuario.intId}}</td>
										<td>{{usuario.strUsuario}}</td>
										<td>{{usuario.strNombre}}</td>
										<td>{{usuario.strApellido}}</td> 
										<td>{{usuario.strRol}}</td>
										<td>	 
												<a [routerLink]="['../USUsuario',usuario.intId]">
												<button  type="button" class="btn btn-default btn-xs"><i class="fa  fa-eye"></i><span> Ver Usuario </span> </button>
													</a>
												<a [routerLink]="['../USChangePassword',usuario.intId]">
													<button  type="button" class="btn btn-default btn-xs"><i class="fa  fa-unlock-alt"></i><span>  Cambiar Contraseña </span> </button>
												</a>			
										</td>
									</tr> 
								</tbody>
							</table> 
						</div>
						</div>
					</div>
				</div>
			</div>	  
			<div class="row">
					<div class="col-md-2"> 
					</div>
					<div class="col-md-8">
						<div class="col-sm-4">
					
						</div>
						<div class="col-sm-4"> 
						</div>
						<div class="col-sm-4"> 
							
							<cf-go-back></cf-go-back>  
						</div>   
					</div>
							<div class="col-md-2">
							</div>
				</div>

		</div>
	</div>
</div>
</section>
</div>
</div>