<!--Inicio de pagina  -->
<cf-header></cf-header>
<cf-nav></cf-nav>
<div class="wrapper"> 
<div class="content-wrapper">
<section class="content"> 
    <div class="box2">
	<div class="row">
		<div class="col-md-12 margen">	
			<h2 class="title text-center">
					USUARIO
			</h2>
			<br> 
			<div class="box">
				<div class="box-header with-border">
					<div class="row">
						<div class="col-md-12">
							<label class="text-left col-sm-3 subtitle">
								Datos del Usuario
							</label> 
							<div class=" col-sm-9 "> 
								<button (click)=this.editar(true)  type="button" class="btn btn-default btn-xs"><i class="fa  fa-edit"></i><span> Editar </span> </button>
								<button  (click)=this.guardar(this.usuario) type="button" class="btn btn-default btn-xs"><i class="fa  fa-save"></i><span> Guardar </span> </button>
							</div>	
						</div>
					</div>
				</div>	

	 <!-- 	Persona : {{this.usuario | json }}   -->
				<div class="box-body">
					<div class="row">
						<div class="col-md-12">
							<form class="form-horizontal" role="form">
								<div class="form-group">
										<label for="usuario" class="col-sm-3 control-label">
											Usuario
										</label>
									<div class="col-sm-6">
										<input 
										name ="strUsuario"
										[disabled] = !this.editable
										[(ngModel)]="this.usuario.strUsuario"
										type="text"  class="form-control input-sm" id="usuario" placeholder="Usuario">
									</div>	
								</div>
								<div [hidden]=!newUsuario  class="form-group">
									<label for="password" class="col-sm-3 control-label">
										Contraseña
									</label>
									<div class="col-sm-6">
										<input 
										name ="password"
										[disabled] = !this.editable
										[(ngModel)]="this.usuario.strPassword"
										type="password"  class="form-control input-sm" id="password" placeholder="Password">
									</div> 
									<div class="col-sm-3">
											{{this.usuario.strPassword}}
									</div>
								</div> 
								<div [hidden]=!newUsuario   class="form-group">
										<label for="strVerificarPassword" class="col-sm-3 control-label">
											Verificar Contraseña
										</label>
										<div class="col-sm-4">
											<input 
											name ="verificarPassword"
											[disabled] = !this.editable
											[(ngModel)]="this.usuario.strVerificarPassword"
											type="password"  class="form-control input-sm" id="strVerificarPassword" placeholder="Password">
										</div> 
										<div class="col-sm-2">
												{{this.usuario.strVerificarPassword}}
										</div>
										<div [hidden]=this.passwordVerificado class=" message-error col-sm-4">
												{{this.strErrorPassword}}
										</div>
									</div> 
								<div class="form-group">
										<label for="nombre" class="col-sm-3 control-label">
											Nombres
										</label>
										<div class="col-sm-6">
											<input 
											name ="nombres"
											[disabled] = !this.editable
											[(ngModel)]="this.usuario.strNombre"
											type="text"  class="form-control input-sm" id="nombre" placeholder="nombres">
										</div> 
									</div> 
									<div class="form-group">
											<label for="apellido" class="col-sm-3 control-label">
												Apellidos
											</label>
											<div class="col-sm-6">
												<input 
												name ="strApellido"
												[disabled] = !this.editable
												[(ngModel)]="this.usuario.strApellido"
												type="text" class="form-control input-sm" id="apellido" placeholder="Apellidos">
											</div> 
										</div> 

							<!--
									<div class="form-group">
											<label for="alfresco" class="col-sm-3 control-label">
												Alfresco
											</label>
											<div class="col-sm-4">
												<input 
												name ="strUsuarioAlfresco"
												[disabled] = !this.editable
												[(ngModel)]="this.usuario.strUsuarioAlfresco"
												type="text"  class="form-control input-sm" id="alfresco" placeholder="Usuario Alfresco">
											</div>  
										</div> 
									<div [hidden]=!newUsuario  class="form-group">
										<label for="passwordAlfresco" class="col-sm-3 control-label">
												Contraseña Alfresco
											</label>
											<div class="col-sm-4">
												<input 
												name ="strPasswordAlfresco"
												[disabled] = !this.editable
												[(ngModel)]="this.usuario.strPasswordAlfresco"
												type="password" class="form-control input-sm" id="passwordAlfresco" placeholder="Password Alfresco">
											</div> 
											<div class="col-sm-2">
												{{this.usuario.strPasswordAlfresco}}
											</div>

										</div> 
										<div [hidden]=!newUsuario   class="form-group">
												<label for="password" class="col-sm-3 control-label">
													Verificar Contraseña Alfresco
												</label>
												<div class="col-sm-6">
													<input 
													name ="verificarPasswordAlfresco"
													[disabled] = !this.editable
													[(ngModel)]="this.usuario.strVerificarPasswordAlfresco"
													type="password"  class="form-control input-sm" id="verificarPasswordAlfresco" placeholder="Password Alfresco">
												</div> 
												<div class="col-sm-3">
														{{this.usuario.strVerificarPasswordAlfresco}}
												</div>
												<div [hidden]=this.passwordAlfrescoVerificado class="message-error col-sm-4">
														{{this.strErrorPassword}}
												</div>
											</div> 
									-->
										<div class="form-group">
												<label for="rol" class="col-sm-3 control-label">
													Rol
												</label>
												<div class="col-sm-4">
														<select name="rol" 
														[disabled] = !this.editable
														[(ngModel)]= this.usuario.intRolId 
														class="form-control input-sm" >
														<option selected="selected" [value]=undefined disabled> - SELECCIONE -</option>    
														<option *ngFor="let rl of roles" 
														[ngValue]="rl.intId"
														>{{rl.strNombreRol}}</option>
														</select>		
												</div> 
										</div> 
							</form>
						</div>
					</div>
				</div>
			</div>  
			<div class="row">
					<div class="col-md-2"> 
					</div>
					<div class="col-md-8">
						<div class="col-sm-4"> 
						</div>
						<div class="col-sm-4"> 
						</div>
						<div class="col-sm-4">
								<cf-go-back></cf-go-back>
								</div>
					</div>
							<div class="col-md-2">
					</div>
			</div>
		</div>
			</div>
		</div>
</section>
</div>
</div>