<!--Inicio de pagina  -->
<cf-header></cf-header>
<cf-nav></cf-nav>
<div class="wrapper"> 
<div class="content-wrapper">
<section class="content"> 
    <div class="box2">
	<div class="row">
		<div class="col-md-12 margen">	
			<h2 class="title text-center ">
				VALIDAR PROPUESTA
			</h2>
			<br>
		<!--  Objeto Encontrado : {{ servicio | json}} 	  -->
			<div class="box">
				<div class="box-header with-border">			
					<div class="row">
						<div class="col-md-12">
							<label class="text-left  subtitle">
								Datos del Cliente
							</label>
						</div>
					</div>
				</div>	
				<div class="box-body">
					<div class="row">
						<div class="col-md-12">
							<form class="form-horizontal" role="form">
								<div class="form-group">
									<label for="inputtext3" class="col-sm-2 control-label">
										Razón Social
									</label>
									<div class="col-sm-10">
									<input [value]=this.servicio.strNombreCliente type="text" disabled class="form-control input-sm" id="inputtext3" placeholder="Razón Social">
									</div>
								</div>
								<div class="form-group">
									<label for="inputPassword3" class="col-sm-2 control-label">
										Servicio
									</label>
									<div class="col-sm-10">
										<input [value]=this.servicio.strNombreServicio type="text" disabled class="form-control input-sm" id="inputtext3" placeholder="Servicio">
									</div>					
								</div>
							</form>
						</div>

					</div>
				</div>
			</div>	

	<!-- 	Perfiles del Servicio : {{ this.perfilesServicio | json }} -->
			
			<div class="box">
				<div class="box-header with-border">					
					<div class="row">
						<div class="col-md-4">
							<label class="text-left  subtitle">
								Perfiles Solicitados
							</label>
						</div>
					</div>	
				</div>	
				<div class="box-body">					
					<div class="row">
						<div class="col-md-12">
							<div class="table-responsive">
							<table class="table table-hover table-bordered text-center">
								<thead>
									<tr class="active">
										<th>#</th>
										<th>Perfil</th>
										<th>Cantidad</th>
									<!--	<th>Observación</th> -->
										<th>Inicio</th>
										<th>Fin</th>
										<th>Opciones</th>
									</tr>
								</thead>
								<tbody>
										<tr *ngFor="let ps of this.perfilesServicio" >
											<td>{{this.perfilesServicio.indexOf(ps)+1}}</td>
											<!--<td>{{ps.intId}}</td> -->
											<td>{{ps.strPerfil}}</td>
											<td>{{ps.intCantidad}}</td>
											<!--<td>{{ps.strObservacion}}</td> -->
											<td>{{ps.dtFechaInicio  | date:"dd/MM/yyyy"  }}</td>
											<td>{{ps.dtFechaFin  | date:"dd/MM/yyyy"  }}</td>
											<td>
												<a [routerLink]="['../../verificarCandidato' , ps.intId]"> 
													<button type="button" class="btn btn-default  btn-sm"><i class="fa fa-user"></i><span> Ver Candidatos Seleccionados</span></button>
												</a>						
											</td>
										</tr>
								</tbody>
							</table>
						</div>
						</div>
					</div>
				</div>
			</div>
			<div class="box">
				<div class="box-header with-border">				
						<div class="row">
							<div class="col-md-3">
								<label class="text-left subtitle">
									Resultado  Propuesta/Servicio
								</label>
							</div>
							<div class="col-md-9">
									<button  (click)="this.habilitarEdicionResultado(true);" type="button" class="btn btn-default btn-xs"> <i class="fa fa-edit"></i><span> Editar </span></button>
								
								<button  	(click)="this.registrarValidacionServicio();" 
								[disabled]=!this.editResultado
								type="button" class="btn btn-default btn-xs"> <i class="fa fa-save"></i><span> Guardar </span></button>
							</div>

						</div>
					</div>	
					<div class="box-body">				
						<div class="row">
							 <div class="col-md-12"> 
							 <form class="form-horizontal" role="form"> 
							<div class="form-group">
								<div class="col-sm-3 control-label">
										<input  name="xd"  [defaultChecked]=false
										(change)= "validarSelected = false;rechazarSelected=true; "
										for="inputEmail3" type="radio" name="result" value="validar" class="control-label">  Aprobar Servicio
								</div>
							</div>
							<div [hidden]=validarSelected class="form-group">			
								<label for="inputtext3" class="col-sm-3 control-label">
											CODIGO	 FILE : 
										</label>
								<div class="col-sm-4">
									<input  name ="strCodeFile"
									[disabled]=!this.editResultado
									[(ngModel)]= this.servicio.strCodeFile 
									type="text" class="form-control input-sm" id="inputtext3" placeholder="Codigo File">
								</div>
								<label for="inputtext3" class="col-sm-5 control-label text-left">
										Código Sugerido : {{this.generateCodigoFile}}
									</label>
							</div>
							<div  [hidden]=validarSelected  class="form-group">
									<label for="inputPassword3" class="col-sm-3 control-label">
										Comentario 
									</label>
									<div class="col-sm-8">
										<textarea
										name="strComentario"
										[disabled]=!this.editResultado
										[(ngModel)] = this.servicio.strComentarioValidado
										 class= "form-control input-sm"  id="TextArea"  rows="3" placeholder="Descripcion del Resultado"></textarea>							
										</div>
								</div>

						<!-- RECHAZAR SERVICIO-->
							<div class="form-group">
								<div class="col-sm-3 control-label">
										<input  name="xd"  [defaultChecked]=true
										(change)= "validarSelected = true;rechazarSelected=false; "
										for="inputEmail3" type="radio" name="result" value="rechazar" class="control-label">  Rechazar Servicio
								</div>
							</div>
							<div  [hidden]=rechazarSelected class="form-group">
									<label for="inputPassword3" class="col-sm-3 control-label">
											Motivo de Rechazo :  
									</label>
									<div class="col-sm-8">
									<select name="motivoRechazo" 
									[disabled]=!this.editResultado
									[(ngModel)] = this.servicio.intMotivoRechazoId
									class="form-control input-sm" 
									>

									<option selected="selected" [value]=0  disabled> - SELECCIONE -</option>    
									<option value=29 >MODIFICACION x CLIENTE</option>
									<option value=33 >INCONSISTENCIAS</option>
									<option value=34 >RECHAZADA x CLIENTE</option>
									<option value=35 >SERV. CANCELADO</option>
									</select>	
									</div>	
							</div>
							<div   [hidden]=rechazarSelected class="form-group">
								<label for="inputPassword3" class="col-sm-3 control-label">
									Comentario 
								</label>
								<div class="col-sm-8">
									<textarea
									name="strComentarioRechazo"
									[disabled]=!this.editResultado
									[(ngModel)] = this.servicio.strComentarioRechazo
									 class= "form-control input-sm"  id="TextArea"  rows="3" placeholder="Descripcion del Resultado"></textarea>							
									</div>
							</div>
							</form>
							</div>	
						</div>
					</div>


				</div>


			<div class="row">
					<div class="col-md-4">
			
					</div>
					<div class="col-md-4">
 
						<div class="col-sm-12">
								<cf-go-back></cf-go-back>
								</div>
					</div>
							<div class="col-md-4">
					</div>
				</div>			
			
		</div>
	</div>
	
</div>
</section>
</div>
</div>