<!--Inicio de pagina  -->
<cf-header></cf-header>
<cf-nav></cf-nav>
<div class="wrapper"> 
<div class="content-wrapper">
<section class="content"> 
<div class="box2">
	<div class="row">
	<br>
		<div class="col-md-12 margen">	
			<h2 class="title text-center">
				DETALLE DE LA BAJA  
			</h2> 
	 	<!--	<div> Objeto Contrato Persona :  {{ this.contratoPersona  | json }}</div>   -->
			<div class="box" [hidden]= this.isColaboradorInterno>
				<div class="box-header with-border">			
					<div class="row">
						<div class="col-md-12">
							<label class="text-left subtitle">
								Servicio
							</label>
						</div>
					</div>
				</div>	
				<div class="box-body">					
					<div class="row">
						<div class="col-md-12">
							<form class="form-horizontal" role="form">
								<div class="form-group">
									<label for="inputEmail3" class="col-sm-2 control-label">
									 Razón Social :
									</label>
								<div class="col-sm-6">
										<input  value={{this.baja.strNombreCliente}}
										type="text" disabled class="form-control input-sm" id="inputEmail3" placeholder="Razón Social">
								</div>
								  
								</div> 					
							</form>	 
								<form class="form-horizontal" role="form">
									<div class="form-group">
										<label for="inputEmail3" class="col-sm-2 control-label">
										 Servicio :
										</label>
									<div class="col-sm-8">
											<input  value={{this.baja.strNombreServicio}}
											type="text" disabled class="form-control input-sm" id="inputEmail3" placeholder="Razón Social">
									</div> 
									</div> 					
								</form>	
							</div>
						</div>
					</div>
				</div>

			<div class="box">
				<div class="box-header with-border">			
					<div class="row">
						<div class="col-md-3">
							<label class="text-left subtitle">
								Detalles de la Baja
							</label>
						</div>  
					</div>
				</div>
				<div class="box-body">					
					<div class="row">
						<div class="col-md-12">
							<form class="form-horizontal" role="form form-group">
								<div class="form-group">
											<label for="inputEmail3" class="col-sm-2 control-label">
												Nombre  :
											</label>
											<div class="col-sm-10">
												<input value={{this.baja.strNombreCompleto}}
												 type="text" disabled class="form-control input-sm" id="inputEmail3" placeholder="Nombre Completo">	
											</div>
										</div>
								<div class="form-group">
									<label for="inputEmail3" class="col-sm-2 control-label">
										Cargo :
									</label>
									<div class="col-sm-10">
										<input value={{this.baja.strCargo}}
										 type="text" disabled class="form-control input-sm" id="inputEmail3" placeholder="Cargo">	
									</div>
								</div>
								<div class="form-group">
									<label for="inputEmail3" class="col-sm-2 control-label">
										Motivo :
									</label>
									<div class="col-sm-6">
										<input value={{this.baja.strMotivoContrato}}
										 type="text" disabled class="form-control input-sm" id="inputEmail3" placeholder="Cargo">	
									</div>
								</div>
								<div class="form-group">
									<label for="inputEmail3" class="col-sm-2 control-label">
										Modalidad :
									</label>
									<div class="col-sm-4">
										<input value={{this.baja.strModalidad}}
										 type="text" disabled class="form-control input-sm" id="inputEmail3" placeholder="Modalidad">	
									</div>
									<label for="inputEmail3" class="col-sm-2 control-label">
											Empresa :
										</label>
										<div class="col-sm-4">
											<input value={{this.baja.strEmpresa}}
											 type="text" disabled class="form-control input-sm" id="inputEmail3" placeholder="TOP / PGS">	
										</div>
								</div> 
								<div class="form-group">
									<label for="inputPassword3" class="col-sm-2 control-label">
										Sueldo:
									</label>
									<div class="col-sm-4"> 
											<input  disabled type="text"
											class="form-control input-sm text-left"  id="dbMonto"
											name ="dbMonto" currencyMask [(ngModel)]="this.baja.dbSueldo" 
											placeholder="00.00"
											[options]="{ prefix: '', thousands: ',', decimal: '.' ,precision:2}" >  
									 </div>
									 <!--
									<label for="inputPassword3" class="col-sm-2 control-label">
											Estado:
										</label>
										<div class="col-sm-4">
												<input value={{this.baja.strEstado}} type="text" disabled class="form-control input-sm" id="inputEmail3" placeholder="Estado del Contrato">
										</div>
									-->
								</div>
								<div class="form-group">
								<label for="inputPassword3"  class="col-sm-2 control-label">
									Fecha Inicio:
								</label>
								<div class="col-sm-3">
										<input value={{this.baja.dtFechaInicio}} type="date" disabled class="form-control input-sm" id="inputEmail3" placeholder="">
								</div>
									<label for="inputPassword3"  class="col-sm-2 control-label">
										Fecha Termino:
									</label>
									<div class="col-sm-3">
										<input value={{this.baja.dtFechaCese}} type="date" disabled class="form-control input-sm" id="inputEmail3" placeholder="">
									</div>						
								</div>   
							</form>
						</div>
					</div>
				</div>
			</div> 
  

			<div class="box">
				<div class="box-header with-border">			
					<div class="row">
						<div class="col-md-12">
							<label class="text-left subtitle">
								Beneficios Obtenidos
							</label>
						</div>  
					</div>
				</div>
				<div class="box-body">					
					<div class="row">
						<div class="col-md-12">
							<form class="form-horizontal" role="form form-group">
								<div class="form-group">
									<label for="inputEmail3" class="col-sm-4 control-label">
										CTS Truncas :
									</label>
									<div class="col-sm-4">
										<input value={{this.baja.strRecibeCTSTruncas}}
											type="text" disabled class="form-control input-sm" id="inputEmail3" placeholder="Nombre Completo">	
									</div>
								</div>
								<div class="form-group">
									<label for="inputEmail3" class="col-sm-4 control-label">
										Gratificac. Truncas :
									</label>
									<div class="col-sm-4">
										<input value={{this.baja.strRecibeGratifTruncas}}
										 type="text" disabled class="form-control input-sm" id="inputEmail3" placeholder="Cargo">	
									</div>
								</div>
								<div class="form-group">
									<label for="inputEmail3" class="col-sm-4 control-label">
										Vacac. Truncas :
									</label>
									<div class="col-sm-4">
										<input value={{this.baja.strRecibeVacTruncas}}
										 type="text" disabled class="form-control input-sm" id="inputEmail3" placeholder="Cargo">	
									</div>
								</div> 
							</form>
						</div>
					</div>
				</div>
			</div> 

		<!--	<div> Objeto Baja Encontrada  :  {{ this.baja  | json }}  	</div> -->
			<div class="box" [hidden]=!this.existBaja>
				<div class="box-header with-border">			
					<div class="row">
						<div class="col-md-12">
							<label class="text-left subtitle">
								Término de Contrato
							</label>
						</div>
					</div>
				</div>	
				<div class="box-body">					
					<div class="row">
						<div class="col-md-12">
							<form class="form-horizontal" role="form">
								<div class="form-group">
									<label for="inputEmail3" class="col-sm-2 control-label">
									 Fecha :
									</label>
									<div class="col-sm-4">
											<input  value={{this.baja.dtFechaCese}}
											type="date" disabled class="form-control input-sm" id="inputEmail3" placeholder="Razón Social">
									</div>
								</div> 
								<div class="form-group">
									<label for="inputEmail3" class="col-sm-2 control-label">
										Motivo :
									</label>
									<div class="col-sm-6">
										<input value={{this.baja.strMotivoCese}} type="text" disabled class="form-control input-sm" id="inputEmail3" placeholder="RUC">
									</div>
								</div> 	
								<div class="form-group">
									<label for="inputEmail3" class="col-sm-2 control-label">
										Comentario :
									</label>
									<div class="col-sm-8"> 
										<textarea   disabled
										name="strComentario" 
										[(ngModel)]="this.baja.strComentarioCese" 
										class="form-control input-sm"  id="TextArea"  rows="3" placeholder="Comentario de la Visita"></textarea>							
									</div> 
								</div> 					
							</form>	
						</div>
					</div>
				</div>
			</div>
			<div class="row">
					<div class="col-md-2">
			
					</div>
					<div class="col-md-8">
						<div class="col-sm-4">

						</div>
						<div class="col-sm-4">

						</div>
						<div class="col-sm-4">
								<cf-go-back></cf-go-back>
								</div>
					</div>
							<div class="col-md-2">
					</div>
				</div>		
			
		</div>
	</div>
	</div>
      <!-- /.content-wrapper -->
 </section>
 </div>
 </div>