 <!--Inicio de pagina  -->
<cf-header></cf-header>
<cf-nav></cf-nav>
<div class="wrapper"> 
<div class="content-wrapper">
<section class="content"> 
    <div class="box2">
	<div class="row">
		<div class="col-md-12 margen">	
			<h2 class="title text-center ">
				CANDIDATOS SELECCIONADOS
			</h2>
			<br>
		<!--	Objeto Encontrado : {{Servicio | json}}-->
			<div class="box">
				<div class="box-header with-border">			
					<div class="row">
						<div class="col-md-12">
							<label class="text-left  subtitle">
								Datos del Servicio
							</label>
						</div>
					</div>
				</div>	
				<div class="box-body">
					<div class="row">
						<div class="col-md-12">
							<form class="form-horizontal" role="form">
								<div class="form-group">
									<label for="inputtext3" class="col-sm-2 control-label">
										Razón Social
									</label>
									<div class="col-sm-10">
									<input value={{this.servicio.strNombreCliente}} type="text" disabled class="form-control input-sm" id="inputtext3" placeholder="Razón Social">
									</div>
								</div>
								<div class="form-group">
									<label for="inputPassword3" class="col-sm-2 control-label">
										Servicio
									</label>
									<div class="col-sm-10">
										<input value={{this.servicio.strNombreServicio}} type="text" disabled class="form-control input-sm" id="inputtext3" placeholder="Servicio">
									</div>					
								</div>
							</form>
						</div>

					</div>
				</div>
			</div>	
			<!--candidatos  {{ candidatos | json }} -->
			
			<div class="box">
				<div class="box-header with-border">					
					<div class="row">
						<div class="col-md-4">
							<label class="text-left  subtitle">
								Lista de Candidatos
							</label>
						</div>
					</div>	
				</div>	
				<div class="box-body">					
					<div class="row">
						<div class="col-md-12">
							<div class="table-responsive">
							<table class="table table-hover table-bordered text-center">
								<thead>
									<tr class="active">
										<th>#</th>
										<th>DNI</th>
										<th>Nombre</th>
										<th>Perfil</th>
										<th>Opciones</th>
									</tr>
								</thead>
								<tbody>
										<tr *ngFor="let candidato of candidatos">
											<td>{{candidato.intId}}</td>
											<td>{{candidato.strDNI}}</td>
											<td>{{candidato.strNombreCompleto}}</td>
											<td>{{candidato.strPerfil}}</td>
											<td>
												<a [routerLink]="['../../candidatoVisita',candidato.intId]"> 
													<button type="button" class="btn btn-default  btn-xs"><i class="fa  fa-calendar-check-o"></i><span> Visita</span></button>
												</a>
											
												<a  [routerLink]="['../../registrarColaborador',candidato.intId]" > 
													<button  [hidden]=!this.candidato.boolAceptoCondicion
													type="button" class="btn btn-default  btn-xs"><i class="fa  fa-check-square-o"></i><span> Registrar Colaborador</span></button>
												</a>									
											</td>
									</tr>	
								</tbody>
							</table>
						</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
					<div class="col-md-2">
			
					</div>
					<div class="col-md-8">
						<div class="col-sm-4">

						</div>
						<div class="col-sm-4">

						</div>
						<div class="col-sm-4">
								<cf-go-back></cf-go-back>
								</div>
					</div>
							<div class="col-md-2">
					</div>
				</div>			
			
		</div>
	</div>
	
</div>
 </section>
 </div>
 </div>