<!--Inicio de pagina  -->
<ngx-spinner
bdColor = "rgba(51, 51, 51, 0.8)"
size = "large"
color = "#fff"
type = "ball-clip-rotate"
>
</ngx-spinner> 
<cf-header></cf-header>
<cf-nav></cf-nav>
<div class="wrapper"> 
<div class="content-wrapper">
<section class="content"> 
    <div class="box2">
	<div class="row">

		<div class="col-md-12 margen">	
			<h2 class="title text-center">
				VERIFICAR CANDIDATOS
			</h2>
			<br>
			<div class="box">
				<div class="box-header with-border">			
			
					<div class="row">
						<div class="col-md-12">
							<label class="text-left subtitle">
								Datos del Servicio
							</label>
						</div>
					</div>
				</div>	
				<div class="box-body">					
					<div class="row">
						<div class="col-md-12">
							<form class="form-horizontal" role="form">
								<div class="form-group">
									<label for="inputtext3" class="col-sm-2 control-label">
										Razón Social
									</label>
									<div class="col-sm-10">
										<input value={{this.nombreCliente}} 
										 type="text" disabled class="form-control input-sm" id="inputtext3" placeholder="ettertertr">
									</div>
								</div>
								<div class="form-group">
									<label for="inputPassword3" class="col-sm-2 control-label">
										Servicio
									</label>
									<div class="col-sm-10">
										<input value={{this.nombreServicio}} 
										type="text" disabled class="form-control input-sm" id="inputtext3" placeholder="Servicio">
									</div>					
								</div>
								<div class="form-group">
									<label for="inputPassword3" class="col-sm-2 control-label">
										Perfil
									</label>
									<div class="col-sm-10">
										<input value={{this.nombrePerfil}}
										type="text" disabled class="form-control input-sm" id="inputtext3" placeholder="Perfil">
									</div>		
								</div> 
							</form>
						</div> 
					</div>
					</div>
				</div>
			<div class="box">
				<div class="box-header with-border">					
					<div class="row">
						<div class="col-md-12">
							<label class="text-left subtitle">
								Candidatos
							</label>
						</div>
					</div>	
				</div>	

<!--	candidatos a verificar  : {{ this.candidatos | json }}		  -->
				<div class="box-body">
					<div class="row">
						<div class="col-md-12">
							<div class="table-responsive">
							<table class="table table-hover table-bordered text-center">
								<thead>
									<tr class="active">
										<th>#</th>
										<th>DNI</th>
										<th>Nombre</th>
										<th>F. Inicio</th>
										<th>F.  Fin</th>
									<!--	<th>Observación</th> -->
										<th>Cargo</th>
										<th>Modalidad : Sueldo Base</th> 
									</tr>
								</thead>
								<tbody>
									<tr *ngFor="let c of this.candidatos">
										<td>{{c.intId}}</td>
										<td>{{c.strDNI}}</td>
										<td>{{c.strNombreCompleto}}</td>
										<td>{{c.dtFechaInicio  | date:"dd/MM/yyyy"  }}</td>
										<td>{{c.dtFechaFin  | date:"dd/MM/yyyy" }}</td>
									<!--	<td>{{candidato.strObservacion}}</td> -->
										<td>{{c.strPerfil}}</td> 
										<td>  
												<div *ngFor="let m of c.lstDetallePagoBean" class="text-center"> 
													{{m.strNombreModalidad}} : 	{{m.dbMonto | number:'3.2-2' }}
												</div> 
											</td> 
									</tr>	
								</tbody>
							</table>
							<div class="message-error">
								{{this.messageNotFoundCandidatos}}
							</div>
							</div>
						</div>
					</div>
				</div>
			</div>	
			<div class="row">
				<div class="col-md-3">
		
				</div>						<div class="col-md-3">
					</div>
											<div class="col-md-3">
				</div>
				<div class="col-md-3">

				<!--	<button  (click)=goBack() type="button" class="btn form-control btn-default">
						Atrás
					</button>-->
					<cf-go-back></cf-go-back>
				</div>

				</div>
			
		</div>
	</div>
</div>
</section>
</div>
</div>