<!--Inicio de pagina  -->
<cf-header></cf-header>
<cf-nav></cf-nav>
<div class="wrapper"> 
<div class="content-wrapper">
<section class="content"> 
    <div class="box2">
	<div class="row"> 
		<div class="col-md-12 margen">	
			<h2 class="title text-center">
				RECURSOS DEL SERVICIO
			</h2>
			<br>
			<div class="box">
				<div class="box-header with-border">					
					<div class="row">
						<div class="col-md-12">
							<label class="text-left subtitle">
								Recursos
							</label>
						</div>
					</div>	
				</div>	 
<!--	candidatos a verificar  : {{ this.candidatos | json }}		  -->
				<div class="box-body">
					<div class="row">
						<div class="col-md-12">
							<div class="table-responsive">
							<table class="table table-hover table-bordered text-center">
								<thead>
									<tr class="active">
										<th>#</th>
										<th>Perfil</th>
										<th>Nombre</th>
										<th>Estado</th>
										<th>Modalidad : Sueldo Base </th> 
									<!--	<th>Observación</th>  -->
									<!-- tr  == fila -->
									<!-- td  == columna -->
									</tr>
								</thead>
								<tbody>
									<tr *ngFor="let candidato of this.candidatos">
										<td>{{candidato.intId}}</td>
										<td>{{candidato.strPerfil}}</td>
										<td>{{candidato.strNombreCompleto}}</td>
										<td>{{candidato.strEstado}}</td> 
										<td>  
											<div *ngFor="let m of candidato.lstDetallePagoBean" class="text-center"> 
												{{m.strNombreModalidad}} : {{m.dbMonto | number:'3.2-2' }}
											</div> 
										</td> 
										<!-- <td>{{candidato.strObservacion}}</td> -->
									</tr>	
								</tbody>
							</table>
							<div class="message-error">
								{{this.responseNoDataRecursos}}
							</div>
							</div>
						</div>
					</div>
				</div>
			</div>	
			<div class="row">
				<div class="col-md-3">
				</div>
				<div class="col-md-3">
				</div>
				<div class="col-md-3">
				</div>
				<div class="col-md-3"> 
					<cf-go-back></cf-go-back>
				</div> 
			</div> 
		</div>
	</div>
</div>
</section>
</div>
</div>