<cf-header></cf-header>  
<cf-nav></cf-nav>

<div class="content-wrapper">
<!-- Content Header (Page header) -->
<!-- Main content-->
  <section class="content"> 
      <router-outlet></router-outlet>
  </section> <!--/.content -->
</div><!-- /.content-wrapper -->